<span style="font-size: 11px;">
    <?php
        echo  Mage::helper('bseller_socialconnect')->__('You already have an account at Sephora with the email [%s]). Enter your password to associate your account with Facebook:', $this->email);
    ?>
</span>
<div class="field">
    <input type="password" name="password-check-owner" id="password-check-owner" placeholder="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password"/>
</div>
<div id="bseller-socialconnect_error-message"></div>
<input type="hidden" id="encrypted_data" value="<?php echo $this->encrypted; ?>">
<div class="field">
    <button type="button"
       id="bseller-socialconnect_button-check-owner"
       class="button button-primary"
        onclick="socialConnect.ajaxValidateCustomerPassword();">
        <span><?php echo Mage::helper('bseller_socialconnect')->__('Validate Account') ?></span>
    </button>
</div>
<div class="facebook-login-account-recover">
    <a target="_blank" href="<?php echo Mage::getBaseUrl(); ?>customer/account/forgotpassword/" class="forgot-password">
        <?php echo  Mage::helper('bseller_socialconnect')
            ->__('Do not remember your password? Click here to recover.') ?>
    </a>
</div>