#bseller-socialconnect_top50 {
    margin-top: 50px;

    #bseller-socialconnect_step-title {
        margin-bottom: 20px;
        text-align: center;
    }

    p.title-confirm {
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 5px;
    }

    #bseller-socialconnect_cpf-div {
        width: 250px;
        margin:0 auto;
    }

    #bseller-socialconnect_step-2 {
        display:none;
        width: 250px;
        margin:0 auto;

        p.image-seph-bc-top {
            width: 100%;
            text-align: center;
            margin-top: 22px;
            margin-bottom: 18px;

            img {
                margin: 0 auto;
            }
        }

    }

    .bseller-socialconnect_hidden {
        display: none;
    }

    #bseller-socialconnect_btn-register-div {
        width: 250px;
        margin:0 auto;
        display:none;
    }

    .bseller-socialconnect_label-bc {

        label {
            font-size: 13px;
            text-transform: none;

            a {
                color: $c-red-light;
            }

            a.faq-help {
                display: none;
            }

        }

    }

}
.new-users {

    p.image-seph-bc-top {
        text-align: center;
        width: 100%;
        float: left;
        margin-top: 30px;
        margin-bottom: 20px;

        img {
            margin: 0 auto;
        }
    }

    label[for="is_bc"] {
        font-size: 13px;
        text-transform: none !important;
    }

    label[for="is_subscribed"] {
        font-size: 13px;
        text-transform: none !important;
    }

    .terms-conditions-bc {
        color: #ff5064;
    }

  .faq-help {
    display: none;
  }
}
