.block-layered-nav dd {
    padding: 4px 12px 5px;
}
.block-layered-nav dt {
    cursor: pointer;
}
.block-layered-nav .track-tmaln {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
   background-color: #188ecc;
   position: relative;
   height: 0.3em;
   cursor: pointer; z-index: 0;
   margin-bottom: 10px;
   -moz-border-radius: 4px 4px 4px 4px;
}

.block-layered-nav .input-tmaln {
    border: 1px solid #ffa20f;
    float: left;
    width: 45px;
    margin: 3px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.label-tmaln {
    color: #333333;
    width: 2em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block;
}
.ajaxlayerednavigation-image-active {
    cursor: pointer;
    display: inline;
    z-index: 9999;
}
.ajaxlayerednavigation-image {
    display: inline;
    z-index: 999;
}
.ajaxlayerednavigation-image img{
    border-bottom: 2px solid black;
    padding-bottom: 2px;
}


.ajaxlayerednavigation-img-link {
    text-decoration: none;
}

.ajaxlayerednavigation-img {
    margin-right: 5px;
}

.ajax-category-image {
    float: left;
    padding: 5px 10px 5px 0px;
}
.ajax-category-text {
    margin: 0 0 2px;
}
.ajaxlayerednavigation-count-plus {
    color: red;
}
.ajaxlayerednavigation-count {
    color: green;
}
.ajaxlayerednavigation-count-active {

}
.block-layered-nav dd:after {
    display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden;
}

.block-layered-nav .handle-tmaln {
   position: absolute;
   top: -7px;
   width: 0.55em;
   cursor: move; z-index: 2;
   -moz-border-radius: 4px 4px 4px 4px;
}
.block-layered-nav a.handle-tmaln-btn {
    background: url("images/ajaxlayerednavigation/range.png") no-repeat top left;
    margin-top: 2px;
    display: block;
    width: 14px;
    height: 14px;
}
.block-layered-nav a.left { margin-left: -12px !important; }
.block-layered-nav .apply-price-btn { margin-top: 7px; }
.block-layered-nav .price-cover {
    background-color: #F77C16;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    cursor: pointer;
    height: 0.3em;
    margin-bottom: 10px;
    position: relative;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    z-index: 1;
}
div.block-layered-nav span.ajaxlayered-expander {
    width: auto;
    background: url('images/ajaxlayerednavigation/left.png') no-repeat right center;
    display: block;
}
div.block-layered-nav dt.active span.ajaxlayered-expander {
    width: auto;
    background: url('images/ajaxlayerednavigation/down.png') no-repeat right center;
    display: block;
}
div.ajaxlayerednav-content dd.last {
    background-clip: padding-box;
    background-color: #FFFFFF;
}
div.ajaxlayerednav-content ol.currently li {
    padding: 0 20px 0 5px;
    float: left;
}
div.ajaxlayerednav-content ol.currently li a.btn-remove {
    right: 3px;
    top: 4px;
}

div.ajaxlayerednav-content dd {
    padding: 5px;
    background: none;
    position: absolute;
  top: -2000px;
  left: 0;
  z-index: 1000;
  min-width: 160px;
/*  padding: 4px 0;*/
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

div.ajaxlayerednav-content dd li{
    float:left;
    padding: 2px 0 2px 0;
    clear: both;
    list-style: none;
}
div.ajaxlayerednav-content dt {
    float: left;
    cursor: pointer;
/*    background: url('images/ar_down.png') no-repeat right 10px;*/
    padding-right: 15px;
}

div.ajaxlayerednav-content dt.active-title {
/*    background: url('images/ar_right.png') no-repeat right 10px;*/
    color: #3da22a;
}
div.ajaxlayerednav-content dt.vertical-style {
    float:none;
}
div.ajaxlayerednav-content #narrow-by-list {
    position: relative;
}
div.ajaxlayerednav-content .ajaxlayerednavigation-image-active { float: none; }
div.ajaxlayerednav-content .ajaxlayerednavigation-image { float: none; }

div.ajaxlayerednav-menu dd.last {
    background-clip: padding-box;
    background-color: #FFFFFF;
}
div.ajaxlayerednav-menu ol.currently li {
    padding: 0 20px 0 5px;
}
div.ajaxlayerednav-menu ol.currently li a.btn-remove {
    right: 3px;
    top: 4px;
}

div.ajaxlayerednav-menu dd {
    padding: 5px;
    background: none;
    position: absolute;
  top: -2000px;
  left: 0;
  z-index: 1000;
  min-width: 160px;
/*  padding: 4px 0;*/
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

div.ajaxlayerednav-menu dd li{
    float:left;
    padding: 2px 0 2px 0;
    clear: both;
    list-style: none;
}
div.ajaxlayerednav-menu dt {
    cursor: pointer;
/*    background: url('images/ar_down.png') no-repeat right 10px;*/
    padding-right: 15px;
}

div.ajaxlayerednav-menu dt.active-title {
/*    background: url('images/ar_right.png') no-repeat right 10px;*/
    color: #3da22a;
}
div.ajaxlayerednav-menu dt.vertical-style {
    float:none;
}
div.ajaxlayerednav-menu #narrow-by-list {
    position: relative;
}
div.ajaxlayerednav-menu .ajaxlayerednavigation-image-active { float: none; }
div.ajaxlayerednav-menu .ajaxlayerednavigation-image { float: none; }


.ajaxlayerednav-content #narrow-by-list dt {
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    color: #000000;
    margin: 5px;
    padding: 5px;
}
/*
* rwd theme fix
 */
.block-layered-nav dl dd ol > li > span, .block-layered-nav dl dd ol > li > a {
    padding: 0 !important;
    display: inline !important;
}