<?php
$standard = $this->getStandard();

// Get Quote
/* @var Mage_Sales_Model_Quote $quote */
$quote = $standard->getQuote();
$quote->setTotalsCollectedFlag(false)->collectTotals();

$installmentsHelper = Mage::helper('mundipagg/installments');

if ($quote->isVirtual()) {
	$data = $quote->getBillingAddress();
} else {
	$data = $quote->getShippingAddress();
}

// Partial payment?
$isPartial = Mage::getSingleton('checkout/session')->getApprovalRequestSuccess();

$orderGrandTotal = $standard->getQuote()->getBaseGrandTotal();
if ($isPartial === 'partial'):
	$order = $this->loadOrder();
	$authorizedAmount = $order->getPaymentAuthorizationAmount();
	$orderGrandTotal = $order->getBaseGrandTotal();
	$baseGrandTotal = $orderGrandTotal - $authorizedAmount;
else :
	$baseGrandTotal = $orderGrandTotal;
endif;

// Payment method
$_code = $this->getMethodCode();
if ($_code != 'mundipagg_recurrencepayment') {
    $baseGrandTotal-= Uecommerce_Mundipagg_Helper_Installments::getDiscountOneInstallment($quote);
}

if ($data->getMundipaggInterest()) {
	$baseGrandTotal = $baseGrandTotal - $data->getMundipaggInterest();
}

// We check if taxvat is enabled
$_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat');

// Get current currency symbol
$currencySymbol = 
    Mage::app()
    ->getLocale()
    ->currency(
        Mage::app()
        ->getStore()
        ->getCurrentCurrencyCode()
    )
    ->getSymbol();

//Credit Card Saved On File
$ccs = $this->getCcs();

$countCcs = count($ccs);

$cart = Mage::getSingleton('checkout/cart');
$cartQuote = $cart->getQuote();

$items = $cartQuote->getAllItems();
$recurrent = false;
foreach ($items as $item) {

    foreach ($item->getOptions() as $option) {
        $product = $option->getProduct();
        $product->load($product->getId());

        if ($product->getMundipaggRecurrent()) {
            $recurrent = true;
            $frequency = $product->getMundipaggFrequencyEnum();
            $interval = $product->getMundipaggRecurrences();
            $recurrenceMix = $product->getMundipaggRecurrenceMix();
        }
    }
}

$frequencyType = [
    'Daily' => 'Day',
    'Weekly' => 'Week',
    'Monthly' => 'Month',
    'Quarterly' => 'Quarter',
    'Biannual' => 'Semester',
    'Yearly' => 'Year'
];

$recurrenceFinalDate = false;
$recurrenceTotalString = "";
$recFinal = "";
$recurrenceFinalDate = "";
if ($recurrent) {
    $freq = $frequencyType[$frequency];

    switch (strtolower($freq)) {
        case 'quarter':
            $interval *= 3;
            $freq = 'Month';
            break;
        case 'semester':
            $interval *= 6;
            $freq = 'Month';
            break;
    }
    $recFinal = strtotime('+' . ($interval -1) . ' ' . $freq . 's');
    $recurrenceFinalDate = date('Y/m/01', $recFinal);
    if ($recurrenceMix) {
        $newBaseGrandTotal = $baseGrandTotal / $interval;
    } else {
        $newBaseGrandTotal = $baseGrandTotal;
    }
    $recurrenceTotalString =
        '<strong>' .
               $currencySymbol .
               number_format($newBaseGrandTotal, "2", ",", ".") . '/' .
               strtolower($this->__($frequencyType[$frequency])) .
               ' ' . $this->__('by') . ' ' .
               $interval . ' ' .
               $this->__($frequencyType[$frequency] .'s') .
           '</strong>'.
        '<p>Fim do ciclo: ' . date("m/Y", $recFinal) . "</p>";
}
?>

<ul id="payment_form_<?php echo $_code ?>" style="display:none;">
    <div>
        <input type="hidden" id="baseGrandTotal" name="baseGrandTotal"
               value="<?php echo number_format($baseGrandTotal, "2", ",", ""); ?>"/>
		<?php if ($isPartial == 'partial'): ?>
                    <input type="hidden" name="partial" id="partial" value="1"/>
                    <input type="hidden" name="payment[multi]" id="multi" value="1"/>
		<?php endif; ?>
    </div>
	<?php
	// START CREDIT CARD PAYMENT METHOD
	$num = 1;

	switch ($_code):
		case 'mundipagg_creditcardoneinstallment':
			$num = 1;
			$paymentMethod = '1CreditCardsOneInstallment';
			$paymentMethodLabel = $this->__('Credit Card');
			break;

		case 'mundipagg_creditcard':
			$num = 1;
			$paymentMethod = '1CreditCards';
			$paymentMethodLabel = $this->__('Credit Card');
			break;

		case 'mundipagg_twocreditcards':
			$num = 2;
			$paymentMethod = '2CreditCards';
			$paymentMethodLabel = $this->__('Pay with 2 Credit Cards');
			break;

		case 'mundipagg_recurrencepayment':
                $num = 1;
                $paymentMethod = '1CreditCards';
                $paymentMethodLabel = $this->__('Credit Card');
			break;

	endswitch;

	?>
    <li>
        <div id="<?php echo $_code; ?>">
            <?php if ($num != 1 && $isPartial != 'partial'){ ?>
                <p></p>
                <div>
                    <b><?php echo $this->__('Grand Total') ?>:</b>
                    <?php echo $currencySymbol . number_format($baseGrandTotal, "2", ",", "."); ?>
                </div>
                <p></p>
            <?php } ?>
            <?php 
                if (
                    $_code == 'mundipagg_creditcardoneinstallment' ||
                    $_code == 'mundipagg_creditcard' ||
                    $_code == 'mundipagg_twocreditcards' ||
                    $_code == 'mundipagg_recurrencepayment'
                ): ?>
                <ul>
                    <?php for ($c = 1; $c <= $num; $c++): ?>
                        <input
                            type="hidden"
                            id="mundipagg_type"
                            name="payment[mundipagg_type]"
                            value="<?php echo $paymentMethod; ?>"
                        />
                        <?php $currentSelectedToken = null; ?>
                        <?php
                            if ($countCcs > 0) {
                                $ccsData = $ccs->getData();
                                $expiresAt = $ccsData[0]["expires_at"];
                            }
                        ?>
                        <?php if ($countCcs > 0): ?>
                            <li class="fields" style="margin-bottom: 5px;">
                                <div class="field">
                                    <label class="required"><?php echo $this->__('Select a Credit Card or add a new one') ?>
                                        <span class="required">*</span></label>
                                    <div class="input-box">
                                        <select id="<?php echo $_code; ?>_token_<?php echo $num . '_' . $c; ?>"
                                                data="group_<?php echo $num . '_' . $c; ?>"
                                                name="payment[<?php echo $_code; ?>_token_<?php echo $num . '_' . $c; ?>]"
                                                class="required-entry tokens group_<?php echo $num . '_' . $c; ?>"
                                                onchange="token_or_not(<?php echo $num; ?>,<?php echo $c; ?>,this)">
                                            <option value="">...</option>
                                            <?php
                                            $selected = '';

                                            if ($countCcs == 1):
                                                $selected = 'selected="selected"';
                                            endif;

                                            foreach ($ccs as $id => $cc):
                                                if ($countCcs == 1) {
                                                    $currentSelectedToken = Mage::getSingleton('mundipagg/source_cctypes')
                                                        ->getCcTypeForLabel($cc->getCcType());
                                                }

                                                if ($currentSelectedToken) {
                                                    $dataType = $currentSelectedToken;
                                                } else {
                                                    $dataType = Mage::getSingleton('mundipagg/source_cctypes')
                                                        ->getCcTypeForLabel($cc->getCcType());
                                            }
                                                if ($_code === 'mundipagg_recurrencepayment') {
                                                    if (strtotime($recurrenceFinalDate) > strtotime($expiresAt)) {
                                                        $value = "";
                                                        $mask .= " (Data de validade do cartão menor do que a data da compra)";
                                                    }
                                                }
                                                echo '<option value="' . $value . '" ' . $selected . ' data="' . $dataType . '">' .
                                                    $dataType . ' ' . $mask .
                                                    '</option>';
                                            endforeach;

                                            ?>
                                            <option value="new"><?php echo $this->__('New Credit Card') ?></option>
                                        </select>
                                    </div>
                                    <!-- Ask for CVV when option is enabled in the admin panel -->
                                    <?php if (Mage::getStoreConfig('payment/mundipagg_standard/ask_cvv_cardonfile')): ?>
                                        <div id="cvv_card_on_file_field_<?php echo $num; ?>_<?php echo $c?>">
                                            <label class="required">
                                                Informe o CVV para o cartão selecionado
                                                <span class="required">*</span>
                                            </label><br>

                                            <div class="input-box">
                                                <div class="v-fix">
                                                    <input type="text"
                                                           id="card_on_file_cvv_<?php echo $num; ?>_<?php echo $c?>"
                                                           name="payment[<?php echo $_code; ?>_card_on_file_cvv_<?php echo $num . '_' . $c; ?>]"
                                                           title="Informe o CVV"
                                                           class="required-entry input-text validate-cc-cvn validate-length"
                                                           style="width: 55px"
                                                           maxlength="4"
                                                           onkeydown="remove_characters(event);"
                                                           autocomplete="off"
                                                           value=""/>
                                                </div>
                                                <div class="v-fix" style="padding-left:6px;">
                                                    <a href="#" class="cvv-what-is-this">O que é?</a>
                                                </div>
                                            </div>



                                        </div>
                                    <?php endif ?>
                                    <br>

                                </div>
                            </li>
                            <?php if ($num != 1): ?>
                                <div id="value_<?php echo $num . '_' . $c; ?>">
                                    <li class="fields" style="margin-bottom: 5px;">
                                        <div class="field">
                                            <label class="required"><?php echo $this->__('Value (Ex: 100,50)') ?> <span
                                                        class="required">*</span></label>
                                            <div class="input-box">
                                                <input type="text"
                                                       id="<?php echo $_code; ?>_value_<?php echo $num . '_' . $c; ?>"
                                                       name="payment[<?php echo $_code; ?>_value_<?php echo $num . '_' . $c; ?>]"
                                                       title="<?php echo $this->__('Value (Ex: 100,50)') ?>"
                                                       class="required-entry validate-greater-than-zero input-text check_values <?php echo 'group_' . $num . '_' . $c; ?>"
                                                       onchange="calculateInstallmentValue(
                                                                   this,
                                                                   <?php echo $num; ?>,
                                                                   <?php echo $c; ?>,
                                                                   '<?php echo Mage::getUrl('', array('_secure' => true)); ?>'
                                                                );"
                                                       onkeydown="remove_special_characters(event);" 
                                                       value=""
                                                />
                                            </div>
                                        </div>
                                    </li>
                                </div>
				<?php endif; ?>
				<?php 
                if (
                        $installmentsHelper->isInstallmentsEnabled() &&
                        $_code != 'mundipagg_creditcardoneinstallment' &&
                        $_code != 'mundipagg_recurrencepayment'
                       ):
                ?>
                                    <div
                                        id="<?php echo 'parcelamento_' . $num . '_' . $c; ?>"
                                        <?php if ($countCcs > 1): ?>style="display:none"<?php endif ?>
                                   >
                                        <li class="fields" style="margin-bottom: 5px;">
                                            <div class="field">
                                                <label class="required"><?php echo $this->__('Credit options') ?></label>
                                                <div class="input-box">
                                                    <select id="<?php echo $_code . '_credito_parcelamento_' .  $num . '_' . $c; ?>"
                                                            name="payment[<?php echo $_code . '_credito_parcelamento_' . $num . '_' . $c; ?>]"
                                                            class="required-entry installment-token <?php echo 'group_' . $num . '_' . $c; ?>"
                                                   >
                                                    <?php 
                                                        foreach (
                                                            $this->getInstallments($currentSelectedToken)
                                                            as $key => $parcel
                                                        ):
                                                    ?>
                                                        <option value="<?php echo $key ?>"><?php echo $parcel ?></option>
                                                    <?php endforeach ?>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                    </div>
                                <?php endif; ?>
                        <?php endif; ?>
                        <div class="division"></div>
                        <div id="<?php echo $_code . '_new_credit_card_' . $num . '_' . $c; ?>"
                            class=""<?php if ($countCcs > 0) { ?>style="display:none"<?php } ?>>

                            <li style="margin-bottom: 5px;">
                                <div class="field">
                                    <label class="required"><?php echo $this->__('Credit Card Issuer') ?> <span
                                                class="required">*</span></label>
                                    <div class="input-box">
                                        <ul class="inline input-radio">
											<?php
											$ccards = $standard->getCcTypes();
											$_i = 1;
											?>
											<?php foreach ($ccards as $ccard): ?>
                                                <li class="cc_brands">
                                                    <div 
                                                        class="cc_brand_types <?php echo strtolower($ccard); ?>"
                                                    >
                                                    &nbsp;
                                                    </div>
                                                    <input type="radio"
                                                           name="<?php echo 'payment[' . $_code . '_' . $num . '_' . $c . '_credito_instituicao]'; ?>"
                                                           id="<?php echo $_code . '_' . $num . '_' . $c . '_credito_instituicao_' . $ccard; ?>"
                                                           value="<?php echo $ccard ?>"
                                                           class="<?php if ($_i == 1): ?>validate-one-required-by-name<?php endif; ?>"
                                                           onclick="setCcType(this, '<?php echo $_code; ?>', '<?php echo $num; ?>', '<?php echo $c; ?>', '<?php echo $ccard; ?>');"
                                                    >
                                                </li>
												<?php
												$_i++;
											endforeach
											?>
                                        </ul>
                                        <p class="info-payment">
                                            <i>
                                            <small><?php echo $this->__('The flag is automatically selected after entering the credit card number below.'); ?></small>
                                            </i>
                                        </p>
                                        <input type="hidden"
                                               name="<?php echo 'payment[' . $_code . '_' . $num . '_' . $c . '_cc_type]'; ?>"
                                               id="<?php echo $_code . '_' . $num . '_' . $c . '_cc_type'; ?>"
                                               value="" class="validate-cc-type-select"/>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 5px;">
                                <div class="field">
                                    <label class="required"><?php echo $this->__('Credit Card Number') ?> <span
                                                class="required">*</span></label>
                                    <div class="input-box">
                                        <input
                                            type="text"
                                            id="<?php echo $_code . '_' . $num . '_' . $c; ?>_cc_number"
                                            name="payment[<?php echo $_code . '_' . $num . '_' . $c; ?>_cc_number]"
                                            title="<?php echo $this->__('Credit Card Number') ?>"
                                            class="input-text required-entry validate-cc-number"
                                            onkeydown="remove_characters(event);"
                                            maxlength="19"
                                            value=""
                                        />
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 5px;">
                                <div class="field">
                                    <label class="required"><?php echo $this->__('Credit Card Holder name') ?> <span
                                                class="required">*</span></label>
                                    <div class="input-box">
                                        <input type="text"
                                               id="<?php echo $_code . '_cc_holder_name_' . $num . '_' . $c; ?>"
                                               name="payment[<?php echo $_code . '_cc_holder_name_' . $num . '_' . $c; ?>]"
                                               class="required-entry input-text"
                                        />
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 5px;">
                                <div class="field">
                                    <label class="required"><?php echo $this->__('Expiration date') ?> <span
                                                class="required">*</span></label>
                                    <div class="input-box">
                                        <div class="v-fix">
                                            <select id="<?php echo $_code . '_expirationMonth_' . $num . '_' . $c; ?>"
                                                    name="payment[<?php echo $_code . '_expirationMonth_' .  $num . '_' . $c; ?>]"
                                                    class="month required-entry validate-cc-exp-new">
                                                <option value=""><?php echo $this->__('Month') ?></option>
                                                <option value="1">01 - <?php echo $this->__('January') ?></option>
                                                <option value="2">02 - <?php echo $this->__('February') ?></option>
                                                <option value="3">03 - <?php echo $this->__('March') ?></option>
                                                <option value="4">04 - <?php echo $this->__('April') ?></option>
                                                <option value="5">05 - <?php echo $this->__('May') ?></option>
                                                <option value="6">06 - <?php echo $this->__('June') ?></option>
                                                <option value="7">07 - <?php echo $this->__('July') ?></option>
                                                <option value="8">08 - <?php echo $this->__('August') ?></option>
                                                <option value="9">09 - <?php echo $this->__('September') ?></option>
                                                <option value="10">10 - <?php echo $this->__('October') ?></option>
                                                <option value="11">11 - <?php echo $this->__('November') ?></option>
                                                <option value="12">12 - <?php echo $this->__('December') ?></option>
                                            </select>
                                        </div>
                                        <div class="v-fix" style="padding-left:6px;">
                                            <select id="<?php echo $_code . '_expirationYear_' . $num . '_' . $c; ?>"
                                                    name="payment[<?php echo $_code . '_expirationYear_' . $num . '_' . $c; ?>]"
                                                    class="year required-entry">
                                                <option value=""><?php echo $this->__('Year') ?></option>
												<?php
												$i = date('Y');
												$year = date('Y');
												$year10 = $year + 10;
												for ($i = $year; $i <= $year10; $i++):
													?>
                                                    <option value="<?php echo substr($i, -2); ?>"><?php echo $i; ?></option>
												<?php endfor; ?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="margin-bottom: 5px;">
                                <div class="field">
                                    <label class="required"><?php echo $this->__('Card Verification Number') ?> <span class="required">*</span></label>
                                    <div class="input-box">
                                        <div class="v-fix">
                                            <input
                                                type="text"
                                                id="<?php echo $_code . '_cc_cid_' . $num . '_' . $c; ?>"
                                                name="payment[<?php echo $_code . '_cc_cid_' . $num . '_' . $c; ?>]"
                                                style="width: 55px"
                                                class="required-entry input-text validate-cc-cvn validate-length"
                                                maxlength="4"
                                                onkeydown="remove_characters(event);"
                                            />
                                        </div>
                                        <div class="v-fix" style="padding-left:6px;">
                                            <a href="#" class="cvv-what-is-this"><?php echo $this->__('What is this?') ?></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
							<?php if ($num != 1): ?>
                                <li style="margin-bottom: 5px;">
                                    <div class="field">
                                        <label class="required"><?php echo $this->__('Value (Ex: 100,50)') ?> <span class="required">*</span></label>
                                        <div class="input-box">
                                            <input
                                                type="text"
                                                id="<?php echo $_code . '_new_value_' . $num . '_' . $c; ?>"
                                                name="<?php echo 'payment[' . $_code . '_new_value_' . $num . '_' . $c . ']'; ?>"
                                                title="<?php echo $this->__('Value (Ex: 100,50)') ?>"
                                                class="required-entry input-text validate-greater-than-zero check_values"
                                                onchange="calculateInstallmentValue(
                                                            this,
                                                            <?php echo $num; ?>,
                                                            <?php echo $c; ?>,
                                                            '<?php echo Mage::getUrl('', array('_secure' => true)); ?>'
                                                        );"
                                                onkeydown="remove_special_characters(event);" 
                                                value=""
                                            />
                                        </div>
                                    </div>
                                </li>
							<?php endif; ?>
							<?php
                                if ($installmentsHelper->isInstallmentsEnabled() &&
                                    $_code != 'mundipagg_creditcardoneinstallment' &&
                                    $_code != 'mundipagg_recurrencepayment'
                                ):
                                ?>
                                <li style="margin-bottom: 5px;">
                                    <div class="field">
                                        <label class="required"><?php echo $this->__('Credit options') ?></label>
                                        <div class="input-box">
                                            <select 
                                                id="<?php echo $_code . '_new_credito_parcelamento_' . $num . '_' . $c; ?>"
                                                    name="<?php echo 'payment[' . $_code . '_new_credito_parcelamento_' . $num . '_' . $c . ']'; ?>"
                                                    onchange="checkInstallments(this, '<?php echo Mage::getUrl('', array('_secure' => true)); ?>');"
                                            >
                                                <?php foreach ($this->getInstallments() as $key => $parcel): ?>
                                                    <option value="<?php echo $key ?>"><?php echo $parcel ?></option>
                                                <?php endforeach ?>
                                            </select>
                                        </div>
                                        
                                    </div>
                                </li>
							<?php endif; ?>
							<?php
                                if (
                                    $standard->getConfigData('clearsale') &&
                                    !$_taxvat->isEnabled() &&
                                    Mage::getSingleton('customer/session')->getCustomer()->getTaxvat() == ''
                                ):
                            ?>
                                <li style="margin-bottom: 5px;">
                                    <div class="field">
                                        <label class="required"><?php echo $this->__('CPF ou CNPJ') ?> <span class="required">*</span></label>
                                        <div class="input-box">
                                            <input
                                                type="text"
                                                id="<?php echo $_code . '_cc_taxvat_' . $num . '_' . $c; ?>"
                                                name="<?php echo 'payment[' . $_code . '_cc_taxvat_' .  $num . '_' . $c . ']'; ?>"
                                                title="<?php echo $this->__('CPF ou CNPJ') ?>"
                                                class="validar_cpf required-entry"
                                                onkeydown="remove_characters(event);"
                                            />
                                        </div>
                                    </div>
                                </li>
							<?php endif; ?>
							<?php if ($standard->getQuote()->getCheckoutMethod() != 'guest'): ?>
								<?php if (Mage::getStoreConfig('payment/mundipagg_standard/save_cardonfile')): ?>
                                    <li>

                                        <div class="input-box" style="padding-top: 10px">
                                            <div class="field">
                                                <label class="required"><?php echo $this->__('Save Card On File') ?></label>
                                                <input
                                                    type="checkbox"
                                                    id="<?php echo $_code . '_save_token_' . $num . '_' . $c; ?>"
                                                    name="<?php echo 'payment[' . $_code . '_save_token_' . $num . '_' . $c . ']'; ?>"
                                                    value="new"
                                                />
                                            </div>

                                        </div>
                                    </li>
								<?php endif; ?>
							<?php endif; ?>
                        </div>
                        <?php
                            if ($recurrenceFinalDate) {
                                echo "<input id='recurrenceFinalDate' type='hidden' value='" . $recurrenceFinalDate . "' />";
                            } else {
                                echo "<input id='recurrenceFinalDate' type='hidden' value='' />";
                            }
                        ?>
                        <?php if ($_code === 'mundipagg_recurrencepayment') { ?>
                            <li style="margin-bottom: 5px;" class="recurrenceTotal">
                                <br>
                                <p><b><?php echo $this->__('Recurrent payment'); ?></b></p>
                                <p><?php echo $recurrenceTotalString; ?></p>
                            </li>
                        <?php } ?>
					<?php endfor; ?>
                </ul>
			<?php endif ?>
        </div>
    </li>
	<?php // END CREDIT CARD PAYMENT METHOD ?>
</ul>


<script type="text/javascript">
    
    //<![CDATA[

    Validation.addAllThese([
        ['validate-cc-exp-new', '<?php echo $this->jsQuoteEscape(Mage::helper('mundipagg')->__('Incorrect credit card expiration date.'))?>', function (v, elm) {
            var ccExpMonth = v;
            var ccExpYear = $(elm.id.replace("_expirationMonth", "_expirationYear")).value;

            //Recurrence expiration check
            var expiration = new Date("20" + ccExpYear + "/" + ('0000'+ccExpMonth).slice(-2) + "/01");

            if (document.getElementById("recurrenceFinalDate").value.length > 0) {
                var recurrenceExpiration = new Date(document.getElementById("recurrenceFinalDate").value);
                if(expiration.getTime() < recurrenceExpiration.getTime()){
                    return false;
                }
            }
            
            var currentTime = new Date();
            var currentMonth = currentTime.getMonth() + 1;
            var currentYear = currentTime.getFullYear().toString().substr(2, 2);
            if (ccExpMonth < currentMonth && ccExpYear == currentYear) {
                return false;
            }

            return true;
        }]
    ]);

    window.baseUrl = '<?php echo Mage::getUrl('', array('_secure' => true)); ?>';
    window.installmentsandinterestUrl = '<?php echo Mage::getUrl('mundipagg/standard/installmentsandinterest', array('_secure' => true)); ?>';
    window.ajaxLoaderGif = '<?php echo $this->getSkinUrl('images/mundipagg/ajax-loader.gif'); ?>';
    window.isInstallmentsEnabled = '<?php echo Mage::helper('mundipagg/installments')->isInstallmentsEnabled(); ?>';

    $$('.validate-cc-number').invoke('observe', 'keyup', function () {
        selectCredcard(this);
    });
    $$('.validate-cc-number').invoke('observe', 'blur', function () {
        selectCredcard(this);
    });
    //]]>
</script>
