<?php
	$form  = $this->getFormId();
	$class = $this->getFormValidate();
	$key   = $this->helper('recaptcha')->getKey();
	$theme = $this->helper('recaptcha')->getTheme();
?>
<ul class="form-list">
	<li>
		<div id="<?php echo $form; ?>-recaptcha"></div>
		<input type="hidden" class="validate-recaptcha-<?php echo $form; ?>">
	</li>
</ul>
<script type="text/javascript">
	var recaptchaLoad = function() {  
		grecaptcha.render('<?php echo $form; ?>-recaptcha', {
			'sitekey'  : '<?php echo $key; ?>',
			'theme'    : '<?php echo $theme; ?>',
			'size'     : 'invisible',
			'callback' : onSubmit<?php echo $class; ?>			
		});
	};

	var onSubmit<?php echo $class; ?> = function() {
		$j('#advice-validate-recaptcha-<?php echo $form; ?>-').remove();

		if($j('#<?php echo $form; ?>').find('.validation-advice:visible').length == 0) {
			$j('#<?php echo $form; ?>').submit();
		}
	};

	Validation.add('validate-recaptcha-<?php echo $form; ?>','<?php echo $this->__('Recaptcha is mandatory'); ?>', function() {	
		grecaptcha.execute();

		var response = grecaptcha.getResponse();

		if (response.length === 0) {
			return false;
		}

		return true;
	});
</script>
