<?php
$fmeFieldsmanager = false;
$_manufacturer = Mage::getModel('esmart_manufacturer/manufacturer');
if (Mage::helper('core')->isModuleOutputEnabled('FME_Fieldsmanager')) {
    $fmeFieldsmanager = $this->getLayout()->createBlock('fieldsmanager/checkout_payment_methods');
}
$qty = 0;
?>

<?php if ($fmeFieldsmanager) : ?>
    <?php echo $fmeFieldsmanager->getfieldshtml(1); ?>
<?php endif ?>

<?php echo $this->getChildHtml('items_before'); ?>

<?php
    echo $this->getMessagesBlock()->getGroupedHtml();
    $this->getMessagesBlock()->getMessageCollection()->clear();
?>

<div id="checkout-review-table-wrapper">
    <div class="checkout-review">
        <table class="data-table" id="checkout-review-table">
            <tbody>
                <?php foreach($this->getItems() as $_item): ?>
                    <?php echo $this->getItemHtml($_item)?>
                    <?php $qty += $_item->getQty(); ?>
                <?php endforeach ?>
            </tbody>
        </table>
    </div>
    <div class="checkout-totals">
        <table class="data-table" id="checkout-review-table-totals">
            <tr class="qty-total">
                <td colspan="3"><?php echo $this->__('Quantity of products') ?></td>
                <td><?php echo $qty; ?></td>
            </tr>
            <?php echo $this->getChildHtml('totals'); ?>
        </table>
    </div>
</div>

<?php if ($fmeFieldsmanager) : ?>
    <?php echo $fmeFieldsmanager->getfieldshtml(2); ?>
<?php endif ?>

<?php echo $this->getChildHtml('items_after'); ?>

<?php if ($fmeFieldsmanager) : ?>
    <?php echo $fmeFieldsmanager->getfieldshtml(3); ?>
<?php endif ?>

<script type="text/javascript">
//<![CDATA[
    var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

    decorateTable('checkout-review-table');
    truncateOptions();

    if (!isMobile) {
        sephora.customScroll('.firecheckout-index-index .checkout-review');
    }

    dataLayer.push({
        'event': 'checkout',
        'ecommerce': {
            'checkout': {
                'actionField': {'step': 'firecheckout'},
                'products': [
                    <?php foreach($this->getItems() as $_item): ?>
                        //Product
                        <?php if ($_item->getProduct()->getTaxTreatment()) : ?>
                            <?php $categoryIds = $_item->getProduct()->getCategoryIds(); ?>
                            <?php $breadcrumbsCategories = Mage::helper('esmart_catalog')->getBreadcrumbsCategory($categoryIds); ?>
                            {
                                'name': "<?php echo $this->jsQuoteEscape($_item->getName()) ?>",
                                'id': '<?php echo $_item->getProduct()->getAxParentCode() ?>',
                                'price': '<?php echo number_format($_item->getPrice(), 2, '.','') ?>',
                                'brand': '<?php echo $this->jsQuoteEscape($_manufacturer->load($_item->getProduct()->getManufacturer())->getManufacturerName()) ?>',
                                'category': '<?php echo $this->jsQuoteEscape($breadcrumbsCategories) ?>',
                                'quantity': '<?php echo $_item->getQty() ?>',
                                'variant': '<?php echo $_item->getSku() ?>'
                            },
                        <?php else : ?>
                            //Gift or others
                            <?php $_item = Mage::getModel('catalog/product')->load($_item->getProductId()); ?>
                            <?php $categoryIds = $_item->getCategoryIds(); ?>
                            <?php $breadcrumbsCategories = Mage::helper('esmart_catalog')->getBreadcrumbsCategory($categoryIds); ?>
                            {
                                'name': "<?php echo $this->jsQuoteEscape($_item->getName()) ?>",
                                'id': '<?php echo $_item->getAxParentCode() ?>',
                                'price': '<?php echo number_format($_item->getPrice(), 2, '.','') ?>',
                                'brand': '<?php echo $this->jsQuoteEscape($_manufacturer->load($_item->getManufacturer())->getManufacturerName()) ?>',
                                'category': '<?php echo $this->jsQuoteEscape($breadcrumbsCategories) ?>',
                                'quantity': '1',
                                'variant': '<?php echo $_item->getSku() ?>'
                            },
                        <?php endif; ?>
                    <?php endforeach; ?>
                ]
            }
        }
    });
//]]>
</script>