html {

    &.ie11,
    &.ie10 {

        [type="radio"] {

            &:checked {
                + label:before {
                    line-height: 13px;
                }

            }

        }

    }

}
