$mac-resolution: new-breakpoint(min-width $screen-md);

html {

    @include media($mac-resolution) {

        &.mac {

            .button {
                line-height: 40px;

                &.-big {
                    line-height: 52px;
                }

            }

            .minicart-wrapper {

                .checkout-button {
                    line-height: 50px !important;
                }

            }

            .checkout-cart-index {

                .button {
                    line-height: 50px !important;
                }

                .cart-forms {

                    .button {
                        line-height: 42px !important;
                    }

                }

            }

            .esmart-sample-product-list,
            .beautyclub-program-list {

                .main {

                    .button {
                        line-height: 50px !important;
                    }

                }

            }

            .firecheckout-index-index {

                .main {

                    .button {
                        line-height: 60px !important;
                    }

                }

            }

            .customer-account {

                .main {

                    .box-title {

                        .button {
                            line-height: 32px !important;
                        }

                    }

                }

                .box-beautyclub {

                    .button {
                        line-height: 43px !important;
                    }

                }

            }

            .catalog-product-view {

                .main {

                    .add-to-cart-buttons {

                        .btn-cart {
                            padding: 11px 0 6px 0 !important;
                        }

                        .one-click {
                            padding: 12px 0 10px 0 !important;
                        }

                    }

                    .ratings-buttons {

                        .button {
                            padding: 20px 20px 15px 20px;
                            line-height: 0;
                            height: inherit;
                        }

                    }

                }

            }

            .faq-help {
                line-height: 3px;
                padding: 10px 0;
            }

            .footer-container {

                .button {
                    line-height: 50px !important;
                }

            }


        }

    }

}
