$mobile-px: 979px;
$mobile-resolution: new-breakpoint(max-width $mobile-px);

@include media($mobile-resolution) {

    .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block;
    }

    .cart-title,
    .block-account,
    .after-header,
    .step-container,
    .secure,
    .main-container:before,
    .search,
    .top-links,
    .nav,
    .steps {
        @extend .hide-mobile;
    }

    .main-container {
        width: 100%;
    }

    .page-header,
    .page-header-onepage {
        padding: 0px;
        text-align: center;
        border-color: $c-black;
        box-shadow: none;
        border-bottom: 1px solid $c-black;

        &.fixed {
            position: initial;
        }

        .page-header-container {
            height: auto;

            .logo {
                margin: 0 auto;
                padding: 15px 0;
                float: none;
                width: 40%;
            }

        }

        .back {
            font-family: $font-icon;
            position: absolute;
            left: 5px;
            top: 5px;
            font-size: 40px;

            &:before {
                content: "\e919";
            }

        }

    }

    .footer-container-onepage {
        padding: 0 35px;
        margin-top: 40px;

        .footer {
            padding: 0;

            .logo,
            .seals {
                width: 50%;
                margin-right: 0;
                padding: 20px;
            }

            .copyright,
            .payment {
                clear: left;
                width: 100%;
                margin: 0;
            }

            .payment {
                padding-top: 20px;
            }

        }

    }

    .footer-container {

        .newsletter {
            @extend .hide-mobile;
        }

        .social-links {
            background: $c-gray-light;
            width: 100%;
            border-top: 1px solid $c-gray;

            .arrow {
                @extend .hide-mobile;
            }

            .links,
            .social {
                width: 100%;
                margin-right: 0;
            }

            .links {

                li {
                    @include span-columns(12);
                    text-align: center;
                    margin-right: 0;

                    dl {

                        dd {
                            display: block;
                        }

                    }

                }

            }

            .social {

                li {
                    @include span-columns(2.4);
                    margin: 5px 0 20px 0;
                }

            }

        }

        .footer {
            margin-bottom: 0;

            .copyright {
                width: 100%;
                margin-right: 0;
                margin-bottom: 30px;
            }

            .seals,
            .enext-bseller {
                @include span-columns(6);
            }

            .seals {
                clear: left;
            }

            .enext-bseller {
                padding: 18px 0;
            }

        }

    }

    .fancybox-opened {
        width: 88% !important;

        .fancybox-inner {
            width: 88% !important;
        }

    }

    .checkout-cart-index {

        .main {
            min-height: 220px;
        }

        .cart-table {
            margin: 0;

            thead {
                @extend .hide-mobile;
            }

            tbody {

                tr {

                    td {
                        position: relative;

                        &:first-child {
                            padding-left: 10px;
                            padding-right: 10px;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }

                        &:last-child {
                            padding-right: 10px;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }

                        &.product-cart-image {
                            width: 18%;
                        }

                        &.product-cart-info {

                            .product-name {
                                padding-right: 35px;
                                font-family: $f-avalon;
                                font-size: 13px;
                                font-weight: 600;
                            }

                            .product-qty-remove,
                            .cart-price {
                                @include span-columns(6);
                                margin-right: 0;
                            }

                            .product-qty-remove {

                                .qty {
                                    position: relative;
                                    width: 90px;

                                    .more,
                                    .less {
                                        @include border-radius(5%);
                                        height: 25px;
                                        width: 28px;
                                        background: $c-black;
                                        color: $c-white;
                                        position: absolute;
                                        top: 0;
                                        text-align: center;

                                        &.disabled {
                                            background: $c-gray;
                                        }

                                    }

                                    .more {
                                        right: 0;
                                        padding: 2px 0;
                                        font-size: 14px;
                                    }

                                    .less {
                                        left: 0;
                                        padding: 2px 0;
                                        font-size: 14px;
                                    }

                                    input {
                                        width: 33%;
                                        text-align: center;
                                        margin: 5px 30px;
                                        padding: 4px 5px;
                                        height: 25px;
                                    }

                                }

                            }

                            .cart-price {
                                font-family: $f-avalon;
                                font-size: 14px;
                                font-weight: normal;
                                line-height: 18px;

                                .installments {
                                    font-family: $f-avalon;
                                    font-size: 14px;
                                    font-weight: 600;
                                }

                            }

                            .remove {
                                position: absolute;
                                right: -2px;
                                top: -1px;
                                border: 1px solid $c-gray;
                                text-align: center;
                                background: $c-gray-light;
                                font-size: 12px;
                                padding: 6px 0;
                                @include size(32px);
                            }

                        }

                    }

                    &.gift {
                        background: $c-white;

                        .product-cart-image {
                            width: 5%;
                            padding: 10px;
                        }

                        .product-cart-info {
                            width: 95%;
                            padding: 10px;

                            .product-name {
                                font-family: $f-avalon;
                                font-weight: bold;
                                padding-right: 0;
                                line-height: 18px;
                            }

                        }

                    }

                }

            }

        }

        .cart-forms {
            background: $c-gray-light;
            padding: 15px 35px 10px 35px;
            width: 100%;
            margin-right: 0;
            border-top: 1px solid $c-gray;
            border-bottom: 1px solid $c-gray;

            .button {
                background: none;
                border: none;
                height: 37px;
                line-height: initial;
                color: $c-black;
            }

            .cart-shipping,
            .cart-coupon {
                width: 100%;
                margin-right: 0;

                label {
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 0;
                }

                input {
                    font-size: 12px;
                    border-color: $c-gray;
                    text-transform: uppercase;
                }

                .no-postcode {

                    a {
                        font-family: $f-avalon;
                        font-style: normal;
                        font-weight: bold;
                        color: $c-black;
                        font-size: 12px;
                    }

                }

            }

            .cart-coupon {
                margin-top: 10px;
            }

        }

        .cart-totals {
            background: $c-gray-light;
            width: 100%;
            margin-right: 0;
            padding-right: 0;

            table {

                tr {
                    float: none !important;
                    margin-right: 0;
                }

                tbody,
                tfoot {
                    float: none;
                }

                tbody {

                    td {
                        padding-top: 10px;
                        padding-bottom: 10px;

                        &:first-child {
                            font-size: 12px;
                            padding-left: 40px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }

                        &:last-child {
                            padding: 0;
                            font-family: $f-avalon;
                            font-size: 13px;
                            font-weight: normal;
                            text-align: right;
                            padding-right: 40px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }

                    }

                }

                tfoot {

                    tr {

                        td {
                            font-family: $f-avalon;
                            border-top: 1px solid $c-gray;
                            font-size: 17px;

                            strong {
                                font-weight: bold;
                            }

                            &:first-child {
                                padding-left: 40px;
                                padding-top: 10px;
                                padding-bottom: 10px;
                            }

                            &:last-child {
                                text-align: right;
                                padding-right: 40px;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                font-size: 17px;
                                font-family: $f-avalon;
                                width: 50%;
                            }

                        }

                    }

                }

            }

        }

        .before-footer {
            padding: 30px 35px 20px 35px;
            background: $c-gray-light;
            margin: 0;
            border-top: 0;

            .continue-shopping {
                width: 100%;
                margin-right: 0;

                .button {
                    font-family: $f-avalon;
                    font-size: 11px;
                    font-weight: 600;
                    background: none;
                    border: none;
                    height: 20px;
                    line-height: initial !important;
                    text-decoration: underline;
                    letter-spacing: 0;

                    span {

                        span {
                            position: relative;

                            &:before {
                                content: '<< ';
                                left: -16px;
                                top: 0px;
                                text-decoration: underline;
                            }

                        }

                    }

                }

            }

            .term-cart {
                display: none;
            }

            .btn-checkout {
                position: fixed;
                bottom: 0;
                width: 100%;
                left: 0;
            }

        }

        .footer-container-onepage {
            background: $c-white;
            margin-bottom: 70px;
            margin-top: 0;
        }

        .cart-empty {
            border: 0;
            margin: 0;
            min-height: 0;

            .page-title {

                h1 {
                    font-size: 16px;
                    padding: 20px;
                    line-height: 26px;
                }

            }

            .button-set {

                .button {
                    width: 80%;
                }

            }

        }

    }

    .customer-account-login {

        .main-container {
            margin: 0 auto;

            .page-title {
                @extend .hide-mobile;
            }

            .col-1,
            .col-2 {
                width: 100%;
                margin: 0;
                padding: 0;
                border: 0;

                h2 {
                    text-align: center;
                    margin: 20px 0;
                    font-size: 16px;
                    letter-spacing: 0;
                }

                .form-list {

                    li {

                        input {
                            padding: 8px;
                        }

                        &.inputs-required {
                            line-height: 16px;
                            text-align: center;
                            margin: 10px 0;
                        }

                    }

                }

            }

            .col-1 {

                .form-list {

                    li {

                        &.fields {

                            & > div {
                                width: 100%;
                                margin: 0;
                            }

                        }

                    }

                }

            }

            .col-2 {

                .form-list {

                    li {

                        &.fields {

                            &:nth-child(3) {

                                & > div {
                                    width: 100%;
                                    margin: 0;
                                }

                            }

                        }

                        .custom-radio {
                            width: 100%;
                            margin: 0 0 5px 0;

                            .label {
                                @include span-columns(1.5);
                                line-height: 22px;
                            }

                            label {
                                @include span-columns(3);
                                font-style: normal;
                            }

                        }

                    }

                }

            }

            .buttons-set {

                .button {
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
            
                .facebook-login,
                .google-login {
                    float: left;
                    width: 100%;
                    margin-bottom: 10px;
                    text-align: center;
                    padding-left: 0;

                    .-ico {
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        left: -10px;
                        top: -4px;
                    }

                }

            }

            .input-box-password {

                .eye {
                    top: 0px;
                    padding: 3px 10px 5px 10px;
                }

            }

        }

    }

    .customer-account-forgotpassword {

        .main {
            min-height: 300px;
        }

        .main-container {

            .col-center {
                @include span-columns(12);
                padding: 0 20px;

                .fieldset,
                .buttons-set {
                    @include span-columns(12);
                    margin: 0;
                }

            }

        }

    }

    .esmart-sample-product-list,
    .beautyclub-program-list {

        .page-header-onepage {
            @extend .hide-mobile;
        }

        .main-container {
            margin: 17px auto 50px auto;
            padding: 0 5px;

            .page-title {

                h1 {
                    font-size: 15px;
                    letter-spacing: 1px;
                    position: fixed;
                    width: 100%;
                    z-index: 1;
                    top: 0;
                    line-height: 48px;
                    background: $c-white;

                    span {
                        display: block;
                    }

                }

                h2 {
                    line-height: 20px;
                    letter-spacing: 1px;
                    margin-top: 36px;
                }

            }

            .products-samples,
            .products-bcs {

                .item {
                    @include span-columns(6 of 12);
                    @include omega(2n);

                    .sample-product,
                    .bc-product {

                        &:checked {

                            + label {
                                border: 1px solid $c-black;
                            }

                        }

                    }

                }

            }

            .bottom {

                .back {
                    position: fixed;
                    left: 5px;
                    top: 5px;
                    font-size: 11px;
                    width: 76px;
                    height: 38px;
                    letter-spacing: 0;
                    padding: 0;
                    z-index: 2;
                }

                button {
                    position: fixed;
                    right: 5px;
                    top: 5px;
                    font-size: 11px;
                    width: 76px;
                    height: 38px;
                    line-height: initial !important;
                    letter-spacing: 0;
                    z-index: 2;
                }

            }

        }

    }

    .firecheckout-index-index {

        .footer-container-onepage {
            margin-top: 0;
        }

        .buttons-set {
            margin: 0;
        }

        .col3-fire-set {
            margin-bottom: 0;

            & > div {
                @include span-columns(12);
                margin-right: 0;
            }

        }

        #checkout-review {
            padding-top: 50px;
        }

        .firecheckout-section {

            .block-title {
                text-align: center;

                span {
                    letter-spacing: 0;
                }

                .block-sub-title {
                    letter-spacing: 1px;
                }

            }

            .address-select {
                @include span-columns(12);
                margin: 10px 0;
                height: initial;
            }

            .address-new {
                font-size: 12px;
                letter-spacing: 1px;
            }

            .form-list {

                li {

                    .postcode {

                        + .postcode-search {
                            @include span-columns(4.5);
                        }

                    }

                    .inputs-required {
                        line-height: 20px;
                        margin: 10px;
                        text-align: center;
                    }

                    .button {
                        font-size: 12px;
                        letter-spacing: 1px;
                        height: 30px;
                        line-height: initial;
                    }

                }

            }

            #payment_form_mundipagg_creditcard {

                .expire {
                    clear: right;
                    float: right;

                    p {
                        padding: 0 0 2px 0;
                    }

                }

            }

            #payment_form_mundipagg_boleto {

                #mundipagg_boleto {

                    .info {
                        background: none;
                        border: none;
                    }

                }

            }

            #shipping_form_delivery_date {

                .shipping-term {
                    margin: 20px 0 10px 0;
                }

            }

            .checkout-review {
                height: initial;
                margin: 0;

                #checkout-review-table {
                    margin-bottom: 0;

                    tr {
                        border-bottom: 1px solid $c-gray;

                        td {
                            width: 70%;

                            .product-image {
                                width: 38%;
                            }

                            .product-info {
                                padding-right: 0;
                                width: 60%;
                            }

                            .qty-wrapper {
                                padding-right: 0;
                            }

                            &:last-child {
                                width: 30%;
                            }

                        }

                    }

                }

            }

            .checkout-totals {

                tr {

                    &.qty-total {
                        @extend .hide-mobile;
                    }

                    td {
                        font-family: $f-avalon;
                        font-weight: 600;
                        font-size: 15px;
                        padding: 13px 0 13px 0;

                        &:last-child {
                            padding: 13px 0 13px 0;
                        }

                    }

                }

            }

            .btn-checkout {
                height: 50px;
                font-size: 12px;
                letter-spacing: 2px;
                margin: 0 -20px;
                width: 120%;

                &.first {
                    position: absolute;
                    width: 100%;
                    margin: -100px -20px 0 -20px;
                }

            }

        }

    }

    .checkout-onepage-success {

        .dashboard {
            padding: 0 20px;
            margin-bottom: 20px;

            .page-title {
                margin-top: 0;

                h1 {
                    font-size: 18px;
                    letter-spacing: 0px;
                    text-transform: initial;

                    span {
                        font-weight: bold;
                    }

                }

            }

            p {
                font-family: $f-avalon;
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;

                &.success {
                    font-size: 15px;
                }

            }

        }

        .info-content {

            .info-shipping-address,
            .info-shipping-method,
            .info-payment-method {
                @include span-columns(12);
                margin-right: 0;

                .action-title,
                .action-content {
                    padding: 0 20px;
                }

                .action-title {
                    padding: 20px;
                    border-top: 3px solid;

                    h3 {
                        letter-spacing: 0;
                    }

                }

                .action-content {
                    font-family: $f-avalon;
                    font-weight: 600;
                    font-size: 14px;
                    padding-bottom: 20px;
                    line-height: 20px;

                    .sub-title {
                        font-size: 13px;
                    }

                }

            }

        }

        .order-items {

            .data-table {
                margin: 0;

                thead {
                    @extend .hide-mobile;
                }

                tbody {

                    tr {

                        td {
                            position: relative;

                            &:first-child {
                                padding-left: 10px;
                                padding-right: 10px;
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }

                            &:last-child {
                                padding-right: 10px;
                                padding-top: 20px;
                                padding-bottom: 20px;
                            }

                            &.product-cart-image {
                                width: 18%;
                            }

                            &.product-cart-info {

                                .product-name {
                                    padding-right: 35px;
                                    font-family: $f-avalon;
                                    font-size: 13px;
                                }

                                .product-cart-qty {
                                    @include span-columns(4);
                                    margin: 10px 0 0 0;

                                    strong {
                                        width: 50%;
                                        text-align: center;
                                        margin: 5px auto;
                                        padding: 4px 5px;
                                    }

                                }

                                .product-cart-subtotal {
                                    @include span-columns(8);
                                    margin: 10px 0 0 0;
                                }

                                .cart-price {
                                    font-family: $f-avalon;
                                    font-size: 14px;
                                    font-weight: normal;
                                    line-height: 18px;

                                    .installments {
                                        font-family: $f-avalon;
                                        font-size: 14px;
                                        font-weight: bold;
                                    }

                                }

                            }

                        }

                    }

                }

            }

            .totals {
                float: left;
                width: 100%;
                margin-top: -1px;

                tr {

                    td {

                        &:first-child {
                            padding-left: 20px;
                            padding-right: 0;
                            padding-top: 10px;
                            padding-bottom: 5px;
                            letter-spacing: 0;
                        }

                        &:last-child {
                            padding-right: 20px;
                            padding-top: 10px;
                            padding-bottom: 5px;
                            letter-spacing: 0;
                        }

                    }

                }

            }

        }

        .info-items-totals {
            margin-bottom: 20px;

            .buttons-set {
                position: relative;
                margin-bottom: 20px;
            }

            .ebit {
                padding: 0 20px;
            }

        }

    }

    .bseller-giftshowcase-index-index {

        .advantages-bar,
        .container-title {
            display: none;
        }

        .breadcrumbs {
            display: block;
        }

        .page-header {
            background: $c-black;

            .logo {
                width: 120px;
            }

            .search-mobile {
                padding: 0 10px;

                .input-box {
                    @include span-columns(12);
                    background: $c-white;
                    margin: 10px 0;
                    padding: 5px;
                    @include border-radius(3px);

                    input {
                        @include span-columns(10.7);
                        padding: 8px;
                        margin: 0;
                        border: 0;
                        border-right: 1px solid $c-gray;
                    }

                    button {
                        @include span-columns(1.3);
                        background: none;
                        padding: 0;
                        border: 0;
                        margin: 0;
                        font-family: $font-icon;

                        &:before {
                            content: "\e901";
                            color: $c-black;
                            font-size: 20px;
                            line-height: 28px;
                            padding-left: 6px;
                        }

                        span {
                            display: none;
                        }

                    }

                }

            }

            .skip-cart {
                display: none;
            }

            .header-minicart {
                position: absolute;
                top: 0;
                right: 0;

                .cart-icon {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    height: 30px;
                    width: 30px;
                    background: url('../../images/media/cart.svg') no-repeat center center;

                    .count {
                        position: absolute;
                        right: 0;
                        top: 0;
                        font-size: 8px;
                        padding: 3px 2.5px 0 0;
                        height: 15px;
                        width: 15px;
                        background: $c-dark-primary;
                        color: $c-white;
                        @include border-radius(50%);
                    }

                }

            }

        }

        .breadcrumbs {
            @include span-columns(12);
            margin: 0 0 2px 0;
            background: $c-gray-light;
            text-align: center;
            padding: 12px 0;
        }

        .col-left,
        .col-main {
            float: left;
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .sidebar {

            .block-layered-nav {
                margin: 0;

                .block-title {
                    font-family: $f-avalon;
                    padding: 10px 20px;
                    background: $c-gray-light;
                    color: $c-black;
                    position: relative;

                    &:after {
                        font-family: $font-icon;
                        content: "\e918";
                        position: absolute;
                        top: 8px;
                        right: 10px;
                        font-size: 16px;
                        text-align: center;
                    }

                    &.active {

                        &:after {
                            content: "\e920";
                        }

                    }

                    strong {
                        font-weight: 600;
                    }

                }

                .block-content {
                    color: $c-black;

                    .block-subtitle,
                    .currently,
                    .actions {
                        margin: 0;
                        padding: 0 20px;
                    }

                    .block-subtitle {
                        margin-top: 10px;
                    }

                    dt, dl {
                        margin: 0;
                    }

                    dt {
                        border-color: $c-black;
                        padding-left: 20px;
                    }

                    dd {
                        padding-left: 0;

                        li {
                            padding-left: 20px;
                            border-bottom: 1px solid $c-black;
                        }

                    }

                }

            }

        }

        .category-products {
            padding: 0 20px;
            margin: 20px 0;

            .products-grid {

                .item {

                    @include media($medium-resolution) {
                        @include span-columns(6 of 12);
                        @include omega(2n);
                        clear: none !important;
                    }

                    .product-image {

                        img {
                            width: 75%;
                        }

                    }

                    .button {
                        width: 80%;
                        letter-spacing: 1px;
                        padding: 0;
                        font-size: 14px;
                    }

                }

            }

        }

    }

}
