.faq {

    dt, dd{
        padding: 15px 20px;
        border: 1px solid $c-gray;

        &.active {
            background: rgba($c-gray-lighten, 0.7);
        }

    }

    dt {
        font-family: $f-avalon;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        padding-right: 40px;

        &:before {
            content: '+';
            position: absolute;
            right: 15px;
            font-size: 32px;
            top: 5px;
            font-family: $base-font-family;
            font-weight: normal;
            cursor: pointer;
        }

        &.active {
            border-bottom: 0;

            &:before {
                content: '';
                height: 3px;
                width: 15px;
                background: $c-black;
                top: 20px;
                right: 16px;
                cursor: pointer;
            }

        }

    }

    dd {
        display: none;
        border-top: 0;
        font-size: 12px;
        line-height: 20px;

        strong {
            font-family: $f-avalon;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;

            &:before {
                content: '';
                height: 4px;
                background: $c-black;
                display: block;
                margin-bottom: 10px;
            }

        }

    }

}

.faq-button {
    margin: 50px auto 100px auto;
    text-align: center;
}
