.info {

    strong {
        font-family: $f-avalon;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;

        &:before {
            content: '';
            height: 4px;
            background: $c-black;
            display: block;
            margin-bottom: 10px;
        }

    }

    tr {

        td {
            font-size: 12px;
            line-height: 20px;
            border: 0;
            vertical-align: top;
        }

        &:first-child {

            td {

                &:first-child {
                    padding-right: 20px;
                }

                &:last-child {
                    padding-left: 20px;
                }

            }

        }

    }

}

.faq-button {

    a {
        letter-spacing: 1px;
        height: 50px;
        line-height: 45px;
    }

}
