.beautyclub-account {

    .beautyclub-header {
        @include span-columns(12);
        @import "beautyclub_header";
        margin: 30px 0;
    }

    .content {
        @include span-columns(12);
    }

    .small-content {
        @include span-columns(9.5);
        float: right;
        margin-right: 0;
    }

}

.beautyclub-account-dashboard {
    @import "beautyclub_dashboard";
}

.beautyclub-account-list {
    @import "beautyclub_category";
}

.beautyclub-account-epic {
    @import "beautyclub_epic";
}

.beautyclub-account-faq {
    @import "beautyclub_faq";
}

.beautyclub-account-regulation {
    @import "beautyclub_regulation";
}

.beautyclub-account-history {
    @import "beautyclub_history";
}

@import "beautyclub_questions";
@import "beautyclub_review";
