.small-content {

    .col-1 {
        @include span-columns(4.5);
    }

    .col-2 {
        @include span-columns(7.5);
        margin-right: 0;

        strong {
            font-family: $f-avalon;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;

            &:before {
                content: '';
                height: 4px;
                background: $c-black;
                display: block;
                margin-bottom: 10px;
            }

        }

        table {
            margin: 0;

            tr {

                td {
                    font-size: 12px;
                    line-height: 20px;
                    border: 0;
                    vertical-align: top;
                    padding: 0;
                }

            }

        }

    }

    .history {
        @include span-columns(12);
        margin: 50px 0 70px 0;

        table {

            thead {

                th {
                    font-size: 10px;
                    text-transform: uppercase;
                    border-bottom: 3px solid $c-black;
                    padding: 15px 0;
                    font-weight: normal;
                    position: relative;

                    &.date {
                        width: 10%;
                    }

                    &.elegible,
                    &.accumulated,
                    &.points,
                    &.balance {
                        background: $c-gray-light;
                        width: 10%;
                        line-height: 15px;
                        vertical-align: top;
                        border-top: 3px solid $c-black;
                    }

                    &.separator {
                        width: 5%;
                    }

                    &.maturity {
                        width: 15%;
                        text-align: right;
                    }

                    .before-title {
                        position: absolute;
                        font-weight: bold;
                        font-family: $base-font-family;
                        top: -25px;
                        font-size: 13px;
                    }

                }

            }

            tbody {

                td {
                    font-size: 14px;
                    padding: 15px 0;

                    &.elegible,
                    &.accumulated,
                    &.points,
                    &.balance {
                        font-weight: bold;
                        background: $c-gray-light;
                    }

                    &.maturity {
                        text-align: right;
                    }

                }

            }

        }

    }

}
