.small-content {
    position: relative;

    .info {

        strong {
            font-family: $f-avalon;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;

            &:before {
                content: '';
                height: 4px;
                background: $c-black;
                display: block;
                margin-bottom: 10px;
            }

        }

        tr {

            td {
                font-size: 12px;
                line-height: 20px;
                border: 0;
                vertical-align: top;
            }

        }

    }

    .faq-search {
        position: absolute;
        right: 0;
        top: -65px;
        width: 60%;

        &:before {
            @extend .-search;
            color: $c-black;
            font-size: 16px;
            position: absolute;
            top: 12px;
            left: 15px;
        }

        input {
            background: rgba($c-gray-lighten, 0.7);
            border: 1px solid $c-gray;
            color: $c-gray;
            font-size: 13px;
            font-style: italic;
            font-weight: normal;
            padding: 12px 12px 12px 45px;
        }

    }

}
