.page-title {
    padding-left: 130px;

    h1 {
        letter-spacing: 10px;
        font-weight: 600;
    }

}

.beautyclub-slider {

    .navigation {
        margin: 0 auto;
        height: 95px;
        width: 95%;
        padding: 15px;
        background: $c-gray-light;

        li {
            @include inline-block(top);
            margin: 0 30px;
            position: relative;
            cursor: pointer;

            &:before {
                content: '';
                display: block;
                @include inline-block(top);
            }

            &:after {
                content: '';
                display: block;
                width: 1px;
                height: 65px;
                background: $c-black;
                position: absolute;
                top: 0;
                left: -45px;
                @include rotate($deg: 15);
            }

            &.active {

                > p {

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: -24.5px;
                        left: -12px;
                        height: 6px;
                        width: 100%;
                        background: $c-black;
                    }

                }

            }

            p {
                font-family: $f-avalon;
                font-size: 23px;
                text-transform: uppercase;
                display: inline-block;
                padding-left: 10px;
                padding-top: 5px;
                width: 140px;

                @include media($medium-resolution) {
                    font-size: 18px;
                    padding-top: 10px;
                    width: 100px;
                }

            }

            &.one {
                margin-left: 50px;

                &:before {
                    @include sprite($one);
                }

                &:after {
                    display: none;
                }

                &.active {
                    &:before {
                        @include sprite($one-active);
                    }
                }

            }

            &.two {

                &:before {
                    @include sprite($two);
                }

                &.active {
                    &:before {
                        @include sprite($two-active);
                    }
                }

            }

            &.three {

                &:before {
                    @include sprite($three);
                }

                &.active {
                    &:before {
                        @include sprite($three-active);
                    }
                }

                p {
                    width: 230px;

                    @include media($medium-resolution) {
                        width: 160px;
                    }

                }

            }

            &.four {
                margin-right: 0;

                &:before {
                    @include sprite($four);
                }

                &.active {
                    &:before {
                        @include sprite($four-active);
                    }
                }

            }

        }

    }

    .navigation-bottom {
        width: 100%;
        border: 1px solid $c-black;
        border-bottom: 0;
        height: 15px;
        margin-bottom: 20px;
    }

    .banners {
        width: 95%;
        margin: 0 auto;
        margin-top: -34px;

        li {
            display: none;

            img {
                width: 100%;
            }

        }

    }

}

.custom-content {

    tr, td {
        border: 0;
    }

    img {
        width: 100%;
    }

}

.products {
    text-align: center;
    position: relative;
    margin: 15px 0 70px 0;

    h2 {
        font-family: $f-avalon;
        text-transform: uppercase;
        font-size: 27px;
        font-weight: bold;
        letter-spacing: 5px;
        margin-bottom: 30px;
    }

    .points {
        @include size(70px);
        @include border-radius(50%);
        border: 2px solid $c-black;
        margin: 20px auto;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: -4px;
            top: -1px;
            border: 1px solid $c-black;
            height: 100%;
            width: 101%;
            @include border-radius(50%);
        }

        p {
            font-family: $f-sephoraSerif;
            font-size: 24px;
            text-transform: uppercase;
            margin-top: 16px;

            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 9px;
                left: 40%;
                width: 10px;
                display: block;
            }

            &:before {
                height: 6px;
                background: $c-black;
                border: 1px solid $c-white;
            }

            &:after {
                height: 2px;
                background: $c-black;
                border: 1px solid $c-white;
                top: 11px;
            }

            span {
                display: block;
                font-family: $base-font-family;
                font-size: 10px;
                font-weight: bold;
            }

            &.especial {

                span {
                    padding: 15px 0;
                }

            }

        }

    }

    .more-awards {
        margin-top: 15px;
        height: 50px;
        letter-spacing: 1px;
        line-height: 47px;
    }

}
