.navigation {
    @include span-columns(2.2);

    .segment {
        margin-bottom: 5px;

        .vib {
            color: $c-dark-primary;
            font-weight: bold;
            font-size: 30px;
            letter-spacing: 5px;
        }

    }

    li {
        font-family: $f-avalon;
        font-weight: bold;
        font-size: 13px;
        line-height: 30px;
        border-bottom: $base-border;

        &:last-child {
            border-bottom: 0;
        }

        &.active {

            a {
                color: $c-dark-primary;
            }

        }

    }

}

.panel {
    @include span-columns(9.5);
    margin-right: 0;
    border: 10px solid $c-black;
    float: right;
    text-transform: uppercase;
    position: relative;
    z-index: 0;

    &:after {
        content: '';
        position: absolute;
        right: -10px;
        top: -10px;
        @include sprite($bg-header-beautyclub);
    }

    .col-1,
    .col-2 {
        @include span-columns(4.7 of 9.5);
        padding: 15px 30px;
        margin: 10px 0;
        min-height: 130px;
    }

    .col-1 {
        border-right: 1px solid $c-black;
    }

    .col-2 {

        > div {
            position: relative;
            z-index: 1;
        }

    }

    .name {
        font-family: $f-avalon;
        font-weight: bold;
        font-size: 23px;
        display: block;
    }

    .points {
        font-family: $f-avalon;
        font-size: 16px;

        span {
            font-weight: bold;
        }

    }

    .links {
        font-size: 12px;
        margin-top: 30px;

        li {
            display: inline-block;
            line-height: 10px;

            &:first-child {
                padding-right: 5px;
            }

            &:last-child {
                border-left: 1px solid $c-black;
                padding-left: 8px;
            }

        }

    }

    .status {
        font-family: $f-avalon;
        font-size: 16px;

        @include media($medium-resolution) {
            width: 14px;
        }

        .segment {
            @include inline-block(bottom);
            margin-left: 10px;

            img {
                width: 80%;
            }

            .vib {
                color: $c-dark-primary;
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 5px;
            }

        }

    }

    .bar-container {
        width: 100%;
        height: 1.1em;
        position: relative;
        background-color: $c-gray-light;
        margin: 16px 0;

        .bar {
            background: repeating-linear-gradient(-55deg, lighten($c-black, 20%), lighten($c-black, 20%) 10px, $c-black 10px, $c-black 20px);
            height: 100%;
            position: absolute;
            line-height: inherit;
        }

    }

    .vib {
        font-size: 12px;

        strong {
            font-weight: bold;
        }

        span {
            font-weight: bold;
            color: $c-dark-primary;
            letter-spacing: 3px;
        }

    }

    .not-bc {
        height: 150px;
        text-align: center;
        width: 15%;
        margin: 0 auto;
        font-size: 12px;
        padding: 30px 0 0 0;
        line-height: 15px;

        .button {
            margin-top: 10px;
            display: block;
            font-size: 11px;
            letter-spacing: 1px;
        }

    }

    .button-login {
        height: 100px;
        text-align: center;
        width: 40%;
        margin: 0 auto;
        font-size: 12px;
        line-height: 15px;
        padding: 10px 0 0 0;

        .button {
            margin-top: 10px;
            display: block;
            font-size: 11px;
            letter-spacing: 1px;
        }

    }

}

.page-title {
    @include span-columns(9.5);
    margin-right: 0;
    float: right;
    font-family: $f-avalon;
    text-transform: uppercase;
    padding-top: 30px;
    letter-spacing: 1px;

    h1 {
        font-size: 27px;
    }

}
