.filter {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid $c-black;
    text-align: center;

    li {
        font-family: $f-avalon;
        font-size: 17px;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin: 0 5%;
        position: relative;
        @include inline-block();

        a {

            &:hover,
            &:active {
                color: $c-black;
            }

        }

        &.active {
            font-weight: bold;

            &:after {
                content: '';
                height: 4px;
                background: $c-black;
                width: 115%;
                position: absolute;
                bottom: 0;
                left: -5px;
            }

        }

    }

}

.total-points {
    width: 250px;
    margin: 0 auto;
    position: relative;

    &:before {
        content: '';
        height: 1px;
        background: $c-gray;
        width: 100%;
        position: absolute;
        top: 14px;
    }

    p {
        display: block;
        margin: 30px auto;
        text-align: center;
        font-family: $f-avalon;
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        background: $c-white;
        position: relative;
        width: 60%;
    }

}

.bc-products {
    @include span-columns(12);
    margin: 20px 0;

    .label-points {
        font-family: $f-avalon;
        font-size: 23px;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
    }

    .swiper-container {
        margin-bottom: 50px;
    }

    .swiper-wrapper {
        margin: 20px 0;

        .item {
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }

    }

    .products-wrapper {
        margin: 20px 0;

        .item {
            @include span-columns(2.4 of 12);
            @include omega(5n);
            text-align: center;
            padding: 0 2%;
            margin-bottom: 70px;
        }

    }

    .item {

        .product-image {
            display: block;
            margin: 20px auto;
        }

        .product-info {

            .product-name {
                font-weight: normal;
                font-size: 11px;
            }

            .product-manufacturer {
                font-size: 13px;
                font-weight: bold;
            }

            .poits {
                font-size: 18px;
                font-weight: bold;
                color: $c-dark-primary;
                margin-top: 15px;
            }

        }

    }

}

.bc-load {
    min-height: 300px;
    background: url(../../images/media/load.gif) no-repeat center;
}

.note-msg {
    padding: 20px 0 100px 0;
    text-align: center;
}
