.beautyclub-review {
    background: $c-gray-light;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px 20px;

    table {
        margin: 0;

        thead {

            th {
                font-family: $f-avalon;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
                border-bottom: 0;
                letter-spacing: 1px;
            }

        }

        tbody {

            tr {

                td {
                    border-bottom: 1px solid $c-gray;
                    padding: 8px 0;
                    letter-spacing: 1px;

                    &:last-child {
                        text-align: right;
                        font-weight: bold;
                        font-size: 15px;
                    }

                }

                &:last-child {

                    td {
                        font-size: 15px;
                        border-bottom: 0;

                        &:last-child {
                            font-size: 17px;
                        }

                    }

                }

            }

        }

        tfoot {

            td {
                font-family: $f-avalon;
                font-size: 13px;
                font-weight: normal;
                letter-spacing: 1px;
                text-transform: lowercase;
            }

        }

    }


}
