.blackfriday {

    .nav {

        .nav-primary {

            li {

                &.level0 {
                    padding: 13px 20px 13px 0;

                    &.nav-tutorial {
                        background: url(../../images/media/blackfriday.png) no-repeat no-repeat center 4px;
                        padding-left: 10px;
                    }

                    &.nav-beautyclub {
                        padding: 13px 35px 14px 30px;
                    }                    

                }

            }

        }

    }

}
