.newsletter {
    @include span-columns(12);
    margin: 30px 0 60px 0;
    position: relative;
    text-align: center;
    z-index: 0;

    .validation-advice {
        font-size: 10px;
        text-transform: uppercase;
        color: $c-dark-primary;
        margin-top: 5px;
    }

    h2,
    h3 {
        font-weight: normal;
        text-align: center;
        position: absolute;
        background: $c-white;
        left: 0;
        right: 0;
        top: -15px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    h2 {
        font-family: $f-sephoraSerif;
        font-size: 28px;
        text-transform: uppercase;
        letter-spacing: 2px;
        z-index: 2;

        span {
            color: $c-dark-primary;
        }

    }

    h3 {
        font-family: $f-sephoraSans;
        margin-top: 40px;
        font-size: 14px;
        font-weight: 600;
    }

    .block-subscribe {
        position: relative;
        overflow: hidden;

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
        }

        &:before {
            @include sprite($bg-news-left);
            left: 0;
        }

        &:after {
            @include sprite($bg-news-right);
            right: 0;
        }

        .block-content {
            padding: 60px 0 24px 0;
            border: 1px solid $c-gray;
            position: relative;
            z-index: 1;

            .box-name,
            .box-email,
            .box-gender,
            .actions {
                display: inline-block;
                margin-right: 5px;
                vertical-align: top;
                text-align: left;
            }

            .box-name,
            .box-email {
                width: 235px;

                input {
                    margin-bottom: 0;
                    padding: 11px;
                    font-family: $f-avalon;
                    font-weight: 600;
                    font-size: 12px;
                    color: $c-black;
                }

            }

            .box-gender {
                .input-box {
                    label {
                        margin-bottom: 0;
                        font-family: $f-avalon;
                        font-size: 10px;
                        text-transform: uppercase;
                        line-height: 15px;
                        font-weight: 600;
                        letter-spacing: 1px;
                    }

                    [type="checkbox"] {
                        + label:before {
                            width: 15px;
                            height: 15px;
                            border: $base-border;
                            line-height: 15px;
                            letter-spacing: 0px;
                        }

                    }

                    &:last-child {
                        label {
                            margin-top: 9px;
                        }

                    }

                }

            }

            .actions {
                .button {
                    line-height: 38px;
                    height: 38px;
                }

            }

        }

    }

    &.black-friday {
        color: $c-white;

        h2 {
            top: -33px;
            color: $c-black;

            span {
                color: $c-black;
                font-weight: bold;
            }

        }

        h3 {
            color: $c-white;
            background: none;
            z-index: 2;
            margin-top: 38px;
            padding-right: 115px;
        }

        .block-subscribe {
            background: $c-black;

            &:before {
                display: none;
            }

            &:after {
                @include sprite($bg-news-right-blackfriday);
                top: -18px;
            }

            .block-content {
                border: 0;
                padding: 60px 0 20px 350px;

                .box-gender {
                    .input-box {
                        [type="checkbox"] {
                            + label:before {
                                background: $c-white;
                            }

                        }

                    }

                }

                .actions {
                    .button {
                        background: $c-black;
                        border: 1px solid $c-white;
                    }

                }

            }

        }

        .clock {
            position: absolute;
            top: 24px;
            left: 60px;
            background: $c-black;
            color: $c-white;
            font-family: $f-sephoraSans;
            font-size: 26px;
            text-align: center;
            z-index: 1;
        }

        .x-countdown {
            text-align: center;
        }

        .x-countdown__item {
            position: relative;
            display: inline-block;
            width: 65px;
            border: 1px solid $c-white;
            border-radius: 6px;
            box-sizing: border-box;
            padding-bottom: 5px;
        }

        .x-countdown__item:after {
            content: "";
            position: absolute;
            top: 33px;
            right: -6px;
            width: 10px;
            height: 10px;
            background: $c-white;
            border-radius: 50%;
        }

        .x-countdown__item:last-child {
            border-right: 1px solid $c-white;
        }

        .x-countdown__item:last-child:after {
            display: none;
        }

        .x-countdown__value {
            display: block;
            font-size: 35px;
            letter-spacing: 2px;
            line-height: 1;
        }

        .x-countdown__value--day {
            font-weight: bold;
        }

        .x-countdown__value--hour {
            font-weight: 600;
        }

        .x-countdown__value--min {
            font-weight: 600;
        }

        .x-countdown__value--sec {
            font-weight: normal;
        }

        .x-countdown__text {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }

    }

}
