.main-container{
    .magestore-bannerslider{
        min-height: 352px;
    }
}
.magestore-bannerslider {
    @include outer-container;
}

.flexslider {
    z-index: 0;

    .flex-control-nav {
        display: none;
    }

}
