.cms-home {

    @import "cms-home_banners";

    .main-container {
        float: left;
        width: 100%;
        max-width: 100%;
        margin: 0;
        @import "cms-home_newsletter";
        @import "cms-home_minibanners";
        @import "cms-home_brands";
        @import "cms-home_about";
    }

}

@import "../components/advantages-bar";