.brands-home {
    @include outer-container;
    overflow: hidden;
    margin: 30px auto 60px auto;

    .page-title {
        @include span-columns(3);

        h2 {
            font-family: $f-georgia-italic;
            font-size: 31px;
            font-style: italic;
            font-weight: 400;
            padding-top: 5px;

            span {
                font-family: $f-georgia-italic;
                font-style: italic;
                font-weight: 600;
            }

        }

        a {
            font-family: $f-avalon;
            font-size: 10px;
            text-transform: uppercase;
            text-decoration: underline;
            display: block;
            text-align: center;
            letter-spacing: 1px;
            font-weight: 600;
        }

    }

    .brands {
        @include span-columns(9);
        position: relative;
        z-index: 0;

        .swiper-container {
            margin-right: 25px;

            ul {

                a {
                    @include span-columns(1.7);
                    width: 100px;
                    height: 38px;
                    text-align: center;
                    padding: 10px;
                    border: 1px solid $c-white;
                    margin: 0 5px 0 0;

                    &:hover {
                        border-color: $c-dark-primary;
                    }

                }

            }

        }

        .swiper-button-prev,
        .swiper-button-next {
            top: 35%;
            background: $c-white;
            height: 61px;
            padding-top: 7px;
            width: 25px;
        }

        .swiper-button-prev {
            left: -30px;
        }

        .swiper-button-next {
            right: 0;
        }

    }

}
