.about {
    margin: 30px 0;

    table {

        tr {

            td {
                padding: 0;
                vertical-align: top;
                border: 0;

                &:last-child {
                    width: 65%;
                    font-family: $f-sephoraSerif;

                    h2 {
                        font-size: 22px;
                        text-transform: uppercase;
                        line-height: 70px;
                        font-weight: normal;
                    }

                    p {
                        font-size: 12px;
                        line-height: 22px;
                        font-family: $f-sephoraSans;
                    }

                }

            }

        }

    }

}
