.mosaico {
    @include span-columns(12);
    margin: 25px 0 35px 0;

    img {
        width: 100%;
    }

    .magestore-bannerslider {
        margin-top: 0;
    }

    &.type-one {

        .col-1 {
            float: right;
            width: 59.2%;

            ul {
                float: left;
                width: 100%;

                li {

                    &.banner-1,
                    &.banner-2 {
                        float: left;
                        width: 50%;
                    }

                    &.banner-1 {
                        padding: 0 10px 10px 0;
                    }

                    &.banner-2 {
                        padding: 0 0 10px 10px;
                    }

                    &.banner-3 {
                        float: left;
                        width: 100%;
                        padding: 5px 0 0 0;
                    }

                }

            }

        }

        .col-4 {
            float: left;
            width: 40%;

            li {

                &.banner-4 {
                    padding: 0 10px 10px 0;
                }

                &.banner-5 {
                    padding: 5px 10px 0 0;
                }

            }

        }

    }

    &.type-two {

        .col-1 {
            @include span-columns(12);
            margin-bottom: 15px;

            li {
                @include span-columns(6 of 12);
            }

        }

        .col-3 {
            @include span-columns(8 of 12);

            li {
                @include span-columns(4 of 8);
            }

        }

        .col-5 {
            @include span-columns(4 of 12);
            margin-right: 0;
        }

    }

}
