.customer-account {

    .col2-left-layout {

        .col-left {
            @include span-columns(2);
        }

        .col-main {
            @include span-columns(10);
        }

    }

    .main {
        @include span-columns(12);
        margin: 15px 0 150px 0;

        .breadcrumbs {
            @include span-columns(12);
            padding-top: 0;
        }

        h1, h2, h3 {
            text-transform: uppercase;
            font-family: $f-avalon;
            font-weight: bold;
            font-size: 16px;
            border-top: 4px solid $c-black;
            padding: 5px 0;
            letter-spacing: 1px;
        }

        .button {
            font-size: 10px;
            height: 32px;
            line-height: 30px;
            letter-spacing: 1px;
            @include inline-block();
        }

        .form-list {

            li {
                @include span-columns(12);
                margin: 0 0 10px 0;

                label {
                    font-family: $f-avalon;
                    font-weight: bold;
                    font-size: 11px;
                    text-transform: uppercase;
                }

                .custom-radio {
                    width: 80%;

                    label {
                        font-family: $base-font-family;
                        font-size: 12px;
                        font-weight: normal;
                        text-transform: capitalize;
                    }

                }

            }

            [type="checkbox"] + label {
                font-size: 12px;
                font-family: $base-font-family;
                font-weight: normal;
                text-transform: inherit;
            }

            .name-label {
                position: relative;

                .lastname {
                    position: absolute;
                    right: 36.5%;
                    top: 0;
                }

            }

        }

        .box-title {
            @include span-columns(12);
            position: relative;

            a {
                position: absolute;
                right: 0;
                top: 10px;
            }

        }

        .box-subtitle {
            @include span-columns(12);
            margin: 20px 0 0 0;

            h1, h2, h3 {
                font-family: $f-avalon;
                font-size: 13px;
                border-top: 2px solid $c-black;
                font-weight: 600;
                letter-spacing: 2px;
                margin-bottom: 10px;

                &.hide-border {
                    border-top: 0;
                }

            }

        }

        .column-1,
        .column-2 {
            @include span-columns(6);
        }

        .column-2 {
            float: right;
            margin-right: 0;

            .facebook-login,
            .google-login {
                @include span-columns(12);
                margin: 8px 0 0 0;
                background: #5070a9;
                height: 40px;
                padding: 11px 11px 11px 65px;
                position: relative;

                .-ico {
                    position: absolute;
                    left: 35px;
                    font-size: 22px;
                    top: 5px;
                    color: $c-white;

                    &:before {
                        @extend .-facebook-square;
                    }

                }

                a {
                    font-weight: bold;
                    color: $c-white;
                    font-size: 14px;

                    @include media($medium-resolution) {
                        font-size: 12px;
                    }

                }

            }

            .google-login {
                background: #D64937;

                .-ico {
                    top: 7px;
                    left: 30px;
                    
                    &:before {
                        @extend  .-google-plus;
                    }

                }

            }

        }

        .block-account {
            margin-bottom: 25px;
            font-family: $f-avalon;

            .block-title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
                border-top: 4px solid $c-black;
                padding: 5px 0;
                letter-spacing: 1px;

                @include media($medium-resolution) {
                    font-size: 14px;
                    letter-spacing: 2px;
                }

            }

            .block-content {

                li {
                    font-size: 14px;
                    margin: 8px 0;
                    text-transform: capitalize;
                }

            }

        }

    }

    .button-reorder {
        display: none;
    }

    @import "../components/customer-account_dashboard";

}

@import "../components/customer-account_edit";
@import "../components/customer-account_address";
@import "../components/customer-account_cards";
@import "../components/customer-account_sales";
