#bseller-socialconnect_top50 {
    width: 642px;
    margin: 30px auto 0 auto;
    padding-right: 36px;

    #bseller-socialconnect_step-title {
        margin-bottom: 30px;
        text-align: left;
    }

    .content.fieldset {
        float: left;

        .title-confirm {
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 15px;
        }
    }
    #bseller-socialconnect_step-2-form {
        float: right;
        width: 310px;
        display: none;

        p.image-seph-bc-top{
            background-image: url($logo-beauty-club-image);
            width: $logo-beauty-club-width;
            height: $logo-beauty-club-height;
            background-position-x: $logo-beauty-club-offset-x;
            background-position-y: $logo-beauty-club-offset-y;
            margin: 0 auto 15px auto;
        }

        p.text-bc-top {
            font-size: 15px;
        }
        .input-box {

            label {
                font-size: 15px;

                a {
                    color: $c-red-light;
                }

                .faq-help {
                    display: none;
                }
            }
        }
    }
    #bseller-socialconnect_cpf-div {
        width: 250px;
        margin:0 auto;
    }

    #bseller-socialconnect_step-2 {
        display:none;
        width: 250px;
        margin:0 auto;
    }

    .bseller-socialconnect_hidden {
        display: none;
    }

    #bseller-socialconnect_btn-register-div {
        width: 250px;
        margin:0 auto;
        display:none;
    }

}

.col-2.new-users {

    li.text-join-bc {
        float: left;
        font-size: 12px;
        margin-top: 6px;
    }

    .terms-conditions-bc {
        color: $c-red-light;
    }

    .faq-help {
        display: none;
    }

}





