.catalog-product-view {

	.container-barra {
		display: none;
	}

	.container-qty-available {
		text-align: center;
		padding: 0px 0px 8px 0px;
		font-family: $f-sephoraSerif;

		span {
			color: $c-dark-primary;
		}

	}

	.loader-qty-stock-container {
		text-align: center;
	}

	.nav {
		border-bottom: 1px solid $c-gray-light;
	}

	.advantages-bar {
		padding: 10px 0;

		@include media($medium-resolution) {
			padding: 10px 20px;
		}

	}

	.main-container {
		@include outer-container(100%);
		float: left;
		margin-top: 0;
	}

	.breadcrumbs {
		@include outer-container;
		@extend .clearfix;
		padding: 20px 0;
		clear: both;
		width: auto;
		float: none;

		@include media($medium-resolution) {
			padding: 20px;
		}

	}


	.shipping-estimate {
		@include span-columns(12);

		li {
			@include span-columns(12);

			label, .faq-help {
			    display: inline-block;
			    vertical-align: middle;
			    margin-bottom: 0;
			    line-height: 30px;
			    text-transform: uppercase;
			    font-size: 12px;
			}

			.faq-help {
				margin-left: 5px;
				line-height: initial;
				background: $c-gray-dark;
				line-height: 20px;

				&:hover {
					color: $c-white;
				}

			}

			.input-box {
				@include span-columns(9.8);

				input {
					padding: 8px;
					margin-bottom: 4px;
				}

			}

			.button {
				@include span-columns(2);
				float: right;
				padding: 0;
				font-size: 10px;
				letter-spacing: initial;
				height: 32px;
				line-height: 32px;				
			}

			&.no-postcode {

				a {
					color: $c-gray-dark;
					font-size: 10px;
					text-decoration: underline;
					font-style: italic;
				}

			}

		}

		.shipping-estimate-loading-message {
			text-align: center;

			img {
				width: 40%;
			}

		}

		.shipping-results {
			@include span-columns(12);
			font-size: 12px;

			table {

				tr {

					th, td {
						padding: 5px 0;
						line-height: 16px;

						&:nth-child(2) {
							padding: 5px 10px;
							width: 70%;
						}

					}

					th {
						text-transform: uppercase;
					}

				}

			}

		}

	}

}

.full-container {
	clear: both;
	position: relative;
	overflow: hidden;

	&:before {
		background-color: $c-gray-light;
		content: " ";
		height: 100%;
		width: 50%;
		position: absolute;
		right: 0;
		top: 57px;
		display: block;
		z-index: -1;
	}

	.col-infos {
		@include span-columns(9);
		@include omega;
		@extend .clearfix;
		background-color: $c-white;
		min-height: 800px;
		padding-right: 1.5%;

		@include media($medium-resolution) {
			padding-left: 20px;
		}

		.col-images {
			@include span-columns(5 of 9);
			min-height: 400px;
			margin-bottom: 0;
			margin-top: $base-margin;
			@import "../components/detail_media";
		}

		.col-bundle {
			@include span-columns(4 of 9);
			min-height: 400px;
			margin-bottom: $base-margin;
			margin-top: 40px;
			@include omega;
			@import "../components/detail_product-bundle";
			@import "../components/detail_sharing";

			.load {
				min-height: 550px;
				text-align: center;

				img {
					padding-top: 50%;
				}

			}

		}

		.section-infos {
			@include outer-container(100%);
			@extend .clearfix;
			clear: both;
			float: left;
			margin-top: 0;
			width: 100%;

			.anchors {
				@include outer-container(100%);
				margin-bottom: $base-margin;
				border-bottom: solid 1px $c-black;
				position: relative;

				&:before {
					content: " ";
					width: 300%;
					height: 1px;
					position: absolute;
					bottom: -1px;
					right: 100%;
					background-color: $c-black;
					display: block;
				}

				li {
					display: inline-block;

					&:first-child {
						.anchor {
							border-bottom: solid 3px $c-dark-primary;
							font-weight: bold;
						}

					}

					.anchor {
						display: block;
						text-transform: uppercase;
						font-family: $f-avalon;
						color: $c-black;
						padding: 0 10px;
						margin-bottom: -1px;
						font-size: 15px;
						line-height: 28px;

						h2 {
							font-size: 14px;
							line-height: 28px;
						}

						@include media($medium-resolution) {
							font-size: 12px;
							padding: 0 5px;
						}

					}

				}

			}

			.info-content {
				margin-bottom: ($base-margin * 2);
				position: relative;
				padding-left: 10px;
				float: left;
				width: 100%;

				&.bg-grey {
					background-color: $c-gray-light;
					padding: 20px 20px 20px 0;

					&:before {
						content: " ";
						width: 300%;
						height: 100%;
						position: absolute;
						top: 0;
						right: 100%;
						background-color: $c-gray-light;
						display: block;
					}

				}

				.std {
					font-size: 14px;
					line-height: 18px;
					display: block;
					color: $c-black;
					font-family: $base-font-family;
				}

				.head {
					@include outer-container(100%);
					border-bottom: solid 1px $c-black;
					position: relative;

					&:before {
						content: " ";
						width: 300%;
						height: 1px;
						position: absolute;
						bottom: -1px;
						right: 100%;
						background-color: $c-black;
						display: block;
					}

					span {
						padding: 0 10px;
						text-transform: uppercase;
						margin-bottom: -1px;
						font-family: $f-avalon;
						font-weight: bold;
						display: inline-block;
						border-bottom: solid 3px $c-dark-primary;

						h2 {
							font-size: 15px;
							line-height: 28px;
						}

					}

				}

				@import "../components/detail_reviews";
			}

		}

	}

	.col-actions {
		min-height: 1600px;
		@include span-columns(3);
		padding: 0 0 0 20px;

		.box-fixed {
			margin: 20px 0;
		}

		.is_stuck {
			.brand-image {
				display: none;
			}

			.product-shop {
				margin-top: 60px;
			}

		}

		.product-shop {
			.brand-image {
				@include outer-container(100%);
				margin-bottom: ($base-margin / 2);
				text-align: left;

				img {
					margin-bottom: ($base-margin / 3);
				}

			}

			.product-name {
				text-transform: uppercase;
				margin-bottom: ($base-margin / 2);
				margin-top: 60px;

				h1 {
					font-family: $base-font-family;
					font-weight: bold;
					font-size: 12px;
					line-height: 14px;
				}

			}

			.ratings {
				@include outer-container(100%);
				margin-bottom: ($base-margin / 2);

				.rating-box {
					margin: 0;
					display: inline-block;
				}

			}

			.flags {
				border-bottom: $base-border;
				padding-bottom: ($base-margin / 2);

				.flag-content {
					margin-bottom: 0;
				}

			}

		}

		.add-to-cart-wrapper {
			margin: ($base-margin / 2) 0;

			.price-info-grouped {
				margin: 15px 0 30px 0;

				.selected-count {
					color: darken($c-gray, 20);
					font-size: 10px;
					text-transform: uppercase;
					margin-bottom: 20px;

					.number {
						position: relative;
						top: 1px;
						font-size: 12px;
						font-weight: bold;
						color: $c-black;
						margin-right: 3px;
					}

				}

				.total-text {
					margin-bottom: 5px;
					font-size: 10px;
					text-transform: uppercase;
				}

				.price {
					margin-bottom: 5px;
					font-size: 14px;
					text-decoration: line-through;
					text-transform: uppercase;
					color: darken($c-gray, 20);
				}

				.installments {
					font-size: 14px;
					margin-bottom: 5px;
					font-weight: bold;
					color: $c-black;
					text-transform: uppercase;
				}

				.final-price {
					text-transform: uppercase;
					font-size: 20px;
					font-weight: bold;
					color: $c-black;
					margin-bottom: 2px;
				}

			}

			.error-grouped {
				margin: 20px 10px;
				color: $c-dark-primary;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: bold;
				position: relative;
				padding-left: 40px;

				&:before {
					content: '!';
					position: absolute;
					left: 6px;
					top: -5px;
					display: block;
					font-family: $f-avalon;
					font-size: 18px;
					border: 1px solid;
					@include border-radius(50%);
					@include size(25px);
					text-align: center;
				}

			}

			.price-info,
			.product-options {
				display: none;
			}

			.price-box {
				display: none;
			}

			.add-to-cart {

				.qty-wrapper {
					display: none;
				}

				.add-to-cart-buttons {
					position: relative;

					.btn-cart {
						width: 100%;
						margin-bottom: ($base-margin / 2);
						height: inherit;
						line-height: inherit;
						padding: 8px 1.5em;

						&:disabled {
							background: $c-dark-primary url('../../images/opc-ajax-loader-white.gif') no-repeat 95% center;
						}

						&:before {
							@extend .-lock;
						}

					}

					.frete-gratis {
						display: block;
						color: $c-dark-primary;
						background: $c-gray;
						text-transform: uppercase;
						font-size: 10px;
						font-weight: bold;
						padding: 10px 0;
						width: 100%;
						text-align: center;
						letter-spacing: 2px;
						margin: -10px 0 10px 0;
					}

					.one-click {
						width: 100%;
						margin-bottom: ($base-margin / 2);
						font-weight: normal;
						font-size: 11px;
						overflow: visible;
						height: inherit;
						line-height: inherit;
						padding: 10px 1.5em;

						span {
							font-weight: bold;
						}

						@include media($medium-resolution) {
							font-size: 8px;
						}

					}

					.icon-oneclick {
						display: none;
						position: absolute;
						right: -10px;
						bottom: 22px;
					}

				}

			}

			.or {
				display: none;
			}

			.add-to-links {
				.link-wishlist {
					border: 0;
					font-size: 12px;
					font-family: $base-font-family;
					letter-spacing: 2px;
					width: 100%;
					color: $c-black;

					&:hover {
						color: $c-dark-primary;

						&:before {
							color: $c-dark-primary;
						}

					}

					&:before {
						@extend .-favorite;
						color: $c-black;
						margin-top: -2px;
					}

				}

			}

			.sharing-links {
				display: none;
			}

			.alert-stock {
				a {
					font-family: $f-avalon;
					background: none;
					letter-spacing: 2px;
					font-size: 13px;
					width: 100%;
					height: 45px;
					line-height: 43px;
				}

			}

			.bc-point-view {
				font-size: 13px;
				font-weight: bold;
				margin-top: 12px;
			}

			.free-shipping-message-rules {
				font-size: 13px;
				padding-top: 10px;
			}

			&.bundle {
				.price-info {
					display: block;

					.price-box {
						display: block;
					}

					.price-label,
					.price {
						display: none;
					}

					.full-product-price {
						text-transform: uppercase;
						font-size: 20px;
						font-weight: bold;
						color: $c-black;
						margin-bottom: 2px;

						.price {
							display: block;
						}

					}

				}

				.installments {
					font-size: 14px;
					margin-bottom: 5px;
					font-weight: bold;
					color: $c-black;
					text-transform: uppercase;
				}

				.bc-point-view {
					margin-bottom: 10px;
				}

			}

		}

	}

	.row-products {
		background-color: $c-white;
		@include outer-container(100%);
	}

	.brands-view {
		@include span-columns(12);
		margin: 40px 0;

		.col-1 {
			@include span-columns(4);
		}

		.col-2 {
			@include span-columns(8);
			font-size: 14px;
			line-height: 20px;
			text-align: justify;
			font-family: $base-font-family;
		}

	}

	.how-to-use {
		@include span-columns(12);
		margin: 40px 0 0 0;

		.col-1 {
			@include span-columns(7);

			iframe {
				width: 100%;
			}

			&.center {
				@include span-columns(12);
				text-align: center;

				iframe {
					width: 60%;
				}

			}

		}

		.col-2 {
			@include span-columns(5);
			float: right;
			font-size: 14px;
			line-height: 20px;
			text-align: justify;
			font-family: $base-font-family;

			&.center {
				@include span-columns(12);
			}

		}

	}

	.ingredients {
		@include span-columns(12);
		margin: 40px 0 0 0;
		font-size: 14px;
		line-height: 20px;
		text-align: justify;
		font-family: $base-font-family;
	}

}

/** Show the tooltips of the promotional flags **/
.tooltip {
	position: relative;
	left: 186px;
	top: -19px;
	background-color: #cccccc;
	width: 22px;

	.tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: #FFFFFF;
		font-size: 10px;
		color: #000000;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 0.3s;
	}

	.tooltiptext::after {
		content: "";
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: #FFFFFF transparent transparent transparent;
	}

}

.tooltip:hover {
	.tooltiptext {
		visibility: visible;
		opacity: 1;
	}

}
