.bseller-giftshowcase-index-index {

    .breadcrumbs {
        display: none;
    }

    .col-main {
        margin-top: 0;
    }

    .main {

        .block-layered-nav {
            margin-top: 0;

            dt {

                &:after {
                    display: none;
                }

            }

        }

        .product-container {

            .flag-agreements {
                font-size: 10px;
                text-decoration: underline;

                a:hover {
                    color: $c-black;
                }

            }

            .product-infos {
                padding-top: 16px;
            }

        }

    }

}
