.institucional {

    .col2-left-layout {

        .col-left {
            @include span-columns(2);
        }

        .col-main {
            @include span-columns(10);
        }

    }

    .main {
        @include span-columns(12);
        margin: 20px 0 100px 0;

        .breadcrumbs {
            display: none;
        }

        .dinamic-sidebar {
            font-family: $f-avalon;

            h2 {
                font-size: 16px;
                text-transform: uppercase;
                padding: 10px 0;
                letter-spacing: 1px;
                border-top: 4px solid;
            }

            li {
                font-size: 14px;
                margin: 8px 0;

                &.current {
                    font-weight: bold;
                    color: $c-dark-primary;
                }

            }

        }

        .col-main {

            .page-title {
                border-top: 4px solid;

                h1 {
                    font-family: $f-avalon;
                    font-size: 26px;
                    text-transform: uppercase;
                    padding: 40px 0;
                    letter-spacing: 2px;
                }

            }

            .std {
                font-size: 12px;
                line-height: 20px;
            }

        }

    }

}
