.manufacturer-index-index {

    .main {

        .page-title {
            position: relative;
            margin: 40px 0;

            h1 {
                z-index: 1;
                position: relative;
                margin: 0 auto;
                width: 22%;
                text-align: center;
                font-size: 34px;
                font-family: $f-sephoraSerif;
                font-style: italic;
                font-weight: 400;
                background: $c-white;

                span {
                    font-family: $f-sephoraSerif;
                    font-style: italic;
                    font-weight: 600;
                }

            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                border-bottom: 1px solid $c-gray;
                width: 30%;
                top: 23px;
            }

        }

        .filter {
            width: 100%;
            margin: 0 auto 20px auto;
            border-bottom: 1px solid $c-black;
            text-align: center;

            li {
                font-family: $f-avalon;
                font-size: 16px;
                text-transform: uppercase;
                padding-bottom: 10px;
                margin: 0 2%;
                position: relative;
                @include inline-block();

                a {

                    &:hover,
                    &:active {
                        color: $c-black;
                    }

                }

                &.active {
                    font-weight: bold;

                    &:after {
                        content: '';
                        height: 4px;
                        background: $c-black;
                        width: 115%;
                        position: absolute;
                        bottom: 0;
                        left: -5px;
                    }

                }

            }

        }

        .manufacturers-list {
            @include span-columns(12);
            margin-bottom: 20px;

            .item {
                @include span-columns(1.8);
                @include omega(6n);
                margin-right: 3.6%;
                margin-top: 20px;
                margin-bottom: 20px;
                border: 1px solid $c-gray;
                padding: 10px;
                text-align: center;

                &:hover {
                    border-color: $c-dark-primary;
                }

            }

        }

        .categories-list {
            @include span-columns(12);
            margin-bottom: 20px;

            .box-title {
                display: none;
            }

            .scrool {

                & > ul {
                    @include span-columns(1.8);
                    @include omega(6n);
                    margin-right: 3.6%;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    li {
                        text-transform: uppercase;
                        font-size: 14px;

                        ul {
                            @include span-columns(12);
                            margin: 5px 0;

                            li {
                                font-size: 12px;
                                padding: 5px 0;
                            }

                        }

                    }

                }

            }

        }

    }

}

.manufacturer-index-view {

    .main {
        margin: 20px 0 60px 0;

        .breadcrumbs {
            @include span-columns(2.2);
            padding: 0;
            margin-right: 0;
            margin-bottom: 10px;
        }

        .page-title {
            @include span-columns(8);

            h1 {
                font-size: 10px;
                text-transform: uppercase;
            }

        }

        .manufacturer-logo {
            @include span-columns(12);
            margin-right: 0;
            padding: 0 0 10px 0;
            text-align: center;
        }

        .manufacturer-info {
            @include span-columns(12);

            .col {
                @include span-columns(12);
            }

            .col-1 {
                @include span-columns(8);
                padding: 20px;

                .manufacturer-logo {
                    text-align: left;
                }

            }

            .col-2 {
                @include span-columns(4);
                margin-right: 0;

                img {
                    width: 100%;
                }

            }

            .manufacturer-description {

                .logo {
                    margin-bottom: 20px;
                }

                .description {
                    font-size: 14px;
                    line-height: 20px;

                    p {
                        margin-bottom: 20px;
                    }

                }

            }

        }

        .sidebar {
            font-family: $f-avalon;
            margin-right: 5%;

            .box {
                @include span-columns(12);

                .box-title {
                    background: $c-black;
                    padding: 10px 10px 10px 20px;

                    h2 {
                        font-size: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                        color: $c-white;
                        letter-spacing: 1px;
                    }

                }

                .box-content {
                    margin: 20px 0;
                    padding-left: 15px;

                    li {
                        font-size: 12px;
                        text-transform: uppercase;
                        margin: 15px 0;
                        font-weight: bold;

                        ul {
                            padding-left: 10px;

                            li {
                                font-weight: normal;
                                margin: 10px 0;
                            }

                        }

                    }

                    &.categories {

                        .cat-list {

                            & > li {
                                cursor: pointer;
                                position: relative;

                                &:after {
                                    @extend .-arrow_bottom;
                                    position: absolute;
                                    top: 0;
                                    right: 10px;
                                    font-size: 16px;
                                    color: $c-dark-primary;
                                }

                                &.active {

                                    &:after {
                                        @extend .-arrow_top;
                                    }

                                }

                                .sub-cat-list {
                                    display: none;
                                }

                            }

                        }

                    }

                    &.exclusive {
                        height: 200px;
                        overflow: hidden;

                        li {
                            display: block;
                            font-weight: normal;
                        }

                    }

                    &.too-manufacturers {

                        .box-search {
                            position: relative;

                            .search {
                                font-weight: normal;
                                font-style: italic;
                                margin: 15px 0;
                                padding: 8px 10px;
                                width: 100%;
                                border-color: $c-black;
                                font-size: 11px;
                            }

                            &:after {
                                @extend .-search;
                                cursor: pointer;
                                font-size: 15px;
                                position: absolute;
                                right: 10px;
                                top: 8px;
                            }

                        }

                        .alphas {
                            border-bottom: $base-border;
                            padding-bottom: 10px;

                            a {
                                @include inline-block();
                                text-transform: uppercase;
                                width: 15%;
                                margin: 10px 0;
                                text-align: center;
                                padding-right: 10px;

                                &.active {
                                    font-weight: bold;
                                    color: $c-dark-primary;
                                }

                            }

                        }

                        .brands-aplhas {
                            height: 200px;
                            margin-top: 20px;
                            overflow: hidden;

                            li {
                                display: block;
                                font-weight: normal;

                                &.alpha {
                                    font-size: 16px;
                                    font-weight: bold;
                                }

                            }

                        }

                    }

                }

            }

        }

        .col-main {
            @include span-columns(9);
        }

    }

}

.manufacturer-brand-view {
    width: 100%;
    font-weight: bold;
    position: relative;
    top: 33px;
}