.cms-no-route {

    .page-header {

        &.fixed {
            position: initial;
        }

    }

    .main {
        background: url('../../images/media/bg-no-route.jpg') no-repeat right 56px;

        .advantages-bar {
            padding: 12px 0;
            background: $c-white;
        }


        .std {

            table {

                tr {

                    &:first-child {

                        td {
                            font-family: $base-font-family;
                            height: 370px;

                            p {
                                font-size: 25px;
                                text-transform: uppercase;
                                line-height: 0;
                            }

                            h1 {
                                font-size: 100px;
                                text-transform: uppercase;
                                font-weight: normal;
                                position: relative;

                                strong {
                                    font-weight: normal;
                                    color: $c-gray-dark;
                                    padding-left: 8px;

                                    &:before {
                                        content: '';
                                        height: 120px;
                                        width: 3px;
                                        background: $c-black;
                                        position: absolute;
                                        margin-left: -5px;
                                    }

                                }

                            }

                            h2 {
                                font-weight: normal;
                                font-size: 18px;
                                color: $c-gray-dark;
                                padding-top: 10px;
                            }

                        }

                    }

                    &:last-child {

                        td {
                            padding: 10px;

                            &:first-child {
                                padding-left: 0;
                            }

                            &:last-child {
                                padding-right: 0;
                            }

                            img {
                                width: 100%;
                            }

                        }

                    }

                    td {
                        border: 0;
                    }

                }

            }

        }

    }

}
