.page-print {
    font-family: $base-font-family;
    background: $c-white;
    font-size: 14px;
    padding: 20px;

    .col-1,
    .col-2 {
        @include span-columns(6);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-family: $f-avalon;
        font-size: 27px;
        padding: 20px 0;
        text-transform: uppercase;
    }

    h2 {
        font-family: $f-avalon;
        font-size: 13px;
        border-bottom: 2px solid $c-black;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 10px;
        text-transform: uppercase;
        padding-bottom: 5px;
    }

    &.sales-order-print {

        .totals {
            width: 100%;
            float: left;
            border: 0;
            margin-top: 20px;

            tbody {
                float: right;

                tr {
                    float: left;
                    margin-right: 40px;

                    td {
                        border: 0;
                        font-weight: normal;
                        text-transform: uppercase;

                        &:first-child {
                            display: block;
                            font-family: $f-avalon;
                            font-weight: 600;
                            font-size: 15px;
                            letter-spacing: 1px;
                            padding-top: 3px;
                            padding-bottom: 0;

                            strong {
                                font-weight: 600;
                            }

                        }

                        &:last-child {
                            font-family: $base-font-family;
                            font-weight: bold;
                            font-size: 18px;
                        }

                    }

                    &:last-child {
                        margin-right: 0;
                    }

                }

            }

        }

    }

}
