.dynamicsitemap-index-index {

    .main {
        margin-bottom: 50px;

        .page-title {
            padding: 10px 0;
            border-bottom: 3px solid $c-black;

            h1,
            h2 {
                font-family: $f-sephoraSerif;
                font-size: 40px;
                font-weight: bold;
                font-style: italic;
                padding: 20px 0 0 0;
            }

        }

        .site-map {

            list-style-type: none;

            .cms-pages {
                @include span-columns(12);
                margin: 0 0 40px 0;

                li {
                    @include span-columns(3 of 12);
                    @include omega(4n);

                    dl {
                        margin: 0;
                        font-size: 14px;

                        dt {
                            margin: 30px 0 15px 0;
                        }

                        dd {
                            margin: 10px 0;
                        }

                    }

                }

            }

            .categories {
                font-size: 14px;

                .level0 {
                    @include span-columns(12);
                    margin: 0 0 40px 0;

                    .sub-title {
                        font-family: $f-sephoraSerif;
                        font-size: 40px;
                        font-weight: bold;
                        font-style: italic;
                        padding: 20px 0 0 0;
                    }

                    ul {
                        @include span-columns(12);
                        margin: 10px 0 0 0;
                        border-top: 3px solid $c-black;
                        padding-top: 30px;
                    }

                    .level1 {
                        @include span-columns(3 of 12);
                        @include omega(4n);
                        margin-bottom: 40px;

                        a {
                            margin: 30px 0 15px 0;
                            font-weight: bold;
                        }

                        ul {
                            margin: 0;
                            border: 0;
                            padding: 10px 0 0 0;

                            .level2 {
                                margin: 10px 0;

                                a {
                                    font-weight: normal;
                                }

                            }

                        }

                    }

                }

            }

        }

    }

}
