.esmart-storelocator-index-index {

    .page-header {

        &.fixed {
            position: initial;
        }

    }

    .col2-left-layout {

        .col-left {
            position: absolute;
            z-index: 1;
            float: left;
            display: block;
            width: 320px;
            background: $c-white;
            padding: 15px;
            height: 550px;
        }

        .col-main {
            width: 100%;
        }

    }

    #google_maps_canvas {

        .gmnoprint {
            display: none;
        }

    }

    .main {
        height: 505px;

        .page-title {
            margin: 10px 0;

            h1 {
                font-family: $f-avalon;
                font-size: 19px;
                text-transform: uppercase;
            }

        }

        .label {
            font-family: $base-font-family;
            font-size: 14px;
            margin-bottom: 10px;
            color: $c-gray-dark;
        }

        .form-inputs {

            li {
                @include span-columns(6);
            }

        }

        .list-stores {
            height: 380px;
            overflow: hidden;
            @include span-columns(12);

            li {
                @include span-columns(12);
                margin: 10px 0;
                padding-left: 30px;
                font-size: 15px;
                color: $c-gray-dark;
                position: relative;
                cursor: pointer;
                border-left: 3px solid $c-white;

                &:before {
                    @extend .-place;
                    font-size: 18px;
                    color: $c-black;
                    position: absolute;
                    left: 6px;
                    top: 7px;
                }

                &.active {
                    background: $c-gray-light;
                    border-color: $c-black;
                }

                b {
                    font-family: $f-avalon;
                    padding-bottom: 10px;
                    line-height: 30px;
                    color: $c-black;
                }

            }

        }

    }

    .footer-container {
        margin-top: 50px;
    }

}
