.checkout-onepage-success {

    .steps {
        margin-top: 30px;

        p {
            float: none;
            @include inline-block();
        }

    }

    .dashboard {
        @include span-columns(12);
        text-align: center;
        margin-bottom: 60px;

        .page-title {
            position: relative;
            margin-top: 30px;

            h1 {
                font-family: $f-avalon;
                font-size: 25px;
                text-transform: uppercase;
                font-weight: normal;
                line-height: 60px;
                letter-spacing: 5px;

                span {
                    font-weight: 600;
                    color: $c-dark-primary;
                }

            }

        }

        p {
            font-size: 14px;

            &.success {
                font-size: 18px;
                line-height: 36px;

                b {
                    font-weight: bold;
                }

            }

        }

        .button-follow {
            @include span-columns(12);
            text-align: center;
            margin-top: 20px;

            .button {
                width: 230px;
                height: 45px;
                font-size: 12px;
                letter-spacing: 0;
                line-height: 40px;
            }

        }

    }

    .info-content {
        @include span-columns(12);
        margin-right: 0;
        padding-bottom: 50px;
        border-bottom: $base-border;

        .info-shipping-address,
        .info-shipping-method,
        .info-payment-method {
            @include span-columns(4);

            .action-title {
                font-family: $f-avalon;
                font-weight: bold;
                text-transform: uppercase;
                padding: 5px 0 15px 0;
                border-top: 4px solid;
                letter-spacing: 2px;

                h3 {
                    font-size: 17px;
                }

            }

            .action-content {
                font-size: 14px;
                line-height: 24px;

                .sub-title {
                    font-weight: bold;
                    font-size: 16px;
                }

                .flag {
                    text-transform: uppercase;
                    font-weight: bold;
                    position: relative;
                    padding-left: 45px;
                    margin: 10px 0;

                    img {
                        position: absolute;
                        left: 0;
                    }

                }

                .installment {
                    margin-bottom: 10px;

                    b {
                        display: block;
                        font-size: 16px;
                        margin-bottom: -10px;
                    }

                }

                .line {
                    font-size: 12px;
                    text-align: center;
                }

                .billet-info {
                    @include span-columns(12);

                    .col-1,
                    .col-2 {
                        @include span-columns(12);
                    }

                    .col-1 {
                        font-size: 12px;

                        p {
                            line-height: 20px;
                        }

                    }

                    .button {
                        margin-top: 10px;
                        width: 100%;
                        height: 50px;
                        font-size: 13px;
                        letter-spacing: 2px;
                        line-height: 40px;
                    }

                }

            }

        }

    }

    .info-items-totals {
        @include span-columns(12);
        position: relative;
        margin-bottom: 60px;

        .steps {
            display: none;
        }

        .buttons-set {
            @include span-columns(12);
            position: absolute;
            margin-bottom: 60px;
            text-align: center;
            margin-top: 30px;

            button {
                width: 290px;
                height: 45px;
                letter-spacing: 0;
                line-height: 38px;
                float: none;
                display: inline-block;
            }

        }

        .ebit {
            @include span-columns(12);
            text-align: center;
        }

    }

    .ebit-checkout-success {
        text-align: center;

        a {
            display: inline-block !important;
        }

    }

}

@import "../components/order-items";
