<?php
$helper  = Mage::helper('bseller_serpini');

/** @var BSeller_Serpini_Block_DownloadReport $reports */
$reports = $this->getReports();

?>
<div id="bseller-serpini-exported" class="bseller-serpini-exported">
    <div class="switcher">
        <div class="content-header">
            <table cellspacing="0">
                <tbody><tr>
                    <td style="width:50%;">
                        <h3 class="icon-head head-report-customer-totals"><?php echo $helper->__('Report Download');?></h3>
                    </td>
                </tr>
                </tbody></table>
        </div>
        <span id="exported-report" >
            <table class="actions">
            <?php
            $dir = $helper->getDir().$helper->getFilePath();

            $count = 0;

            foreach ($reports as $report):
                $file = $dir.$report;
                $extension = substr($file, -4);
                if (file_exists($file)
                    && is_file($file)
                    && ($extension == '.csv' || $extension == '.zip')
                ) :
                ?>

                <tr>
                    <td>
                        <div class="switcher">
                <p><?php echo $helper->__('Report');?> <strong><?php echo $report;?></strong></p>
                <p><?php echo $helper->__('Updated At');?>: <em><?php echo $helper->fileUpdatedAtInfo($file);?></em></p>
                <p><?php echo $helper->__('File Size');?>: <em><?php echo $helper->humanFileSize($helper->getFileSize($file));?></em></p>
                <p><span class="button"><a href="<?php echo Mage::helper('adminhtml')->getUrl('*/*/index');?>?file=<?php echo $report;?>">Download</a></span> <a href="<?php echo Mage::helper('adminhtml')->getUrl('*/*/index');?>?deleteFile=<?php echo $report;?>"><?php echo $helper->__('delete');?></a></p>
                        </div>
                        <hr />
                    </td>
                </tr>
                <?php
                    $count++;
                endif;
            endforeach;

            if ($count == 0) :
                echo $helper->__('Please export some report');
            endif;
            ?>
            </table>
        </span>
    </div>
</div>