<div class="bseller-serpini">
    <div>
        <table>
            <tr>
                <td>Arquivo</td>
                <td>Criado</td>
            </tr>
            <tr>
                <td>arquivo.csv</td>
                <td>2017</td>
            </tr>
        </table>
    </div>
    <form id="bseller-serpini-export" method="post" action="<?php echo Mage::getUrl('adminhtml/exportSerpiniReport/index', array('_secure' => Mage::app()->getStore()->isCurrentlySecure()));?>">
        <?php echo $this->getBlockHtml('formkey')?>
        <input type="hidden" id="bseller-serpini-export-id" name="id" value="" />
    </form>
</div>
<script type="text/javascript">

</script>