<?php
    $block_data = $this->getBlockData();
    $blocks = $block_data['block'];
    $banners = $block_data['banners'];
?>
<div class="content-banners">
    <div id="<?php echo $blocks['bannerslider_id'] ?>">
        <?php foreach ($banners as $banner): ?>
            <a href="<?php echo $banner['click_url']?>" target="<?php echo $this->getTarget($banner['tartget'])?>"  style="display:block"><img alt="<?php echo $banner['image_alt'];?>" src="<?php echo $this->getBannerImage($banner['image']); ?>"/></a>
        <?php endforeach; ?>
    </div>
</div>
