<?php
    $block_data = $this->getBlockData();
    $blocks = $block_data['block'];
    $banners = $block_data['banners'];
?>
<div class="top-banners">
    <div id="<?php echo $blocks['bannerslider_id'] ?>" class="swiper-container">
        <ul class="swiper-wrapper">
            <?php foreach ($banners as $banner): ?>
                <div class="swiper-slide">
                    <li>
                        <a href="<?php echo $banner['click_url']?>" target="<?php echo $this->getTarget($banner['tartget'])?>"  style="display:block">
                            <img alt="<?php echo $banner['image_alt'];?>" data-src="<?php echo $this->getBannerImage($banner['image']); ?>" class="swiper-lazy" />
                        </a>
                    </li>
                </div>
            <?php endforeach; ?>
        </ul>
    </div>
    <div id="<?php echo $blocks['bannerslider_id'] ?>-swiper-pagination" class="swiper-pagination relative"></div>
    <script type="text/javascript">
        var topBanners = new Swiper('#<?php echo $blocks['bannerslider_id'] ?>', {
            lazy: {
                loadPrevNext: true,
            },
            autoplay: {
                delay: 5000,
            },            
            pagination: {
                el: '#<?php echo $blocks['bannerslider_id'] ?>-swiper-pagination',
                clickable: true,
            }
        });
    </script>
</div>
