.flexslider {
    border: 0;
    margin: 0;
    @include box-shadow(0px, 0px, 0px, 0px, transparent);

    &:hover {

        .flex-prev {
            left: 0;
        }

        .flex-next {
            right: 0;
        }

    }

}

.flex-control-nav {
    bottom: 20px;

    li {
        margin: 0 15px;
    }

}

.flex-direction-nav {

    a {
        background: none;
        background-color: rgba($c-white, 0.7);
        width: 50px;
        height: 140px;
        top: 35%;
        color: transparent;
        z-index: 1;

        &:hover {
            color: transparent;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 33%;
        }

        &.flex-prev {

            &:before {
                @include sprite($slider-prev);
                right: 15px;
            }

        }

        &.flex-next {

            &:before {
                @include sprite($slider-next);
                left: 15px;
            }

        }

    }

}

.flex-control-paging {

    li {

        a {
            background: transparent;
            border: 2px solid $c-black;
            opacity: inherit;
            @include size(12px);

            &.flex-active {
                background: $c-black;
            }

        }

    }

}

.banners-top {
    @include outer-container;
}
