.cs-select {
  display: inline-block;
  position: relative;
  text-align: left;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  width: 100%;
  transition: all .2s ease;
  -webkit-touch-callout: none;
  user-select: none;
  overflow: hidden;
  width: 100%;
  @include box-sizing(border-box);
  
  &.cs-active {
    box-shadow: 0 0 6px rgba(0,0,0,0.15);
    overflow: visible;
    
    .cs-options {
      visibility: visible;
      border: 1px solid rgba(0,0,0,0.2);
      border-top: 0;
    }
  }
  
  &:focus {
    outline: none;
  }
  
  select {
    display: none;
  }
  
  span {
    display: block;
    position: relative;
    cursor: pointer;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .cs-options {
    border: 1px solid rgba(0,0,0,0.2);
    position: absolute;
    left: -1px;
    right: -1px;
    top: 100%;
    visibility: hidden;
    width: 100%;
    background-color: #fff;
    max-height: 200px;
    overflow: auto;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  li {
    &:hover {
      background: #f5f3ec;
    }
    
    &.cs-focus {
      background-color: #ddd;
    }
  }
}
