.swiper-container {
    z-index: 0;
}

.swiper-slide {
    float: left;
}

.swiper-button-prev,
.swiper-button-next {
    background-image: none;
    z-index: 1;

    &:before {
        content: '';
        display: block;
    }

    &.swiper-button-disabled {
        pointer-events: initial;
        cursor: not-allowed;
    }

    &.transparent {
        background: rgba($c-white, 0.7);
        width: 50px;
        height: 140px;
        margin: 0;
        top: 30%;

        &:before {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 34%;
        }

    }

}


.swiper-button-prev {

    &.transparent {
        left: -50px;
    }

    &:before {
        @include sprite($slider-prev);
    }

}

.swiper-button-next {

    &.transparent {
        right: -50px;
    }

    &:before {
        @include sprite($slider-next);
    }

}

.swiper-container-horizontal {

    .swiper-pagination {
        bottom: 20px;
        width: 100%;

        .swiper-pagination-bullet {
            background: transparent;
            border: 2px solid $c-black;
            opacity: inherit;
            margin: 0 15px;
            @include size(12px);

            &.swiper-pagination-bullet-active {
                background: $c-black;
            }

        }

        &.top {
            bottom: 10px;

            .swiper-pagination-bullet {            
                height: 8px !important;
                width: 8px !important;
                border: 1px solid $c-black !important;
            }

        }

    }

}
