.class {
	font-family: $base-font-family;
	font-size: 12px;
	font-weight: normal;
}


.f-base,
.f-avantGarde,
.f-avantGarde-b,
.f-montserrat,
.f-montserrat-b,
.f-myriad,
.f-sephoraSans,
.f-sephoraSans-b,
.f-sephoraSerif,
.f-sephoraSerif-i,
.f-sephoraSerif-600-i,
.f-sephoraSerif-800-i {font-size: 20px; line-height: 26px; display: block;}


.button.primary { @extend .-primary; }
.button.success { @extend .-success; }
.button.error { @extend .-error; }
.button.warning { @extend .-warning; }
.button.link { @extend .-link; }
.button.small { @extend .-small; }
.button.big {
	@extend .-big;
	@extend .-icon;
	@extend .-error;
	&:after {
		@extend .-search;
	}
}
.button.large {
	@extend .-large;
	@extend .-success;
}

.border {
	.button.disabled {
		@extend .-border;
	}
	.button.one {
		@extend .-border;
	}
	.button.primary {
		@extend .-border;
		@extend .-primary;
	}
	.button.success {
		@extend .-border;
		@extend .-success;
	}
	.button.error {
		@extend .-border;
		@extend .-error;
	}
	.button.warning {
		@extend .-border;
		@extend .-warning;
	}
	.button.link {
		@extend .-border;
		@extend .-link;
	}

	.button.small {
		@extend .-border;
		@extend .-small;
	}
	.button.big {
		@extend .-border;
		@extend .-big;
	}
	.button.large {
		@extend .-border;
		@extend .-large;
		@extend .-icon;
		&:after {
			@extend .-search;
		}
	}
}

.with {
	@extend .-icon;
	&.-l {
		&:before {
			@extend .-search;
		}
	}
	&.-r {
		&:after {
			@extend .-search;
		}
	}
}

.button.cart {
	@extend .-border;
	&:before {
		@extend .-search;
	}
}