<?php
/** @var BSeller_ElasticSearch_Block_Adminhtml_System_Config_Form_Button $this */
?>
<script type="text/javascript">
    //<![CDATA[
    function checkConnection() {
        new Ajax.Request('<?php echo $this->getAjaxCheckUrl() ?>', {
            method:    'GET',
            onSuccess: function(transport) {
                var data = transport.responseJSON;
                
                var container = $('connection-message-container');
                
                $(container).removeClassName('success');
                $(container).removeClassName('error');
                
                if (data.connected){
                    $(container).addClassName('success');
                    $(container).update('<?php echo $this->getConnectionSuccessMessage() ?>');
                }
                
                if (!data.connected) {
                    $(container).addClassName('error');
                    $(container).update('<?php echo $this->getConnectionErrorMessage() ?>');
                }
                
                setTimeout(function () {
                    $(container).update('');
                }, 5000);
            }
        });
    }
    //]]>
</script>
<?php echo $this->getButtonHtml() ?>
<p class="note">
    <span id="connection-message-container" class="success"></span>
</p>
