<?php $productId = Mage::registry('current_product')->getId(); ?>
<div class="container-bundle">
    <div class="bloco-estatico-banner"><? echo $this->getLayout()->createBlock('cms/block')->setBlockId('banner-bundle-' . $productId)->toHtml(); ?></div>
    <div class="containter-product-bundle">
        <?php foreach ($this->getOptions($productId) as $id => $option): ?>
            <div class="containter-product-bundle-item">
                <p class="title-option">
                    <span><?php echo $option['number']; ?></span>
                    <?php echo $option['name']; ?>
                    <?php if (!$option['required']): ?>
                        <?php echo $this->__('(optional)'); ?>
                    <?php endif; ?>
                </p>
                <div class="item-bundle-selected">
                    <?php if ($option['required']):?>
                        <img src="<?php echo $this->helper('catalog/image')->init($option['products'][0],'small_image')->resize(80,60); ?>">
                        <div class="name-ref-option">
                            <p class="name-option"><?php echo $option['products'][0]->getName();?></p>
                            <p class="ref-option">Ref: #125546564</p>
                        </div>
                    <?php endif; ?>
                </div>
                <ul class="option-bundle">
                    <?php foreach($option['products'] as $product): ?>
                        <li class="item-bundle"
                            onclick="productBundle.selectOption(
                                'bundle-option-<?php echo $product->getOptionId() ?>',
                                '<?php echo $product->getSelectionId() ?>',
                                '<?php echo $product->getOptionId() ?>')"
                        >
                            <img src="<?php echo $this->helper('catalog/image')->init($product,'small_image')->resize(80,60); ?>">
                            <div class="name-ref-option">
                                <p class="name-option"><?php echo $product->getName(); ?></p>
                                <p class="ref-option">Ref: #125546564</p>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ul>
            </div>
        <?php endforeach; ?>
    </div>
</div>
