@font-face {
    font-family: 'icomoon';
    src: url('../fonticon/icomoon.eot');
    src: url('../fonticon/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonticon/icomoon.woff') format('woff'),
    url('../fonticon/icomoon.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons: (
    "menu" : '\e900',
    "search" : '\e901',
    "cart" : '\e90a',
    "facebook" : '\e906',
    "twitter" : '\e905',
    "youtube" : '\e904',
    "whatsapp" : '\e913',
    "instagram" : '\e903',
    "pinterest" : '\e902',
    "arrow-up" : '\e907',
    "arrow-right" : '\e908',
    "arrow-left" : '\e909',
    "arrow-down" : '\e90b',
    "check" : '\e90c',
    "credit-card" : '\e90d',
    "edit" : '\e90e',
    "product-barcode" : '\e90f',
    "more" : '\e911',
    "less" : '\e910',
    "circle-arrow-down" : '\e912',
    "question" : '\e914',
    "mail" : '\e915',
    "plus" : '\e916',
    "logout" : '\e917',
    "cancel" : '\e918'
);

@each $icon, $content in $icons {

    .icon-#{$icon} {

        &:before {
            content: '#{$content}';
        }

    }

}
