// Colors
$c-black:         #000;
$c-white:         #FFF;

// Brand Color
$c-dark-primary:  #cd0303;

// Grays
$c-gray:          #d7d7d7;
$c-gray-light:    #f2f2f2;
$c-gray-lighten:  #f0f0f0;
$c-gray-dark:     #898989;
$c-gray-header:   #cccccc;

// System
$c-alert-error:   #cd0303;
$c-red-light:     #ff5064;
$c-alert-warning: #cccccc;
$c-alert-success: #000000;
$c-placeholder:   #767676;

// Tipography
$font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-sephoraSerif:     georgia, times, serif;

// Units
$gap: 15px;
