<div style="background-color: #000; color:#fff; font-family: Arial; padding: 3px 5px; font-size: 13px;">
    <p style="text-align: center;">Em caso de dúvidas, entre em contato com nossa central de relacionamento:</p>
    <ul style="list-style: none">
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Capital e regiões <br>metropolitanas:</strong>
            <br>3004-7500
        </li>
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Outras regiões:</strong>
            <br>(21) 3004-7500
        </li>
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Horário de atendimento:</strong>
            <br>Seg à Sex
            <br>8h às 18h
        </li>
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Estado do Rio de Janeiro: </strong>
            <br>0800 722 7500
        </li>
        <li style="display: inline-block; width: 30%;vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            Ou nos envie uma
            <br>mensagem através
            <br>do FALE CONOSCO
        </li>
    </ul>
</div>