<div style="font-family: arial; padding: 5px 0; text-align: left; font-size: 13px; line-height: 1.5; margin: 0 auto; max-width: 740px">
    <ul style="list-style: none; padding-left: 0;">
        <li style="background-color: #000; color:#fff; text-indent: 10px; padding: 4px 0; margin-bottom: 10px; font-size: 14px;">PRAZO DE ENTREGA:</li>
        <li>- O prazo de entrega* varia de acordo com o CEP de destino e começa a ser contado a partir da data de aprovação do pedido.</li>
        <li>- Algumas localidades poderão sofrer alteração no prazo. São elas: AC, AL, AM, AP, BA, CE, MA, MT, PA, PB.</li>
        <li>* Não entregamos aos sábados, domingos e feriados. O horário de entrega é: segunda a sexta, de 8h às 19h.</li>
        <li>- Eventualmente as entregas poderão ocorrer aos sábados, domingos e feriados e fora do horário estabelecido.</li>
        <li>- Algumas localidades poderão ter a entrega realizada pelos correios.</li>
    </ul>

    <ul style="list-style: none; padding-left: 0;">
        <li style="background-color: #000; color:#fff; text-indent: 10px; padding: 4px 0; margin-bottom: 10px; font-size: 14px;">SOBRE A ENTREGA:</li>
        <li>- Serão realizadas 3 (três) tentativas de entrega. Em caso de insucesso, a mercadoria retornará ao centro de distribuição da SEPHORA.</li>
        <li>- Estão autorizados a receber mercadoria: recepcionistas, parentes, secretárias, porteiros - desde que sejam maiores de 18 anos e apresentem, no ato da entrega, documento original com foto;</li>
        <li>- A transportadora não está autorizada a abrir as embalagens ou realizar a entrega por meios "alternativos" (cordas, janelas, telhados, etc);</li>
        <li>- Recuse a entrega caso a embalagem não esteja em condições adequadas ou exista sinais de avaria ou violação do lacre. Caso isso ocorra, avise imediatamente a SEPHORA sobre qualquer divergência.</li>
        <li>- Confira todos os itens de seu pedido no ato da entrega. Identifique se estão danificados e, havendo alguma alteração, entre em contato com a Central de Relacionamento com Clientes Sephora.</li>
    </ul>
    <ul style="list-style: none; padding-left: 0;">
        <li style="background-color: #000; color:#fff; text-indent: 10px; padding: 4px 0; margin-bottom: 10px; font-size: 14px;">INFORMAÇÕES IMPORTANTES:</li>
        <li>- A partir deste momento, não é possível incluir ou excluir itens do pedido, ou alterar os dados pessoais(como endereço de entrega, por exemplo); - Você terá 7 (sete) dias corridos, a contar da entrega da compra, para manifestar-se sobre qualquer divergência ou defeito;</li>
        <li>- TROCA: o prazo de substituição do produto pode levar até 30 dias para ocorrer;</li>
        <li>- CANCELAMENTO da compra: será processado após recebimento do(s) produto(s) em nosso centro de distribuição e for constatado que encontram-se em perfeitas condições. O reembolso do valor poderá ser realizado das seguintes formas;</li>
        <li>1) Cartão de crédito: Estorno solicitado à administradora do cartão (em até 10 dias úteis a partir da confirmação de encaminhamento ao setor responsável, pelo SAC);</li>
        <li>- Para mais detalhes, verifique nossa política de troca e devolução publicada em nosso site.</li>
        <li>2) Boleto Bancário: depósito em conta corrente do comprador.</li>
    </ul>
</div>