                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="http://centralderelacionamento.sephora.com.br/home?utm_source=bseller-transacional&utm_medium=email&utm_campaign=senha_sem_revisao&utm_content=footer" target="_blank" ><img src="{{media url='wysiwyg/email/footer.jpg'}}" alt="Dúvidas" title="Dúvidas" width="auto" height="auto" border="0" style="display:block"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
                            <tr>
                                <td><a href="http://www.facebook.com/sephorabrasil" target="_blank" ><img src="{{media url='wysiwyg/email/facebook.jpg'}}" alt="" title="" width="auto" height="auto" border="0" style="display:block"></a></td>
                                <td><a href="http://www.twitter.com/sephorabrasil" target="_blank" ><img src="{{media url='wysiwyg/email/twitter.jpg'}}" alt="" title="" width="auto" height="auto" border="0" style="display:block"></a></td>
                                <td><a href="https://instagram.com/sephorabrasil" target="_blank" ><img src="{{media url='wysiwyg/email/instagram.jpg'}}" alt="" title="" width="auto" height="auto" border="0" style="display:block"></a></td>
                                <td><a href="http://www.youtube.com/sephorabrasil" target="_blank" ><img src="{{media url='wysiwyg/email/youtube.jpg'}}" alt="" title="" width="auto" height="auto" border="0" style="display:block"></a></td>
                                <td><a href="http://www.pinterest.com/sephorabrasil" target="_blank" ><img src="{{media url='wysiwyg/email/pinterest.jpg'}}" alt="" title="" width="auto" height="auto" border="0" style="display:block"></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
