<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
{{var non_inline_styles}}
<table cellpadding="0" cellspacing="0" border="0" align="center" width="700" style="margin:0 auto">
    <tr>
        <td align="center" style="text-decoration: none;font-family: Tahoma;font-size: 10px;color: #909090;font-style: NORMAL;line-height: 22px;">Não responder este e-mail - E-mail automático.</td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="700" style="background:#ffffff;" bgcolor="#ffffff">
                <tr>
                    <td><a href="http://www.sephora.com.br/?utm_source=bseller-transacional&utm_medium=email&utm_campaign=senha_sem_revisao&utm_content=logo" target="_blank"><img src="{{media url='wysiwyg/email/header.jpg'}}" alt="Sephora" style="display:block;" title="Sephora" border="0" /></a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="700" height="3" align="center">
