<!--@subject Alerta de Monitoramento Sephora ({{var tipoPedido}}) @-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Alerta de Monitoramento</h1>
            <p>Reporte de erro na loja {{var store.getFrontendName()}}, Favor realizar análise. Segue informações:</p>
            <h2>O seguinte teste apontou um problema de caráter urgente.</h2>
            <ul>
                <li>O problema ocorre em: {{var tipoPedido}}</li>
            </ul>
            <p>Verificar e analisar possível instabilidade no sistema.</p>
            <!--<p class="highlighted-text">-->
            <!--{{block type='bseller_monitoring/mail_alert' area='frontend' template='bseller/monitoring/mail/alert.phtml'}} <br/>-->
            <!--</p>-->
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}