<?php if($this->canShowBlock()): ?>
        <?php $style = Mage::getStoreConfig('ajaxlayerednavigation/left/style') ?>
        <div class="block block-layered-nav <?php if ($style == '4') : ?> ajaxlayerednav-menu<?php endif; ?>">
        <div class="block-title">
            <strong><span><?php echo Mage::helper('ajaxlayerednavigation')->__('Shop By') ?></span></strong>
        </div>
        <div class="block-content">
            <?php echo $this->getStateHtml() ?>

            <?php if($this->canShowOptions()): ?>
                <dl id="narrow-by-list">
                    <?php $_filters = $this->getFilters() ?>
                    <?php foreach ($_filters as $_filter): ?>
                        <?php if($_filter->getItemsCount()): ?>
                            <dt>
                                <?php if ($style == '3') : ?>
                                    <span class="ajaxlayered-expander">
                                        <?php echo $this->__($_filter->getName()) ?>
                                    </span>
                                <?php else : ?>
                                    <?php echo $this->__($_filter->getName()) ?>
                                <?php endif; ?>
                            </dt>
                            <?php
                                if ($_filter->getAttributeModel()) {
                                    $code = $_filter->getAttributeModel()->getFrontendInput();
                                } else {
                                    $code = '';
                                }
                            ?>
                            <?php if ('price' == $code) : ?>
                                <dd class="ajaxlayerednavigation-price"><?php echo $_filter->getHtml() ?></dd>
                            <?php else : ?>
                                <dd><?php echo $_filter->getHtml() ?></dd>
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </dl>
                <script type="text/javascript">decorateDataList('narrow-by-list')</script>
            <?php endif; ?>
        </div>
    </div>
<?php endif; ?>
