.catalog-product-view {

    .container-product-alert {
        clear: both;

        #subscribe-pass-success {
            text-align: center;
            padding: 5px 0;
            color: #fff;
            background-color: #39c682;
            margin: 20px 15px;
            clear: both;
            font-weight: bold;
        }

        .loader-subscribe-container {
            position: absolute;
            width: 100%;
            height: 188px;
            z-index: 9;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.5);

            img.loader-subscribe {
                margin: auto;
            }
        }

        #bseller_productalert-subscribe-news {
            width: 100%;
            clear: both;
            padding: 15px;

            .productalert-title {
                font-size: 12px;
                margin-bottom: 7px;
            }

            .field {
                margin-bottom: 10px;

                input {
                    height: 45px;
                }
            }

            #subscribe-not-pass {
                color: #fff;
                text-align: center;
                padding: 1px 0 2px 0;
                font-size: 15px;
                background-color: #F55465;
                margin: 8px 0;
            }

            p.alert-price.link-price-alert {
                margin-bottom: 10px;

                #bseller_productalert-subscribe {
                    width: 100%;
                    text-align: center;
                }
            }

        }

    }

}
