.main-container {
 
  .socialconnect-info {
    img {
      border: 1px solid $c-black;
      border-radius: 100%;
      padding: 5px;
      height: 80px;
    }
  }


  .col-1,
  .col-2 {
    @include span-columns(12);
    margin-top: 10px;
  }

  .col-1 {
    margin-right: 0;
  }

  .login-forms {
    .col-1,
    .col-2 {
      float: none;
    }
  }

  .password-tools {
    .forgot-password {
      float: left;
      vertical-align: middle;
      line-height: 20px;
    }

    .input-box {
      float: right;
    }
  }

  .buttons-set {

    &.register {
      @include span-columns(12);
    }

    .login {
      @include span-columns(12);
      margin-bottom: 14px;
    }
  }

  .input-box-password {
    position: relative;
  }

  .facebook-login-account-recover{
    font-style: italic;
    font-size: 10px;
    color: #898989;
    text-transform: lowercase;
    text-decoration: underline;
    margin-top: 10px;
  }
}


//colors
$black: #000;
$color_monsoon_approx: #898989;
$red: red;

.bseller-socialconnect-login-facebook {

  #overlay-loader-socialconnect {
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    height: 100%;

    .loader-social {
      margin: 0 auto;
      position: relative;
      top: 50%;
      margin-top: -50%;
    }
  }
  .col2-set {
    .col-1 {
      .socialconnect-info {
        display: block;
        width: 100%;
        border: 1px dashed $black;
        padding: 20px;
        margin: 0 auto;
        overflow: hidden;
        .col-1 {
          width: auto;
          margin: 0 auto;
        }
      }
      span {
        display: block;
        &:nth-child(2) {
          font-size: 20px;
          margin-bottom: 5px;
          margin-top: 9px;
        }
        &:nth-child(3) {
          font-size: 12px;
          a {
            color: $red;
          }
          &:after {
            content: 'Associe sua conta do Facebook à Sephora. Escolha uma das opções abaixo:';
            font-size: 10px;
            display: block;
            margin-top: 4px;
            opacity: 0.6;
          }
        }
      }
      p {
        display: none;
      }
    }
    > .col-1 {
      float: none;
      width: 100%;
    }
  }
  .account-login {
    clear: both;
  }
  .col-2.login-forms {
    width: 100%;
    float: none;
    padding: 0;
    border: none;
    .col-1.registered-users {
      float: left;
      display: block;
      width: 49.1985203453%;
      margin-top: 35px;
      padding-right: 3%;
    }
    .col-2.new-users {
      border-left: 1px solid $color_monsoon_approx;
      float: left;
      display: block;
      width: 49.1985203453%;
      margin-top: 35px;
    }
  }

  #bseller-socialconnect_error-message {
    color: $red;
    font-size: 12px;
  }

}

#bseller-socialconnect_cpf-div {

  input {
    margin: 10px 0;
  }

  input#cpf {
    margin: 0;
  }
}