.catalog-product-view {

    .product-image-gallery {
        position: relative;
        margin-bottom: 10px;

        strong {
            display: block;
            font-weight: normal;
            padding: 8px $gap;
            text-align: center;
        }

        .swiper-container {
            width: 85%;
            padding-bottom: 20px;
        }

        .swiper-pagination {
            bottom: 0;
        }

    }

}