.breadcrumbs {
    @include span-columns(12);

    ul {
        text-align: center;

        li {
            font-size: 12px;
            display: inline-block;
            vertical-align: middle;
            padding: 10px 0;
            line-height: 16px;

            span {
                font-size: 8px;
                color: $c-gray-dark;
                vertical-align: middle;
            }

        }

    }

}
