.container-bundle ~ p.required {
    display: none;
}
dl.container-bundle {

    &.last {
        padding: 10px 20px;
    }

    .bloco-estatico-banner {
        width: 100%;
        clear: both;
        margin-bottom: 30px;

        p {
            margin-top: 10px;
            img {
                width: 100%;
            }

        }
    }
    .containter-product-bundle-item {
        margin-bottom: 30px;
        float: left;
        width: 100%;

        .title-option {
            background-color: $c-gray-light;
            padding: 7px 10px 4px 10px;
            font-size: 16px;

            label {
                font-size: 15px;
            }

            .remove-selection, .add-selection {
                color: $c-black;
                font-weight: normal;
                text-decoration: underline;
                font-size: 11px;
                float: left;
                width: 100%;
                text-align: right;
                margin-top: -21px;
                height: 30px;
                line-height: 2.5;
            }

            .icon-checked, .icon-unchecked {
                color: $c-black;
                border: 1px solid $c-gray-dark;
                display: inline-block;
                width: 18px;
                height: 18px;
                line-height: 0.8;
                margin-right: 8px;
                float: left;
                font-size: 18px;
                margin-top: -3px;
            }

            span {
                color: $c-alert-error;
                font-weight: bold;
            }
        }
        .product-selected {
            width: 100%;
            clear: both;
            height: 80px;
            padding: 15px 0 5px 0;
            margin: 5px 0;

            .selection-locked-selected {
                opacity: 0.8;
                background-color: #fff;
                height: 50px;
                width: 90%;
                float: left;
                position: absolute;
                margin-top: -5px;
            }

            .img-prod-selected {
                @include span-columns(3);
            }

            .name-gtin-selected {
                @include span-columns(5);
                margin-top: 1px;

                .name-prod-selected {
                    font-weight: bold;
                    font-size: 13px;
                }

                .gtin-prod-selected {
                    color: $c-gray-dark;
                    font-size: 11px;
                    margin-top: 4px;
                }
            }
            .price-prod-selected {
                @include span-columns(4);
                font-weight: bold;
                font-size: 14px;
                text-align: right;
                padding-right: 5px;
                margin-top: 15px;
            }

        }
        .item-bundle-selected {
            margin-top: 15px;
            height: 53px;
            overflow: hidden;
            margin-bottom: 10px;
            margin-left: auto;
            margin-right: auto;
            width: 280px;

            .selection-locked {
                position: absolute;
                width: 53px;
                height: 38px;
                background-color: $c-white;
                opacity: 0.8;
                float: left;
                margin-top: -1px;
                margin-left: -1px;
            }

            .item-bundle {
                display: inline-block;
                margin: 6px 1px;

                label {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 3px solid transparent;

                    &.selected {
                        border: 3px solid $c-black;
                    }
                }

            }

        }

        .count-variation {
            display: inline-block;
            text-align: center;
            width: 100%;
            color: silver;
            position: relative;
        }

    }

    .qty-holder {
        display: none;
    }
}

.installments.bundle {
    text-align: center;
    color: $c-alert-error;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}
.add-to-links {
    margin-top: 10px;
}
.price-as-configured {
    text-align: center;
    padding: 10px 5px;

    .price-label {
        font-size: 16px;
    }

    .full-product-price {

        .price {
            font-size: 16px;
            font-weight: bold;
        }
    }
}
.products-grid{

    .item {

        .hide-out-of-stock {

            .minimal-price {
                color: #cd0303;
                font-weight: bold;
                font-size: 14px;
            }

            .min-price-label {
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 2px;
            }
        }
    }
}
.catalog-product-view {

    .product-view {

        .add-to-cart-buttons {

            .button {

                &.fixed {
                    width: 100%;
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    z-index: 1;
                }

            }

        }

    }

}
