.faq {
    @include span-columns(12);
    border-bottom: 50px solid $c-gray-light;

    dt, dd {
        padding: 10px $gap;
        font-size: 12px;
        line-height: 18px;
        text-align: left;
    }

    dt {
        padding: 10px 30px 10px $gap;
        border-top: 1px solid $c-black;
        text-transform: uppercase;
        position: relative;

        &:after {
            content: '+';
            position: absolute;
            right: 0;
            font-weight: bold;
            top: 0;
            font-size: 16px;
            padding: 10px;
        }

        &.active {
            background: #363636;
            color: $c-white;

            &:after {
                content: '-';
                right: 4px;
            }

        }

        &:last-of-type {
            border-bottom: 1px solid $c-black;
        }

    }

    dd {
        font-size: 10px;
        font-weight: bold;
    }

}
