%filter-title-style {
    border-bottom: 1px solid #c7c7c7;
    position: relative;
    padding: 14px $gap;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;

    &:after {
        content: '+';
        position: absolute;
        right: $gap;
        font-weight: bold;
        top: 13px;
        font-size: 16px;
    }

    &.active {
        background: #363636;
        color: $c-white;
        font-weight: bold;

        a {
            color: $c-white;
        }

        &:after {
            content: '-';
        }

        & + dd {
            display: block;
        }

    }

}

%filter-content-style {
    display: none;
    position: relative;

    li {
        border-bottom: 1px solid #c7c7c7;
        position: relative;
        padding: 14px $gap;
        font-weight: normal;
        background: $c-white;

        a {
            display: block;
            width: 100%;

            &:after {
                position: absolute;
                content: '';
                right: $gap - 5;
                height: 16px;
                width: 16px;
                border: 1px solid $c-black;
                top: 12px;
                @include border-radius(50%, 50%, 50%, 50%);
            }

            &.remove {
                position: absolute;
                right: 0;
                width: 5%;
                padding: 27px;
                top: 0;
                text-align: center;
                line-height: 24px;
                font-size: 10px;

                &:after {
                    font-family: 'icomoon';
                    content: '\e90c';
                    color: $c-white;
                    background: $c-black;
                }

            }

            .ajaxlayerednavigation-count {
                font-size: 10px;
                padding-left: 5px;
            }

        }

    }

    .tm_options_search {
        position: absolute;
        right: 15%;
        top: -37px;
        width: 40%;
        padding: 6px 20px;
        font-size: 14px;    
    }

}

%filter-style {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 11;    
    font-weight: bold;
    background: $c-white;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    
    .block-title, .box-title {
        padding: 14px $gap;
        background: $c-black;
        color: $c-white;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        font-size: 14px;

        span {
            position: absolute;
            padding: 12px;
            left: 0;
            top: 0;
            font-size: 18px;
        }

    }

    .block-subtitle {
        padding: 14px $gap;
        background: #363636;
        color: $c-white;
        text-transform: uppercase;
    }

    .currently {

        li {
            border-bottom: 1px solid #c7c7c7;
            position: relative;
            padding: 14px $gap;
            text-transform: uppercase;

            .remove {
                position: absolute;
                right: 0;
                width: 5%;
                top: 0;
                text-align: center;
                line-height: 15px;
                font-size: 6px;

                &:after {
                    position: absolute;
                    font-family: 'icomoon';
                    content: '\e90c';
                    color: $c-white;
                    background: $c-black;
                    right: $gap - 5;
                    height: 16px;
                    width: 16px;
                    border: 1px solid $c-black;
                    top: 12px;
                    @include border-radius(50%, 50%, 50%, 50%);
                }

            }

        }

    }

    .actions {
        text-align: center;

        a {
            display: block;
            width: 100%;
            background: $c-black;
            color: $c-white;
        }

    }

    dt {
        @extend %filter-title-style;
    }

    .cat-list {

        li {
            @extend %filter-title-style;
            padding: 14px 0;

            a {
                padding: 0 $gap;
            }

        }

    }

    dd {
        @extend %filter-content-style;
    }

    .sub-cat-list {
        @extend %filter-content-style;
        padding-top: 14px;

        li {
            padding-bottom: 0;
            font-weight: bold;
            border-bottom: 0;
            text-transform: initial;
            background: $c-gray-light;

            &:after {
                display: none;
            }

            a {
                color: $c-black !important;

                &:after {
                    display: none;
                }

            }

            .sub-cat-list {

                li {
                    font-weight: normal;
                    border-top: 1px solid #c7c7c7;
                    background: $c-white;
                    padding-bottom: 14px;

                    &:last-child {
                        border-bottom: 1px solid #c7c7c7;
                    }

                    a {
                        padding-left: 30px;
                    }

                }

            }

        }

    }

}
