.footer {
    @include span-columns(12);
    margin-top: 50px;
    position: relative;

    .links {
        color: $c-white;
        text-transform: uppercase;

        li {
            @include span-columns(4, block-collapse);
            background: $c-black;
            padding: 15px 0;
            font-size: 12px;
            text-align: center;

            &:first-child {
                text-align: left;
                padding-left: $gap;
            }

            &:last-child {
                text-align: right;
                padding-right: $gap;
            }

            a {
                color: $c-white;
            }

        }

    }

    .block-subscribe {
        @include span-columns(12);
        background: $c-gray-light;

        .icon-mail {
            font-size: 18px;
            vertical-align: sub;
            padding-right: 10px;
        }

        .info {
            @include span-columns(12);
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 10px;
            line-height: 14px;
            text-transform: uppercase;
        }

        .input-box {
            @include span-columns(12);
            margin-bottom: 10px;

            &.box-gender {
                margin: 10px 0;

                .input-box {
                    @include span-columns(12);
                }

            }

        }

        button {
            width: 100%;
        }

    }

    .footer-container {
        @include span-columns(12);
        padding: $gap;

        .social {
            @include span-columns(12);
            margin: 20px 0 25px 0;

            li {
                @include span-columns(2.4);
                text-align: center;

                a {
                    font-size: 24px;

                    &:before {
                        font-family: 'icomoon';
                    }

                    &.facebook {
                        &:before { @extend .icon-facebook; }
                        &:hover { color: #3b5998; }
                    }

                    &.twitter {
                        &:before { @extend .icon-twitter; }
                        &:hover { color: #4099ff; }
                    }

                    &.instagram {
                        &:before { @extend .icon-instagram; }
                        &:hover { color: #9b6954; }
                    }

                    &.youtube {
                        &:before { @extend .icon-youtube; }
                        &:hover { color: #c4302b; }
                    }

                    &.pinterest {
                        &:before { @extend .icon-pinterest; }
                        &:hover { color: #C92228; }
                    }

                }

            }

        }

        .seals {
            @include span-columns(12);
            margin-bottom: 30px;

            a, p {
                @include span-columns(6);
            }

            p {
                @extend .no-display;
            }

        }

        .copyright {
            @include span-columns(12);
            line-height: 18px;
            font-size: 10px;
            text-align: center;
        }

    }

    .go-top {
        @include span-columns(12);
        border-top: 1px solid $c-black;
        padding: 0 $gap;
        text-align: center;
        font-size: 12px;
        padding: 14px 0;

        &:before {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent $c-black transparent;
        }

    }

    .bseller {
        @include span-columns(12);
        text-align: center;

        img {
            margin: 5px auto;
        }
        
    }

}

.footer-container-onepage {
    @include span-columns(12);
    background: $c-gray-light;
    padding: 0 $gap;

    .footer {
        margin-top: 0;

        .logo,
        .seals {
            @include span-columns(6);
            padding: 20px 0;
        }

        .seals {
            margin-right: 0;
        }

        .copyright,
        .payment {
            @include span-columns(12);
            padding: 15px 0;
        }

        .copyright {
            line-height: 18px;
            font-size: 10px;
            text-align: center;
        }

        .payment {
            padding-top: 20px;
            text-align: center;

            li {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }

        }

    }

}
