.header-links {
    @include span-columns(12);
    text-transform: uppercase;
    line-height: 35px;
    height: 35px;
    padding: 0 $gap;
    text-align: justify;

    &:after {
        content: '';
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }

    li {
        font-size: 12px;
        display: inline-block;
        vertical-align: top;

        a {
            display: inline-block;
            vertical-align: top;            
        }

        &.sale {
            padding-top: 6px;
            
            img {
                width: 70px;
            }

        }

    }

}
