.cast-bar {
    @include span-columns(12);
    @extend %gap;
    background: $c-gray-light;
    color: $c-black;
    padding: 10px $gap;      

    a, p {
        @include span-columns(6);
        color: $c-black;
        font-weight: bold;
    }  

    a {
        text-align: right;
    }

}

.page-header {
    @extend %gap;
    background: $c-black;
    color: $c-white;
    padding: 0 $gap;

    .page-header-container {
        padding: 5px 0 6px;
    }

    a {
        color: $c-white;
        text-decoration: none;
    }

    .logo,
    .nav-menu,
    .minicart {
        padding: 6px 0;
    }

    .logo {
        @include span-columns(5);
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0;
        text-align: center;

        img {
            margin: 0 auto;
            width: 100%;
        }

    }

    .nav-menu,
    .minicart {
        @include span-columns(3.5);
        float: none;
        display: inline-block;
        vertical-align: middle;

        span {
            font-size: 20px;
        }

    }

    .search-toggle {
        @include span-columns(1.9);
        float: none;
        display: inline-block;
        vertical-align: middle; 
        font-size: 26px;
        text-align: right;

        .icon-search {
            display: none;
        }   

    }

    .minicart {
        @include span-columns(1.4);
        margin-right: 0;
        text-align: right;
        position: relative;
        float: none;
        display: inline-block;
        vertical-align: middle;

        .count {
            position: absolute;
            top: 4px;
            right: 0;
            font-size: 10px;
            background: $c-dark-primary;
            height: 16px;
            width: 16px;
            line-height: 16px;
            text-align: center;
            display: block;
            @include border-radius(50%, 50%, 50%, 50%);
        }

        .minicart-qty {
            padding-right: 10px;

            &.empty {
                padding-right: 0;

                .count {
                    @extend .no-display;
                }

            }

        }

    }

    .search {
        @include span-columns(12);
        padding-bottom: 10px;

        input, button {
            background: $c-white;
            font-size: 14px;
            height: 35px;
        }

        input {
            @include span-columns(10, block-collapse);
            border: 0;
            font-style: normal;
            font-size: 13px;
            @include border-radius(2px, 0, 0, 2px);
        }

        button {
            @include span-columns(2, block-collapse);
            color: $c-black;
            border: 0;
            border-left: 1px solid $c-gray-light;
            font-size: 25px;
            padding: 0;
            padding-top: 5px;
            @include border-radius(0, 2px, 2px, 0);            
        }

    }

    &.fixed {
        position: fixed;
        top: 0;
        z-index: 10;
        padding: 6px $gap;

        .page-header-container {
            padding: 0;
        }

        .search-toggle {

            .icon-search {
                display: block;
            }

        }

        .search {
            display: none;
            padding-bottom: 4px;
        }

    }

}

.page-header-onepage {
    @include span-columns(12);
    padding: 5px $gap;
    border-bottom: 1px solid $c-black;

    .back {
        @include span-columns(3);
        float: none;
        display: inline-block;
        vertical-align: middle;

        span {
            display: block;
            font-size: 30px;
        }

    }

    .logo {
        @include span-columns(6);
        float: none;
        display: inline-block;
        vertical-align: middle;

        img {
            margin: 0 auto;
            width: 80%;
        }

    }    

}
