.faq-help {
    display: inline-block;
    color: $c-black;
    margin-left: 8px;
    font-size: 16px;
    vertical-align: middle;

    &:before {
        font-family: 'icomoon';
        content: '\e914';
    }

}

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;

    &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba($c-black, 0.8);
    }

}

.fancybox-skin {
    position: relative;
    text-align: center;

    img {
        width: 100%;
    }

    .button, button {
        width: 50%;
        margin-top: 20px;
        display: inline-block;
    }

    .messages {
        margin-right: 0;

        li {
            text-transform: initial;
            font-weight: normal;
            font-size: 14px;
            letter-spacing: initial;

            &.success-msg,
            &.notice-msg,
            &.error-msg {

                li {
                    background: none;                
                    color: $c-black;                    
                }

            }

        }

    }

}

.fancybox-opened {
    z-index: 8030;
    width: 91% !important;
    left: 15px !important;

    .fancybox-skin {
        background: $c-white;
        border: 1px solid $c-gray;
        font-size: 14px;
        line-height: 20px;
        padding: 40px 15px !important;
    }

}

.fancybox-close {
    font-family: 'icomoon';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    cursor: pointer;
    z-index: 8040;
    text-transform: lowercase;
    padding: 10px;
    color: $c-gray-dark;
    @extend .icon-cancel;
}

.fancybox-outer,
.fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
    width: 100% !important;
}

.fancybox-type-iframe {

    .fancybox-inner {
        -webkit-overflow-scrolling: touch;
    }

}

.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

.fancybox-lock {
    overflow: hidden !important;
    width: auto;

    body {
        overflow: hidden !important;
    }

    .fancybox-overlay {
        overflow: auto;
        overflow-y: scroll;
    }

}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: rgba($c-black, 0.8);

    &.fancybox-overlay-fixed {
        position: fixed;
        bottom: 0;
        right: 0;
    }

}

.fancybox-full {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;

    .fancybox-skin,
    .fancybox-inner {
        width: 100% !important;
        height: 100% !important;
    }
    
}