%menu {
    text-transform: uppercase;
}

%sub-menu {
    text-transform: initial;
    margin: 0;
    border-color: $c-white;
    padding-left: $gap;
}

.nav {
    width: 80%;
    position: fixed;
    left: -80%;
    top: 88px;
    z-index: 11;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: $c-white;

    .nav-primary {
        @include span-columns(12);

        .icon-menu {
            background: $c-white;
            padding: 10px $gap;
            display: block;
            width: 52px;
            font-size: 20px;
        }

        li {
            display: block;
            font-size: 14px;
            color: $c-black;
            margin: 0 $gap;
            border-bottom: 1px solid $c-gray;
            position: relative;

            a {
                display: block;
                padding: 10px 0;
                position: relative;
                z-index: 1;

                &.open {
                    font-weight: bold;

                    span {
                        font-weight: normal;

                        &.icon-arrow-right {
                            @extend .icon-arrow-down;
                        }

                        &.more {

                            &:before {
                                content: '-';
                            }

                        }

                    }

                }

                &.view-more {
                    color: $c-dark-primary;
                }

                &.has-children {

                    span {
                        z-index: 2;
                    }

                }

            }

            span {
                position: absolute;
                right: -$gap;
                top: 0;                
                font-size: 16px;
                color: $c-gray-dark;
                padding: 9px;

                &.more {
                    padding: 9px 13px;
                    color: $c-black;

                    &:before {
                        content: '+';
                        display: block;
                    }

                }

            }

            &.level0 {
                @extend %menu;
            }   

            &.level1,
            &.level2 {
                @extend %sub-menu;
            }   

            &.bg-gray {
                background: $c-gray-light;
                margin: 0;

                a {
                    padding: 10px $gap;
                }

            }    

            &.c-red {

                a {
                    color: $c-dark-primary;
                }

            }      

        }

    }

}

.block-account {
    @include span-columns(12);
    font-size: 14px;
    background: $c-black;
    color: $c-white;
    padding: 0 $gap;
    font-size: 12px;
    min-height: 32px;

    .close, .log-out {
        @include span-columns(2.5);
    }  

    .close {
        font-size: 14px;
        padding: 6px 6px 6px 0;
    }

    .log-out {
        padding: 8px 0;
        text-align: right;
        color: $c-white;

        span {
            display: inline-block;
            vertical-align: initial;
            margin-left: 5px;
            font-size: 10px;
        }

    }

    .welcome-msg {
        @include span-columns(7);
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        padding-top: 8px;

        &.not-logged {
            padding-top: 0;

            a {
                color: $c-white; 

                span {
                    display: block;
                    padding: 5px 0;
                    font-size: 10px;
                    color: $c-white;                
                }

            }

        }

    }

}

.account-links {
    @include span-columns(12);
    margin: $gap 0;
    text-align: center;

    li {
        display: inline-block;
        border: 1px solid $c-gray;
        margin: 0;
        text-transform: capitalize;

        a {
            padding: 10px;
            font-size: 12px;
            display: block;
        }

        &:last-child {
            margin: 0 0 0 $gap;
        }

    }

}