.pages {
    @include span-columns(12);
    margin: 70px 0;
    color: $c-gray-dark;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid $c-gray-dark;
    border-bottom: 1px solid $c-gray-dark;
    font-size: 16px;

    strong {
        @extend .no-display;
    }

    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 14px;
        text-align: center;

        &.current {
            background: $c-black;
            color: $c-white;
            padding: 15px;
        }

        a {
            color: $c-gray-dark;
        }

        &:last-child {
            margin-right: 0;
        }

    }

}

.sorter {
    border: 1px solid $c-gray-dark;
    @include border-radius(3px);        

    select {
        background: none;
        border: 0;
        text-transform: uppercase;
        font-size: 10px;
        font-style: normal;
        font-weight: bold;
        line-height: 16px;
        width: 100%;
        position: relative;
        z-index: 1;
    }

}

.toolbar-top {
    @include span-columns(12);
    margin: 2px 0 30px 0;
    padding: 0 $gap;

    .sorter,
    .filters {
        @include span-columns(5.9, block-collapse);
        padding: 10px $gap;
        height: 35px;
        position: relative;
        font-size: 10px;
        font-weight: bold;

        &:after {
            font-family: 'icomoon';
            position: absolute;
            font-size: 20px;
            right: 10px;
        }

    }

    .sorter {
        padding: 0;

        &:after {
            content: '\e912';
            font-size: 16px;
            top: 8px;
        }

    }

    .filters {
        border: 1px solid $c-gray-dark;         
        text-transform: uppercase;
        font-weight: bold;
        float: right;
        line-height: 16px;
        @include border-radius(3px);

        &:after {
            content: '\e908';
            top: 8px;
        }

    }

    .pager {
        @extend .no-display;
    }

}

.toolbar-bottom {

    .sorter,
    .limiter,
    .count-container {
        @extend .no-display;
    }

}