.products-grid {
    float: left;
    width: 100%;

    .item {
        @include span-columns(6);
        @include omega(2n);
        border: 1px solid $c-white;
        position: relative;
        text-align: center;

        .show-hover {
            @extend .no-display;
        }

        &.out-of-stock {

            .hide-out-of-stock {
                display: none;
            }

            .out-of-stock-message {
                margin-top: 5px;
                display: block;
                font-size: 10px;
                color: $c-dark-primary;
            }

        }

        .flags-stamp {

            .promocao {
                position: absolute;
                top: 0;
                right: 0;
                background: $c-dark-primary;
                color: $c-white;
                font-size: 10px;
                height: 40px;
                width: 40px;
                @include border-radius(50%, 50%, 50%, 50%);

                span{
                  display: inline-block;
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 20%;
                  line-height: 12px;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                }

            }

        }

        .wishlist-button {
            position: absolute;
            top: 0;
            left: 0;
        }

        .frete-gratis {
            color: $c-dark-primary;
            background: $c-gray;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: bold;
            padding: 7px 0;
            width: 200px;
            letter-spacing: 2px;
            margin: 0 auto;
            display: block;
        }

        .product-image {
            display: block;
            margin: 20px 0 10px;

            img {
                margin: 0 auto;
            }

        }

        .rating-box {
            margin: 0 auto 10px auto;
        }

        .flags {

            .flag-content {
                margin-bottom: 13px;

                .flag-text {
                    background-color: $c-black;
                    color: $c-white;
                    font-weight: normal;
                    padding: 4px 8px;
                    font-size: 8px;
                }

            }

        }

        .product-infos {
            line-height: 16px;
            padding-bottom: 4px;

            .product-manufacturer {
                font-size: 12px;
                font-weight: bold;
                line-height: 16px;
                text-transform: uppercase;
            }

            .product-name {
                margin: 5px 0;
                font-size: 12px;
                font-weight: normal;
            }

            .configurable-swatch-list {
                display: block;
                margin: 10px 0;

                li {
                    display: inline-block;
                    vertical-align: top;
                }

            }

            .price-box {
                display: block;
                margin-top: 5px;

                .old-price,
                .special-price {
                    display: inline-block;
                    vertical-align: middle;
                }

                .price-label {
                    @extend .no-display;
                }

                .old-price {
                    color: $c-gray-dark;
                    text-decoration: line-through;
                }

                .regular-price,
                .special-price {
                    font-size: 14px;
                    color: $c-dark-primary;
                }

            }

            .installments {
                font-weight: bold;
                font-size: 10px;
                min-height: 12px;
            }

        }

        .btn-cart {
            width: 200px;
            font-size: 13px;
            letter-spacing: 5px;
        }

    }

}
