.ratings {

    .rating-links,
    .no-rating {
        display: inline-block;

        a {
            display: inline-block;
            vertical-align: top;
            font-size: 9px;
            line-height: 16px;
            text-transform: uppercase;
            color: darken($c-gray, 20);
        }

    }

    .amount {
        @extend .no-display;
    }

    .average {

        .rating-box {
            margin: 0;
        }

    }

}

.rating-box {
    display: block;
    margin: 0 auto 15px auto;
    background: url(../../images/rating-empty.png) 0 0 repeat-x;
    width: 65px;
    height: 12px;

    .rating {
        background: url(../../images/rating.png) 0 0 repeat-x;
        height: 18px;
    }

    &.big {
        background: url(../../images/big-rating-empty.png) 0 0 repeat-x;
        height: 18px;
        width: 90px;

        .rating {
            background: url(../../images/big-rating.png) 0 0 repeat-x;
            height: 18px;
        }

    }

}

.reviews-rate {
    display: block;
    text-align: center;

    .review-rate {
      display: inline-block;
      text-align: left;
      margin: 10px 0 20px 0;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 100%;

      .rating {
          overflow: hidden;
          display: inline-block;
          font-size: 0;
          position: relative;
          vertical-align: middle;
      }

      .rating:hover .rating-star:hover,
      .rating:hover .rating-star:hover ~ .rating-star,
      .rating-input:checked ~ .rating-star {
          background: url(../../src/img/icons-sprite/big-rating.png) 0 0 repeat-x;
      }

      .rating-star {
            position: relative;
            float: right;
            display: block;
            width: 18px;
            height: 18px;
            padding: 0;
            background: url(../../src/img/icons-sprite/big-rating-empty.png) 0 0 repeat-x;

            &:after,
            &:before {
                display: none;
            }

        }

    }

}

.ratings-list {

    li {
        float: left;
        width: 100%;
        border-bottom: 1px solid $c-gray;
        padding: 10px 0;

        .name,
        .dob,
        .rating-box {
            display: inline-block;
            vertical-align: middle;
            line-height: 30px;
            margin: 0;
        }

        .name {
            position: relative;
            margin-right: 0;
            color: $c-dark-primary;
            padding: 0 5px;
        }

        .name {
            font-weight: bold;
            font-size: 16px;
        }

        .dob {
            font-size: 10px;
            color: $c-gray-dark;
        }

        .description {
            font-size: 12px;
            line-height: 20px;
        }

        &:last-child {
            border-bottom: 0;
        }

        .more {
            text-align: right;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 10px;

            span {
                font-size: 16px;
                position: relative;
                top: 4px;
            }

        }

    }

}

.ratings-buttons {

    button {
        @include span-columns(12);
        border: 0;
        margin: 10px 0 0 0;
        padding: 14px 12px;
        color: $c-black;
        background: $c-gray-light;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
    }

}

.rating-form-add {

    #advice-validate-rating-validate_rating {
        position: relative;
        top: -18px;
    }

    @include span-columns(12);
    padding: 0 $gap;

    form {
        background: $c-gray-light;
        padding: $gap;
        height: 380px;

        .input-box {
            margin-bottom: 20px;

            textarea {
                margin-bottom: 20px;
            }

            &.textarea  {
                margin-bottom: 0;
            }

        }

        button {
            width: 100%;
        }

    }

    .message-review {
        text-align: center;
        line-height: 1.2;
        background-color: $c-gray-light;
        padding: 25px 10px;

        span {
            display: block;
            margin-top: 16px;
        }
    }

    .message-review-error {
        text-align: center;
        padding: 10px 10px;
        width: 100%;
        color: #F55465;
        float: left;
        font-weight: bold;
        margin-top: -33px;
    }

    #validation-rating-review {
        margin-top: -16px;
        margin-bottom: 16px;
    }

    #validation-message-review {
        margin-top: -20px;
        margin-bottom: 20px;
    }
}