.steps {
    @include span-columns(12);
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase;
    @extend .vertical-scroll;

    .step-label-active {
        font-weight: bold;
    }

    .step-ribbon-active {
        background: $c-black;
        font-size: 5px;
        padding: 4px 1px 0 0;
        @extend .icon-check;

        &:before {
            font-family: 'icomoon';
        }

    }

    .step-ribbon-big-active {
        font-size: 8px;
        padding: 2px 0;
        top: -23px;
        height: 24px;
        width: 24px;
    }

    .step-progress {
        background: $c-gray;
    }

    .step-progress-active {
        background: repeating-linear-gradient(-55deg, lighten($c-black, 20%), lighten($c-black, 20%) 10px, $c-black 10px, $c-black 20px);
    }

    p {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        position: relative;
        padding-top: 5px;
        letter-spacing: 1px;
        margin-top: 30px;
        white-space: initial;
        line-height: 16px;

        &:last-child {

            &:after {
                display: none;
            }

        }

        &:before,
        &:after {
            content: '';
            position: absolute;
        }

        &:before {
            height: 16px;
            width: 16px;
            left: 45%;
            top: -18px;
            border: 1px solid $c-black;
            z-index: 2;
            background: $c-white;
            color: $c-white;
            text-align: center;
            font-size: 0;
            @include border-radius(50%, 50%, 50%, 50%);
        }

        &:after {
            height: 6px;
            z-index: 1;
            top: -13px;
            left: 50%;
            width: 100%;
            @extend .step-progress;
        }

        &.canceled {

            &:before {
                background-color: $c-dark-primary !important;
                border-color: $c-dark-primary !important;
            }

        }

        .date {
            display: block;
            padding-top: 5px;
        }

    }

    &.active-one {

        p {

            &.one {
                @extend .step-label-active;

                &:before {
                    @extend .step-ribbon-active;
                }

            }

            &.one {

                &:before {
                    @extend .step-ribbon-big-active;
                }

            }

        }

    }

    &.active-two {

        p {

            &.one {

                &:after {
                    @extend .step-progress-active;
                }

            }

            &.one,
            &.two {
                @extend .step-label-active;

                &:before {
                    @extend .step-ribbon-active;
                }

            }

            &.two {

                &:before {
                    @extend .step-ribbon-big-active;
                }

            }

        }

    }

    &.active-three {

        p {

            &.one,
            &.two {

                &:after {
                    @extend .step-progress-active;
                }

            }

            &.one,
            &.two,
            &.three {
                @extend .step-label-active;

                &:before {
                    @extend .step-ribbon-active;
                }

            }

            &.three {

                &:before {
                    @extend .step-ribbon-big-active;
                }

            }

        }

    }

    &.active-four {

        p {

            &.one,
            &.two,
            &.three {

                &:after {
                    @extend .step-progress-active;
                }

            }

            &.one,
            &.two,
            &.three,
            &.four {
                @extend .step-label-active;

                &:before {
                    @extend .step-ribbon-active;
                }

            }

            &.four {

                &:before {
                    @extend .step-ribbon-big-active;
                }

            }

        }

    }

    &.active-five {

        p {

            &.one,
            &.two,
            &.three,
            &.four {

                &:after {
                    @extend .step-progress-active;
                }

            }

            &.one,
            &.two,
            &.three,
            &.four,
            &.five {
                @extend .step-label-active;

                &:before {
                    @extend .step-ribbon-active;
                }

            }

            &.five {

                &:before {
                    @extend .step-ribbon-big-active;
                }

            }

        }

    }

}
