<?php echo $this->getChildHtml('coupon_before') ?>
<div id="coupon-discount" class="firecheckout-section">
    <div class="block-title">
        <span>6. <?php echo $this->__('Discount Codes') ?></span>
        <div class="block-sub-title"><?php echo $this->__('Enter the coupon here'); ?></div>
    </div>
    <div class="discount-form" id="discount-code">
        <div class="input-box">
            <input type="hidden" name="coupon[remove]" id="coupon-remove" value="0" />
            <div class="input-field-wrapper">
                <input class="input-text" id="coupon-code" name="coupon[code]" placeholder="<?php echo $this->__('Cupom') ?>" value="<?php echo $this->htmlEscape($this->getCouponCode()) ?>" />
                <?php if (strlen($this->getCouponCode())) : ?>
                    <button type="button" title="<?php echo $this->__('Cancel') ?>" id="coupon-cancel" class="button" value="<?php echo $this->__('Cancel') ?>"><span><span><?php echo $this->__('Cancel') ?></span></span></button>
                <?php else: ?>
                    <button type="button" title="<?php echo $this->__('Ok') ?>" id="coupon-apply" class="button" value="<?php echo $this->__('Ok') ?>"><span><span><?php echo $this->__('Ok') ?></span></span></button>
                <?php endif; ?>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        $('coupon-apply') && $('coupon-apply').observe('click', function(e) {
            var code = $('coupon-code');

            if (!code.value.length) {
                code.addClassName('required-entry');
                Validation.validate(code);
                code.removeClassName('required-entry');
                return;
            }

            $('coupon-remove').value = "0";

            checkout.setLoadingButton($('coupon-apply'));
            checkout.update(checkout.urls.coupon, {
                'review': 1
            });
        });

        $('coupon-cancel') && $('coupon-cancel').observe('click', function(e) {
            $('coupon-remove').value = "1";

            checkout.setLoadingButton($('coupon-cancel'));
            checkout.update(checkout.urls.coupon, {
                'review': 1
            });
        });

        $('coupon-code').observe('keydown', function(e) {
            if (e.keyCode != 13) {
                return;
            }

            var code = $('coupon-code');

            if (!code.value.length) {
                code.addClassName('required-entry');
                Validation.validate(code);
                code.removeClassName('required-entry');
                return;
            }

            $('coupon-remove').value = "0";

            checkout.setLoadingButton($('coupon-apply'));
            checkout.update(checkout.urls.coupon, {
                'review': 1
            });
        });
        //]]>
    </script>
</div>
<?php echo $this->getChildHtml('coupon_after') ?>
