<?php if ($this->getQuote()->isVirtual() || !Mage::getStoreConfig('firecheckout/general/shipping_address')) : return; endif ?>

<?php if (!$this->customerHasAddresses()) : ?>
    <ul class="form-list same-as-billing">
        <li class="control">
            <input type="checkbox" name="shipping[same_as_billing]" id="shipping:same_as_billing"
                   value="1"<?php if ($this->getAddress()->getSameAsBilling()) : ?> checked="checked"<?php endif ?>
                   title="<?php echo $this->__('Ship to the same address') ?>"
                   onclick="shipping.setSameAsBilling(this.checked)" class="checkbox square"/><label
                for="shipping:same_as_billing"><?php echo $this->__('Ship to the same address') ?></label>
        </li>
    </ul>
<?php endif ?>

<?php
$address = $this->getAddress();
$prefix = 'shipping';
$fields = array(
    'name' => array(),
    'company' => array(
        'class' => 'input-text',
        'label' => 'Company'
    ),
    'fax' => array(
        'class' => 'input-text',
        'label' => 'Fax'
    ),
    'telephone' => array(
        'class' => 'input-text',
        'label' => 'Telephone'
    ),
    'cellphone' => array(
        'class' => 'input-text',
        'label' => 'Cellphone'
    ),
    'city' => array(
        'class' => 'input-text',
        'label' => 'City'
    ),
    'postcode' => array(
        'class' => 'input-text validate-zip-international',
        'label' => 'Zip/Postal Code'
    ),
    'street1' => array(
        'class' => 'input-text',
        'label' => 'Address',
        'title' => 'Street Address',
        'name' => $prefix . '[street][]',
        'value' => $address->getStreet(1)
    ),
    'country_id' => array(
        'label' => 'Country',
        'required_to_render' => 1
    ),
    'region' => array(
        'label' => 'State/Province',
        'required_to_render' => 1
    ),
    'identifier' => array(
        'class' => 'input-text',
        'label' => 'Identifier (ex: House)'
    )
);

$addressHelper = $this->helper('customer/address');
if (method_exists($addressHelper, 'isVatAttributeVisible')
    && $addressHelper->isVatAttributeVisible()
) {

    $fields['vat_id'] = array(
        'status' => 'optional',
        'class' => 'input-text ' . $addressHelper->getAttributeValidationClass('vat_id'),
        'label' => 'VAT Number'
    );
}

$ua = htmlentities($_SERVER['HTTP_USER_AGENT'], ENT_QUOTES, 'UTF-8');
$ie = preg_match('~MSIE|Internet Explorer~i', $ua) || (strpos($ua, 'Trident/7.0') !== false && strpos($ua, 'rv:11.0') !== false);
?>

<div id="shipping-address"
     class="firecheckout-section"<?php if ($this->getAddress()->getSameAsBilling() && !$this->customerHasAddresses()) : ?> style="display: none"<?php endif ?>>
    <div class="block-content">
        <ul class="form-list">
            <?php if ($this->customerHasAddresses()) : ?>
                <li class="wide address-select-item">
                    <div class="block-title">
                        <span>4. <?php echo $this->helper('checkout')->__('Address') ?></span>
                        <div class="block-sub-title"><?php echo $this->__('Choose your address') ?></div>
                    </div>
                    <div class="input-box">
                        <?php echo $this->getChildHtml('firecheckout.address.radio') ?>
                    </div>
                </li>
            <?php endif ?>
            <li id="shipping-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif ?>>
                <fieldset>
                    <input type="hidden" name="shipping[address_id]" value="<?php echo $this->getAddress()->getId() ?>"
                           id="shipping:address_id"/>
                    <ul>
                        <?php foreach (Mage::helper('firecheckout/address')->getRows($fields) as $row) : ?>
                            <?php
                            $isMultiColumn = $row->getIsMulticolumn();
                            $className = $isMultiColumn ? 'fields' : 'wide';
                            $style = $row->getIsVisible() ? '' : ' style="display: none;"';
                            ?>
                        <li class="<?php echo $className ?>"<?php echo $style ?>>
                            <?php foreach ($row->getFields() as $field => $config) : ?>
                                <?php $required = ('required' === $config['status']) ?>

                                <?php if ('name' === $field) : ?>
                                    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($address)->setFieldIdFormat($prefix . ':%s')->setFieldNameFormat($prefix . '[%s]')->toHtml() ?>
                                    <?php continue ?>
                                <?php endif ?>

                                <?php if ('hidden' === $config['status']) : ?>
                                    <div style="display:none">
                                <?php endif ?>

                                <?php if ($isMultiColumn) : ?>
                                <div class="field">
                            <?php endif ?>

                                <div class="input-box">
                                    <?php if ('country_id' === $field) : ?>
                                        <div class="no-display">
                                            <?php echo $this->getCountryHtmlSelect($prefix) ?>
                                        </div>
                                    <?php elseif ('postcode' === $field) : ?>
                                        <div class="postcode">
                                            <input
                                                type="<?php echo(empty($config['type']) ? 'text' : $config['type']) ?>"
                                                placeholder="<?php echo $this->__($config['label']) ?><?php echo $required ? '*' : '' ?>"
                                                name="<?php echo(empty($config['name']) ? $prefix . '[' . $field . ']' : $config['name']) ?>"
                                                id="<?php echo $prefix ?>:<?php echo $field ?>"
                                                value="<?php echo $this->escapeHtml($address->getData('postcode')) ?>"
                                                title="<?php echo(empty($config['title']) ? $this->__($config['label']) : $this->__($config['title'])) ?>"
                                                class="<?php echo $config['class'] ?><?php echo $required ? ' required-entry' : '' ?>"/>
                                        </div>
                                        <a href="http://www.buscacep.correios.com.br/" target="_blank"
                                           class="postcode-search"><?php echo $this->__('Não sei meu CEP') ?></a>
                                    <?php elseif ('region' === $field) : ?>
                                        <select id="<?php echo $prefix ?>:region_id"
                                                name="<?php echo $prefix ?>[region_id]"
                                                title="<?php echo(empty($config['title']) ? $this->__($config['label']) : $this->__($config['title'])) ?>"
                                                class="validate-select<?php echo $required ? ' required-entry' : '' ?>"
                                                style="display:none;">
                                            <option
                                                value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                        </select>
                                        <script type="text/javascript">
                                            //<![CDATA[
                                            $('<?php echo $prefix ?>:region_id').setAttribute('defaultValue', '<?php echo $address->getRegionId() ?>');
                                            //]]>
                                        </script>
                                    <input type="text" id="<?php echo $prefix ?>:region"
                                           name="<?php echo $prefix ?>[region]"
                                           value="<?php echo $this->escapeHtml($address->getRegion()) ?>"
                                           title="<?php echo(empty($config['title']) ? $this->__($config['label']) : $this->__($config['title'])) ?>"
                                           class="input-text<?php echo $required ? ' required-entry' : '' ?>"
                                           style="display:none;"/>
                                    <?php else : ?>
                                    <?php
                                    if (isset($config['value'])) :
                                        $value = $config['value'];
                                    else :
                                        $method = 'get' . ucfirst($field);
                                        $value = $address->{$method}();
                                    endif
                                    ?>
                                    <input maxlength="<?php echo Mage::helper('bseller_maxlength')->getMaxLength($field); ?>"type="<?php echo(empty($config['type']) ? 'text' : $config['type']) ?>"
                                           name="<?php echo(empty($config['name']) ? $prefix . '[' . $field . ']' : $config['name']) ?>"
                                           placeholder="<?php echo $this->__($config['label']) ?><?php echo $required ? '*' : '' ?>"
                                           id="<?php echo $prefix ?>:<?php echo $field ?>"
                                           value="<?php echo $this->escapeHtml($value) ?>"
                                           title="<?php echo(empty($config['title']) ? $this->__($config['label']) : $this->__($config['title'])) ?>"
                                           class="<?php echo $config['class'] ?><?php echo $required ? ' required-entry' : '' ?>"/>
                                    <?php endif ?>
                                </div>

                                <?php if ($isMultiColumn) : ?>
                                </div>
                            <?php endif ?>

                                <?php if ('hidden' === $config['status']) : ?>
                                    </div>
                                <?php endif ?>

                                <?php if ('street1' === $field) : ?>
                                    <?php $labels = array('', '', 'Number', 'Complement', 'Neighborhood') ?>
                                    <?php for ($i = 2, $n = $this->helper('customer/address')->getStreetLines(); $i <= $n; $i++) : ?>
                                        </li>
                                        <li class="wide street-<?php echo $i ?>">
                                        <div class="input-box">
                                            <input maxlength="<?php echo Mage::helper('bseller_maxlength')->getMaxLength('street'.$i); ?>"
                                                   type="text" title="<?php echo $this->__($labels[$i]) ?>"
                                                   placeholder="<?php echo $this->__($labels[$i]) ?><?php echo ($i != 3) ? '*' : ''; ?>"
                                                   name="<?php echo $prefix ?>[street][]"
                                                   id="<?php echo $prefix ?>:street<?php echo $i ?>"
                                                   value="<?php echo $this->escapeHtml($address->getStreet($i)) ?>"
                                                   class="input-text <?php echo ($i == 4) ? 'validate-district ' : ''; ?><?php echo ($i != 3) ? 'required-entry ' : ''; ?>"/>
                                        </div>
                                    <?php endfor ?>
                                <?php endif ?>

                            <?php endforeach ?>
                            </li>

                        <?php endforeach ?>

                        <?php if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()) : ?>
                            <li class="control">
                                <input type="checkbox" name="shipping[save_in_address_book]" value="1"
                                       title="<?php echo $this->__('Save in address book') ?>"
                                       id="shipping:save_in_address_book" <?php if ($address->getSaveInAddressBook()) : ?> checked="checked"<?php endif ?>
                                       class="checkbox"/><label
                                    for="shipping:save_in_address_book"><?php echo $this->__('Save in address book') ?></label>
                            </li>
                        <?php else: ?>
                            <li class="no-display"><input type="hidden" name="shipping[save_in_address_book]" value="1"/>
                            </li>
                        <?php endif ?>
                        <?php $additional = $this->getChildHtml('shipping.additional.container') ?>
                        <?php if (!empty($additional)) : ?>
                            <li class="shipping-additional">
                                <?php echo $additional ?>
                            </li>
                        <?php endif ?>
                        <li class="inputs-required"><p><?php echo $this->__('Fields with an asterisk are mandatory') ?></p></li>
                        <?php if ($this->customerHasAddresses()) : ?>
                            <li class="button-set">
                                <button type="button" class="button address-new-cancel">
                                    <span>
                                        <span><?php echo $this->__('Cancel') ?></span>
                                    </span>
                                </button>
                                <button type="button" class="button -primary address-new-save">
                                    <span>
                                        <span><?php echo $this->__('Save') ?></span>
                                    </span>
                                </button>
                            </li>
                        <?php endif ?>
                    </ul>
                </fieldset>
            </li>
        </ul>
        <script type="text/javascript">
            //<![CDATA[
            var resetAddress = false;
            var shipping = new Shipping('firecheckout-form');
            var shippingRegionUpdater = new RegionUpdater(
                'shipping:country_id',
                'shipping:region',
                'shipping:region_id',
                <?php echo $this->helper('directory')->getRegionJson() ?>,
                undefined,
                'shipping:postcode'
            );

            var fireCheckoutAddressEditForm = new VarienForm('shipping-address', true);
            var fireCheckoutAddressEdit     = new FireCheckoutAddressEdit(fireCheckoutAddressEditForm);

            <?php if(!$ie): ?>
                jQuery('#shipping-new-address-form input').on('input', function () {
                    var c = this.selectionStart,
                        r = /[^a-zA-ZçÇ0-9Zàèìòùáéíóúâêîôûãõ.\b \s \0]/gi,
                        v = jQuery(this).val();
                    if(r.test(v)) {
                        jQuery(this).val(v.replace(r, ''));
                        c--;
                    }
                    this.setSelectionRange(c, c);
                });
            <?php endif; ?>
            //]]>
        </script>
    </div>
</div>
