<?php if ($this->getQuote()->isVirtual()) : return; endif; ?>
<?php
    $messageHelper = Mage::helper('bseller_shippingpolicy');
?>
<div id="shipping-method" class="firecheckout-section">
    <div class="block-title">
        <span>5. <?php echo $this->__('Delivery') ?></span>
        <span id="shipping-method-reset"><?php echo $this->__('Reset') ?></span>
        <div class="block-sub-title">
            <?php if ($this->getChildHtml('available')) : ?>
                <?php echo $this->helper('checkout')->__('Choose the delivery option') ?>
                <a href="#chose-delivery" class="faq-help">?</a>
                <div class="no-display"><div id="chose-delivery"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('modal-chose-delivery')->toHtml(); ?></div></div>
            <?php else : ?>
                <?php echo $this->helper('checkout')->__('Enter the zip code and see the deadlines') ?>
            <?php endif ?>
        </div>
    </div>
    <div class="block-content">
        <div id="checkout-shipping-method-load">
            <?php echo $this->getChildHtml('available') ?>
        </div>
        <script type="text/javascript">
        //<![CDATA[
            var shippingMethod = new ShippingMethod('shipping-method');
        //]]>
        </script>
        <?php echo $this->getChildHtml('delivery_date') ?>
        <div class="sp-methods no-display" id="checkout-msg">
            <?php echo Mage::getStoreConfig('esmart_checkout/checkout_msg/checkout_shipping_msg') ?>
        </div>
        <script type="text/javascript">
            jQuery('li.address-option input').click(function(){
                jQuery('#checkout-msg').removeClass('no-display')
            });
            jQuery(window).load(function(){
                if(jQuery('li.address-option input').is(':checked')){
                    jQuery('#checkout-msg').removeClass('no-display');
                }
            });
        </script>
    </div>
</div>
