<?php
$useCalendar = Mage::getStoreConfig('firecheckout/delivery_date/use_calendar');
$useRange    = Mage::getStoreConfig('firecheckout/delivery_date/use_time_range');

if (!$useCalendar && !$useRange) :
    return;
endif;

$helper = Mage::helper('firecheckout/deliverydate');
?>

<ul id="shipping_form_delivery_date" class="form-list">
    <li class="<?php echo ($useRange && $useCalendar) ? 'fields' : 'wide' ?>">
        <label class="sub-title"><?php echo $this->__('Delivery Date and Time') ?></label>
        <div class="input-box">
            <?php if ($useCalendar) : ?>
                <div class="v-fix delivery-date">
                    <div class="datepicker"></div>
                    <div class="worked-days"><?php echo $this->__('Only business days'); ?></div>
                    <input type="text" class="input-text no-display" value="" id="delivery_date" name="delivery_date[date]"/>
                    <label for="delivery_date" class="no-display"><?php echo $this->__("Example: %s", '{{date}}') ?></label>
                </div>
            <?php else: ?>
                <div class="v-fix delivery-date">
                    <input type="text" class="input-text" value="" id="delivery_date" name="delivery_date[date]"/>
                </div>
            <?php endif; ?>
            <div class="shipping-term">
                <input type="checkbox" name="shipping_term" title="<?php echo $this->__('Assigned Beauty Club') ?>" id="shipping_term" class="checkbox square required-entry" checked/>
                <label for="shipping_term"><?php echo $this->__('I agree with the rules of the scheduled delivery') ?>
                    <a href="#shipping-term" class="faq-help"></a>
                    <div class="no-display"><div id="shipping-term"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('modal-shipping-term')->toHtml(); ?></div></div>
                </label>
            </div>
            <?php if ($useRange) : ?>
                <label class="sub-title"><?php echo $this->__("Change to time") ?></label>
                <div class="v-fix delivery-time">
                    <?php $i=1; foreach ($helper->getTimeRangeStrings() as $range): ?>
                        <input type="radio" name="delivery_date[time]" value="<?php echo $range; ?>" class="radio" id="delivery_time-<?php echo $range; ?>" <?php echo ($i == 1) ? 'checked' : '' ?> />
                        <label for="delivery_time-<?php echo $range; ?>"><?php echo $range; ?></label>
                    <?php $i++; endforeach; ?>
                </div>
            <?php endif; ?>
        </div>
    </li>
</ul>

<script type="text/javascript">
<?php
$shippingMethods = array();
if (Mage::getStoreConfig('firecheckout/delivery_date/filter_per_shipping_method')):
    $shippingMethods = explode(',', Mage::getStoreConfig('firecheckout/delivery_date/shipping_methods'));
endif;
?>

<?php
    $configOffset = $helper->getOffset();
    $shippingDesc = Mage::getSingleton('checkout/session')
        ->getQuote()
        ->getShippingAddress()
        ->getShippingDescription();

    $daysToAdd = preg_replace('/\D/', '', $shippingDesc);

    if ($daysToAdd > $configOffset) {
        $offset = $daysToAdd;
    } else {
        $offset = $configOffset;
    }
?>

var offset = <?php echo (int)$offset; ?>;
var shippingMethods = <?php echo json_encode($shippingMethods); ?>

var deliveryDate = new FC.DeliveryDate({
    excludedDates     : <?php echo Zend_Json::encode($helper->getExcludedDateStrings()); ?>,
    periodicalDates   : <?php echo Zend_Json::encode($helper->getExcludedPeriodicalDateStrings()); ?>,
    nonPeriodicalDates: <?php echo Zend_Json::encode($helper->getExcludedNonPeriodicalDateStrings()); ?>,
    excludeWeekend    : <?php echo (int)Mage::getStoreConfig('firecheckout/delivery_date/exclude_weekend'); ?>,
    useCalendar       : <?php echo (int)$useCalendar ?>,
    weekendDays       : Calendar._TT["WEEKEND"],
    ifFormat          : <?php echo Mage::helper('core')->jsonEncode($helper->getCalendarDateFormat()) ?>,
    shippingMethods   : <?php echo Zend_Json::encode($shippingMethods) ?>,
    todayOffset       : offset,
    useDefaultValue   : <?php echo (int)Mage::getStoreConfig('firecheckout/delivery_date/use_default_date_value'); ?>,
    serverDate        : "<?php echo Mage::app()->getLocale()->date()->toString('yyyy/MM/dd HH:mm:ss') ?>",
    endOfDeliveryDayDate: "<?php echo $helper->getEndOfDeliveryProcessingDay()->toString('yyyy/MM/dd HH:mm:ss') ?>",
    period            : <?php echo (int)Mage::getStoreConfig('firecheckout/delivery_date/date_period') ?>
});

</script>

<?php if ($useCalendar) : ?>
    <script type="text/javascript">

        var calendar = {

            /**
             * disableSpecificDates
             *
             * @param date
             */
            disableSpecificDates: function(date) {
                <?php if($helper->getExcludedDateStrings()): ?>
                    <?php
                        $excludedates = Zend_Json::encode($helper->getExcludedDateStrings());
                        $monthremove  = array('01-', '02-', '03-', '04-', '05-', '06-', '07-', '08-', '09-');
                        $monthsadd    = array('1-', '2-', '3-', '4-', '5-', '6-', '7-', '8-', '9-');
                        $excludedates = str_replace('\/','-', $excludedates);
                        $excludedates = str_replace($monthremove, $monthsadd, $excludedates);
                    ?>

                    var m = date.getMonth();
                    var d = date.getDate();
                    var y = date.getFullYear();

                    var disableddates = <?php echo $excludedates; ?>;
                    var currentdate = (m + 1) + '-' + d + '-' + y ;

                    for (var i = 0; i < disableddates.length; i++) {
                        if ($j.inArray(currentdate, disableddates) != -1 ) {
                            return [false];
                        }
                    }
                <?php endif; ?>

                var weekenddate = $j.datepicker.noWeekends(date);

                return weekenddate;
            },

            /**
             * includeDate
             *
             * @param date
             */
            includeDate: function(date) {
                console.log(date);
                console.log(date.getDay() !== 6 && date.getDay() !== 0);
                return date.getDay() !== 6 && date.getDay() !== 0;
            },

            /**
             * getTomorrow
             *
             * @param date
             */
            getTomorrow: function(date) {
                return new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1);
            }

        }
        function initDatePicker(offset) {
            $j('.datepicker').datepicker({
                beforeShowDay: calendar.disableSpecificDates,
                minDate: (function (min) {
                    var today = new Date();
                    var nextAvailable = calendar.getTomorrow(today);
                    var count = 0;
                    var newMin = 0;
                    while (count < min) {
                        //if (calendar.includeDate(nextAvailable)) {
                            count++;
                        //}
                        newMin++;
                        nextAvailable = calendar.getTomorrow(nextAvailable);
                    }
                    return newMin;
                })(offset),
                altField: '#delivery_date',
                altFormat: 'dd/mm/yy',
                maxDate: '+<?php echo (int)Mage::getStoreConfig('firecheckout/delivery_date/date_period') ?>d',
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                nextText: '&nbsp',
                prevText: '&nbsp'
            });
        }

        $j(document).ready(function(){
            initDatePicker(offset);
            $j('input[type=radio][name=shipping_method]').change(function() {
                if ($j.inArray($j(this).val(), shippingMethods) >= 0) {
                    var desc = jQuery('label[for='+$j(this).attr('id')+']').children('.shipping-deadline').text();
                    var numb = desc.match(/\d+/)[0];
                    $j('.datepicker').datepicker('destroy');
                    initDatePicker(numb);
                }
            });
        });

    </script>
<?php endif; ?>

