<?php
/**
 * @var Mage_Customer_Block_Form_Register|Mage_Checkout_Block_Onepage_Login $this
 * @var Mage_Customer_Block_Widget_Dob $dob
 * @var Mage_Customer_Block_Widget_Taxvat $taxvat
 * @var Mage_Customer_Block_Widget_Gender $gender
 * @var Esmart_Customer_Helper_Data $helper
 */
?>
<?php $customer = Mage::getModel('eav/config') ?>
<?php $helper = $this->helper('esmart_customer') ?>
<?php $helperLength = Mage::helper('bseller_maxlength') ?>
<?php

$birthdate = '';
$gender = Mage::getSingleton('core/session')->getGender();
$facebookId = Mage::getSingleton('core/session')->getFacebookId();
$facebookToken = serialize(Mage::getSingleton('core/session')->getFacebookToken());
$facebookFirstName = Mage::getSingleton('core/session')->getFirstName();
$facebookLastName = Mage::getSingleton('core/session')->getLastName();
?>

<div class="bseller-socialconnect-login-facebook">
    <div id="overlay-loader-socialconnect" style="display:none">
        <img class="loader-social" src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" />
    </div>
    <div class="col2-set">
        <div class="col-1">
            <div class="socialconnect-info">
                <div class="col-1">
                    <img src="<?php echo Mage::getSingleton('customer/session')->getFacebookPicture();?>">
                </div>
                <span><?php echo Mage::helper('bseller_socialconnect')->__('Hello');  ?> <strong><?php echo $facebookFirstName . ' ' . $facebookLastName; ?>!</strong></span>
                <span class="small">
                    <?php
                    $link = '<a href="' . Mage::getBaseUrl() . 'socialconnect/facebook/removesession/?login=1">' . Mage::helper('bseller_socialconnect')->__('Click here') . '</a>';
                    echo Mage::helper('bseller_socialconnect')->__('It is not you? %s to enter with another user.', $link);
                    ?>
                </span>
                <p>
                    <?php echo Mage::helper('bseller_socialconnect')->__('Link your Facebook account to Sephora');  ?><br>
                    <?php echo Mage::helper('bseller_socialconnect')->__('Choose one of the options below.');  ?>
                </p>
            </div>
        </div>
    </div>
    <div class="col-12" id="bseller-socialconnect_top50">
        <div id="bseller-socialconnect_step-title">
            <?php echo $this->__('We need to confirm that you already have a Sephora account. Enter your CPF in the field below:'); ?>
        </div>
        <?php echo $this->getChildHtml('form_fields_before')?>
        <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="register-form" enctype="multipart/form-data" autocomplete="off">
            <?php echo $this->getBlockHtml('formkey') ?>
            <input type="hidden" name="success_url" value="<?php echo $helper->getSuccessUrl() ?>"/>
            <input type="hidden" name="error_url" value="<?php echo $helper->getErrorUrl() ?>"/>
            <div class="content fieldset">
                <div id="bseller-socialconnect_cpf-div">
                    <?php $cpf = $customer->getAttribute('customer','cpf'); ?>
                    <div class="field">
                        <?php if($cpf->getIsVisible()): ?>
                            <div class="input-box">
                                <input type="text"
                                       placeholder="<?php echo $cpf->getFrontendLabel() ?>*"
                                       name="<?php echo $cpf->getAttributeCode() ?>"
                                       value="<?php echo $this->escapeHtml($this->getFormData()->getCpf()) ?>"
                                       id="<?php echo $cpf->getAttributeCode() ?>"
                                       title="<?php echo $cpf->getFrontendLabel() ?>"
                                       class="input-text <?php echo (!$cpf->getIsRequired()) ?: 'required-entry' ?> validate-cpf"
                                />
                            </div>
                        <?php endif; ?>
                    </div>
                    <div id="bseller-socialconnect_associate-div"></div>
                </div>
                <div id="bseller-socialconnect_step-2">
                    <div class="field">
                        <?php $dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                        <?php echo $dob->setDate($birthdate)->toHtml() ?>
                    </div>
                    <?php $telephone = $customer->getAttribute('customer','telephone'); ?>
                    <div class="field">
                        <?php if($telephone->getIsVisible()): ?>
                            <div class="input-box">
                                <input type="text"
                                       placeholder="<?php echo $telephone->getFrontendLabel() ?><?php echo ($telephone->getIsRequired()) ? '*' : '' ?>"
                                       name="<?php echo $telephone->getAttributeCode() ?>"
                                       id="<?php echo $telephone->getAttributeCode() ?>"
                                       title="<?php echo $telephone->getFrontendLabel() ?>"
                                       class="input-text <?php echo ($telephone->getIsRequired()) ? 'required-entry' : '' ?>"
                                />
                            </div>
                        <?php endif; ?>
                    </div>
                    <ul class="form-list">
                        <p class="image-seph-bc-top"><img src="<?php echo $this->getSkinUrl('images/logo-beauty-club-top.png')?>" /></p>
                        <p class="text-bc-top">
                            <?php
                                echo Mage::helper('bseller_socialconnect')
                                    ->__('Join our advantages program and earn points for each purchase.');
                            ?>
                        </p>
                        <li class="control">
                            <div class="input-box bseller-socialconnect_label-bc">
                                <input type="checkbox" name="is_bc" title="<?php echo $this->__('Assigned Beauty Club') ?>" value="1" id="is_bc" class="checkbox" checked/>
                                <?php $variableLink = Mage::getModel('core/variable')->loadByCode('term_and_cond'); ?>
                                <?php $linkTerms = '<a href="' . $variableLink->getValue('text') . '" target="_blank">' .Mage::helper('bseller_socialconnect')->__('terms and conditions'). '</a>';?>
                                <label for="is_bc">
                                    <?php echo Mage::helper('bseller_socialconnect')
                                                ->__('I want to participate in Beauty Club and I agree with the %s of the program', $linkTerms); ?>
                                    <a href="#not-bc" class="faq-help"></a>
                                    <div class="no-display">
                                        <div id="not-bc">
                                            <?php echo $this->__('The Beauty Club is the advantages program of Sephora Brazil. With it, your purchases online or in stores have seen points that can be exchanged for incredible prizes. Be part of it. It\'s free!');  ?>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </li>
                        <?php if ($this->isNewsletterEnabled()) : ?>
                            <li class="control">
                                <div class="input-box bseller-socialconnect_label-bc">
                                    <input type="checkbox"
                                           name="is_subscribed"
                                           title="<?php echo $this->__('Sign Up for Newsletter') ?>"
                                           value="1" id="is_subscribed" class="checkbox" checked
                                    />
                                    <label for="is_subscribed">
                                        <?php echo Mage::helper('bseller_socialconnect')
                                                    ->__('I wish to receive the newsletter SEPHORA with promotions, news and trends') ?>
                                    </label>
                                </div>
                            </li>
                        <?php endif ?>
                    </ul>
                </div>
                <ul class="form-list bseller-socialconnect_hidden">
                    <!-- Hidden Fields -->
                    <li class="fields">
                        <div class="field name-firstname">
                            <div class="input-box">
                                <input type="text"
                                       placeholder="Nome*"
                                       id="firstname"
                                       name="firstname"
                                       value="<?php echo Mage::getSingleton('core/session')->getFirstName(); ?>"
                                       title="Nome" maxlength="15"
                                       class="input-text required-entry" autocomplete="off"
                                />
                            </div>
                        </div>
                        <div class="field name-lastname">
                            <div class="input-box">
                                <input type="text"
                                       placeholder="Sobrenome*"
                                       id="lastname"
                                       name="lastname"
                                       value="<?php echo Mage::getSingleton('core/session')->getLastName(); ?>"
                                       title="Sobrenome" maxlength="25"
                                       class="input-text required-entry" autocomplete="off"
                                />
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <div class="input-box">
                                <input type="email"
                                       placeholder="<?php echo $this->__('E-mail') ?>*"
                                       name="email"
                                       id="email_address"
                                       maxlength="<?php echo $helperLength->getMaxLength('email') ?>"
                                       value="<?php echo Mage::getSingleton('core/session')->getEmail(); ?>"
                                       title="<?php echo Mage::helper('core')->quoteEscape($this->__('E-mail')) ?>"
                                       class="input-text validate-email required-entry"
                                />
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <?php $gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                            <?php echo $gender->setData('gender', $gender)->toHtml() ?>
                        </div>
                    </li>
                    <li class="fields">
                        <?php $cellphone = $customer->getAttribute('customer','cellphone'); ?>
                        <div class="field">
                            <?php if($cellphone->getIsVisible()): ?>
                                <div class="input-box">
                                    <input type="text"
                                           placeholder="<?php echo $cellphone->getFrontendLabel() ?><?php echo ($cellphone->getIsRequired()) ? '*' : '' ?>"
                                           name="<?php echo $cellphone->getAttributeCode() ?>"
                                           id="<?php echo $cellphone->getAttributeCode() ?>"
                                           title="<?php echo $cellphone->getFrontendLabel() ?>"
                                           class="input-text <?php echo ($cellphone->getIsRequired()) ? 'required-entry' : '' ?>"
                                    />
                                </div>
                            <?php endif; ?>
                        </div>
                    </li>
                    <li class="fields">
                        <input type="hidden"
                               value="<?php echo Mage::getSingleton('core/session')->getPassword() ?>"
                               name="password" id="password" title="<?php echo $this->__('Password') ?>"
                               class="input-text required-entry validate-password"
                        />
                        <input type="hidden"
                               value="<?php echo Mage::getSingleton('core/session')->getPassword() ?>"
                               name="confirmation"
                               title="<?php echo $this->__('Confirm Password') ?>"
                               id="confirmation" class="input-text required-entry validate-cpassword"
                        />
                    </li>
                    <li class="inputs-required"><p><?php echo $this->__('Fields with an asterisk are mandatory') ?></p></li>
                    <?php echo $this->getChildHtml('form.additional.info') ?>
                    <?php echo $this->getChildHtml('persistent.remember.me') ?>
                </ul>
                <?php echo $this->getChildHtml('persistent.remember.me.tooltip') ?>
            </div>
            <div id="bseller-socialconnect_btn-register-div">
                <div class="buttons-set register">
                    <button type="submit" id="bseller-socialconnect_button-register" data-action="register-new-user" class="button -primary" title="<?php echo $this->__('Register') ?>">
                    <span>
                        <span><?php echo $this->__('Register') ?></span>
                    </span>
                    </button>
                </div>
            </div>
            <?php if(Mage::helper('recaptcha')->isEnabled()): ?>
                <?php if ($this->helper('recaptcha')->showOnRegister()): ?>
                    <?php echo $this->getLayout()->createBlock('core/template')->setTemplate('recaptcha/recaptcha-facebook.phtml')->setFormId('register-form')->setFormValidate('recaptchaFacebook')->toHtml(); ?>                
                <?php endif; ?>            
            <?php endif; ?>               
            <?php if (Mage::helper('checkout')->isContextCheckout()) : ?>
                <input name="context" type="hidden" value="checkout"/>
            <?php endif ?>
            <input name="inchoo_socialconnect_fid" type="hidden" value="<?php echo $facebookId; ?>" />
            <input name="inchoo_socialconnect_ftoken" type="hidden" value="<?php echo $facebookToken; ?>" />
        </form>
    </div>
    <script>
        socialConnect = new BSeller_SocialConnect();
    </script>