@import "../tools/bourbon/bourbon";
@import "../tools/neat/neat-helpers";

$visual-grid: false;
$visual-grid-color: red;
$visual-grid-opacity: 0.1;

$max-width: 1220px;
$column: 83.5px;
$gutter: 19.5px;
$grid-columns: 12;

$screen-md:		980px;  // Medium screen / desktop
$screen-lg:		1280px; // Large screen / wide desktop
$screen-xlg:	1400px; // Extra Large screen / wide desktop
$screen-xxlg:	1900px; // Extra Large screen / wide desktop

$medium-resolution: new-breakpoint(max-width $max-width);
