%ico {
	font-family: $font-icon;
	-webkit-transition-duration: 150ms;
    -moz-transition-duration: 150ms;
    transition-duration: 150ms;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: inline-block;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.-sad               { @extend %ico; content: "\e811" }
.-happy             { @extend %ico; content: "\e813" }
.-info              { @extend %ico; content: "\e88e" }
.-announcement      { @extend %ico; content: "\e85a" }
.-chat              { @extend %ico; content: "\e900" }
.-search            { @extend %ico; content: "\e901" }
.-lock              { @extend %ico; content: "\e90a" }
.-place             { @extend %ico; content: "\e90b" }
.-bullet            { @extend %ico; content: "\e061" }
.-close_bold        { @extend %ico; content: "\e5c9" }
.-close             { @extend %ico; content: "\e5cd" }
.-plus_bold         { @extend %ico; content: "\e147" }
.-plus              { @extend %ico; content: "\e145" }
.-minus_bold        { @extend %ico; content: "\e15c" }
.-minus             { @extend %ico; content: "\e15b" }
.-pinterest         { @extend %ico; content: "\e902" }
.-youtube           { @extend %ico; content: "\e903" }
.-instagram         { @extend %ico; content: "\e904" }
.-twitter           { @extend %ico; content: "\e905" }
.-facebook          { @extend %ico; content: "\e906" }
.-triangle_top      { @extend %ico; content: "\e5c5" }
.-triangle_right    { @extend %ico; content: "\e5c6" }
.-triangle_bottom   { @extend %ico; content: "\e5c7" }
.-triangle_left     { @extend %ico; content: "\e5c8" }
.-arrow_top         { @extend %ico; content: "\e921" }
.-arrow_right       { @extend %ico; content: "\e918" }
.-arrow_bottom      { @extend %ico; content: "\e920" }
.-arrow_left        { @extend %ico; content: "\e919" }
.-slim_arrow_top    { @extend %ico; content: "\e90e" }
.-slim_arrow_right  { @extend %ico; content: "\e910" }
.-slim_arrow_bottom { @extend %ico; content: "\e90f" }
.-slim_arrow_left   { @extend %ico; content: "\e911" }
.-help  		    { @extend %ico; content: "\e887";}
.-favorite  	    { @extend %ico; content: "\e87d";}
.-error_outline     { @extend %ico; content: "\e001";}
.-wondering         { @extend %ico; content: "\e912" }
.-credit-card       { @extend %ico; content: "\e928" }
.-spinner           { @extend %ico; content: "\e913" }
.-checkmark         { @extend %ico; content: "\e908" }
.-facebook-square   { @extend %ico; content: "\e914" }
.-google		    { @extend %ico; content: "\e909" }
.-google-plus		{ @extend %ico; content: "\e90c" }
.-edit              { @extend %ico; content: "\e915" }
.-credit-cart-2     { @extend %ico; content: "\e916" }
.-billet            { @extend %ico; content: "\e917" }
.-eye               { @extend %ico; content: "\e907" }
.-bag               { @extend %ico; content: "\e90d" }
