// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-select-red-name: 'arrow-select -red';
$arrow-select-red-x: 446px;
$arrow-select-red-y: 250px;
$arrow-select-red-offset-x: -446px;
$arrow-select-red-offset-y: -250px;
$arrow-select-red-width: 20px;
$arrow-select-red-height: 5px;
$arrow-select-red-total-width: 633px;
$arrow-select-red-total-height: 476px;
$arrow-select-red-image: '../../images/sprite/g26cqnj2a.png';
$arrow-select-red: (446px, 250px, -446px, -250px, 20px, 5px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'arrow-select -red', );
$arrow-select-name: 'arrow-select';
$arrow-select-x: 416px;
$arrow-select-y: 250px;
$arrow-select-offset-x: -416px;
$arrow-select-offset-y: -250px;
$arrow-select-width: 20px;
$arrow-select-height: 5px;
$arrow-select-total-width: 633px;
$arrow-select-total-height: 476px;
$arrow-select-image: '../../images/sprite/g26cqnj2a.png';
$arrow-select: (416px, 250px, -416px, -250px, 20px, 5px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'arrow-select', );
$bag-hover-name: 'bag-hover';
$bag-hover-x: 618px;
$bag-hover-y: 180px;
$bag-hover-offset-x: -618px;
$bag-hover-offset-y: -180px;
$bag-hover-width: 13px;
$bag-hover-height: 20px;
$bag-hover-total-width: 633px;
$bag-hover-total-height: 476px;
$bag-hover-image: '../../images/sprite/g26cqnj2a.png';
$bag-hover: (618px, 180px, -618px, -180px, 13px, 20px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'bag-hover', );
$bag-name: 'bag';
$bag-x: 260px;
$bag-y: 417px;
$bag-offset-x: -260px;
$bag-offset-y: -417px;
$bag-width: 11px;
$bag-height: 17px;
$bag-total-width: 633px;
$bag-total-height: 476px;
$bag-image: '../../images/sprite/g26cqnj2a.png';
$bag: (260px, 417px, -260px, -417px, 11px, 17px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'bag', );
$bg-account-beauty-club-name: 'bg-account-beauty-club';
$bg-account-beauty-club-x: 264px;
$bg-account-beauty-club-y: 282px;
$bg-account-beauty-club-offset-x: -264px;
$bg-account-beauty-club-offset-y: -282px;
$bg-account-beauty-club-width: 153px;
$bg-account-beauty-club-height: 108px;
$bg-account-beauty-club-total-width: 633px;
$bg-account-beauty-club-total-height: 476px;
$bg-account-beauty-club-image: '../../images/sprite/g26cqnj2a.png';
$bg-account-beauty-club: (264px, 282px, -264px, -282px, 153px, 108px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'bg-account-beauty-club', );
$bg-header-beautyclub-name: 'bg-header-beautyclub';
$bg-header-beautyclub-x: 366px;
$bg-header-beautyclub-y: 0px;
$bg-header-beautyclub-offset-x: -366px;
$bg-header-beautyclub-offset-y: 0px;
$bg-header-beautyclub-width: 267px;
$bg-header-beautyclub-height: 170px;
$bg-header-beautyclub-total-width: 633px;
$bg-header-beautyclub-total-height: 476px;
$bg-header-beautyclub-image: '../../images/sprite/g26cqnj2a.png';
$bg-header-beautyclub: (366px, 0px, -366px, 0px, 267px, 170px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'bg-header-beautyclub', );
$bg-news-left-name: 'bg-news-left';
$bg-news-left-x: 0px;
$bg-news-left-y: 282px;
$bg-news-left-offset-x: 0px;
$bg-news-left-offset-y: -282px;
$bg-news-left-width: 254px;
$bg-news-left-height: 125px;
$bg-news-left-total-width: 633px;
$bg-news-left-total-height: 476px;
$bg-news-left-image: '../../images/sprite/g26cqnj2a.png';
$bg-news-left: (0px, 282px, 0px, -282px, 254px, 125px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'bg-news-left', );
$bg-news-right-blackfriday-name: 'bg-news-right-blackfriday';
$bg-news-right-blackfriday-x: 0px;
$bg-news-right-blackfriday-y: 141px;
$bg-news-right-blackfriday-offset-x: 0px;
$bg-news-right-blackfriday-offset-y: -141px;
$bg-news-right-blackfriday-width: 356px;
$bg-news-right-blackfriday-height: 131px;
$bg-news-right-blackfriday-total-width: 633px;
$bg-news-right-blackfriday-total-height: 476px;
$bg-news-right-blackfriday-image: '../../images/sprite/g26cqnj2a.png';
$bg-news-right-blackfriday: (0px, 141px, 0px, -141px, 356px, 131px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'bg-news-right-blackfriday', );
$bg-news-right-name: 'bg-news-right';
$bg-news-right-x: 0px;
$bg-news-right-y: 0px;
$bg-news-right-offset-x: 0px;
$bg-news-right-offset-y: 0px;
$bg-news-right-width: 356px;
$bg-news-right-height: 131px;
$bg-news-right-total-width: 633px;
$bg-news-right-total-height: 476px;
$bg-news-right-image: '../../images/sprite/g26cqnj2a.png';
$bg-news-right: (0px, 0px, 0px, 0px, 356px, 131px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'bg-news-right', );
$bg-tutorial-name: 'bg-tutorial';
$bg-tutorial-x: 510px;
$bg-tutorial-y: 180px;
$bg-tutorial-offset-x: -510px;
$bg-tutorial-offset-y: -180px;
$bg-tutorial-width: 98px;
$bg-tutorial-height: 28px;
$bg-tutorial-total-width: 633px;
$bg-tutorial-total-height: 476px;
$bg-tutorial-image: '../../images/sprite/g26cqnj2a.png';
$bg-tutorial: (510px, 180px, -510px, -180px, 98px, 28px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'bg-tutorial', );
$big-rating-empty-name: 'big-rating-empty';
$big-rating-empty-x: 562px;
$big-rating-empty-y: 220px;
$big-rating-empty-offset-x: -562px;
$big-rating-empty-offset-y: -220px;
$big-rating-empty-width: 18px;
$big-rating-empty-height: 17px;
$big-rating-empty-total-width: 633px;
$big-rating-empty-total-height: 476px;
$big-rating-empty-image: '../../images/sprite/g26cqnj2a.png';
$big-rating-empty: (562px, 220px, -562px, -220px, 18px, 17px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'big-rating-empty', );
$big-rating-name: 'big-rating';
$big-rating-x: 534px;
$big-rating-y: 220px;
$big-rating-offset-x: -534px;
$big-rating-offset-y: -220px;
$big-rating-width: 18px;
$big-rating-height: 17px;
$big-rating-total-width: 633px;
$big-rating-total-height: 476px;
$big-rating-image: '../../images/sprite/g26cqnj2a.png';
$big-rating: (534px, 220px, -534px, -220px, 18px, 17px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'big-rating', );
$border-left-name: 'border-left';
$border-left-x: 366px;
$border-left-y: 220px;
$border-left-offset-x: -366px;
$border-left-offset-y: -220px;
$border-left-width: 40px;
$border-left-height: 40px;
$border-left-total-width: 633px;
$border-left-total-height: 476px;
$border-left-image: '../../images/sprite/g26cqnj2a.png';
$border-left: (366px, 220px, -366px, -220px, 40px, 40px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'border-left', );
$chat-name: 'chat';
$chat-x: 427px;
$chat-y: 351px;
$chat-offset-x: -427px;
$chat-offset-y: -351px;
$chat-width: 14px;
$chat-height: 14px;
$chat-total-width: 633px;
$chat-total-height: 476px;
$chat-image: '../../images/sprite/g26cqnj2a.png';
$chat: (427px, 351px, -427px, -351px, 14px, 14px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'chat', );
$facebook-name: 'facebook';
$facebook-x: 476px;
$facebook-y: 220px;
$facebook-offset-x: -476px;
$facebook-offset-y: -220px;
$facebook-width: 19px;
$facebook-height: 19px;
$facebook-total-width: 633px;
$facebook-total-height: 476px;
$facebook-image: '../../images/sprite/g26cqnj2a.png';
$facebook: (476px, 220px, -476px, -220px, 19px, 19px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'facebook', );
$four-active-name: 'four-active';
$four-active-x: 52px;
$four-active-y: 417px;
$four-active-offset-x: -52px;
$four-active-offset-y: -417px;
$four-active-width: 42px;
$four-active-height: 59px;
$four-active-total-width: 633px;
$four-active-total-height: 476px;
$four-active-image: '../../images/sprite/g26cqnj2a.png';
$four-active: (52px, 417px, -52px, -417px, 42px, 59px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'four-active', );
$four-name: 'four';
$four-x: 0px;
$four-y: 417px;
$four-offset-x: 0px;
$four-offset-y: -417px;
$four-width: 42px;
$four-height: 59px;
$four-total-width: 633px;
$four-total-height: 476px;
$four-image: '../../images/sprite/g26cqnj2a.png';
$four: (0px, 417px, 0px, -417px, 42px, 59px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'four', );
$instagram-name: 'instagram';
$instagram-x: 416px;
$instagram-y: 220px;
$instagram-offset-x: -416px;
$instagram-offset-y: -220px;
$instagram-width: 20px;
$instagram-height: 20px;
$instagram-total-width: 633px;
$instagram-total-height: 476px;
$instagram-image: '../../images/sprite/g26cqnj2a.png';
$instagram: (416px, 220px, -416px, -220px, 20px, 20px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'instagram', );
$logo-beauty-club-name: 'logo beauty club';
$logo-beauty-club-x: 366px;
$logo-beauty-club-y: 180px;
$logo-beauty-club-offset-x: -366px;
$logo-beauty-club-offset-y: -180px;
$logo-beauty-club-width: 134px;
$logo-beauty-club-height: 30px;
$logo-beauty-club-total-width: 633px;
$logo-beauty-club-total-height: 476px;
$logo-beauty-club-image: '../../images/sprite/g26cqnj2a.png';
$logo-beauty-club: (366px, 180px, -366px, -180px, 134px, 30px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'logo beauty club', );
$one-active-name: 'one-active';
$one-active-x: 104px;
$one-active-y: 417px;
$one-active-offset-x: -104px;
$one-active-offset-y: -417px;
$one-active-width: 33px;
$one-active-height: 57px;
$one-active-total-width: 633px;
$one-active-total-height: 476px;
$one-active-image: '../../images/sprite/g26cqnj2a.png';
$one-active: (104px, 417px, -104px, -417px, 33px, 57px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'one-active', );
$one-name: 'one';
$one-x: 147px;
$one-y: 417px;
$one-offset-x: -147px;
$one-offset-y: -417px;
$one-width: 33px;
$one-height: 57px;
$one-total-width: 633px;
$one-total-height: 476px;
$one-image: '../../images/sprite/g26cqnj2a.png';
$one: (147px, 417px, -147px, -417px, 33px, 57px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'one', );
$pinterest-name: 'pinterest';
$pinterest-x: 446px;
$pinterest-y: 220px;
$pinterest-offset-x: -446px;
$pinterest-offset-y: -220px;
$pinterest-width: 20px;
$pinterest-height: 20px;
$pinterest-total-width: 633px;
$pinterest-total-height: 476px;
$pinterest-image: '../../images/sprite/g26cqnj2a.png';
$pinterest: (446px, 220px, -446px, -220px, 20px, 20px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'pinterest', );
$radio-checked-name: 'radio-checked';
$radio-checked-x: 590px;
$radio-checked-y: 220px;
$radio-checked-offset-x: -590px;
$radio-checked-offset-y: -220px;
$radio-checked-width: 16px;
$radio-checked-height: 16px;
$radio-checked-total-width: 633px;
$radio-checked-total-height: 476px;
$radio-checked-image: '../../images/sprite/g26cqnj2a.png';
$radio-checked: (590px, 220px, -590px, -220px, 16px, 16px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'radio-checked', );
$radio-name: 'radio';
$radio-x: 616px;
$radio-y: 220px;
$radio-offset-x: -616px;
$radio-offset-y: -220px;
$radio-width: 16px;
$radio-height: 16px;
$radio-total-width: 633px;
$radio-total-height: 476px;
$radio-image: '../../images/sprite/g26cqnj2a.png';
$radio: (616px, 220px, -616px, -220px, 16px, 16px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'radio', );
$rating-empty-name: 'rating-empty';
$rating-empty-x: 474px;
$rating-empty-y: 351px;
$rating-empty-offset-x: -474px;
$rating-empty-offset-y: -351px;
$rating-empty-width: 13px;
$rating-empty-height: 12px;
$rating-empty-total-width: 633px;
$rating-empty-total-height: 476px;
$rating-empty-image: '../../images/sprite/g26cqnj2a.png';
$rating-empty: (474px, 351px, -474px, -351px, 13px, 12px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'rating-empty', );
$rating-name: 'rating';
$rating-x: 451px;
$rating-y: 351px;
$rating-offset-x: -451px;
$rating-offset-y: -351px;
$rating-width: 13px;
$rating-height: 12px;
$rating-total-width: 633px;
$rating-total-height: 476px;
$rating-image: '../../images/sprite/g26cqnj2a.png';
$rating: (451px, 351px, -451px, -351px, 13px, 12px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'rating', );
$slider-next-name: 'slider-next';
$slider-next-x: 225px;
$slider-next-y: 417px;
$slider-next-offset-x: -225px;
$slider-next-offset-y: -417px;
$slider-next-width: 25px;
$slider-next-height: 48px;
$slider-next-total-width: 633px;
$slider-next-total-height: 476px;
$slider-next-image: '../../images/sprite/g26cqnj2a.png';
$slider-next: (225px, 417px, -225px, -417px, 25px, 48px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'slider-next', );
$slider-prev-name: 'slider-prev';
$slider-prev-x: 190px;
$slider-prev-y: 417px;
$slider-prev-offset-x: -190px;
$slider-prev-offset-y: -417px;
$slider-prev-width: 25px;
$slider-prev-height: 48px;
$slider-prev-total-width: 633px;
$slider-prev-total-height: 476px;
$slider-prev-image: '../../images/sprite/g26cqnj2a.png';
$slider-prev: (190px, 417px, -190px, -417px, 25px, 48px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'slider-prev', );
$three-active-name: 'three-active';
$three-active-x: 482px;
$three-active-y: 282px;
$three-active-offset-x: -482px;
$three-active-offset-y: -282px;
$three-active-width: 45px;
$three-active-height: 59px;
$three-active-total-width: 633px;
$three-active-total-height: 476px;
$three-active-image: '../../images/sprite/g26cqnj2a.png';
$three-active: (482px, 282px, -482px, -282px, 45px, 59px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'three-active', );
$three-name: 'three';
$three-x: 427px;
$three-y: 282px;
$three-offset-x: -427px;
$three-offset-y: -282px;
$three-width: 45px;
$three-height: 59px;
$three-total-width: 633px;
$three-total-height: 476px;
$three-image: '../../images/sprite/g26cqnj2a.png';
$three: (427px, 282px, -427px, -282px, 45px, 59px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'three', );
$twitter-name: 'twitter';
$twitter-x: 505px;
$twitter-y: 220px;
$twitter-offset-x: -505px;
$twitter-offset-y: -220px;
$twitter-width: 19px;
$twitter-height: 19px;
$twitter-total-width: 633px;
$twitter-total-height: 476px;
$twitter-image: '../../images/sprite/g26cqnj2a.png';
$twitter: (505px, 220px, -505px, -220px, 19px, 19px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'twitter', );
$two-active-name: 'two-active';
$two-active-x: 537px;
$two-active-y: 282px;
$two-active-offset-x: -537px;
$two-active-offset-y: -282px;
$two-active-width: 43px;
$two-active-height: 59px;
$two-active-total-width: 633px;
$two-active-total-height: 476px;
$two-active-image: '../../images/sprite/g26cqnj2a.png';
$two-active: (537px, 282px, -537px, -282px, 43px, 59px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'two-active', );
$two-name: 'two';
$two-x: 590px;
$two-y: 282px;
$two-offset-x: -590px;
$two-offset-y: -282px;
$two-width: 43px;
$two-height: 59px;
$two-total-width: 633px;
$two-total-height: 476px;
$two-image: '../../images/sprite/g26cqnj2a.png';
$two: (590px, 282px, -590px, -282px, 43px, 59px, 633px, 476px, '../../images/sprite/g26cqnj2a.png', 'two', );
$spritesheet-width: 633px;
$spritesheet-height: 476px;
$spritesheet-image: '../../images/sprite/g26cqnj2a.png';
$spritesheet-sprites: ($arrow-select-red, $arrow-select, $bag-hover, $bag, $bg-account-beauty-club, $bg-header-beautyclub, $bg-news-left, $bg-news-right-blackfriday, $bg-news-right, $bg-tutorial, $big-rating-empty, $big-rating, $border-left, $chat, $facebook, $four-active, $four, $instagram, $logo-beauty-club, $one-active, $one, $pinterest, $radio-checked, $radio, $rating-empty, $rating, $slider-next, $slider-prev, $three-active, $three, $twitter, $two-active, $two, );
$spritesheet: (633px, 476px, '../../images/sprite/g26cqnj2a.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
