// --------------------------------------------------- //
//                       Colors                        //
// --------------------------------------------------- //

// Default
$c-black:         #000;
$c-white:         #FFF;

// Brand Color
$c-dark-primary:  #cd0303;

// Grays
$c-gray:          #d7d7d7;
$c-gray-light:    #f2f2f2;
$c-gray-lighten:  #f0f0f0;
$c-gray-dark:     #898989;
$c-gray-header:   #cccccc;
$c-gray-darker:   #a5a5a5;

// System
$c-alert-error:   #cd0303;
$c-red-light:     #ff5064;
$c-alert-warning: #cccccc;
$c-alert-success: #000000;
$c-placeholder:   #767676;


// --------------------------------------------------- //
//                   Tipography                        //
// --------------------------------------------------- //

$font-icon:   'icomoon';
$font-family: 'Arial', Helvetica, sans-serif;

// Typography
$base-font-family:  $font-family;
$f-avalon:          'Helvetica neue','Helvetica', 'Arial', sans-serif;
$f-sephoraSans:     'Helvetica neue','Helvetica', 'Arial', sans-serif;
$f-sephoraSerif:     georgia, times, serif;
$f-georgia-italic: georgia italic,times,serif;

// Font Sizes
$base-font-size: 13px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

$base-margin: 20px;


// --------------------------------------------------- //
//                         Units                       //
// --------------------------------------------------- //

// Border
$base-border-color: $c-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Animations
$base-duration: 100ms;
$base-timing: ease;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// For social connect
$black: #000;
$color_monsoon_approx: #898989;
$red: red;