body,
table.body,
th,
h1,
h2,
h3,
h4,
h5,
h6,
td,
p,
strong {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #000000;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

table {
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img {
  -ms-interpolation-mode: bicubic;
}

body {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

table,
table td {
  border-collapse: collapse;
}

table td {
  vertical-align: top;
}

a {
  color: #000000;
  text-decoration: none;
}

font {
  line-height: 20px;
}

.btn-mail {
    padding: 15px 20px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-mail.black {
    background: #000;
}

.totals table {
  width: 100%;
}

.totals table table tr td {
  width: 50%;
  padding-left: 24px;
  height: 45px;
  vertical-align: middle;
  font-size: 15px;
  color: #4d4d4d;
  font-style: NORMAL;
  text-align: left;
  border-bottom: 3px solid #f2f2f2;
}

.totals table table tr td strong {
  font-weight: normal;
}

.totals table table tr td:nth-child(1) {
  text-align: left;
  font-weight: bold;
  border-right: 3px solid #f2f2f2;
}

.totals table table tr td:nth-child(1) strong {
  font-weight: bold;
}
