<!--@subject Bem-vindo a SEPHORA, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="700" height="3" bgcolor="#000000" align="center"></td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td align="center">
            <font style="font-family: Times New Roman, serif; font-size: 20px; color: #000000; font-style: NORMAL; font-weight:bold;">BEM VINDO!</font>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td width="700" height="3" bgcolor="#000000" align="center"></td>
    </tr>
    <tr>
        <td height="50"></td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="700">
                <tr>
                    <td width="35"></td>
                    <td>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 20px; color: #000000; font-style: NORMAL; font-weight: BOLD;">Olá, {{htmlescape var=$customer.name}}</font><br><br>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 14px; color: #000000; font-style: NORMAL;">Obrigado por escolher a <font style="font-family: Arial, serif; font-size: 14px; color: #000000; font-style: NORMAL; font-weight:bold;">SEPHORA,</font> a maior loja de produtos de beleza do mundo.<br>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 14px; color: #000000; font-style: NORMAL;">Acesse sua conta clicando em <a href="{{store url="customer/account/"}}" style="font-weight: bold; color: #000;">login</a> ou <a href="{{store url="customer/account/"}}" style="font-weight: bold; color: #000;">minha conta</a></font><br></font>
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="30"></td>
    </tr>
</table>
<tr>
    <td>
        <table cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
            <tr>
                <td><a href="http://www.sephora.com.br/maquiagem&utm_source=bseller-transacional&utm_medium=email&utm_campaign=senha_sem_revisao&utm_content=maquiagem" target="_blank" ><img src="{{media url='wysiwyg/email/mini-banner-1.jpg'}}" alt="maquiagem" title="maquiagem" width="auto" height="auto" border="0" style="display:block"></a></td>
                <td><a href="http://www.sephora.com.br/tratamento&utm_source=bseller-transacional&utm_medium=email&utm_campaign=senha_sem_revisao&utm_content=tratamento" target="_blank" ><img src="{{media url='wysiwyg/email/mini-banner-2.jpg'}}" alt="tratamento" title="tratamento" width="auto" height="auto" border="0" style="display:block"></a></td>
                <td><a href="http://www.sephora.com.br/perfumes&utm_source=bseller-transacional&utm_medium=email&utm_campaign=senha_sem_revisao&utm_content=perfumes" target="_blank" ><img src="{{media url='wysiwyg/email/mini-banner-3.jpg'}}" alt="perfumes" title="perfumes" width="auto" height="auto" border="0" style="display:block"></a></td>
            </tr>
        </table>
    </td>
</tr>
{{template config_path="design/email/footer"}}
