<!--@subject {{var store.getFrontendName()}} - Lembrete de Senha @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_customer=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->
<!--@styles
@-->
<table style="width: 600px; margin: 0 auto; font-family: Arial; font-size: 18px; color: #000000" border="0" cellspacing="0">
    <tr>
        <td colspan="3" style="text-align: center;"><img src="{{skin url='images/email/logo.png' _area='frontend' _package='sephora' _theme='default'}}" /></td>
    </tr>
    <tr>
        <td colspan="3" style="font-size: 30px; padding: 15px 0;">Olá, <strong style="color: #be0711">{{htmlescape var=$customer.firstname}},</strong></td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 10px 0;">Mudar é sempre bom e apostar em looks novos também! ;)</td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 10px 0;">Que tal começar pela sua senha?</td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 10px 0;">
            <a style="padding: 15px; cursor: pointer; background: #000000; color: #ffffff; border: 0; text-transform: uppercase; text-decoration:none;" href="{{store url="customer/account/resetpassword/" _query_customer=$customer.id _query_token=$customer.rp_token}}">Clique aqui para resetar a senha</a>            
        </td>
    </tr>
    <tr>
        <td colspan="3" style="padding: 10px 0;">Você pode alterar a sua senha a qualquer momento, basta <a style="color: #000000; text-decoration: underline;" href="{{store url='customer/account/'}}">clicar aqui</a>.</td>
    </tr>       
    <tr>
        <td colspan="3" style="padding: 10px 0;">*Sugerimos que utilize uma senha forte: combinado números, letras e caracteres especiais.</td>
    </tr>
    <tr>
        <td colspan="3" style="background: #000000; color: #ffffff; font-size: 15px; padding: 15px; vertical-align: top; line-height: 24px">Em caso de dúvidas, entre em contato com nossa central de relacionamento:</td>
    </tr>
    <tr>
        <td style="background: #000000; color: #ffffff; font-size: 15px; padding: 15px; vertical-align: top; line-height: 24px"><strong>Capital e regiões metropolitanas:</strong><br />3004-7500</td>
        <td style="background: #000000; color: #ffffff; font-size: 15px; padding: 15px; vertical-align: top; line-height: 24px"><strong>Outras regiões:</strong><br />(21) 3004-7500</td>
        <td style="background: #000000; color: #ffffff; font-size: 15px; padding: 15px; vertical-align: top; line-height: 24px" rowspan="2"><strong>Horário de atendimento:</strong><br />Seg à Sex<br />8h às 18h</td>
    </tr>
    <tr>
        <td style="background: #000000; color: #ffffff; font-size: 15px; padding: 15px; vertical-align: top; line-height: 24px"><strong>Estado do Rio de Janeiro:</strong>0800 722 7500</td>
        <td style="background: #000000; color: #ffffff; font-size: 15px; padding: 15px; vertical-align: top; line-height: 24px">Ou nos envie uma mensagem através<br />do FALE CONOSCO</td>
    </tr>           
</table>