<!--@subject New password for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
@-->
<div style="padding: 5px 15px; font-family: Arial,sans-serif; max-width: 700px; margin: 0 auto">
    <div style="width: 100%; max-width:221px; margin:0 auto; text-align: center"><img style="width: 100%;" src="{{skin url='images/email/logo.png' _area='frontend' _package='sephora' _theme='default'}}" /></div>
    <div style="width: 100%; text-align: left;font-size: 24px; padding: 5px 24px; margin-bottom: 20px;">Olá <strong style="color: #cf4950">{{htmlescape var=$order.getCustomerName()}},</strong></div>

    <div style="padding: 0 20px">
        <p style="margin: 0 0 20px 0">Mudar é sempre bom e apostar em looks novos também! <strong>;)</strong></p>
        <p style="margin: 5px 0">Que tal começar pela sua senha?</p>
        <p style="margin: 5px 0">Sua nova senha é: {{htmlescape var=$customer.password}}</p>
        <p style="margin: 20px 0 0 0">Você pode alterar a sua senha a qualquer momento, basta <a style="color: #000" href="{{store url='customer/account/'}}">clicar aqui</a>.</p>

        <p style="margin: 20px 0 25px 0">*Sugerimos que utilize uma senha forte: combinado números, letras e caracteres especiais.</p>
    </div>
</div>

<div style="background-color: #000; color:#fff; font-family: Arial; padding: 3px 20px; font-size: 13px; margin: 0 auto; max-width: 700px">
    <p style="text-align: center;">Em caso de dúvidas, entre em contato com nossa central de relacionamento:</p>
    <ul style="list-style: none">
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Capital e regiões <br>metropolitanas:</strong>
            <br>3004-7500
        </li>
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Outras regiões:</strong>
            <br>(21) 3004-7500
        </li>
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Horário de atendimento:</strong>
            <br>Seg à Sex
            <br>8h às 18h
        </li>
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Estado do Rio de Janeiro: </strong>
            <br>0800 722 7500
        </li>
        <li style="display: inline-block; width: 30%;vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            Ou nos envie uma
            <br>mensagem através
            <br>do FALE CONOSCO
        </li>
    </ul>
</div>