<!--@subject Oba! chegou! @-->
<!--@vars
{"var customerName":"Customer Name",
"var alertGrid":"Alert Data Grid"}
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="700" height="3" bgcolor="#000000" align="center"></td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td align="center">
            <font style="font-family: Times New Roman, serif; font-size: 20px; color: #000000; font-style: NORMAL; font-weight:bold;">OBA! CHEGOU!</font>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td width="700" height="3" bgcolor="#000000" align="center"></td>
    </tr>
    <tr>
        <td height="30"></td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="700">
                <tr>
                    <td width="35"></td>
                    <td>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 20px; color: #000000; font-style: NORMAL; font-weight: BOLD;">{{var customerName}}</font><br><br>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 13.5px; color: #000000; font-style: NORMAL;">Pode comemorar, pois temos uma ótima notícia<br>
                        para encher seu dia de beleza! :)</font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="30"></td>
    </tr>
    <tr>
        {{var alertGrid}}
    </tr>
    <tr>
        <td height="30"></td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
