<?php
    $block_data = $this->getBlockData();
    $blocks = $block_data['block'];
    $banners = $block_data['banners'];
?>
<div id="slidertop<?php echo $blocks['bannerslider_id'] ?>" class="swiper-container">
    <ul class="swiper-wrapper">
        <?php foreach ($banners as $banner): ?>
            <div class="swiper-slide">
                <li>
                    <a href="<?php echo $banner['click_url']?>" target="<?php echo $this->getTarget($banner['tartget'])?>" style="display:block">
                        <img alt="<?php echo $banner['image_alt'];?>" data-src="<?php echo $this->getBannerImage($banner['image']); ?>" class="swiper-lazy" />
                    </a>
                </li>
            </div>
        <?php endforeach; ?>
    </ul>
    <div id="slidertop<?php echo $blocks['bannerslider_id'] ?>-pagination" class="swiper-pagination top"></div>
    <div id="slidertop<?php echo $blocks['bannerslider_id'] ?>-prev" class="swiper-button-prev transparent"></div>
    <div id="slidertop<?php echo $blocks['bannerslider_id'] ?>-next" class="swiper-button-next transparent"></div>
</div>
<script type="text/javascript">
    var sliderTop = new Swiper('#slidertop<?php echo $blocks['bannerslider_id'] ?>', {
        autoplay: {
            delay: <?php echo $blocks['slider_speed']; ?>,
        },        
        lazy: {
            loadPrevNext: true,
        },
        loop: true,
        slidesPerView: 1,
        pagination: {
            el: '#slidertop<?php echo $blocks['bannerslider_id'] ?>-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '#slidertop<?php echo $blocks['bannerslider_id'] ?>-next',
            prevEl: '#slidertop<?php echo $blocks['bannerslider_id'] ?>-prev',
        }
    });

    $j('#slidertop<?php echo $blocks['bannerslider_id'] ?>').mouseenter(function() {
        sliderTop.autoplay.stop();
        $j('#slidertop<?php echo $blocks['bannerslider_id'] ?>-prev').animate({"left":"0"}, 'fast');
        $j('#slidertop<?php echo $blocks['bannerslider_id'] ?>-next').animate({"right":"0"}, 'fast');
    });

    $j('#slidertop<?php echo $blocks['bannerslider_id'] ?>').mouseleave(function() {
        sliderTop.autoplay.start();
        $j('#slidertop<?php echo $blocks['bannerslider_id'] ?>-prev').animate({"left":"-50px"}, 'fast');
        $j('#slidertop<?php echo $blocks['bannerslider_id'] ?>-next').animate({"right":"-50px"}, 'fast');
    });    
</script>