<?php
    $block_data = $this->getBlockData();
    $banners = $block_data['banners'];
?>
<ul class="banners-top">
    <?php $_count = 1; ?>
    <?php foreach ($banners as $banner): ?>
        <li><a href="<?php echo $banner['click_url']?>" target="<?php echo $this->getTarget($banner['tartget'])?>" style="display:block"><img alt="<?php echo $banner['image_alt'];?>" <?php echo ($_count == 1) ? 'src' : 'data-src'; ?>="<?php echo $this->getBannerImage($banner['image']); ?>"/></a></li>
        <?php $_count++; ?>
    <?php endforeach; ?>
</ul>