// Border radius
//
// $top-left
// $top-right
// $bottom-right
// $bottom-left
//
// Usage: @include border-radius(5px, 5px, 5px, 5px)
@mixin border-radius($top-left:3px, $top-right:3px, $bottom-right:3px, $bottom-left:3px) {
    -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
    -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
    border-radius: $top-left $top-right $bottom-right $bottom-left;
}

// Transition
//
// $blur
// $spread
// $color
//
// Usage: @include transition(background, 0.3s, linear)
@mixin transition($type, $time:0.3s, $effect:linear) {
    -webkit-transition: $type $time $effect;
    -moz-transition: $type $time $effect;
    -o-transition: $type $time $effect;
    -ms-transition: $type $time $effect;
    transition: $type $time $effect;
}
