<?php /** @var $this Esmart_BeautyClub_Block_Dashboard */?>
<div>
    <div>
        <a href="<?php echo $this->getUrl('beautyclub/account/list') ?>" >Vitrine Prêmios</a>
    </div>
    <div>
        <a href="<?php echo $this->getUrl('beautyclub/account/history') ?>" >Extrato</a>
    </div>
    <div>
        <a href="#" >Resgate Épico</a>
    </div>

    <div style="margin-top: 15px;">
        <p><?php echo $this->getName() ?></p>
        <p><?php echo $this->spentPoints()  ?> PONTOS</p>
        <p>FALTAM <strong><?php echo $this->nextLevelPoints() ?> PONTOS</strong> PARA VOCÊ SE TORNAR <strong><?php echo $this->nextSegment() ?></strong>.</p>
    </div>


    <?php //Zend_Debug::dump($customer->getBcData());die; ?>
</div>