<?php /** @var $this Esmart_BeautyClub_Block_History */?>
<table cellpadding="1" cellspacing="10">
    <thead>
    <th width="40">Data</th>
    <th>Lançamento</th>
    <th>Compras Elegíveis</th>
    <th>Compras Acumuladas Ano</th>
    <th>Pontos Utilizados</th>
    <th>Saldo Final</th>
    <th>Vencimento</th>
    </thead>
    <tbody>
    <?php foreach ($this->getHistories() as $history): ?>
        <td><?php echo $history['data'] ?></td>
        <td><?php echo $history['lancamento'] ?></td>
        <td><?php echo $history['compras_elegiveis'] ?></td>
        <td><?php echo $history['compras_acumuladas'] ?></td>
        <td><?php echo $history['pontos_utilizados'] ?></td>
        <td><?php echo $history['saldo_final'] ?></td>
        <td><?php echo $history['vencimento'] ?></td>
    <?php endforeach; ?>
    </tbody>
</table>
