<?php
    /**@var $this Esmart_BeautyClub_Block_List */

    $customer = Mage::getSingleton('customer/session')->getCustomer();
    $productCollection = $this->getLoadedProductCollection();
    $helper = $this->helper('catalog/output');
    $columnCount = 4;
    $i = 0;
?>


<div class="pint-balance" style="text-align: center; margin-bottom: 10px;">
    Sua pontuação é de <strong><?php echo $customer->getFullPoints(); ?></strong> pontos.
</div>

<?php if (!$productCollection->count()): ?>
    <p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php endif; ?>

<form method="post" action="<?php echo $this->getUrl('beautyclub/program/add') ?>">
    <?php echo $this->getBlockHtml('formkey')?>

    <div class="category-products">
        <ul class="products-grid products-grid--max-<?php echo $columnCount; ?>-col">
            <?php foreach ($productCollection as $product): ?>
                <li class="item<?php if(($i - 1) % $columnCount == 0): ?> first<?php elseif($i % $columnCount == 0): ?> last<?php endif; ?>">
                    <a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" class="product-image">
                        <img id="product-collection-image-<?php echo $product->getId(); ?>"
                             src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(180); ?>"
                             alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" />
                    </a>

                    <div class="product-info">
                        <h2 class="product-name"><a href="<?php echo $product->getProductUrl() ?>" title="<?php echo $this->stripTags($product->getName(), null, true) ?>">
                            <?php echo $helper->productAttribute($product, $product->getName(), 'name') ?></a>
                        </h2>

                        <div>
                            Disponibilidade: <?php echo $product->getBcAvailable() ? 'Sim' : 'Não' ?>
                        </div>

                        <?php echo $product->getPoints() ?> pontos

                        <div class="actions">
                            <?php if($product->getBcAvailable()): ?>
                                <input type="checkbox" name="bc_product[<?php echo $product->getId() ?>]" value="<?php echo $product->getPoints() ?>" <?php echo $this->isInCart($product) ? 'checked="checked"' : '' ?>/>
                            <?php else: ?>
                                <input type="checkbox" name="bc_product[<?php echo $product->getId() ?>]" value="<?php echo $product->getPoints() ?>" disabled="disabled"/>
                            <?php endif; ?>
                        </div>
                    </div>
                </li>
            <?php endforeach ?>
        </ul>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    </div>

    <input type="submit" value="<?php echo $this->__('Continue') ?>" onclick="setLocation('<?php echo $this->getUrl('checkout/onepage') ?>')" style="float: right;" />
</form>
