<div id="container_banners">
    <?php if (count($this->getBannersByCategory()) > 0) : ?>
        <div class="<?php echo (count($this->getBannersByCategory()) > 1) ? 'flexslider-banners-category no-display' : 'no-slider' ?>">
            <ul class="slides">
            <?php foreach($this->getBannersByCategory() as $_banner) : ?>
                <li>
                    <a href="<?php echo $_banner->getLink()?>" target="_blank"  style="display:block">
                        <img alt="<?php echo $_banner->getName() ?>" src="<?php echo $this->getBannerImage($_banner->getImage()); ?>"/>
                    </a>
                </li>
            <?php endforeach; ?>
            </ul>
        </div>
    <?php endif; ?>
</div>

<?php if (count($this->getBannersByCategory())) : ?>
    <script type="text/javascript">
        jQuery(document).ready(function(){

            window.bannerCategory = new ESmart_BannerCategory();

            window.bannerCategory.initializeSlider(
                ".flexslider-banners-category",
                "slide",
                4500,
                ".flex-control-nav"
            );
            window.bannerCategory.showBanner(".flexslider-banners-category .flex-viewport", ".flexslider-banners-category");
        });
    </script>
<?php endif; ?>
