.customer-account {

    .main {
        @include span-columns(12);
        margin: 0 0 30px 0;
    }

    .container {
        padding: 0 $gap;
    }

    .page-title {
        padding: 18px 0;
        text-align: center;
        position: relative;

        h1 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
        }

        .button-reorder {
            @extend .no-display;
        }

        .back {
            position: absolute;
            left: 0;
            top: 2px;
            padding: 10px 20px 10px 10px;
            font-size: 26px;
            color: $c-gray-dark;            
        }

        &.border {
            border-bottom: 1px solid;
            margin-bottom: 20px;
        }

    }

    .account-menu {
        @include span-columns(12);
        margin-bottom: 100px;

        li {
            @include span-columns(12);
            padding: 10px 8px;
            font-size: 14px;
            text-transform: uppercase;
            border-top: 1px solid $c-gray;
            position: relative;

            a {
                display: block;
            }

            span {
                position: absolute;
                right: 0;
                top: 18px;
                font-size: 16px;
                color: $c-gray;
            }

            img {
                display: inline-block;
                vertical-align: middle;
                height: 30px;
                width: 30px;
                margin-right: 15px;

                & + img {
                    width: 100px;
                }

            }

            &:last-child {
                border-bottom: 1px solid $c-gray;
                padding-bottom: 9px;
            }

        }

    }

    .buttons-set {
        @include span-columns(12);
        margin: 20px 0;
        text-align: center;

        .button {
            @extend %white-style;            
            display: inline-block;
            width: initial;
            min-width: 40%;

            & + .button {
                margin-left: 20px;
            }

            &.-primary {
                @extend %black-style;
            }

        }

    }

}

.customer-account-edit {

    .new_password {
        float: left;
        width: 100%;
        margin-top: 20px;
    }
    
}

.customer-address-index {

    .addresses {
        @include span-columns(12);
        margin-bottom: 20px;

        li {
            @include span-columns(12);
            position: relative;
            padding: 10px 15px;
            margin-bottom: 15px;
            border: 1px solid $c-gray-dark;
            font-size: 13px;
            line-height: 18px;
            @include border-radius();

            .link-remove {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;

                &:before {
                    content: 'x';
                    display: block;
                    width: 15px;
                    height: 15px;
                    line-height: 12px;
                    font-size: 10px;
                    text-align: center;
                    border: 1px solid $c-gray-dark;
                    @include border-radius(50%, 50%, 50%, 50%);
                }

            }

            .link-edit {
                float: right;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: underline;
            }

            address {
                display: block;
                margin: 5px 0;
            }

        }

    }

    .my-account {

        .button {
            position: fixed;
            z-index: 10;
            width: 100%;
            left: 0;
            right: 0;
            bottom: 0;
        }

    }

}

.customer-address-form {

    .address-contact,
    .address-info {
        @include span-columns(12);
        margin-bottom: 15px;

        .box-subtitle {
            @include span-columns(6);
            padding-bottom: 5px;
            margin-bottom: 15px;
            text-transform: uppercase;
            border-bottom: 2px solid;

            h2 {
                font-weight: bold;
            }

        }

    }

}

.sales-order-history {

    .buttons-set {
        @extend .no-display;
    }

    .button {
        @include span-columns(12);
        margin: 20px 0 0 0;
        text-align: center;
        font-weight: bold;
    }    

    .toolbar-top {
        @include span-columns(12);

        label,
        .amount {
            @extend .no-display;
        }

        .status {
            @include span-columns(8);
        }

        .pager {
            @include span-columns(4);
        }

    }

    .orders {
        @include span-columns(12);
        margin: 0 0 20px 0;

        .title {
            @include span-columns(12);
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;

            li {
                padding: 10px 20px;
                display: inline-block;
                vertical-align: middle;

                &.number {
                    padding-left: 15px;
                    font-size: 10px;
                }

            }

        }

        .content {
            @include span-columns(12);

            li {
                @include span-columns(12);
                margin: 0 0 15px 0;
                border: 1px solid $c-black;
                font-size: 14px;
                text-transform: uppercase;
                position: relative;

                .skyhub {

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                    }

                }

                &>div {
                    font-size: 10px;
                    padding: 10px 5px;
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: bold;

                    &.number {
                        padding-left: 15px;
                    }

                    &.view {
                        padding: 0;
                        position: absolute;
                        right: $gap;
                        top: 1px;

                        .button {
                            padding: 0;
                            margin: 0;
                            border: none;
                            background: none;
                            color: $c-black;
                            font-size: 22px;

                            .icon-arrow-down {
                                font-size: 8px;

                                &:before {
                                    content: '\e911';
                                }

                            }

                            .icon-arrow-up {
                                font-size: 8px;

                                &:before {
                                    content: '\e910';
                                }

                            }

                        }

                    }

                }

                &.sales-info {
                    border: 0;
                    margin: 0;

                    .container {
                        border: 0;
                        margin: 0;
                        padding: 10px;

                        .skyhub {
                            @include span-columns(12);
                            margin-bottom: 10px;
                            text-transform: uppercase;
                            text-align: center;
                            font-weight: bold;
                            line-height: 18px;

                            h3 {
                                display: inline-block;
                                vertical-align: middle;
                                letter-spacing: 0;
                                font-weight: bold;
                                font-size: 12px;
                            }

                            img {
                                margin-left: 5px;
                                margin-right: 5px;
                            }

                            p {
                                display: block;
                                font-size: 10px;
                            }

                        }

                        .order-items {
                            display: block;
                            padding: 0;
                            font-weight: normal;

                            .data-table {
                                thead {
                                    @extend .no-display;
                                }

                                tr {
                                    td {
                                        padding: 30px $gap;
                                        border-top: 1px solid $c-gray;

                                        &.product-cart-image {
                                            padding-right: 0;

                                            img {
                                                border: 1px solid $c-gray;
                                                padding: 5px;
                                            }

                                        }

                                        &.product-cart-info {
                                            padding-right: 0;

                                            .product-name {
                                                font-weight: bold;
                                                text-transform: uppercase;
                                                line-height: 16px;
                                                padding-bottom: 10px;
                                            }

                                            .product-manufacturer {
                                                padding-bottom: 15px;
                                                text-transform: uppercase;
                                            }

                                            .product-cart-qty,
                                            .product-cart-subtotal {
                                                display: inline-block;
                                                vertical-align: middle;
                                            }

                                            .product-cart-qty {
                                                span {
                                                    display: block;
                                                    width: 40px;
                                                    border: 1px solid $c-gray;
                                                    font-weight: bold;
                                                    text-align: center;
                                                    padding: 10px 0;
                                                }

                                            }

                                            .product-cart-subtotal {
                                                padding-left: 5px;
                                                text-transform: uppercase;
                                                line-height: 20px;

                                                .installments {
                                                    font-weight: bold;
                                                }

                                            }

                                        }

                                    }

                                }

                            }

                            .totals {
                                tr {
                                    td {
                                        font-size: 12px;
                                        font-weight: bold;
                                        padding: 15px 0;
                                        border-top: 1px solid $c-gray;
                                        border-bottom: 1px solid $c-gray;

                                        &:last-child {
                                            font-weight: normal;
                                            text-align: right;
                                            padding-left: 0;
                                            width: 50%;
                                        }

                                    }

                                    &.grand_total {
                                        text-transform: uppercase;

                                        td {
                                            font-size: 14px;
                                            font-weight: bold;
                                            border-bottom: 0;
                                            border-bottom: 1px solid $c-gray;
                                        }

                                    }

                                }

                            }

                            .button-reorder {
                                display: block !important;
                            }

                        }

                        h2 {
                            @extend .no-display;
                        }

                        .info-content {
                            padding: 15px 0;
                            font-weight: normal;
                            text-transform: none;
                        }

                    }

                }

            }

        }

    }

    .info-shipping-address,
    .info-shipping-method,
    .info-payment-method {
        @include span-columns(12);
        margin: 10px 0;
        font-size: 14px;
        line-height: 18px;

        .box-title,
        .action-title {
            width: 80%;
            padding-top: 10px;
            border-top: 2px solid;
            margin-bottom: 20px;

            h2,
            h3 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
            }

        }

        .action-content {
            font-size: 12px;
        }

        .flag {
            display: block;
            padding: 5px 10px;

            img {
                display: inline-block;
                vertical-align: middle;
            }

        }

    }

    .barcode-number {
        @include span-columns(12);
        margin: 20px 0;

        img {
            width: 100%;
        }

    }

    .order-date {
        @include span-columns(12);
        margin: 20px 0;
    }            

}