.beautyclub-account {

	.breadcrumbs,
	.page-title {
		@extend .hide;
	}

	.page-title {
		float: left;
		width: 100%;
		margin: 10px 0 20px 0;
		text-align: center;
		text-transform: uppercase;

		h1 {
			font-weight: bold;
			font-size: 16px;
		}

	}

    .main {
        @include span-columns(12);
    }

    .segment {
    	@include span-columns(12);
    	text-align: center;
    	padding: 20px 0 5px 0;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: url('../../images/bg-beautyclub-header.png') no-repeat;
            background-size: cover;    
            height: 15px;
            width: 100%;        
        }

    	img {
    		display: block;
    		margin: 0 auto;
            width: 40%;
    	}

    	.vib {
		    font-size: 20px;
		    font-weight: bold;
		    letter-spacing: 2px;
		    color: $c-dark-primary;
    	}

    }

    .beautyclub-header {
    	@include span-columns(12);

    	.panel {
    		@include span-columns(12);
    		margin: 0 0 10px 0;
    		padding: 10px $gap;

	    	.col-1, .col-2, .col-3 {
	    		@include span-columns(6);
	    		padding: 10px;
	    		text-align: center;
	    		line-height: 16px;
	    		font-weight: bold;

	    		.button {
	    			margin-top: 10px;
                    width: 100%;
                    font-size: 10px;                    
	    		}

	    	}

	    	.col-3 {
	    		@include span-columns(12);
	    	}

            .not-bc {
                @include span-columns(12);
                border: 1px solid;            
            }

    	}

    	.panel-bc {
    		@include span-columns(12);
    		padding: 0 $gap;
    		font-size: 12px;
    		margin: 20px 0;

    		.bc-header {
    			@include span-columns(12);
    			background: #e5e5e5;
    			padding: 12px $gap;
    			margin-bottom: 1px;

    			.name {
    				@include span-columns(8);
    				font-weight: bold;
    			}

    			img {
    				@include span-columns(4);
    				float: right;
    				margin-right: 0;
    			}

    			&.vib {
    				background: $c-black;
    				color: $c-white;

	    			.name {
	    				@include span-columns(10);
	    			}

	    			img {
	    				@include span-columns(2);
	    			}

    			}

    		}

    		.bc-content {
    			@include span-columns(12);
    			background: #e5e5e5;
    			padding: 15px $gap 35px $gap;
    			line-height: 24px;
    			position: relative;
    			overflow: hidden;

    			span {
    				font-weight: bold;
    				color: $c-dark-primary;
    			}

    			.points {
    				display: block;
    				padding-top: 10px;
    			}

    			p {
    				position: absolute;
    				bottom: $gap;
    				right: $gap;

    				&.current-pts {
    					right: initial;
    					left: $gap;
						background: #e5e5e5;
						z-index: 1;
						text-align: right;
						padding-right: 10px;
						margin-left: -10px;

					    &:before {
					    	content: '';
					    	position: absolute;
							right: 0;
							top: -16px;
							height: 180%;
					    	background: $c-black;
					    	width: 2px;
					    }

    				}

    			}

	            .bar-container {
	                width: 100%;
	                height: 20px;
	                position: relative;
	                background-color: $c-gray-light;
	                margin-top: 10px;

	                .bar {
	                    background: repeating-linear-gradient(-55deg, lighten($c-black, 20%), lighten($c-black, 20%) 10px, $c-black 10px, $c-black 20px);
	                    height: 100%;
	                    position: absolute;
	                    line-height: inherit;
	                }

	            } 

    			&.vib {
    				background: $c-black;
    				color: $c-white;

    				.bar-container {

    					.bar {
	                    	background: repeating-linear-gradient(-55deg, lighten($c-gray, 5%), lighten($c-gray, 5%) 10px, $c-gray 10px, $c-gray 20px);
    					}

    				}

    			}	               			

    		}

    	}

    	.navigation {
    		@extend .vertical-scroll;
    		width: 100%;
    		margin: 0;

    		&.bc {
    			margin-top: 10px;
    		}

    		li {
    			font-size: 12px;
    			font-weight: bold;
    			display: inline-block;
    			vertical-align: middle;
    			padding: 0 10px 10px 10px;
    			margin-right: -5px;
    			border-bottom: 1px solid $c-gray;

    			&.active {
    				position: relative;
    				
    				&:before {
    					content: '';
    					position: absolute;
    					bottom: -2px;
    					width: 90%;
    					height: 4px;
    					background: $c-dark-primary;
    				}

    			}

    		}

    	}

    }

    .content {
    	@include span-columns(12);

        .info {
            @include span-columns(12);
            margin: 0 0 10px 0;
            padding: 0 $gap;
            font-size: 12px;
            line-height: 16px;
            text-align: center;

            &.small {
                font-size: 10px;
            }   
                     
        }

    	.bc-products {
    		@include span-columns(12);
    		margin: 0 0 50px 0;
    		padding: 0 $gap;
    		text-align: center;

    		.label-points {
    			font-size: 16px;
    			font-weight: bold;
    			text-transform: uppercase;
    			margin: 40px 0 20px 0;
    			text-align: center;
    		}

    		.swiper-wrapper {
    			margin-bottom: 20px;
    			padding-bottom: 20px;
    		}

    		.swiper-pagination {
    			bottom: 0;
    		}

    		.product-info {
                font-size: 10px;
    			padding-top: 10px;
    			line-height: 12px;

    			.product-manufacturer {
    				font-weight: bold;
    			}

                .hide-out-of-stock {
                    text-transform: uppercase;
                    display: block;
                    color: $c-dark-primary;
                    padding-top: 5px;
                }

    		}

    		#bc-products-300 {

    			.label-points {
    				margin-top: 0;
    			}

    		}
    		 		
    	}

    	.faq {
    		@include span-columns(12);
    		padding: 0 $gap;   
    		border-bottom: 0;

    		dt {
    			margin: $gap 0;
    			border: 1px solid;
    			font-weight: bold;

    			&:first-child {
    				margin-top: 0;
    			}

    			&.active {
    				background: $c-gray-light;
    				border: 1px solid;
    				color: $c-black;
    				margin-bottom: 0;
    				border-bottom: 0;
    				padding-bottom: 0;
    			}

    		}

    		dd {

    			&.active {
    				background: $c-gray-light;
    				border: 1px solid;
    				border-top: 0;
    			}

    		}

    	}

    	.epic {
    		@include span-columns(12);
    	}

    	.history {

    		dl {

    			dt {
    				padding: 10px 30px 10px 10px;
    				margin-bottom: 0;
    			}

    			dd {
    				background: $c-gray-light;
    				padding: 0;
					text-transform: uppercase;
					border: 1px solid;
					border-top: 0;

    				strong {
					    text-align: center;
					    display: block;
					    padding: 10px 0;
    				}
    				
    				ul {
    					
    					li {
    						border-top: 1px solid $c-gray;
    						padding: 5px $gap;
                            text-align: left;

    						.date {
    							color: $c-gray-dark;
    						}

    						.description,
    						.info {
    							position: relative;
    						}

    						.info {
                                float: none;
                                margin: 0;
    							color: $c-gray-dark;
                                font-size: 10px;
                                text-align: left;
                                padding: 0;
    						}

    						.points,
    						.price {
    							position: absolute;
    							right: 0;
    						}

    						.points {
    							font-size: 18px;
    							font-weight: bold;

    							&.negative {
    								color: $c-dark-primary;
    							}

    						}

    					}

    				}

    			}

    		}

    	}

    }

}

.beautyclub-account-dashboard {

    .main {

        .dashboard-title {
            @include span-columns(8);
            float: none;
            margin: 5px auto 10px auto;

            span {
                display: block;

                &:nth-child(1) {
                    font-size: 16px;
                }

                &:nth-child(2) {
                    font-size: 12px;
                    padding-left: 30px;
                } 

                &:nth-child(3) {
                    font-family: 'Georgia';
                    font-size: 40px;
                    text-transform: uppercase;
                    letter-spacing: -1px;
                }

                &:nth-child(4) {
                    font-family: 'Georgia';
                    font-size: 38px;
                    text-align: right;
                    font-style: italic;
                    line-height: 20px;                    
                }                                       

            }

        }

        .dashboard-steps {

            .step-title {
                @include span-columns(12);
                margin: 5px 0;
                background-repeat: no-repeat;
                background-position: right top;

                span {
                    display: block;                    
                    padding: 15px 0;
                    font-weight: normal;
                    font-size: 16px;

                    strong {
                        font-size: 38px;
                        vertical-align: middle;
                        padding-right: 5px;
                    }

                }

                p {
                    display: block;
                    padding-bottom: 20px;
                    font-size: 10px;
                    line-height: 16px;

                    &.big {
                        font-size: 38px;
                        font-weight: normal;
                        text-transform: uppercase;
                    }

                }

            }

            table {

                &.bc {
                    background: $c-gray-light;

                    td {
                        padding: 10px $gap;
                        text-align: center;
                        font-size: 20px;
                        line-height: 20px;
                        border-bottom: 0;
                        width: 25%;

                        &:first-child {
                            width: 60%;
                            text-align: left;
                            font-size: 12px;
                            border-right: 1px solid;
                        }

                        &:last-child {
                            width: 15%;
                            border-left: 1px solid;
                        }                        

                    }

                }

            }

        }

        hr {
            @include span-columns(12);
            margin: 10px 0;
        }

        small {
            font-size: 9px;
            font-weight: normal;
            line-height: 12px;
        }

    }

}

.beautyclub-account-epic {

	.content {

        .info {
            padding: 0;

            .big {
                line-height: 20px;
                
                span {
                    vertical-align: middle;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 16px;
                    padding-right: 5px;
                }

            }

        }

	}
	
}

.beautyclub-account-history {

	.page-title {
		display: block;
	}

}

.beautyclub-account-regulation {

    .content {

        .info {
            padding: 0;
        }

    }

}