.blackfriday {

    .header-links {

        li {

            &.sale {

                img {
                    width: 80px;
                    margin-top: 2px;                    
                }

            }

        }

    }

}