.checkout-cart-index {

    .col-main {

        &.loading {
            position: relative;

            &:before {
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                background: $c-white;
                z-index: 2;
                opacity: 0.8;
                top: 0;
                right: 0;
            }

            &:after {
                width: 100%;
                height: 100%;
                content: '';
                display: block;
                position: fixed;
                z-index: 3;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                background: url(../../images/opc-ajax-loader.gif) no-repeat center 40%;
            }            

        }

    }

    .cart-table {

        tr {

            td {
                padding: $gap;
                border-bottom: 1px solid $c-gray;

                &.product-cart-image {
                    padding-right: 0;

                    img {
                        border: 1px solid $c-gray;
                        padding: 5px;
                    }

                }

                &.product-cart-info {
                    position: relative;

                    .product-name {
                        font-size: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                        line-height: 16px;
                        padding-bottom: 5px;
                        padding-right: 30px;
                    }

                    .product-manufacturer {
                        padding-bottom: 5px;
                        font-size: 10px;
                    }

                    .product-qty-remove,
                    .cart-price {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .cart-price {
                        padding-left: 5px;
                        text-transform: uppercase;
                        line-height: 18px;

                        .installments {
                            font-weight: bold;
                        }

                    }

                    .remove {
                        position: absolute;
                        right: 0;
                        top: -1px;
                        height: 30px;
                        width: 30px;
                        text-align: center;
                        font-size: 14px;
                        line-height: 26px;
                    }

                }

            }

        }

        .item-msg {
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 10px;
            text-align: center;
            line-height: 16px;
            margin-bottom: 10px;

            &.error {
                background: $c-alert-error;
                color: $c-white;
            }

        }

    }

    .cart-forms {
        @include span-columns(12);
        padding: $gap;
        background: $c-gray-light;

        .cart-shipping,
        .cart-coupon {

            label {
                font-weight: bold;
                text-transform: uppercase;
                line-height: 20px;
                padding-bottom: 3px;
                display: block;
            }

            .field-wrapper {
                position: relative;

                button {
                    position: absolute;
                    background: none;
                    border: 0;
                    right: 0;
                    top: 8px;
                    padding: 0;
                    width: 22%;
                    color: $c-black;
                    font-weight: bold;
                    font-size: 14px;
                }

            }

            .no-postcode{
                @extend .no-display;
                display: block;
                width: 100%;
                text-align: right;
                font-weight: bold;
                margin: 15px 0 0 0;
                text-decoration: underline;
            }

        }

        .sp-methods {
            @include span-columns(12);
            margin: 20px 0;

            li {
                font-size: 10px;

                div {
                    display: block;
                    margin-bottom: 10px;
                }

            }

        }

    }

    .cart-totals {
        background: $c-gray-light;
        text-transform: uppercase;

        tr {

            td {
                padding: $gap;
                border-top: 1px solid $c-gray;
                border-bottom: 1px solid $c-gray;

                &:last-child {
                    text-align: right;
                    padding-left: 0;
                    width: 50%;
                }

            }

        }

        tfoot {

            td {
                font-size: 14px;
                font-weight: bold;
                border-bottom: 0;
            }

        }

    }

    .before-footer {
        background: $c-gray-light;
        padding: 10px 0 0 0;

        .continue-shopping {

            button {
                @extend %back-link;
            }

        }

        .btn-checkout {
            @extend %red-style;
            text-transform: uppercase;
            width: 100%;
            position: fixed;
            bottom: 0;
            z-index: 1;
        }

    }

    .footer-container-onepage {
        background: $c-white;
        padding-bottom: 80px;
    }

    .cart-empty {
        @include span-columns(12);
        padding: 20px $gap;
        text-align: center;
        line-height: 20px;
        font-size: 12px;

        .button-set {
            margin: 30px 0;
            text-transform: uppercase;

            .button {
                @extend .border;
            }

        }

    }

    .select-gift {

        tr {

            th {
                background: $c-gray-light;
                color: $c-dark-primary;
                text-transform: uppercase;
                padding: 10px;
                font-weight: normal;
                font-size: 14px;      

                strong {
                    color: $c-black;
                }   

            }

            td {
                padding: $gap;
                border-bottom: 1px solid $c-gray;

                &.product-gift-select {
                    width: 5%;
                    text-align: center;

                    label {
                        display: inline-block;
                        vertical-align: top;
                    }

                }

                &.product-gift-image {
                    width: 10%;

                    img {
                        border: 1px solid $c-gray;
                    }

                }

                &.product-gift-info {
                    width: 85%;
                    text-transform: uppercase;

                    .product-name {
                        font-size: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                        line-height: 16px;
                    }

                }

            }

        }

    }

}
