.catalog-category-view {

    .col-main {

        &.loading {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 11;
                background: rgba($c-white, 0.8) url('../../images/opc-ajax-loader.gif') no-repeat center 5%;
            }

        }

    }

    .col-left {
        @extend %filter-style;
    }

    #ajax-loading-layer {
        @extend .no-display;
    }

    .category-title {
        @include span-columns(12);
        padding: 12px $gap;
        text-align: center;
        text-transform: uppercase;

        h1 {
            font-size: 10px;
            font-weight: bold;
        }

    }

    .container-title {

        width: 100%;
        text-align: center;

        .page-title {

            h1 {
                font-family: $f-sephoraSerif;
                font-size: 21px;
                font-weight: bold;
                line-height: 2;
            }
        }


    }

    .category-products {
        @include span-columns(12);
        padding: 0 $gap;
    }

    .note-msg {
        @include span-columns(12);
        padding: 20px $gap;
        text-align: center;
    }

    .manufacturer-info {
        @include span-columns(12);
        margin: 20px 0;

        .guides  {
            @include span-columns(12);
            border-bottom: 1px solid $c-black;

            .header {
                padding: 20px $gap;                    
                
                h2 {
                    font-family: $font;
                    font-size: 16px;
                    font-weight: bold;
                    text-align: left;
                    line-height: 20px;                    
                }

                p {
                    margin-top: 10px;
                    font-size: 12px;
                    line-height: 20px;  
                    text-align: left;                                      
                }

            }

            .description {
                margin-top: 0;

                section {
                    padding: 0;
                }

                img {
                    @extend .no-display;
                }

                h3 {
                    border-top: 1px solid $c-black;
                    padding: 14px 30px 14px $gap;
                    font-family: $font;
                    line-height: 15px;
                    font-size: 14px;
                    text-transform: initial;
                    position: relative;

                    &:before {
                        content: '+';
                        position: absolute;
                        right: $gap;
                    }   

                    &.active {

                        &:before {
                            content: '-';
                        } 

                    }

                }

                p {
                    display: none;
                    padding: 20px $gap;                    
                    font-size: 12px;
                    line-height: 20px;

                    &.active {
                        padding-top: 0;
                    }

                }

            }

        }

    }

    .more-products {
        @include span-columns(12);
        margin: 40px 0;
        text-align: center;

        img {
            margin: 0 auto;
            width: 30%;            
        }

        .button  {
            width: 70%;
            margin: 0 auto;
        }

    }


    &.show-quick-filter {
        
        .category-filter {
            display: block;
        }

    }

    #container_banners {
        display: inline-block;
        overflow: hidden;

        .flex-viewport {
            overflow: visible !important;
        }

        .flex-control-nav {
            bottom: 0; position: initial;
        }

        .slides {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .flex-control-nav {
            bottom: 0;
            position: initial;
            display: inline-block;
            width: 100%;
            text-align: center;
            margin-top: 10px;

            li {
                margin: 0 15px;
                display: inline-block;
                zoom: 1;

                a {
                    display: block;
                    background: transparent;
                    border: 2px solid #000;
                    opacity: inherit;
                    height: 12px;
                    width: 12px;
                    border-radius: 20px;
                    text-indent: -1000px;
                }

                a.flex-active {
                    background-color: #000;
                }
            }
        }

        .flex-direction-nav {
            display: none;
        }
    }

}

.category-filter {
    @include span-columns(12);
    margin: 10px 0 20px 0;
    text-align: center;
    display: none;

    .page-title {

        h2 {
            font-size: 12px;
            margin-bottom: 10px;
        }

    }

    ul {

        li {
            display: inline-block;
            vertical-align: bottom;
            white-space: normal;

            a {

                img {
                    width: 50%;
                    display: block;
                    margin: 0 auto;
                }

                p {
                    padding: 10px;
                    display: block;
                    font-size: 14px;
                    line-height: 20px;
                }

            }

        }

    }

}

