.custom-cms-pages {

    .page-title {
        @extend .no-display;
    }

    img {
        width: 100%;
    }

    .tabs-navigation {
        @extend .vertical-scroll;
        width: 100%;
        margin: 0;
        padding-bottom: 5px;

        li {
            font-size: 12px;
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            padding: 12px $gap;
            margin-left: -5px;
            border-bottom: 1px solid $c-gray;

            &.active {
                position: relative;
                
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    width: 80%;
                    height: 4px;
                    background: $c-dark-primary;
                }

            }

        }

    }

    .main {
        @include span-columns(12);

    	.std {
    		@include span-columns(12);
    		font-size: 10px;
    		line-height: 18px;

            ul {

                li {
                    list-style: inside;
                }

            }

        }

        ul, p, br {
            @include span-columns(12);
        }

        ul {
            font-weight: bold;

            &.check {
                font-size: 12px;
                line-height: 24px;

                li {
                    list-style: none;

                    i {
                        margin-right: 5px;
                    }

                }

            }

        } 

        br {
            clear: left;
            height: 20px;
        }  
        
        table {

            tr {

                td {
                    width: 70%;
                    font-size: 12px;
                    border-bottom: 1px solid $c-gray;
                    padding: 8px 0;
                    line-height: 14px;

                    &:last-child {
                        width: 30%;
                        text-align: right;
                        font-weight: bold;
                    }

                }

                &:last-child {

                    td {
                        border-bottom: 0;
                    }

                }

            }

            &.small {

                td {
                    font-size: 10px;
                    border-bottom: 0;
                    padding: 5px 0;
                }

            }

        }

        .button {
            font-size: 10px;
            padding: 8px;
            width: 100%;
            text-align: center;
        }

        .gap {
            padding: 0 $gap;
        }

        .f-10 {
            font-size: 10px;
        }

        .f-12 {
            font-size: 12px;
        }

        .f-14 {
            font-size: 14px;
        }   

        .f-16 {
            font-size: 16px;
        }

        .title-geordia {
            padding: $gap;
            font-family: 'Georgia';
            font-style: italic;
            font-size: 20px;
            text-align: center;
            line-height: 30px;

            small {
                display: block;
                font-size: 10px;
                line-height: 15px;
            }

        }

        .c-red {
            color: $c-dark-primary;
        }

        .col-1,
        .col-2 {
            @include span-columns(6);
        }   

        .col-2 {
            margin-right: 0;
        } 

        .a-left {
            text-align: left;
        }  

        .a-center {
            text-align: center;
        }

        .a-right {
            text-align: right;
        }

        .img-center {
            width: initial;
            margin: 0 auto;
        }

    }

}