.customer-account-login,
.customer-account-forgotpassword,
.customer-account-logoutsuccess {

    .main {
        @include span-columns(12);
        margin: 0 0 50px 0;
        padding: 0 $gap;
    }

    h1, h2 {
        @include span-columns(12);
        text-align: center;
        font-size: 12px;
        padding: 20px 0 20px 0;
        font-weight: bold;
        text-transform: uppercase;
    }

    .buttons-set {
        @include span-columns(12);

        &.register {
            margin-top: 20px;
        }

        button {
            width: 100%;
            text-transform: uppercase;
        }

    }

}

.customer-account-login {

    .page-title {
        @extend .no-display;
    }

    .facebook-login,
    .google-login {
        @include span-columns(12);
        background: #5070a9;
        padding: 14px 12px;
        margin-top: 10px;
        text-transform: uppercase;
        text-align: center;

        a {
            font-weight: bold;
            color: $c-white;
        }

    }

    .google-login {
        background: #D64937;
    }

}

.customer-account-forgotpassword {

    h2 {
        font-weight: normal;
        text-transform: initial;
        padding: 0;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
    }

    .buttons-set {
        margin-top: 20px;
    }

}

.customer-account-logoutsuccess {

    .col-main {    
        text-align: center;
        font-size: 14px;
        line-height: 20px;
    }
    
}

.bittools-storeregistration-account-login {

    .page-header {
        text-align: center;

        .nav-menu,
        .search,
        .minicart,
        .search-toggle {
            @extend .no-display;
        }

    }

    .registered-users {
        padding: $gap;

        h1 {
            @include span-columns(12);
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 10px;
            line-height: 16px;            
        }

    }

}