.firecheckout-index-index {

    .please-wait {
        @include span-columns(12);
        text-align: center;

        img {
            @extend .no-display;
        }

    }

    .main {
        @include span-columns(12);
        margin: 20px 0 0 0;
    }

    .firecheckout-section {
        @include span-columns(12);
        margin: 0 0 20px 0;

        .block-title {
            @include span-columns(12);
            margin: 0 0 20px 0;
            border-top: 4px solid;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 16px;
            padding-top: 20px;
            text-align: center;

            .num, #payment-method-reset, #shipping-method-reset {
                @extend .no-display;
            }

            .block-sub-title {
                font-size: 12px;
                line-height: 20px;
                font-weight: normal;
                padding-top: 20px;
            }

        }

        label {
            text-transform: initial;
        }

    }

    .address-select {
        @include span-columns(12);

        li {
            @include span-columns(12);
            margin-bottom: 20px;
            padding: 15px 10px;
            background: $c-gray-light;
            border: 1px solid $c-gray;
            position: relative;

            label {
                font-weight: normal;
                font-size: 12px;
                font-style: italic;
                line-height: 20px;
                margin: 0;

                .col-1,
                .col-2 {
                    @include span-columns(6);
                    text-align: left;
                }

                .col-2 {
                    text-align: right;
                }

                b {
                    font-size: 14px;
                    font-weight: bold;
                    font-style: normal;
                    text-transform: uppercase;
                    display: block;
                    padding-bottom: 10px;
                }

            }

            .buttons {
                font-weight: 600;
                position: absolute;
                right: 10px;
                top: 15px;
                font-size: 12px;
                width: auto;
                @extend .icon-edit;

                &:before {
                    font-family: 'icomoon';
                    position: absolute;
                    left: -20px;
                    top: -3px;
                    font-size: 16px;
                }

            }

        }

    }

    .form-list {

        li {

            &.street-2,
            &.street-3 {
                @include span-columns(5.8);
            }

            &.street-3 {
                float: right;
                margin-right: 0;
            }

            &.fields {

                & > div {
                    @include span-columns(5.8);

                    &:last-child {
                        float: right;
                    }

                }

            }

            .postcode {
                @include span-columns(7.5);

                input {

                    &:disabled {
                        background: $c-white url('../../images/opc-ajax-loader.gif') no-repeat 105% center;
                        background-size: 20%;
                    }

                }

                + .postcode-search {
                    @include span-columns(4);
                    font-size: 10px;
                    text-decoration: underline;
                    font-style: italic;
                    color: $c-gray-dark;
                    line-height: 30px;
                    padding-left: 10px;
                }

            }

        }

    }

    .address-new {
        @include span-columns(12);
        margin: 10px 0 0 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 22px;
        text-transform: uppercase;
        position: relative;
        padding-left: 30px;
        letter-spacing: 0.5px;

        &:before {
            font-family: 'icomoon';
            content: '\e916';
            position: absolute;
            left: 0;
            top: 0;
            font-size: 18px;
            line-height: 20px;
        }

    }

    #billing-address, .same-as-billing {
        padding: $gap;
    }

    #shipping-address {
        padding: 0 $gap;

        .button-set {
            @include span-columns(10);

            button {
                @include span-columns(6);

                &.address-new-cancel {
                    @extend .border;
                }

            }

        }

    }

    #checkout-shipping-method-load,
    #checkout-payment-method-load {
        padding: 0 $gap;

        .card-brand {
            height: 20px;
        }

        .cc_brand_types {
            display: none;

            &.active {
                display: block;
                width: 40px;
            }
        }

        .sp-methods {
            @include span-columns(12);
            margin: 0;

            li, dt {
                @include span-columns(12);
                position: relative;
                margin: 0 0 15px 0;
            }

            .cc_brands {
                margin: 0;
            }

            .cctypes-select {
                @include span-columns(12);
                padding: 10px;
                border-bottom: 1px solid;   

                dt {
                    padding: 0;
                    border-top: 0;
                    padding-bottom: 10px;

                    &:last-of-type {
                        border-bottom: 0;
                    }

                }

                dd {
                    @include span-columns(12);
                    padding-bottom: 10px;
                    margin-bottom: 10px;

                    &.active {
                        border-bottom: 1px solid;                    
                    }

                }

                label {
                    font-weight: bold;

                    img {
                        display: inline-block;
                        vertical-align: middle;
                    }

                }

                .parcelamento {
                    @include span-columns(8);

                    label {
                        display: block;
                        font-weight: normal;
                        margin-bottom: 5px;
                    }

                }

                .expire {
                    @include span-columns(4);
                    margin-top: 14px;
                    line-height: 18px;
                    margin-right: 0;
                }

                .secure {
                    @include span-columns(12);
                    margin: 10px 0;

                    label {
                        display: block;
                        font-weight: normal;
                        margin-bottom: 5px;
                    }

                    .faq-help, .input-box {
                        display: inline-block;
                        vertical-align: middle;
                    } 

                    .faq-help {
                        margin-left: 10px;                        
                    }
                                       
                }

            }
        }

    }

    #checkout-msg {
        @include span-columns(12);
        padding: 0 $gap;
        line-height: 16px;
        text-align: center;
        font-size: 10px;
        color: $c-dark-primary;      

        .faq-help {
            margin-left: 0;
        }
        
    }

    #checkout-payment-method-load {

        .sp-methods {

            dt {
                margin: 0;
                padding: 12px 0;
                border-top: 1px solid;
                font-weight: bold;
                position: relative;

                &:before {
                    font-family: 'icomoon';
                    position: absolute;
                    top: 12px;
                    right: 0;
                    font-size: 20px;
                }

                &:last-of-type {
                    border-bottom: 1px solid;
                }

                &.p_method_mundipagg_creditcard {
                    @extend .icon-credit-card;
                }

                &.p_method_mundipagg_boleto {
                    @extend .icon-product-barcode;
                }

                label {
                    text-transform: uppercase;
                }

            }

            dd {

                #payment_form_mundipagg_boleto {
                    @include span-columns(12);
                    padding-top: 20px;
                }

            }

        }

    }

    #checkout-review {
        margin-bottom: 0;

        .block-title {
            border-top: 0;
        }

        .btn-checkout {
            width: 100%;
            @extend .red;
        }

        .checkout-review {

            table {

                tr {

                    td {
                        padding: 20px $gap;
                        border-top: 1px solid $c-gray;

                        .product-image {
                            padding-right: 0;

                            img {
                                border: 1px solid $c-gray;
                                padding: 5px;
                            }

                        }

                        .product-name {
                            font-size: 12px;
                            font-weight: bold;
                            text-transform: uppercase;
                            line-height: 16px;
                            padding-bottom: 5px;
                        }

                        .product-manufacturer {
                            font-size: 10px;
                            padding-bottom: 5px;
                            text-transform: uppercase;
                        }

                        .qty-wrapper,
                        .price {
                            display: inline-block;
                            vertical-align: middle;
                        }

                        .qty-wrapper {
                            width: 40px;
                            border: 1px solid $c-gray;
                            font-weight: bold;
                            text-align: center;
                            padding: 10px 0;

                            label {
                                @extend .no-display;
                            }

                        }

                        .price {
                            padding-left: 5px;
                            text-transform: uppercase;
                            line-height: 20px;
                        }

                    }

                }

            }

        }

        .checkout-totals {

            table {
                width: 90%;
                margin: 0 auto;

                tr {

                    td {
                        padding: 14px $gap;
                        border-top: 1px solid $c-gray;
                        font-size: 14px;

                        &:first-child {
                            font-weight: bold;
                        }

                        &:last-child {
                            text-align: right;
                        }

                    }

                }

                tfoot {

                    tr {

                        &:last-child {

                            td {
                                text-transform: uppercase;
                            }

                        }

                    }

                }

            }

        }

    }

    #mundipagg_creditcard,
    #mundipagg_creditcard_new_credit_card_1_1 {

        .address-new {
            margin-bottom: 20px;
        }

        .form-list {

            li {

                &.card-expiration {

                    label {
                        @include span-columns(12);
                        font-size: 12px;
                        margin-bottom: 10px;
                    }

                    .month,
                    .verification {

                        input, select {
                            width: 100%;
                        }

                    }

                    .month {
                        @include span-columns(8);

                        .v-fix {
                            @include span-columns(6);
                            padding: 0;
                        }

                    }

                    .verification {
                        @include span-columns(4);
                        position: relative;

                        .faq-help {
                            position: absolute;
                            right: -8px;
                            top: 9px;
                        }

                    }

                }

                &.credit-options {
                    margin-bottom: 10px;

                    label {
                        @extend .no-display;
                    }

                }

            }

        }

    }

    #shipping_form_delivery_date {

        .fields {
            padding: 0 $gap;

            .input-box {
                @include span-columns(12);
            }

        }

        .datepicker {
            @include span-columns(12);
            margin: 20px 0;
        }

        .shipping-term {
            @include span-columns(12);
            font-size: 10px;
            padding: 15px 0;
        }

        .sub-title {
            @include span-columns(12);
            padding-bottom: 10px;
        }

        .delivery-time {
            @include span-columns(12);

            label {
                margin-bottom: 10px;
            }

        }

    }

    .barcode-number {
        @include span-columns(12);
        margin: 20px 0;
        
        img {
            width: 100%;
        }

    }

}
