.bseller-giftshowcase-index-index  {

    .page-title {
        @include span-columns(12);
        text-align: center;
        padding: 12px $gap;

        h1 {
            font-size: 12px;
            font-weight: bold;
        }

    }

    .toolbar-top {
        margin: 0 0 20px 0;

        .filters {
            @include span-columns(12);
        }

    }

    .ajaxlayerednavigation-count {
        display: none;
    }

    .products-grid {

        .item {
            margin-bottom: 50px;

            .flag-agreements {
                font-size: 12px;
                text-transform: lowercase;
                margin: 10px 0;
                display: block;
                text-decoration: underline;
            }

            .product-image {

                img {
                    width: 100%;
                }

            }
            
        }

    }

}

.item.giftshowcase-view{
    width: 90%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid $c-gray-header;
    margin: 5%;
    clear: both;
    display: -webkit-flex;
    display: flex;

        .product-image {
            margin: 0;
            width: 20%;
            float: left;
            margin-left: 2%;

                img {
                    width: 100%;
                }

        }

    .product-container {
        width: 75%;
        float: right;
        text-align: left;
        padding-left: 3%;
        line-height: 1.2;
        margin: auto;
    }

    h1 {
        color: $c-alert-error;
        font-size: 4vw;
        font-weight: bold;
        text-transform: capitalize;
    }
    .info-content {
        p.std {
            font-size: 3.5vw;
        }
    }
    .agreements {
        p {
            font-size: 3vw;
        }
    }

}