.cms-style-guide {

    .main-container {
        @include span-columns(12);
        padding: 0 $gap;
    }

    h1 {
        font-size: 20px;
        font-weight: bold;
        line-height: 40px;
    }

    h2 {
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
    }

    .page-title {
        @include span-columns(12);
    }

    .row {
        @include span-columns(12);
        margin: 20px 0;

        button {
            @include span-columns(12);
            margin: 0 0 10px 0;
        }

        .icons {
            text-align: center;

            li {
                display: inline-block;
                vertical-align: middle;
                font-size: 40px;
                margin: 20px;
            }

        }

    }

}
