.institucional {

    .main {
        @include span-columns(12);

        .breadcrumbs,
        .col-left {
            @extend .no-display;
        }

        .col-main {

            .page-title {
                @extend .line-title;
                padding: 40px 0;
            }

            .std {
                @include span-columns(12);
                padding: 0 30px 30px 30px;
                font-size: 16px;
                line-height: 26px;

                img {
                    width: 100%;
                    margin-bottom: 20px;
                    padding-right: 0;
                }

            }

            .faq {
                margin-top: -30px;
            }

        }

    }

}
