.manufacturer-index-view {

    .main {
        @include span-columns(12);

        .breadcrumbs {
            @extend .no-display;
        }

        .col-left {
            @extend %filter-style;
        }

        .col-main {

            .manufacturer-info {
                @include span-columns(12);
                padding: 10px $gap;

                h1 {
                    font-weight: bold;
                    text-transform: uppercase;                    
                }

                .manufacturer-description {
                    display: block;
                    margin-top: 5px;

                    p {
                        display: block;
                        font-size: 14px;
                        line-height: 18px;
                    }

                    a {
                        display: block;
                        text-transform: uppercase;
                        padding: 15px 0;
                        text-decoration: underline;

                        &:after {
                            content: '\e908';                            
                            font-family: 'icomoon';
                            font-size: 16px;
                            display: inline-block;
                            vertical-align: sub;
                        }

                    }

                    &.view-more {

                        p {
                            height: 90px;
                            overflow-y: hidden;                            
                        }

                    }

                }

            }

            .note-msg {
                text-align: center;
            }

            #category_products_load {
                text-align: center;

                img {
                    display: inline-block;
                    margin: 0 auto;
                }

            }

            .category-products {
                @include span-columns(12);
                padding: 0 $gap;
            }

            .more-products {
                @include span-columns(12);
                margin: 40px 0;
                text-align: center;
                text-transform: uppercase;

                img {
                    margin: 0 auto;
                }

                button {
                    font-size: 14px;
                }

            }

        }

    }

}

.manufacturer-index-index {

    .main {
        @include span-columns(12);

        .box-search {
            @include span-columns(12);
            padding: 0 $gap;
            padding-bottom: 20px;
            border-bottom: 1px solid $c-black;
        }

        .manufacturers-list {
            @include span-columns(12);
            border-bottom: 60px solid $c-gray-light;

            li {
                padding: 10px $gap;
                border-bottom: 1px solid $c-black;
                text-transform: uppercase;
                font-size: 12px;
            }

        }

    }

    .footer {
        margin-top: 0;
    }

}