.cms-no-route {

    .main {
        @include span-columns(12);
        margin: 10px 0 30px 0;
        padding: 0 $gap;
        text-align: center;
        line-height: 18px;
        font-size: 12px;

        .page-title {
        	line-height: 50px;

        	h1 {
        		text-transform: uppercase;
        		font-size: 45px;
        	}

        }

        p {
        	display: block;

        	&:nth-child(2) {
        		color: $c-gray-dark;
        	}

        }

        .button {
        	padding: 10px;
        	width: 70%;
        	float: none;
        	margin: 0 auto;
        	font-size: 10px;
        }

    }

}