.catalog-product-view {

    .container-qty-available {
        text-align: center;
        clear: both;
        padding: 8px 0 15px 0;
        font-family: Georgia ;
        font-size: 15px;
        span{
            color:$c-dark-primary;
        }
    }
    .loader-qty-stock-container{
        text-align: center;
        width: 100%;
        display: none;

        img.loader-qty-stock{
            display: inline-block;
        }
    }

    .footer-container {
        padding-bottom: 50px;
    }

    .page-header {

        .search-toggle {

            .icon-search {
                display: block;
            }

        }

        .search {
            display: none;
        }

    }

    .product-view {
        @include span-columns(12);
        margin: 0 0 55px 0;

        .product-info {
            @include span-columns(12);
            padding: 0 $gap;
            text-align: center;
            line-height: 20px;

            .manufacturer {
                display: block;
                font-size: 10px;
                font-weight: bold;
                text-transform: uppercase;                
            }

            .product-name {
                font-size: 12px;
            }

        }

        .product-image {
            @include span-columns(12);
            margin: 10px 0;
        }

        .product-essential {
            @include span-columns(12);
            padding: 0 $gap;

            .option-selected {
                @include span-columns(8);
                float: none;
                display: inline-block;
                vertical-align: middle;
                margin-right: 0;
                line-height: 18px;

                img {
                    @include span-columns(3);
                    float: none;
                    display: inline-block;
                    vertical-align: middle;  
                    margin-right: 10px;                  
                }

                p {
                    @include span-columns(7.5);
                    float: none;
                    display: inline-block;
                    vertical-align: middle;                    
                    margin-right: 0;
                    color: $c-gray-dark;
                    font-size: 11px;

                    strong {
                        font-weight: bold;
                        color: $c-black;
                        font-size: 14px;
                        display: block;
                    }

                }

            }

            .prices {
                @include span-columns(4);
                float: none;
                display: inline-block;
                vertical-align: middle;
                text-align: right;
                font-weight: bold;
                line-height: 18px;
                margin-right: 0;

                .price-label {
                    display: none;
                }

                .price,
                .final-price {
                    font-size: 14px;
                }

                .old-price {

                    .price {
                        color: $c-gray-dark;
                        font-weight: normal;
                        text-decoration: line-through;
                        font-size: 11px;
                        line-height: 10px;
                    }

                }

                .price-info {
                    display: none;
                }

                .price-info-grouped {

                    .price {
                        color: $c-gray-dark;
                        font-weight: normal;
                        text-decoration: line-through;
                        font-size: 11px;
                        line-height: 10px;
                    }

                    .installments {
                        font-size: 11px;
                        color: $c-dark-primary;
                    }

                }

            }

            .options {
                @include span-columns(12);

                .search-option {
                    margin: 10px 0;
                }

                .grouped-list {
                    @include span-columns(12);
                    max-height: 75px;
                    overflow-y: hidden;

                    &.show {
                        max-height: initial;
                        overflow: initial;
                    }

                    li {
                        @include span-columns(2.4);
                        @include omega(5n);
                        margin-bottom: 10px;

                        input {

                            &:checked {

                                + label {
                                    border:4px solid $c-black;
                                }

                            }

                        }

                        label {
                            padding: 0;
                            border: 4px solid $c-white;
                            display: block;
                            line-height: 20px;
                            text-transform: uppercase;

                            .tag-special-price{
                                /* fix tag */
                                height: 17px;
                                background-color: red;
                                text-align: center;
                                margin: 2px;
                                font-size: 9px;
                                font-weight: bold;
                                color: $c-white;
                                display: block;

                            }

                            &:after,
                            &:before {
                                @extend .no-display;
                            }

                            &.no-img {
                                padding: 5px;
                                word-wrap: break-word;
                                border: 4px solid $c-gray;

                                .reference {
                                    display: none;

                                    &.info {
                                        display: block;
                                        text-align: center;
                                    }

                                }

                            }
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        &.unavailable {
                            opacity: 0.4;
                        }

                    }

                }

            }

        }

        .alert-stock {
            @include span-columns(12);
            margin-bottom: 20px;
            font-size: 16px;
            text-align: center;
        }

        .add-to-box {
            margin-bottom: 10px;

            .error-grouped {
                display: block;
                padding: 10px;
                text-align: center;
                font-size: 14px;
                color: $c-dark-primary;
            }

        }

        .add-to-cart-buttons {
            margin-bottom: 20px;

            .button {
                font-size: 16px;

                .price-button {
                    display: none;
                }

                p {
                    display: inline-block;
                    vertical-align: middle;                      
                }

                &.fixed {
                    width: 100%;                        
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    z-index: 1;      

                    .price-button {
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 40px;
                        text-align: left;

                        div {

                            &:last-child {
                                font-size: 11px;
                                font-weight: normal;
                            }

                        }

                    }

                }

            }

        }

        .ratings-average {
            @include span-columns(12);
            margin: 10px 0 0 0;              
            padding: 0 $gap;

            h2 {
                @include span-columns(7);
                font-size: 14px;
                font-weight: bold;
            }

            .rating-box {
                float: right;
                margin-right: 0;
            }

        }

        .product-details {
            @include span-columns(12);
            margin: 10px 0 0 0;  
            
            dl {

                dt {
                    @include span-columns(12);
                    padding: 14px 30px 14px $gap;
                    font-size: 14px;
                    text-transform: uppercase;
                    border-bottom: 1px solid;
                    position: relative;

                    &:first-child {
                        border-top: 1px solid;
                    }

                    &:after {
                        position: absolute;
                        right: $gap;
                        content: '+';
                        font-weight: bold;
                    }

                    &.active {
                        background: #333333;
                        border-color: #333333;
                        color: $c-white;
                        font-weight: bold;

                        &:after {
                            content: '-';
                        }

                    }

                }

                dd {
                    @include span-columns(12);
                    padding: $gap 0;
                    display: none;

                    &.active {
                        border-bottom: 1px solid #333333;
                    }

                    .std {
                        padding: 0 $gap;
                        font-size: 12px;
                        line-height: 20px;
                    }

                    .brands-view {
                        padding: $gap;
                        font-size: 12px;
                        line-height: 20px;

                        img {
                            margin: 0 auto;
                        }
                        
                        .col-1 {
                            display: block;
                            margin-bottom: 20px;
                        }   
                                             
                    }

                    &.product-description {

                        strong {
                            font-weight: bold;
                        }

                    }

                }

            }   

        }

        .product-reviews {
            @include span-columns(12);

            strong {
                padding: 10px $gap;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                display: block;
            }

            .ratings-list {
                padding: 0 $gap;
            }

        }

        .sharing-links {
            @include span-columns(12);
            width: calc(100% - 30px);
            margin: 15px;
            background: $c-gray;

            p {
                @include span-columns(6);
                font-size: 14px;
                text-transform: uppercase;
                font-weight: normal;
                padding-left: $gap;
                line-height: 42px;
            }

            ul {
                @include span-columns(6);
                text-align: right;

                li {
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 20px;
                    padding: 10px;
                }

            }

        }

        .container-search-option{
            position: relative;
            width: 100%;
            display: inline-block;
            height: 52px;

            .icon-search{
                position: absolute;
                top: 12px;
                right: 1%;
                z-index: 1;
                padding: 9px;
            }

            .search-option{
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }


    .shipping-estimate {
        @include span-columns(12);
        padding: $gap;
        
        li {
            @include span-columns(12);
            margin-bottom: 0;

            label, .faq-help {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 0;
                line-height: 30px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            }

            .faq-help {
                margin-left: 5px;
                font-size: 16px;
                width: 16px;
                overflow-x: hidden;                
            }

            .input-box {
                @include span-columns(9.8);
                margin-bottom: 5px;

                input {
                    padding: 8px;
                    margin-bottom: 4px;
                }

            }

            .button {
                @include span-columns(2);
                float: right;
                padding: 0;
                font-size: 10px;
                letter-spacing: initial;
                height: 32px;
                line-height: 32px;              
            }

            &.no-postcode {

                a {
                    color: $c-gray-dark;
                    font-size: 10px;
                    text-decoration: underline;
                    font-style: italic;
                }

            }

        }

        .shipping-estimate-loading-message {
            text-align: center;

            img {
                display: inline-block;
                margin: 0 auto;
                width: 20%;
            }

        }

        .shipping-results {
            @include span-columns(12);
            margin-top: 10px;
            font-size: 12px;

            table {

                tr {

                    th, td {
                        padding: 5px 0;
                        line-height: 16px;

                        &:nth-child(2) {
                            padding: 5px 10px;
                        }

                    }

                    th {
                        font-weight: bold;
                        border-bottom: 1px solid $c-gray-dark;
                        text-transform: uppercase;
                    }

                }

            }

        }

    }

}

/** List the promotional flags **/
#promotional-flags {

    display: none;

    #flag-title {
        color: red;
        font-size: 14px;
        font-weight: bold;
        margin: 14px 0 14px 0;
    }

    #list-flags {

        margin: 15px;

        .flag-item {
            padding: 15px;
            font-size: 14px;
            border: 1px dashed #333333;
            text-align: center;
            list-style: none;
            width: 92%;
            height: 48px;
            position: relative;
            margin-top: 5px;
        }

        .flag-item::after {
            position: absolute;
            right: 25px;
            content: '+';
            font-weight: bold;
        }

        .flag-item.active {
            background: #333333;
            border-color: #333333;
            color: $c-white;
            font-weight: bold;
        }

        .flag-item.active::after {
            content: '-';
        }

        .std {
            padding: 15px 15px;
            font-size: 12px;
            line-height: 20px;
            border: 1px dashed #333333;
            width: 92%;
        }

        .flag-text {
            background-color: $c-dark-primary;
            border: 0;
            color: $c-white;
            font-weight: bold;
            padding: 5px;
        }

        .flag-item {
            font-weight: bold;
        }
    }
}

.basic-flag {
    clear: both;
    float: none;
    padding: 10px;

    .flag-text {
        background-color: $c-dark-primary;
        border: 0;
        color: $c-white;
        font-weight: bold;
        padding: 5px;
        clear: both;
    }
}