.esmart-sample-product-list,
.beautyclub-program-list {

    .page-title {
        @include span-columns(12);
        margin: 20px 0;
        text-align: center;
        text-transform: uppercase;
        padding: 0 $gap;

        h1, a, button {
            padding: 16px 0;
        }

        h1 {
            @include span-columns(5);
            font-weight: bold;
            font-size: 14px;
        }

        a, button {
            @include span-columns(3.5);
            padding: 12px 0;
            font-size: 10px;
        }

    }

    h2, h3 {
        @include span-columns(12);
        padding: 0 $gap;
        text-align: center;
        color: $c-dark-primary;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 18px;

        span {
            font-size: 10px;
            display: block;
            color: $c-black;
            font-weight: normal;
        }

    }

    h3 {
        color: $c-black;

        span {
            display: initial;
            font-style: italic;
        }

    }

    .beauty-club {

        h2 {
            font-weight: normal;
            color: $c-black;
            text-transform: initial;

            span {
                display: initial;
                color: $c-dark-primary;
                font-weight: bold;
                font-size: 14px;
            }

        }

    }

    .category-products {
        @include span-columns(12);
        padding: 0 $gap;
        margin-top: 40px;

        ul {

            li {
                @include span-columns(6);
                @include omega(2n);
                text-align: center;
                position: relative;
                margin-bottom: 40px;

                input {
                    @extend .no-display;
                }

                label {
                    text-transform: initial;
                    padding-left: 0;
                    padding-bottom: 30px;

                    &:after,
                    &:before {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        top: initial;
                        margin: 0 auto;
                    }

                    img {
                        display: block;
                        margin: 0 auto 10px auto;
                    }

                    .product-manufacturer {
                        font-weight: bold;
                        font-size: 16px;
                    }

                }

            }

            &.products-bcs {

                li {

                    label {
                        text-transform: uppercase;

                        .points {
                            font-weight: bold;
                            color: $c-dark-primary;
                        }

                    }

                }

            }

        }

        .bottom {
            @include span-columns(12);
            margin: 40px 0;
        }

    }

    .btn-checkout {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 1;
    }

    .footer-container-onepage {
        padding-bottom: 80px;
    }

}
