%site-map-title {
	@include span-columns(12);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}

%site-map-content {
	font-size: 12px;
	display: block;
	text-transform: initial;
	font-weight: normal;

	a {
		@include span-columns(12);
		padding: 5px 0;
	}

}

.dynamicsitemap-index-index {

    .main-container {
        @include span-columns(12);
        padding: 0 $gap;

	  	.page-title {
	  		padding: 12px 0;
	        text-align: center;

	        h1 {
	            text-transform: uppercase;
	            font-weight: bold;
	            font-size: 14px;
	        }

	    }

	    ul {

	    	li {
				@extend %site-map-title;

	            li {
	            	@extend %site-map-content;
	            }

	            &.level0 {
	            	margin: 10px 0;
	            	
	            	a {
	            		@include span-columns(12);
	            		margin-bottom: 10px;
	            	}

	            	li {
	            		margin: 0;

	            		a {
	            			margin-bottom: 0;
	            		}

	            	}

	            }

	            &.level1 {
	            	padding-bottom: 10px;
	            	
	            	a {
	            		font-weight: bold;
	            	}

	            }

	            &.level2 {
	            	padding-bottom: 0;

	            	a {
	            		font-weight: normal;
	            	}

	            }

	    	}

	    }

	    dl {
	    	@include span-columns(12);
	    	margin: 10px 0;

	    	dt {
	    		@extend %site-map-title;
	    		margin-bottom: 10px;
	    	}

	    	dd {
	    		@extend %site-map-content;
	    	}

	    }

    }

}