.esmart-storelocator-index-index {

    .main {
        @include span-columns(12);

        .page-title {
            @include span-columns(12);
            font-size: 14px;
            padding: 0 $gap;
            margin: 0 0 10px 0;

            h1 {            
                font-weight: bold;
                text-transform: uppercase;
                padding: 20px 0 10px 0;
            }

            p {
                color: $c-gray-dark;
                font-size: 12px;
            }

        }

        .form-inputs {
            @include span-columns(12);
            padding: 0 $gap;

            li {
                @include span-columns(6);
            }

        }

        .list-stores {
            @include span-columns(12);
            padding: 0 $gap;    
            margin: 20px 0;  
            
            li {
                @include span-columns(12);
                margin: 0 0 10px 0;
                font-size: 12px;
                line-height: 16px;
                
                b {
                    font-size: 14px;
                }

            }   

        }

    }

}
