.checkout-onepage-success {

    .main {
        @include span-columns(12);
        margin: 0 0 40 0;
    }

    h1 {
        display: block;
        font-size: 16px;
        padding: 20px 0;
        font-weight: bold;

        span {
            color: $c-dark-primary;
        }

    }

    .button {
        margin: 20px 0 0 0;
        width: initial;
    }

    .dashboard {
        @include span-columns(12);
        margin: 0 0 20px 0;
        text-align: center;
        padding: 0 $gap;

        p {
            font-size: 12px;
            line-height: 20px;

            &.success {
                font-size: 14px;
                padding-bottom: 10px;
            }

            b {
                font-weight: normal;
            }

        }

        .button {
            margin: 10px auto 0 auto;
            width: 80%;
        }

    }

    .info-content {
        @include span-columns(12);
        font-size: 12px;
        line-height: 20px;

        .info-shipping-address,
        .info-shipping-method,
        .info-payment-method {
            @include span-columns(12);
            border-top: 4px solid;
            padding: 20px;

            h3 {
                font-size: 14px;
                text-transform: uppercase;
                padding-bottom: 10px;
            }

            .flag {

                img {
                    display: inline-block;
                    vertical-align: middle;
                }

            }

        }

    }

    .ebit {
        @include span-columns(12);
        margin: 0 0 20px 0;
        padding: 0 $gap;

        img {
            width: 100%;
        }

    }

    .cast-customer-logout {
        @include span-columns(12);
        text-align: center;
        margin: 15px 0;
        line-height: 18px;

        p {
            font-size: 10px;

            a {
                text-decoration: underline;
            }

        }

    }

    .ebit-checkout-success {
        text-align: center;

        a {
            display: inline-block !important;
        }
                
    }

}
