<?php
if(Mage::getStoreConfig('bseller_cmscategory/general/is_enabled')):
$content = $this->getCategoryCMSContent();
$processor = $this->getHTMLProcessor();
?>
<style>
    .category_cms_content .main{
        min-height: 0px;
    }
    .manufacturer-index-view .main .manufacturer-info .col-1{
        display: block;
        padding-right: 1px;
        padding-bottom:1px;
        width: 100%;
    }
    .manufacturer-index-view .main .manufacturer-info .col-2{
        float: left;
        display: block;
        padding-right: 1px;
        padding-bottom:1px;
        width: 50%;
    }
    .manufacturer-index-view .main .manufacturer-info .col-3{
        float: left;
        display: block;
        padding-right: 1px;
        padding-bottom:1px;
        width: 33%;
    }
    .manufacturer-index-view .main .manufacturer-info .col-4{
        float: left;
        display: block;
        padding-right: 1px;
        padding-bottom:1px;
        width: 25%;
    }
    @media only screen and (max-width: 599px) {
        .manufacturer-index-view .main .manufacturer-info .col-1,
        .manufacturer-index-view .main .manufacturer-info .col-2,
        .manufacturer-index-view .main .manufacturer-info .col-3,
        .manufacturer-index-view .main .manufacturer-info .col-4{
            width: 100%;
        }
    }
</style>
<div class="category_cms_content manufacturer-index-view">
<div class="main">
    <?php
    foreach ($content as $row => $column) :?>
        <div class="manufacturer-info">
            <?php
            foreach ($column['columns'] as $columnValue) :
                ?>
                <div class="col-<?php echo $column['countColumns'];?>">
                    <?php echo $processor->filter($columnValue);?>
                </div>
                <?php
            endforeach;
            ?>
        </div>
        <?php
    endforeach;
    ?>
</div>
</div>
<div style="clear:both"></div>
<?php
endif;
?>