<div class="entry-edit">
    <div class="entry-edit-head">
    <h4 class="icon-head head-edit-form fieldset-legend">--Intelipost</h4>
</div>

    <div class="fieldset fieldset-wide" id="group_fields28">
    <div class="hor-scroll">
                        <table cellspacing="0" class="form-list">
            <tbody>


<tr>
    <td class="label"><label for="intelipost_peso">Peso - Intelipost</label></td>
    <td class="value">
        <input id="intelipost_peso" name="product[intelipost_peso]" value="<?php echo $this->getValue('intelipost_peso')?>" class=" input-text" type="text">            </td>
    <td class="scope-label"><span class="nobr">[VISÃO]</span></td>
</tr>

<tr>
    <td class="label"><label for="intelipost_altura">Altura (cm) - Intelipost</label></td>
    <td class="value">
        <input id="intelipost_altura" name="product[intelipost_altura]" value="<?php echo $this->getValue('intelipost_altura')?>" class=" input-text" type="text">            </td>
    <td class="scope-label"><span class="nobr">[VISÃO]</span></td>
</tr>

<tr>
    <td class="label"><label for="intelipost_largura">Largura (cm) - Intelipost</label></td>
    <td class="value">
        <input id="intelipost_largura" name="product[intelipost_largura]" value="<?php echo $this->getValue('intelipost_largura')?>" class=" input-text" type="text">            </td>
    <td class="scope-label"><span class="nobr">[VISÃO]</span></td>
    </tr>

<tr>
    <td class="label"><label for="intelipost_comprimento">Comprimento (cm) - Intelipost</label></td>
    <td class="value">
        <input id="intelipost_comprimento" name="product[intelipost_comprimento]" value="<?php echo $this->getValue('intelipost_comprimento')?>" class=" input-text" type="text">            </td>
    <td class="scope-label"><span class="nobr">[VISÃO]</span></td>
    </tr>

<tr>
    <td class="label"><label for="prazo_produto">Prazo do Produto</label></td>
    <td class="value">
        <input id="prazo_produto" name="product[intelipost_prazo_produto]" value="<?php echo $this->getValue('intelipost_prazo_produto')?>" class=" input-text" type="text">            </td>
    <td class="scope-label"><span class="nobr">[VISÃO]</span></td>
    </tr>

<!--<tr>
    <td class="label"><label for="frete_price">Valor Frete Embutido(Intelipost)</label></td>
    <td class="value">
        <input id="frete_price" name="product[frete_price]" value="<?php //echo $this->getValue('frete_price')?>" class=" input-text" type="text">            </td>
    <td class="scope-label"><span class="nobr">[VISÃO]</span></td>
    </tr>

<tr>
    <td class="label"><label for="intelipost_frete_nofg">Valor Frete Embutido(Intelipost) - Não Frete Grátis</label></td>
    <td class="value">
        <input id="intelipost_frete_nofg" name="product[intelipost_frete_nofg]" value="<?php //echo $this->getValue('intelipost_frete_nofg')?>" class=" input-text" type="text">            </td>
    <td class="scope-label"><span class="nobr">[VISÃO]</span></td>
    </tr>-->
            </tbody>
        </table>
            </div>
        </div>
</div>
