.button {
    @include prefixer(transition, $base-duration $base-timing, webkit moz ms o spec);
    @include appearance(none);
    @include box-sizing(border-box);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    white-space: nowrap;
    background-color: $c-white;
    color: $c-black;
    font-family: $f-avalon;
    font-size: 15px;
    height: 40px;
    line-height: 36px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    padding: 0 $base-spacing;
    border: 1px solid $c-black;
    border-bottom: 4px solid $c-black;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    letter-spacing: 4px;
    font-weight: bold;

    &:after,
    &:before {
        color: $c-black;
    }

    // events
    &:active {
        @include opacity(0.9);
    }

    &:hover,
    &:focus {
        border-color: lighten($c-black, 40%);
        color: lighten($c-black, 40%);
    }

    // Variants
    &.-border {
        border: solid 1px $c-black;
        border-bottom: 4px solid $c-black;
        background-color: transparent !important;

        &:hover,
        &:focus {
            border-color: $c-black;
            color: $c-black;

            &:after,
            &:before {
                color: $c-black;
            }
        }
    }

    &.disabled {
        cursor: not-allowed;
        @include opacity(0.5);
        color: $c-black;

        &:active {
            @include box-shadow(0px, 0px, 0px, 0px, transparent);
        }

        &.-border {

            &:hover,
            &:focus {
                background-color: transparent !important;
                border-color: $c-black;
            }
        }
    }

    // Sizes
    &.-small {
        font-size: 14px;
        height: 36px;
        line-height: 31px;
    }

    &.-regular {
        font-size: 18px;
        height: 42px;
        line-height: 44px;
    }

    &.-big {
        font-size: 20px;
        height: 54px;
        line-height: 48px;
    }

    &.-large {
        font-size: 32px;
        height: 64px;
        line-height: 58px;
    }

    // Types
    &.-link {
        @include border-radius(0);
        background-color: transparent;
        border-top: 0;
        border-right: 0;
        border-bottom: solid 2px;
        border-left: 0;
        line-height: 18px;
        height: auto;
        padding: 0;

        &:after,
        &:before {}

        &:hover,
        &:focus {
            color: $c-alert-error;
        }

        &:active {
            @include box-shadow(0px, 0px, 0px, 0px, transparent);
        }

        &.-border {

            &:after,
            &:before {
                color: $c-alert-warning;
            }

            &:hover,
            &:focus {
                color: $c-alert-error;
                border-color: $c-alert-error;
            }
        }
    }

    &.-primary {
        background-color: $c-black;
        color: $c-white;

        &:after,
        &:before {
            color: $c-white;
        }

        &:hover,
        &:focus {
            background-color: lighten($c-black, 20%);
            border-color: lighten($c-black, 20%);
        }

        &.-border {
            color: $c-black;
            border-color: $c-black;

            &:after,
            &:before {
                color: $c-black;
            }

            &:hover,
            &:focus {
                border-color: lighten($c-black, 20%);
            }
        }
    }

    &.-success {
        background-color: $c-dark-primary;
        border-color: $c-dark-primary;
        border-bottom-color: darken($c-dark-primary, 7);
        color: $c-white;

        &:after,
        &:before {
            color: $c-white;
        }

        &:hover,
        &:focus {
            background-color: lighten($c-dark-primary, 10%);
            color: $c-white;
        }

        &.-border {
            color: $c-dark-primary;
            border-color: $c-dark-primary;

            &:after,
            &:before {
                color: $c-dark-primary;
            }

            &:hover,
            &:focus {
                border-color: lighten($c-dark-primary, 20%);
                color: lighten($c-dark-primary, 20%);

                &:after,
                &:before {
                    color: lighten($c-dark-primary, 20%);
                }
            }
        }
    }

    &.-error {
        background-color: $c-alert-error;
        color: $c-white;
        border-color: $c-alert-error;
        border-bottom-color: darken($c-alert-error, 10);

        &:after,
        &:before {
            color: $c-white;
        }

        &:hover,
        &:focus {
            background-color: lighten($c-alert-error, 10%);
            color: $c-white;
        }

        &.-border {
            color: $c-alert-error;
            border-color: $c-alert-error;

            &:after,
            &:before {
                color: $c-alert-error;
            }

            &:hover,
            &:focus {
                border-color: lighten($c-alert-error, 20%);
                color: lighten($c-alert-error, 20%);

                &:after,
                &:before {
                    color: lighten($c-alert-error, 20%);
                }
            }
        }
    }

    &.-warning {
        background-color: $c-alert-warning;
        color: $c-white;
        border-color: $c-alert-warning;
        border-bottom-color: darken($c-alert-warning, 10);

        &:after,
        &:before {
            color: $c-white;
        }

        &:hover,
        &:focus {
            background-color: lighten($c-alert-warning, 10%);
            color: $c-white;
        }

        &.-border {
            color: $c-alert-warning;
            border-color: $c-alert-warning;

            &:after,
            &:before {
                color: $c-alert-warning;
            }

            &:hover,
            &:focus {
                border-color: lighten($c-alert-warning, 20%);
                color: lighten($c-alert-warning, 20%);

                &:after,
                &:before {
                    color: lighten($c-alert-warning, 20%);
                }
            }
        }
    }

    &.-ico,
    &.-icon {
        &:before {
            margin: -4px 10px 0 0;

        }

        &:after {
            margin: -4px 0 0 10px;
        }
    }

    &.-reset {
        padding: 0;
        height: auto;
        line-height: inherit;
        background: none;
    }

    &.no-pointer {
        cursor: default;
    }

    &.-new {
        font-size: 13px;
        border: 1px solid;
        width: 100%;
        letter-spacing: initial;
        height: 45px;
        line-height: 45px;        
    }

}