@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?vqlv12');
    src:    url('../fonts/icomoon/icomoon.eot?vqlv12#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?vqlv12') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?vqlv12') format('woff'),
        url('../fonts/icomoon/icomoon.svg?vqlv12#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}