@font-face {
    font-family: 'Avalon';
    src:    url('../fonts/Avalon-Book-webfont.eot');
    src:    url('../fonts/Avalon-Book-webfont.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('../fonts/Avalon-Book-webfont.ttf') format('truetype'),
        url('../fonts/Avalon-Book-webfont.woff') format('woff'),
        url('../fonts/Avalon-Book-webfont.svg#Avalon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src:    url('../fonts/Avalon-Demi-webfont.eot');
    src:    url('../fonts/Avalon-Demi-webfont.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('../fonts/Avalon-Demi-webfont.ttf') format('truetype'),
        url('../fonts/Avalon-Demi-webfont.woff') format('woff'),
        url('../fonts/Avalon-Demi-webfont.svg#Avalon') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avalon';
    src:    url('../fonts/Avalon-Bold-webfont.eot');
    src:    url('../fonts/Avalon-Bold-webfont.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('../fonts/Avalon-Bold-webfont.ttf') format('truetype'),
        url('../fonts/Avalon-Bold-webfont.woff') format('woff'),
        url('../fonts/Avalon-Bold-webfont.svg#Avalon') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sephora Sans';
    src:    url('../fonts/SephoraSansBETALight.eot');
    src:    url('../fonts/SephoraSansBETALight.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('../fonts/SephoraSansBETALight.ttf') format('truetype'),
        url('../fonts/SephoraSansBETALight.woff') format('woff'),
        url('../fonts/SephoraSansBETALight.svg#Sephora Sans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sephora Sans';
    src:    url('../fonts/SephoraSansBETABook.eot');
    src:    url('../fonts/SephoraSansBETABook.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('../fonts/SephoraSansBETABook.ttf') format('truetype'),
        url('../fonts/SephoraSansBETABook.woff') format('woff'),
        url('../fonts/SephoraSansBETABook.svg#Sephora Sans') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sephora Sans';
    src:    url('../fonts/SephoraSansBETAMedium.eot');
    src:    url('../fonts/SephoraSansBETAMedium.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('../fonts/SephoraSansBETAMedium.ttf') format('truetype'),
        url('../fonts/SephoraSansBETAMedium.woff') format('woff'),
        url('../fonts/SephoraSansBETAMedium.svg#Sephora Sans') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sephora Serif';
    src:    url('../fonts/SephoraSerifJune26Book.eot');
    src:    url('../fonts/SephoraSerifJune26Book.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('../fonts/SephoraSerifJune26Book.ttf') format('truetype'),
        url('../fonts/SephoraSerifJune26Book.woff') format('woff'),
        url('../fonts/SephoraSerifJune26Book.svg#Sephora Serif') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sephora Serif';
    src:    url('../fonts/SephoraSerifJune26BookItalic.eot');
    src:    url('../fonts/SephoraSerifJune26BookItalic.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('../fonts/SephoraSerifJune26BookItalic.ttf') format('truetype'),
        url('../fonts/SephoraSerifJune26BookItalic.woff') format('woff'),
        url('../fonts/SephoraSerifJune26BookItalic.svg#Sephora Serif') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sephora Serif';
    src:    url('../fonts/SephoraSerifJune26MediumItalic.eot');
    src:    url('../fonts/SephoraSerifJune26MediumItalic.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('../fonts/SephoraSerifJune26MediumItalic.ttf') format('truetype'),
        url('../fonts/SephoraSerifJune26MediumItalic.woff') format('woff'),
        url('../fonts/SephoraSerifJune26MediumItalic.svg#Sephora Serif') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Sephora Serif';
    src:    url('../fonts/SephoraSerifJune26BoldItalic.eot');
    src:    url('../fonts/SephoraSerifJune26BoldItalic.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('../fonts/SephoraSerifJune26BoldItalic.ttf') format('truetype'),
        url('../fonts/SephoraSerifJune26BoldItalic.woff') format('woff'),
        url('../fonts/SephoraSerifJune26BoldItalic.svg#Sephora Serif') format('svg');
    font-weight: 800;
    font-style: italic;
}