#{$all-text-inputs}{
    @include prefixer(transition, $base-duration $base-timing, webkit moz ms o spec);
    @include box-sizing(border-box);
    @include appearance(none);
    background-color: $base-background-color;
    border: $base-border;
    font-family: $base-font-family;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: $small-spacing;
    padding: $base-spacing / 3;
    width: 100%;

    &:hover {
        border-color: shade($base-border-color, 20%);
    }

    &:focus {
        border-color: $c-dark-primary;
        outline: none;
    }

    &:disabled {
        background-color: shade($base-background-color, 5%);
        cursor: not-allowed;

        &:hover {
            border: $base-border;
        }

    }

    &:not(:placeholder-shown) {
        font-weight: bold;
        color: $c-black;
    }

    @-moz-document url-prefix() {

        &[value] {
            font-weight: bold;
            color: $c-black;
        }

    }

}

*:focus {
    outline: none;
}

fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
    padding: 0;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
}

input,
select {
    display: block;
}

textarea {
    resize: vertical;
}

select::-ms-expand {
    display: none;
}

select {
    max-width: 100%;
    height: 38px;
    width: 100%;
    border-color: $c-black;
    padding-right: 30px;
    background: url(../../src/img/icons-sprite/arrow-select.png) no-repeat right center;
}

[type="file"] {
    margin-bottom: $small-spacing;
    width: 100%;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden;

    + label {
        position: relative;
        padding-left: 30px;
        line-height: 16px;
        cursor: pointer;
        -khtml-user-select: none;
        user-select: none;
    }

}

[type="radio"] {

    + label:before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        z-index: 0;
        @include sprite($radio);
    }

    &:disabled:not(:checked) + label:before,
    &:disabled:checked + label:before {
        cursor: no-drop;
    }

    &:checked {

        + label:before {
            @include sprite($radio-checked);
        }

    }

}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

[type="checkbox"] {

    + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        line-height: 18px;
        font-size: 12px;
        font-family: $base-font-family;
        font-weight: normal;
        -webkit-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -ms-user-select: none;
    }

    + label:before {
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 1px solid $c-black;
        color: $c-black;
        line-height: 18px;
        font-size: 10px;
        text-align: center;
    }

    &:not(:checked) {

        + label:before {
            content: '';
        }

    }

    &:not(:checked):disabled,
    &:disabled:not(:checked),
    &:disabled:checked,
    &:disabled {

        + label:before {
            border-color: #d8d8d8;
            cursor: no-drop;
        }

    }

    &:checked {

        + label:before {
            @extend .-checkmark;
        }

    }

}

.form-list {

    li {

        & > div {
            @include span-columns(12);
        }

        &.fields {

            & > div {
                @include span-columns(6);

                .dob-day,
                .dob-month,
                .dob-year {
                    @include span-columns(4);

                    .validation-advice {
                        display: none;
                    }

                }

                .dob-year {
                    margin-right: 0;
                }

            }

        }

        &.control {
            @include span-columns(12);
            margin-top: 10px;
            margin-right: 0;
        }

        input {
            font-family: $base-font-family;
            font-style: italic;
            font-size: 12px;
            font-weight: normal;
            color: $c-gray-dark;
            border: 1px solid $c-gray-dark;
            padding: 13px;

            &.validation-failed {
                border-color: $c-dark-primary;
            }

        }

        select {
            height: 42px;
            border-color: $c-gray-dark;
            color: $c-gray-dark;
            font-weight: normal;
            font-style: italic;
        }

        .validation-advice {
            font-family: $base-font-family;
            font-size: 10px;
            text-transform: uppercase;
            color: $c-dark-primary;
            margin-bottom: 2em;
        }

        .custom-radio {
            @include span-columns(8);
            position: relative;

            .label {
                font-family: $f-avalon;
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
                padding-bottom: 4px;
            }

            label {
                @include span-columns(5.8);
                font-family: $base-font-family;
                font-size: 12px;
                font-style: italic;
                font-weight: normal;
                text-transform: capitalize;
                padding-left: 15px;
                line-height: 22px;

                &:before {
                    @include size(11px);
                    @include border-radius(50%);
                    background-image: none;
                    border: 1px solid $c-gray-dark;
                    top: 5px;
                }

            }

            input {

                &:checked {

                    + label:before {
                        content: '';
                        background: $c-black;
                    }

                }

            }

            .validation-advice {
                position: absolute;
                bottom: -40px;

                + .validation-advice {
                    display: none;
                }

            }

        }

        .forgot-password {
            font-style: italic;
            font-size: 10px;
            color: $c-gray-dark;
            text-transform: lowercase;
            text-decoration: underline;
        }

        &.inputs-required {
            @include span-columns(12);
            font-size: 10px;
            text-transform: uppercase;
            margin: 15px 0;
        }

    }

}

.buttons-set {
    @include span-columns(12);
    margin: 20px 0 5px 0;

    button {
        @include span-columns(12);
    }

}

::-webkit-input-placeholder {
   color: $c-placeholder;
}

:-moz-placeholder {
   color: $c-placeholder;
}

::-moz-placeholder {
   color: $c-placeholder;
}

:-ms-input-placeholder {
   color: $c-placeholder;
}
