.container,
.main-container {
	@include outer-container;

    .main {
        @include span-columns(12);
        min-height: 500px;
    }

}

.container-full {
	@include outer-container(100%);
}

.col2-left-layout,
.col2-right-layout {

    .col-left {
        @include span-columns(2.5);

        @include media($medium-resolution) {
            padding: 0 0 0 20px;
        }

    }

    .col-main {
        @include span-columns(9.5);
        margin: 0;

        @include media($medium-resolution) {
            padding: 0 20px 0 0;
        }

    }

    .col-right {
        @include span-columns(2.5);

        @include media($medium-resolution) {
            padding: 0 20px 0 0;
        }

    }

}

.no-display {
	display: none !important;
}

.hide,
.hidden {
	display: none;
}

.show {
	display: block;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.table {
	display: table;
	text-align: center;
	@include size(100%);
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.icon {
	line-height: 0;
	font-size: 0;
	color: transparent;
	text-indent: -9999px;
}

.wrapper {
	overflow-x: hidden;
    @include outer-container;
}

.messages {
    @include span-columns(12);

    li {
        font-family: $base-font-family;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include outer-container;
        margin: 5px auto 5px auto;
        text-align: center;

        li {
            padding: 10px;

            a {

                &:hover {
                    text-decoration: underline;
                }

            }

        }

        &.success-msg {

            li {
                background: $c-alert-success;
                color: $c-white;

                a {
                    color: $c-white;

                    &:hover {
                        color: $c-white;
                    }

                }

            }

        }

        &.notice-msg {

            li {
                background: $c-alert-warning;
                color: $c-black;

                a {
                    color: $c-black;

                    &:hover {
                        color: $c-black;
                    }

                }

            }

        }

        &.error-msg {

            li {
                background: $c-alert-error;
                color: $c-white;

                a {
                    color: $c-white;

                    &:hover {
                        color: $c-white;
                    }

                }

            }

        }

    }

}

.free-shipping-messages {
    @include span-columns(12);

    .messages {

        li {
            margin-bottom: 0;

            li {
                padding-bottom: 5px;
            }

        }

    }

    small {
        @include span-columns(12);
        font-size: 12px;
        background: $c-alert-success;
        color: $c-white;
        text-align: center;
        padding: 0 10px 10px 10px;
        line-height: initial;
        text-transform: initial;

        a {
            color: $c-white;
            text-decoration: underline;
        }
    
    }
        
}

div[chaordic]{
    clear: both;
}

.products-grid {
    .item {
        .product-infos {
            .price-box {
                .price-from {
                    .price-label {
                        display: block !important;
                        font-size: 15px;
                    }
                }
            }
        }
    }
    
}




