table {
    border-collapse: collapse;
    margin: $small-spacing 0;
    width: 100%;
}

th {
    border-bottom: 1px solid shade($base-border-color, 25%);
    font-weight: 600;
    padding: $small-spacing 0;
    text-align: left;
}

td {
    border-bottom: $base-border;
    padding: $small-spacing 0;
}

tr,
td,
th {
    vertical-align: middle;
}

.datepicker {
    font-family: $f-avalon;
    text-transform: uppercase;
    background: $c-gray-light;
    padding: 15px 30px;
    margin-bottom: 10px;

    .ui-datepicker-header {
        text-align: center;
        position: relative;
        background: $c-white;
        margin: -15px -30px 0 -30px;
        padding-bottom: 10px;

        .ui-datepicker-prev,
        .ui-datepicker-next {
            cursor: pointer;
            position: absolute;
            top: -1px;
        }

        .ui-datepicker-prev {
            left: 100px;

            &:before {
                @extend .-slim_arrow_left;
            }

        }

        .ui-datepicker-next {
            right: 100px;

            &:before {
                @extend .-slim_arrow_right;
            }

        }

        .ui-datepicker-title {
            font-weight: bold;
            font-size: 16px;
        }

    }

    .ui-datepicker-calendar {

        th, td {
            padding: 3px 18px;
            border: 0;
            font-weight: 600;

            @include media($medium-resolution) {
                padding: 3px 10px;
            }

        }

        thead {

            tr {

                th {
                    font-size: 16px;
                }

            }

        }

        tbody {

            tr {

                td {
                    font-size: 11px;

                    &.ui-state-disabled,
                    &.ui-datepicker-unselectable {
                        color: $c-gray-dark;
                    }

                    &.ui-datepicker-current-day {
                        background: $c-dark-primary;

                        a {
                            color: $c-white;
                        }

                    }

                }

            }

        }

    }

}
