body {
    color: $c-black;
    font-family: $base-font-family;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: $base-font-size;
    line-height: $heading-line-height;
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: $c-black;
    text-decoration: none;
    transition: color $base-duration $base-timing;

    &:active,
    &:focus,
    &:hover {
        color: $c-dark-primary;
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}
.hide-out-of-stock{

    p.price-to {
        display: none;
    }

}
