<?php
/**
 * @var Inchoo_SocialConnect_Block_GOogle_Button $this
 */
?>
<?php if(!$this->isCustomerLinked()): ?>
<?php Mage::getSingleton('customer/session')->setBeforeAuthUrl($this->helper('esmart_customer')->getSuccessUrl()) ?>
<div class="google-login">
    <div class="-ico"></div><a href="<?php echo $this->escapeUrl($this->_getButtonUrl()); ?>"><?php echo $this->__('Connect using Google') ?></a>
</div>
<?php endif; ?>