<?php
	$installManager = Mage::helper('sqlreport/InstallManager');
	$installManager->checkInstall();

	$comboAdmin = Mage::getModel('sqlreport/combo');
	$reportAdmin = Mage::getModel('sqlreport/report');
	$systemAdmin = Mage::getModel('sqlreport/setup');
	$groupmg = Mage::helper('sqlreport/GroupManager');
	$combomg = Mage::helper('sqlreport/ComboManager');
	$reportsmg = Mage::helper('sqlreport/ReportManager');
	$linkmg = Mage::helper('sqlreport/LinkManager');
	
	$groupList = $groupmg->getGroupList();
	$comboList = $combomg->getComboList();
	$reportList = $reportsmg->getReportsList('edit');
	$linkListTR = $linkmg->getLinkList('TR');
	$linkListTD = $linkmg->getLinkList('TD');
	
	$params = $this->getRequest()->getParams();
	
	if(array_key_exists('action', $params) && $params['action']!=""){ 
		switch ($params['action']) {
			case "loadCombo": if($params['id']!=""){
								$comboAdmin->loadCombo($params['id']);
							  }
			break;
			case "loadReport": if($params['id']!=""){
								$reportAdmin->loadReport($params['id']);
								}
			break;
		}
	}

    
?>
<style>
	.CodeMirror {
		    border-top: 1px solid #d6d6d6;
		    border-bottom: 1px solid #d6d6d6;
		    height: 400px;
	}
	table .selected {
	  background-color:#d1dedf;
	}
	table .over {
	  background-color:#E7EFEF;  color: #000;cursor:pointer
	}
	
	
	#comboList tr:hover td {
	  background-color: #E7EFEF; color: #000; cursor:pointer
	}
	
	#groupList tr:hover td {
	  background-color: #E7EFEF; color: #000;
	}
	
	.tdSelectable:hover{
	  background-color: #E7EFEF; color: #000; cursor:pointer
	}
	
	.tdSelectable:hover{
	  background-color: #E7EFEF; color: #000; cursor:pointer
	}
	
	img.selected {
		border:1px solid #021a40;
	}
	
	button.export span {
		background-image: url("<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/export_btn_icon.png");
		padding-left: 20px;
	}
	
	.x-tree-lines .x-tree-elbow-minus {
		background: transparent url("<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)?>/extjs/resources/images/magento/tree/elbow-minus.gif") no-repeat;
	}
	
	.x-tree-lines .x-tree-elbow-plus {
		background: transparent url("<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)?>/extjs/resources/images/magento/tree/elbow-plus.gif") no-repeat;
	}
	
	.x-tree-node-expanded .x-tree-node-icon {
		background: transparent url("<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)?>/extjs/resources/images/magento/tree/folder-open.gif") no-repeat 0 50%;
	}
	
	.x-tree-lines .x-tree-elbow-line {
		background: transparent url("<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)?>/extjs/resources/images/magento/tree/elbow-line.gif");
	}
	
	.x-tree-lines .x-tree-elbow-end {
		background: transparent url("<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS)?>/extjs/resources/images/magento/tree/elbow-end.gif") no-repeat;
	}

	.x-tree-icon, .x-tree-ec-icon, .x-tree-elbow-line, .x-tree-elbow, .x-tree-elbow-end, .x-tree-elbow-plus, .x-tree-elbow-minus, .x-tree-elbow-end-plus, .x-tree-elbow-end-minus {
		border: 0 none;
		height: 18px;
		margin: 0;
		padding: 0;
		vertical-align: middle;
		width: 16px;
		background-repeat: no-repeat;
		cursor: pointer;
	}
	
	.x-tree-node a, .x-dd-drag-ghost a {
		text-decoration: none;
		color: black;
		-khtml-user-select: none;
		-moz-user-select: none;
		-kthml-user-focus: normal;
		-moz-user-focus: normal;
		-moz-outline: 0 none;
		outline: 0 none;
	}
	
	.desactive {
		-moz-filter: grayscale(100%);
		-o-filter:grayscale(100%);
		-ms-filter:grayscale(100%);
		filter: grayscale(100%);
		-webkit-filter: grayscale(100%); /* For Webkit browsers */
		filter: gray; /* For IE 6 - 9 */
		-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	}	
	
	

</style>

<SCRIPT LANGUAGE="JavaScript"> 

	var auxDebug;
<!-- 
	var reportManager = new ReportManager('<?php echo $this->getUrl('*/*/adminReport', array('_current'=>true));?>','<?php echo $this->getUrl('sqlrpt/index/ws') ?>');
		
	var URL_TYPE_MEDIA = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>";
	var URL_TYPE_SKIN  = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);?>";
	var urlImport = "<?php echo $this->getUrl('*/*/import', array('_current'=>true));?>";
	var urlExport = "<?php echo $this->getUrl('*/*/export', array('_current'=>true));?>";
<?php if($comboAdmin->isLoaded()){?>
	reportManager.action="saveCombo";
<?php }?>
	var urlViewReport = "<?php echo $this->getUrl('*/*/viewReport', array('_current'=>true));?>";
	var cmText;
	var elementoImg;
	var filtersList = new Array();
<?php 	$i=0;
	    foreach ($comboList as $combo){ ?>
	filtersList[<?php echo $i; ?>]=new Combo('<?php echo $combo[0]; ?>','<?php echo $combo[1]; ?>','<?php echo $combo[3]; ?>','<?php echo $combo[2]; ?>');		
<?php  		$i++;
		} ?>
	
	var reportList = new Array();
<?php	
		foreach ($reportList as $groupDes=>$reportListGroup){ ?>
	reportList['<?php echo $groupDes; ?>']=new Array(<?php
			$first=true;
			foreach ($reportListGroup as $code=>$description){ 
				if($first){
					$first=false;
				}else{
					echo ",";
				}	?>
new Report('<?php echo $code; ?>','<?php echo $description; ?>','<?php echo $groupDes; ?>')
<?php       	
			}
	echo ");";
		} ?>
	var groupList = new Array();
<?php foreach ($groupList as $group){   ?>
	groupList['<?php echo $group[0];  ?>']= "<?php echo $group[1];  ?>";
<?php }?>

	var linkListTR = new Array();
	var linkListTD = new Array();
<?php $i=0;
	  foreach ($linkListTR as $link){ ?>
	  	linkListTR[<?php echo $i; ?>]=new Link('<?php echo $link[0]; ?>','<?php echo htmlspecialchars($link[1]); ?>','<?php echo htmlspecialchars($link[2]); ?>','<?php echo $link[3]; ?>');		
<?php  	$i++;
	  } 
	  $i=0;
	  foreach ($linkListTD as $link){ ?>
	  	linkListTD[<?php echo $i; ?>]=new Link('<?php echo $link[0]; ?>','<?php echo htmlspecialchars($link[1]); ?>','<?php echo htmlspecialchars($link[2]); ?>','<?php echo $link[3]; ?>');		
<?php  	$i++;
	  }?>
		
	Event.observe(window, "load", function() {
        $$('#comboList4Report tr').each(function (element){
			if(!element.hasClassName('headings')){
				element.observe("mousedown",function (event) { 
					if(this.hasClassName('selected')){
						this.removeClassName('selected');
						this.addClassName('over');
					}else{
						this.addClassName('selected');
						this.removeClassName('over');
					}
				});

				element.observe("mouseover",function (event) { 
					if(!this.hasClassName('selected')){
						this.addClassName('over');
					}
				});

				element.observe("mouseout",function (event) { 
					if(!this.hasClassName('selected')){
						this.removeClassName('over');
					}
				});
			}
		});

		$$('#comboListReport tr').each(function (element){
			if(!element.hasClassName('headings')){
				element.observe("mousedown",function (event) { 
					if(this.hasClassName('selected')){
						this.removeClassName('selected');
						this.addClassName('over');
					}else{
						this.addClassName('selected');
						this.removeClassName('over');
					}
				});

				element.observe("mouseover",function (event) { 
					if(!this.hasClassName('selected')){
						this.addClassName('over');
					}
				});

				element.observe("mouseout",function (event) { 
					if(!this.hasClassName('selected')){
						this.removeClassName('over');
					}
				});
			}
		});
		reportManager.refreshReportList(reportList);
		reportManager.refreshComboList();
		reportManager.refreshGroupList();
		reportManager.refreshLinksList('TR',true);
		reportManager.refreshLinksList('TD',true);

<?php if($reportAdmin->isLoaded()){?>
		reportManager.manageReport('<?php echo $reportAdmin->getId();?>');
<?php } ?>

<?php if($comboAdmin->isLoaded()){?>
		reportManager.manageCombo('<?php echo $comboAdmin->getId();?>');
<?php } ?>

		Validation.add('validate-codeMm','Please use only letters (a-z or A-Z), numbers (0-9) or underscore(_) in this field, first character should be a letter.',function (v) {
		    return Validation.get('IsEmpty').test(v) ||  /^[a-zA-Z]+[a-zA-Z0-9_]+$/.test(v)
		},{});

	});

        
				
//--> 
</SCRIPT>

<!-- MESSAGES -->
<ul class="messages" style="display:none"><li id="messagesLog"><ul><li id="messagesLogText"></li></ul></li></ul>

<!-- PAGE -->
<div id="page:main-container">
	<div class="columns" >
	<!-- MENU -->	
		<div class="side-col" id="page:left">
			<h3>Sql2Report admin</h3>
			<ul class="tabs config-tabs">
				<li>
					<dl>
						<dt class="label" style="">Relatórios</dt>
						<dd><a href="#" id="container-ReportList-menu" class="active" onclick="reportManager.showMenu('container-ReportList')"><span class="active"><span class="changed" title="The information in this tab has been changed."></span>Gerenciar Relatórios</span></a></dd>
						<dd><a href="#" id="container-ReportEdit-menu" class=" " onclick="reportManager.addReport()"><span class="active"><span class="changed" title="The information in this tab has been changed."></span>Adicionar Relatório</span></a></dd>
						<dt class="label" style="">Filtros</dt>
						<dd><a href="#" id="container-Combo-menu" onclick="reportManager.showMenu('container-Combo')"><span class="active"><span class="changed" title="The information in this tab has been changed."></span>Gerenciar Filtros</span></a></dd>
						<dd><a href="#" id="container-ComboAdd-menu" class=" " onclick="reportManager.addCombo()"><span class="active"><span class="changed" title="The information in this tab has been changed."></span>Adicionar Filtros</span></a></dd>
						<dt class="label" style="">Grupos</dt>
						<dd><a href="#" id="container-Group-menu" class=" " onclick="reportManager.showMenu('container-Group')"><span class="active"><span class="changed" title="The information in this tab has been changed."></span>Gerenciar Grupos</span></a></dd>
						<dt class="label" style="">LINK</dt>
						<dd><a href="#" id="container-link-menu" class=" " onclick="reportManager.showMenu('container-link')"><span class="active"><span class="changed" title="The information in this tab has been changed."></span>Gerenciar Links</span></a></dd>
						<dt class="label" style="">Systema</dt>
						<dd><a href="#" id="container-System-menu" class=" " onclick="reportManager.showMenu('container-System')"><span class="active"><span class="changed" title="The information in this tab has been changed."></span>Admin</span></a></dd>
						<dd><a href="#" id="container-Permissions-menu" class=" " onclick="reportManager.showMenu('container-Permissions')"><span class="active"><span class="changed" title="The information in this tab has been changed."></span>Permissões</span></a></dd>
						<dt class="label" style="">Exportar/Importar</dt>
						<dd><a href="#" id="container-Export-menu" class=" " onclick="reportManager.showMenu('container-Export')"><span class="active">Exportar</span></a></dd>
						<dd><a href="#" id="container-Import-menu" class=" " onclick="reportManager.showMenu('container-Import')"><span class="active">Importar</span></a></dd>
						
					</dl>
				</li>
			</ul>
		</div>
		
	<!-- CONTENT -->
		<div class="main-col" id="content">
			<div class="main-col-inner">
			
			<!-- CONTENT REPORT LIST -->
				<div class="entry-edit" id="container-ReportList" >
					 <div class="content-header">
						<table cellspacing="0">
							<tr>
								<td ><h3>Gerenciar Relatório</h3></td>
					        </tr>
					    </table>
					</div>
						<div class="entry-edit-head collapseable"><a id="report_list_field-head" href="#" class="open" onClick="reportManager.collapse('report_list_field')">Lista de Relatórios</a></div>
						<fieldset class="config collapseable" id="report_list_field">
							<div class="grid"  style="margin:10px; OVERFLOW: auto; TOP: 48px;border: 1px solid #d6d6d6;">
								<table cellspacing="0" class="data" id="reportList" >
										<col width="200" />
										<col />
										<thead>
											<tr class="headings">
												<th class=" no-link"><span class="no-br">Grupos</span></th>
												<th class=" no-link"><span class="no-br">Relatórios</span></th>
											</tr>
										</thead>
										<tbody>
										
										</tbody>
									</table>
								</div>
						</fieldset>
				</div>
				
			<!-- CONTENT REPORT EDIT -->
				<div class="entry-edit" id="container-ReportEdit" style="display:none">
				<!--  TITULO -->
					 <div class="content-header">
						<table cellspacing="0">
							<tr>
								<td><h3 id="titlePageReport">Add Report</h3></td>
					        
						        <td class="form-buttons">
						        	<button id="butReturnReportList" type="button" class="scalable back" onclick="reportManager.showMenu('container-ReportList')" style=""><span>Voltar</span></button>
					            	<button id="butViewReport" type="button" class="scalable show-hide" onclick="reportManager.loadReport()" style="display:none"><span>Visualizar</span></button>
					            	<button id="butDelReport" type="button" class="scalable delete" onclick="reportManager.delReport()" style="display:none"><span>Apagar</span></button>
					            	<button id="duplicateReport" type="button" class="scalable add" onclick="reportManager.duplicateReport()" style="display:none"><span>Duplicar</span></button>
					            	<button id="butExportReport" type="button" class="scalable export" onclick="reportManager.exportActiveReport()" style="display:none"><span>Exportar</span></button>
					            	<button id="butSaveReport" type="button" class="scalable save" onclick="reportManager.saveReport()" style="display:none"><span>Salvar</span></button>
					            	<button id="butAddReport" type="button" class="scalable add" onclick="reportManager.saveReport()" style=""><span>Adicionar Relatório</span></button>
					            	       
					            </td>
				            </tr>
					    </table>
					</div>
						
						<!-- GENERAL -->
						<div class="entry-edit-head collapseable"><a id="report_editGeneral_field-head" href="#" class="open" onClick="reportManager.collapse('report_editGeneral_field')">General information</a></div>
						<fieldset class="config collapseable" id="report_editGeneral_field">
							<form id="reportEditGeneral_form">
							<table cellspacing="0" class="form-list">
								<colgroup class="label"></colgroup>
								<colgroup class="value"></colgroup>
								<colgroup class="scope-label"></colgroup>
								<colgroup class=""></colgroup>
								<tbody>
									<tr id="row_dev_restrict_allow_ips">
										<td class="label"><label for="general_code">Code <span class="required">*</span></label></td>
										<td class="value"><input id="general_code" name="general_code" value="" class=" input-text required-entry validate-codeMm" type="text" disabled>
											<p class="note"><span>Must be unique.</span></p>
										</td>
										<td class="scope-label">[STORE VIEW]</td>
										<td class=""></td>
									</tr>
									<tr id="row_dev_restrict_allow_ips">
										<td class="label"><label for="general_title">Title <span class="required">*</span></label></td>
										<td class="value"><input id="general_title" name="general_title" value="" class=" input-text required-entry" type="text">
										</td>
										<td class="scope-label">[STORE VIEW]</td>
										<td class=""></td>
									</tr>
									<tr id="row_dev_restrict_allow_ips">
										<td class="label"><label for="general_group">Group <span class="required">*</span></label></td>
										<td class="value">
											<select name="general_group"  id="general_group" class="required-entry">
											</select>
										</td>
										<td class="scope-label">[STORE VIEW]</td>
										<td class=""></td>
									</tr>
								</tbody>
							</table>
							</form>
						</fieldset>
						
						<div class="entry-edit-head collapseable"><a id="report_editSQL_field-head" href="#" class="" onClick="reportManager.collapse('report_editSQL_field');reportManager.codeMirrorSql('sqlReport',false)">SQL</a></div>
						<fieldset class="config collapseable" id="report_editSQL_field" style="display:none">
							<textarea id="sqlReport" name="sqlReport"></textarea>
						</fieldset>
						
						<!-- FILTERS -->
						<div class="entry-edit-head collapseable"><a id="report_editFilters_field-head" href="#" class="" onClick="reportManager.collapse('report_editFilters_field')">Filters</a></div>
						<fieldset class="config collapseable" id="report_editFilters_field" style="display:none">
							<div class="grid"  style="margin:10px; OVERFLOW: auto; TOP: 48px;border: 1px solid #d6d6d6;">
									<table cellspacing="0" class="data" id="comboList4Report" >
										<col width="100" />
										<col width="100" />
										<col />
										<col width="100" />
										<thead>
											<tr class="headings">
												<th class=" no-link"><span class="no-br">COMBO CODE</span></th>
												<th class=" no-link"><span class="no-br">COMBO PARAMETER</span></th>
												<th class=" no-link"><span class="no-br">COMBO TITLE</span></th>
												<th class=" no-link"><span class="no-br">COMBO TYPE</span></th>
											</tr>
										</thead>
										<tbody>
										
										</tbody>
									</table>
								</div>
								
							<a href="#"  onclick="reportManager.addComboSelected()"><span><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/arrow_down.png" class="v-middle" title="Add Combo" alt="Add Combo" />Add Combo</span></a>
							<a href="#"  onclick="reportManager.removeComboSelected()"><span><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/arrow_up.png" class="v-middle" title="Remove Combo" alt="Remove Combo"/>Remove Combo</span></a>
							<div class="grid"  style="margin:10px; OVERFLOW: auto; TOP: 48px; HEIGHT: 200px;border: 1px solid #d6d6d6;">
								<table cellspacing="0" class="data" id="comboListReport" >
									<col width="100" />
									<col width="100" />
									<col />
									<col width="100" />
									<col width="25" />
									<thead>
										<tr class="headings">
											<th class=" no-link"><span class="no-br">COMBO CODE</span></th>
											<th class=" no-link"><span class="no-br">COMBO PARAMETER</span></th>
											<th class=" no-link"><span class="no-br">COMBO TITLE</span></th>
											<th class=" no-link"><span class="no-br">COMBO TYPE</span></th>
											<th class=" no-link"><span class="no-br">ACTIONS</span></th>
										</tr>
									</thead>
									<tbody>
									
									</tbody>
								</table>
							</div>
						</fieldset>
						
						<!-- CHART CONFIG-->
						<div class="entry-edit-head collapseable"><a id="report_editChart_field-head" href="#" class="" onClick="reportManager.collapse('report_editChart_field')">Chart</a></div>
						<fieldset class="config collapseable" id="report_editChart_field" style="display:none">
							<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/lineChartgrey.png" class="v-middle img-onoff" title="lineChart" alt="Line" onclick="reportManager.showChartConfig(this.title);"/>
							<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/stackedAreaChartgrey.png" class="v-middle img-onoff" title="stackedAreaChart" alt="Stacked area" onclick="reportManager.showChartConfig(this.title);"/>
							<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/discreteBarChartgrey.png" class="v-middle img-onoff" title="discreteBarChart" alt="Discrete bar" onclick="reportManager.showChartConfig(this.title);"/>
							<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/stackedBarChartgrey.png" class="v-middle img-onoff" title="multiBarChart" alt="Multi bar vertical" onclick="reportManager.showChartConfig(this.title);"/>
							<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/horizontalBarChartgrey.png" class="v-middle img-onoff" title="multiBarHorizontalChart" alt="Multi bar horizontal" onclick="reportManager.showChartConfig(this.title);"/>
							
							<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/pieChartgrey.png" class="v-middle img-onoff" title="pieChart" alt="Pie" onclick="reportManager.showChartConfig(this.title);"/>
							<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/pieDonutChartgrey.png" class="v-middle img-onoff" title="pieDonutChart" alt="Donut" onclick="reportManager.showChartConfig(this.title);"/>
							<form id="report_editChartValueList_form">
							<table cellspacing="0" class="form-list" id="chartValueList">
								<colgroup class="label"></colgroup>
								<colgroup class="value"></colgroup>
								<colgroup class="scope-label"></colgroup>
								<colgroup class=""></colgroup>
								<tbody>
									<tr>
										<td class="label"><label for="report_chart_charxvalue">X value <span class="required">*</span></label></td>
										<td class="value"><input id="report_chart_charxvalue" name="report_chart_charxvalue" value="" class=" input-text" type="text"></td>
										<td class="scope-label">Column number</td>
									</tr>
									<tr>
										<td class="label"><label for="report_chart_charyvalue1">Y value  <span class="required">*</span></label></td>
										<td class="value"><input id="report_chart_charyvalue1" name="report_chart_charyvalue1" value="" class=" input-text" type="text"></td>
										<td class="scope-label">
											<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN)?>adminhtml/default/default/images/accordion_open.png" class="v-middle" title="addYValue" alt="add Y Value" onclick="reportManager.addChartYValue();"/>
											Column number
										</td>
									</tr>
									
								</tbody>
							</table>
							</form>
						</fieldset>
						
						<!-- LINKS CONFIG-->
						<div class="entry-edit-head collapseable"><a id="report_editLink_field-head" href="#" class="" onClick="reportManager.collapse('report_editLink_field')">Links</a></div>
						<fieldset class="config collapseable" id="report_editLink_field" style="display:none">
							<h3>Row link</h3>
							
							<div id="reportEditRowlinkList" class="grid"  style="margin:10px; OVERFLOW: auto; TOP: 48px;border: 1px solid #d6d6d6;">		
								<table cellspacing="0" class="data" id="reportEditlinkListTR" >
										<col width="200" />
										<col width="500"/>
										<col />
										<thead>
											<tr class="headings">
												<th class=" no-link"><span class="no-br">ID</span></th>
												<th class=" no-link"><span class="no-br">DESCRIPTION</span></th>
												<th class=" no-link"><span class="no-br">URL</span></th>
											</tr>
										</thead>
										<tbody>
										
										</tbody>
								</table>
							</div>
							
							<div id="reportEditRowlinkSelected" style="display:none">
								<form id="reportEditRowlinkSelected_form">
								<button id="butDeselectLinkTD" type="button" class="scalable delete" onclick="reportManager.reportEditRowLinkUnSelected()" style=""><span>Unselect</span></button>
								<table cellspacing="0" class="form-list" id="reportEditRowlinkSelectedVAR">
									<colgroup class="label"></colgroup>
									<colgroup class="value"></colgroup>
									<tbody>
										<tr class="headings">
											<td class="label">Id</td>
											<td class="value"><input id="reportEditRowlinkSelectedID" value="" class=" input-text" type="text" disabled="true"></td>
										</tr>
										<tr class="headings">
											<td class="label">Description</td>
											<td class="value"><input id="reportEditRowlinkSelectedDESCRIPTION" value="" class=" input-text" type="text" disabled="true"></td>
										</tr>
										<tr class="headings">
											<td class="label">Url </td>
											<td class="value"><input id="reportEditRowlinkSelectedURL" value="" class=" input-text" type="text" disabled="true"></td>
										</tr>
									</tbody>
								</table>
								</form>
							</div>
							
							<h3>Column links</h3>
							<div id="reportEditColumnlinkList" class="grid"  style="margin:10px; OVERFLOW: auto; TOP: 48px;border: 1px solid #d6d6d6;">
								<form id="reportEditlinkListTD_form">		
								<table cellspacing="0" class="data" id="reportEditlinkListTD" >
										<col width="50" />
										<col width="200" />
										<col width="500"/>
										<col />
										<thead>
											<tr class="headings">
												<th class=" no-link"><span class="no-br">Column</span></th>
												<th class=" no-link"><span class="no-br">ID</span></th>
												<th class=" no-link"><span class="no-br">DESCRIPTION</span></th>
												<th class=" no-link"><span class="no-br">URL</span></th>
											</tr>
										</thead>
										<tbody>
										
										</tbody>
								</table>
								</form>
							</div>
						</fieldset>
						
						
				</div>
			<!-- CONTENT FILTERS LIST -->
				<div class="entry-edit" id="container-Combo" style="display:none">
					<div class="content-header">
						<table cellspacing="0">
							<tr>
								<td ><h3>Manage Filters</h3></td>
					        </tr>
					    </table>
					</div>
					<div class="entry-edit-head collapseable"><a id="combo_list_field-head" href="#" class="open" onClick="reportManager.collapse('combo_list_field')">Combo list</a></div>
					<fieldset class="config collapseable" id="combo_list_field">
						<div class="grid"  style="margin:10px; OVERFLOW: auto; TOP: 48px; HEIGHT: 400px;border: 1px solid #d6d6d6;">
						<table cellspacing="0" class="data" id="comboList" >
							<col width="100" />
							<col width="100" />
							<col />
							<col width="100" />
							<thead>
								<tr class="headings">
									<th class=" no-link"><span class="no-br">COMBO CODE</span></th>
									<th class=" no-link"><span class="no-br">COMBO PARAMETER</span></th>
									<th class=" no-link"><span class="no-br">COMBO TITLE</span></th>
									<th class=" no-link"><span class="no-br">COMBO TYPE</span></th>
								</tr>
							</thead>
							<tbody>
							
							</tbody>
						</table>
					</div>
					</fieldset>
				</div>
				
				<!-- CONTENT FILTERS MODIFY -->
				<div class="entry-edit" id="container-ComboAdd"  style="display:none" >
					<div class="content-header">
							<table cellspacing="0">
								<tr>
									<td ><h3 id="titlePageComboEdit">Add Filter</h3></td>
									<td class="form-buttons">
										<button id="butReturnComboList" type="button" class="scalable back" onclick="reportManager.showMenu('container-Combo')" style=""><span>Back</span></button>
										<button id="butSaveCombo" type="button" class="scalable " onclick="reportManager.saveCombo()" style=""><span>Save</span></button>
										<button id="butDelCombo" type="button" class="scalable delete" onclick="reportManager.delCombo()"><span>Delete</span></button>
									</td>
						        </tr>
						    </table>
						</div>
					<div class="entry-edit-head collapseable"><a  href="#" class="open" id="combo_edit_field-head"  onClick="reportManager.collapse('combo_edit_field')">Add filter</a></div>
					<form id="comboEdit_form">
					<fieldset class="config collapseable" id="combo_edit_field">
						
						<table cellspacing="0" class="form-list">
							<colgroup class="label"></colgroup>
							<colgroup class="value"></colgroup>
							<colgroup class="scope-label"></colgroup>
							<colgroup class=""></colgroup>
							<tbody>
								<tr>
									<td class="label"><label for="combo_code">Code <span class="required">*</span></label></td>
									<td class="value"><input id="combo_code" name="combo_code" value="" class=" input-text required-entry validate-codeMm" type="text">
										<p class="note"><span>Ha de ser unico.</span></p>
									</td>
									<td class="scope-label">[STORE VIEW]</td>
									<td class=""></td>
								</tr>
								<tr>
									<td class="label"><label for="combo-parameter">Parameter <span class="required">*</span></label></td>
									<td class="value"><input id="combo-parameter" name="combo-parameter" value="" class=" input-text required-entry validate-codeMm" type="text"></td>
									<td class="scope-label">[STORE VIEW]</td>
									<td class=""></td>
								</tr>
								<tr>
									<td class="label"><label for="combo-title">Title <span class="required">*</span></label></td>
									<td class="value"><input id="combo-title" name="combo-title" value="" class=" input-text required-entry" type="text"></td>
									<td class="scope-label">[STORE VIEW]</td>
									<td class=""></td>
								</tr>
								<tr>
									<td class="label"><label for="combo-type">Type <span class="required">*</span></label></td>
									<td class="value">
										<select name="combo-type"  id="combo-type" onchange="reportManager.showComboType()" class="required-entry">
											<option value="" > </option>
											<option value="date"  >date</option>
											<option value="select" >select</option>
											<option value="text" >text</option>
											<option value="set" >set</option>
											<option value="evaluated" >evaluated</option>
										</select>
									</td>
									<td class="scope-label">[STORE VIEW]</td>
									<td class=""></td>
								</tr>
								<tr id="combo_edit_field_listType">
									<td class="label"><label for="combo-select-type">List type <span class="required">*</span></label></td>
									<td class="value">
										<input type="radio" name="combo-select-type" id="select-unique" value="select-unique" checked><label for="select-unique">Select list unique value</label><br>
										<input type="radio" name="combo-select-type" id="checkbox-unique" value="checkbox-unique"><label for="checkbox-unique">Radio unique value</label><br/>
										<input type="radio" name="combo-select-type" id="checkbox-multiple" value="checkbox-multiple"><label for="checkbox-multiple">Checkbox multiple value</label>
									</td>
									<td class="scope-label">Show result like checkbox or select box</td>
									<td class=""></td>
								</tr>
								<tr id="combo_edit_field_evaluatedType">
									<td class="label"><label for="evaluated-expresion">Expression <span class="required">*</span></label></td>
									<td class="value">
										<input type="text" class=" input-text required-entry" name="evaluated-expresion" id="evaluated-expresion" value="" >
									</td>
									<td class="scope-label">php statement to evaluate</td>
									<td class=""></td>
								</tr>
							</tbody>
						</table>
						
						<textarea style="display:none;" id="sqlCombo" name="sqlCombo"> </textarea>
						
						<div class="grid" id="setCombo"  style="margin:10px; display:none;OVERFLOW: auto;">
							
							<table cellspacing="0" class="data" id="setComboList" style="width:450px;margin-left:150px; margin-top:10px" >
								<col width="150" />
								<col width="300" />
								<thead>
									<tr class="headings">
										<th class=" no-link"><span class="no-br">VALUE</span></th>
										<th class=" no-link"><span class="no-br">DESCRIPTION</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class=" no-link"><div  class="field-100"><input value="" class=" input-text" type="text" ></div></td>
										<td class=" no-link"><input value="" class=" input-text" type="text" onchange="reportManager.addSet()"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
					</form>
				</div>
				
				<!-- CONTENT GROUP -->
				<div class="entry-edit" id="container-Group" style="display:none">
					<div class="content-header">
							<table cellspacing="0">
								<tr>
									<td ><h3>Manage Groups</h3></td>
									<td class="form-buttons">
										<button id="butAddGroup" type="button" class="scalable add" onclick="reportManager.addGroupTable()" style=""><span>Adicionar Grupo</span></button>
										<button id="butSaveGroup" type="button" class="scalable add" onclick="reportManager.saveGroup()" style=""><span>Salvar</span></button>
									</td>
						        </tr>
						    </table>
						</div>
					<div class="entry-edit-head collapseable"><a href="#" class="open" id="group_edit_field-head"  onClick="reportManager.collapse('group_edit_field')">Grupo</a></div>
					<fieldset class="config collapseable" id="group_edit_field">
						<div class="grid"  style="margin:10px; OVERFLOW: auto; TOP: 48px;border: 1px solid #d6d6d6;">
							
							<table cellspacing="0" class="data" id="groupList" >
								<col width="100" />
								<col />
								<col width="100" />
								<thead>
									<tr class="headings">
										<th class=" no-link"><span class="no-br">ID Grupo</span></th>
										<th class=" no-link"><span class="no-br">Descrição</span></th>
										<th class=" no-link"><span class="no-br">Ações</span></th>
									</tr>
								</thead>
								<tbody></tbody>
							</table>
							
					</div>
					</fieldset>
				</div>
				
				<!-- CONTENT SYSTEM ADMIN -->
				<div class="entry-edit" id="container-System" style="display:none">
					 <div class="content-header">
						<table cellspacing="0">
							<tr>
								<td ><h3>System admin (<?php echo $installManager->getActualVersion();?>)</h3></td>
								<td class="form-buttons">
					            	<button id="butSaveSystem" type="button" class="scalable save" onclick="reportManager.saveAdmin()" ><span>Save</span></button>
					            </td>
					        </tr>
					    </table>
					</div>
					
						<form id="setupEdit_form">
						<div class="entry-edit-head collapseable"><a id="system_field-head" href="#" class="open" onClick="reportManager.collapse('system_field')">Gerenciar Parametros</a></div>
						<fieldset class="config collapseable" id="system_field">
							<table cellspacing="0" class="form-list">
								<colgroup class="label"></colgroup>
								<colgroup class="value"></colgroup>
								<colgroup class="scope-label"></colgroup>
								<colgroup class=""></colgroup>
								<tbody>
									<tr>
										<td class="label"><label for="prefix_parameter">Prefix Parameter <span class="required">*</span></label></td>
										<td class="value"><input id="prefix_parameter" name="prefix_parameter" value="<?php echo $systemAdmin->getValue("prefix_parameter");?>" class=" input-text required-entry" type="text"></td>
										<td class="scope-label">Prefixo que identifica um parâmetro em uma instrução SQL</td>
										<td class=""></td>
									</tr>
									<tr>
										<td class="label"><label for="prefix_table">Prefix Table <span class="required">*</span></label></td>
										<td class="value"><input id="prefix_table" name="combo-parameter" value="<?php echo $systemAdmin->getValue("prefix_table");?>" class=" input-text required-entry" type="text"></td>
										<td class="scope-label">Prefixo que identifica uma tabela em uma instrução SQL, necessário quando as tabelas do Magento tem prefixo.</td>
										<td class=""></td>
									</tr>
									<tr>
										<td class="label"><label for="date_mask">Date mask <span class="required">*</span></label></td>
										<td class="value"><input id="date_mask" name="combo-parameter" value="<?php echo $systemAdmin->getValue("date_mask");?>" class=" input-text required-entry" type="text"></td>
										<td class="scope-label">Máscara usada para substituir uma data</td>
										<td class=""></td>
									</tr>
								</tbody>
							</table>
						</fieldset>
						
						<div class="entry-edit-head collapseable"><a id="system_field_export-head" href="#" class="open" onClick="reportManager.collapse('system_field_export')">Export Parameters</a></div>
						<fieldset class="config collapseable" id="system_field_export">
							<table cellspacing="0" class="form-list">
								<colgroup class="label"></colgroup>
								<colgroup class="value"></colgroup>
								<colgroup class="scope-label"></colgroup>
								<colgroup class=""></colgroup>
								<tbody>
									<tr>
										<td class="label"><label for="exp_dec_separator">Decimal separator <span class="required">*</span></label></td>
										<td class="value"><input id="exp_dec_separator" name="exp_dec_separator" value="<?php echo $systemAdmin->getValue("exp_dec_separator");?>" class=" input-text required-entry" type="text"></td>
										<td class="scope-label">Separador decimal</td>
										<td class=""></td>
									</tr>
									<tr>
										<td class="label"><label for="exp_col_delimiter">SVN Column delimiter <span class="required">*</span></label></td>
										<td class="value"><input id="exp_col_delimiter" name="prefix_parameter" value="<?php echo $systemAdmin->getValue("exp_col_delimiter");?>" class=" input-text required-entry" type="text"></td>
										<td class="scope-label">Quando você exporta para SVN, os dados caractere separador</td>
										<td class=""></td>
									</tr>
									<tr>
										<td class="label"><label for="svn_print_header">SVN export header <span class="required">*</span></label></td>
										<td class="value"><select id="svn_print_header" name="svn_print_header" class="required-entry">
														  	 <option value="true" <?php if($systemAdmin->getValue("svn_print_header")=="true"){ echo "selected"; }?>>true</option>
														  	 <option value="false" <?php if($systemAdmin->getValue("svn_print_header")=="false"){ echo "selected"; }?>>false</option>
														  </select></td>
										<td class="scope-label">Quando você exporta para SVN, identifica se na primeira linha os nomes das colunas são exportados</td>
										<td class=""></td>
									</tr>
									<tr>
										<td class="label"><label for="svn_text_qualifier">SVN text qualifier </span></label></td>
										<td class="value"><input id="svn_text_qualifier" name="svn_text_qualifier" value="<?php echo $systemAdmin->getValue("svn_text_qualifier");?>" class=" input-text" type="text"></td>
										<td class="scope-label">Quando você exporta para SVN, identifica o personagem que inclui um conjunto de dados de texto</td>
										<td class=""></td>
									</tr>
								</tbody>
							</table>
						</fieldset>
						
						<div class="entry-edit-head collapseable"><a id="system_field_chart-head" href="#" class="open" onClick="reportManager.collapse('system_field_chart')">Chart Parameters</a></div>
						<fieldset class="config collapseable" id="system_field_chart">
							<table cellspacing="0" class="form-list">
								<colgroup class="label"></colgroup>
								<colgroup class="value"></colgroup>
								<colgroup class="scope-label"></colgroup>
								<colgroup class=""></colgroup>
								<tbody>
									<tr>
										<td class="label"><label for="chart_height_default">Height default  <span class="required">*</span></label></td>
										<td class="value"><input id="chart_height_default" name="chart_height_default" value="<?php echo $systemAdmin->getValue("chart_height_default");?>" class=" input-text required-entry validate-number" type="text"></td>
										<td class="scope-label">Altura do gráfico no relatório</td>
										<td class=""></td>
									</tr>
									
								</tbody>
							</table>
						</fieldset>
						
						<div class="entry-edit-head collapseable"><a id="system_field_link-head" href="#" class="open" onClick="reportManager.collapse('system_fieel_link')">Link Parameters</a></div>
						<fieldset class="config collapseable" id="system_field_link">
							<table cellspacing="0" class="form-list">
								<colgroup class="label"></colgroup>
								<colgroup class="value"></colgroup>
								<colgroup class="scope-label"></colgroup>
								<colgroup class=""></colgroup>
								<tbody>
									<tr>
										<td class="label"><label for="chart_height_default">Target <span class="required">*</span></label></td>
										<td class="value"><select id="link_target" name="link_target" class="required-entry">
														  	 <option value="blank" <?php if($systemAdmin->getValue("link_target")=="blank"){ echo "selected"; }?>>Blank - Opens the linked document in a new window or tab</option>
														  	 <option value="self" <?php if($systemAdmin->getValue("link_target")=="self" || $systemAdmin->getValue("link_target")==""){ echo "selected"; }?>>Self - Opens the linked document in the same frame as it was clicked</option>
														  	 <option value="parent" <?php if($systemAdmin->getValue("link_target")=="parent"){ echo "selected"; }?>>Parent - Opens the linked document in the parent frame</option>
														  	 <option value="top" <?php if($systemAdmin->getValue("link_target")=="top"){ echo "selected"; }?>>Top - Opens the linked document in the full body of the window</option>
														  </select></td>
										<td class="scope-label">O atributo de destino especifica onde abrir o documento vinculado</td>
										<td class=""></td>
									</tr>
									
								</tbody>
							</table>
						</fieldset>
						</form>
				</div>
				
				<!-- CONTENT PERMISSIONS ADMIN -->
				<div class="entry-edit" id="container-Permissions" style="display:none">
					 <div class="content-header">
						<table cellspacing="0">
							<tr>
								<td ><h3>Permissions admin</h3></td>
								<td class="form-buttons">
					            	<button id="butSavePermissions" type="button" class="scalable save" onclick="reportManager.savePemsissionRole()" ><span>Save</span></button>
					            </td>
					        </tr>
					    </table>
					</div>
					
						<form id="setupPermissions_form">
						<div class="entry-edit-head collapseable"><a id="permissions_field-head" href="#" class="open" onClick="reportManager.collapse('permissions_field')">Roles Resources</a></div>
						<fieldset class="config collapseable" id="permissions_field">
							<span class="field-row">
					            <label for="rolePermissions">Role</label>
					            <select id="rolePermissions" name="rolePermissions" onchange="reportManager.getRolePermission(this.value)" class="select">
					            	<?php $roles = Mage::getModel('admin/roles')->getCollection();
					            		foreach ($roles as $role) {
					            			echo '<option value="'.$role->getId().'">'.$role->getRoleName().'</option>';
					            		}
					            	?>
					            </select>
					        </span>
							
							<span class="field-row">
					            <label for="rolePermissionsResource">Resource Access</label>
					            <select id="rolePermissionsResource" name="rolePermissionsResource" onchange="reportManager.changePermissionResource()" class="select">
					                <option value="0">Custom</option>
					                <option value="1" selected>All</option>
					            </select>
					        </span>
							
							<span class="field-row" id="setupPermissions_resources_container" style="">
								<label>Resources</label>
						   </span>
						</fieldset>
						</form>
				</div>
				
				
				<!-- CONTENT EXPORT -->
				<div class="entry-edit" id="container-Export" style="display:none">
					 <div class="content-header">
						<table cellspacing="0">
							<tr>
								<td ><h3>Export report</h3></td>
								
					        </tr>
					    </table>
					</div>
					<div class="entry-edit-head collapseable"><a id="report_list_export_field-head" href="#" class="open" onClick="reportManager.collapse('report_list_export_field')">Report list</a></div>
						<fieldset class="config collapseable" id="report_list_export_field">
							<div class="grid"  style="margin:10px; OVERFLOW: auto; TOP: 48px;border: 1px solid #d6d6d6;">
								<table cellspacing="0" class="data" id="reportListExport" >
										<col width="200" />
										<col />
										<thead>
											<tr class="headings">
												<th class=" no-link"><span class="no-br">GROUP</span></th>
												<th class=" no-link"><span class="no-br">REPORT</span></th>
											</tr>
										</thead>
										<tbody>
										
										</tbody>
									</table>
								</div>
						</fieldset>
						
				</div>
				
				<!-- CONTENT IMPORT -->
				<div class="entry-edit" id="container-Import" style="display:none">
					 <div class="content-header">
						<table cellspacing="0">
							<tr>
								<td ><h3>Importar Relatório</h3></td>
								<td class="form-buttons">
					            	<button id="import_button" type="button" class="scalable save" onclick="reportManager.postToFrame('import_form')" ><span>Import</span></button>
					            </td>
					        </tr>
					    </table>
					</div>
					<div class="content-header" style="display: none">
						<table cellspacing="0">
							<tr>
								<td ><h3>Gerenciar Relatórios</h3></td>
					        </tr>
					    </table>
					</div>
					<form id="import_form" action="" method="post" enctype="multipart/form-data">
					
					<div class="entry-edit-head collapseable"><a id="report_list_import_field-head" href="#" class="open" onClick="reportManager.collapse('report_list_import_field')">Import Settings</a></div>
						<fieldset class="config collapseable" id="report_list_import_field">
							<table cellspacing="0" class="form-list">
								<colgroup class="label"></colgroup>
								<colgroup class="value"></colgroup>
								<colgroup class="value"></colgroup>
								<tbody>
									<tr>
										<td class="label"><label for="chart_height_default">Select File to Import <span class="required">*</span></label></td>
										<td class="value">
										  <input id="import_file" name="import_file" value="" title="Select File to Import" type="file" class=" required-entry">
										
										</td>
										<td class="value"></td>
									</tr>
									
								</tbody>
							</table>	
						</fieldset>
						<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
					</form>
					<div class="entry-edit-head collapseable"><a id="report_list_import_result_field-head" href="#" class="open" >Import Results</a></div>
						<fieldset class="config collapseable" id="report_list_import_result_field">
								
						</fieldset>
				</div>
				
				<!-- CONTENT LINK MANAGER -->
				<div class="entry-edit" id="container-link" style="display:none">
					 <div class="content-header">
						<table cellspacing="0">
							<tr>
								<td ><h3>Gerenciar Links</h3></td>
								
					        </tr>
					    </table>
					</div>
					<div class="entry-edit-head collapseable"><a id="report_list_linktr_field-head" href="#" class="open" onClick="reportManager.collapse('report_list_linktr_field')">Row link</a></div>
						<fieldset class="config collapseable" id="report_list_linktr_field">
							<button id="butAddLinkTR" type="button" class="scalable add" onclick="reportManager.addLink('TR')" style=""><span>Adicionar link</span></button>
							<div class="grid"  style="margin:10px; OVERFLOW: auto; TOP: 48px;border: 1px solid #d6d6d6;">		
								<table cellspacing="0" class="data" id="linkListTR" >
										<col width="200" />
										<col width="500"/>
										<col />
										<col width="100" />
										<thead>
											<tr class="headings">
												<th class=" no-link"><span class="no-br">ID</span></th>
												<th class=" no-link"><span class="no-br">DESCRIPTION</span></th>
												<th class=" no-link"><span class="no-br">URL</span></th>
												<th class=" no-link"><span class="no-br">ACTIONS</span></th>
											</tr>
										</thead>
										<tbody>
										
										</tbody>
									</table>
								</div>
						</fieldset>
						
					<div class="entry-edit-head collapseable"><a id="report_list_linktd_field-head" href="#" class="open" onClick="reportManager.collapse('report_list_linktd_field')">Column link</a></div>
						<fieldset class="config collapseable" id="report_list_linktd_field">
							<button id="butAddLinkTD" type="button" class="scalable add" onclick="reportManager.addLink('TD')" style=""><span>Add column link</span></button>
							<div class="grid"  style="margin:10px; OVERFLOW: auto; TOP: 48px;border: 1px solid #d6d6d6;">
								<table cellspacing="0" class="data" id="linkListTD" >
										<col width="200" />
										<col width="500"/>
										<col />
										<col width="100" />
										<thead>
											<tr class="headings">
												<th class=" no-link"><span class="no-br">ID</span></th>
												<th class=" no-link"><span class="no-br">Descrição</span></th>
												<th class=" no-link"><span class="no-br">URL</span></th>
												<th class=" no-link"><span class="no-br">Açoes</span></th>
											</tr>
										</thead>
										<tbody>
										
										</tbody>
									</table>
								</div>
						</fieldset>
				</div>
			</div>
		</div>
	</div>
</div>