<?php /**  @var $this Serpini_Sqlreport_Block_Dashboard */ ?>
<?php $AverageTicket		= $this->getAverageTicket(); ?>
<?php $totalBilled			= $this->getTotalBilled(); ?>
<?php $totalQtyCaptured		= $this->getTotalQtyCaptured(); ?>
<?php $totalCaptured		= $this->getTotalCaptured(); ?>
<?php $totalPending			= $this->getTotalPending(); ?>

<?php //$paymentMethods 		= $this->getPaymentSales(); ?>
<?php //$salesStatus  		= $this->getSalesStatus(); ?>
<?php //$salesProductByHour  	= $this->getSalesProductByHour(); ?>
<?php //$salesByCampaigns  	= $this->getSalesByCampaigns(); ?>
<?php //$sampleBestSellers  	= $this->getSampleBestSellers(); ?>
<?php //$giftBestSellers  	= $this->getGiftBestSellers(); ?>
<?php //$salesByDepartment 	= $this->getSalesByDepartment(); ?>
<?php //$totalExtraCaptured 	= $this->getTotalExtraCaptured(); ?>
<?php //$salesIncludingRescue = $this->getSalesIncludingRescue(); ?>
<?php //$customerNewAccounts  = $this->getCustomerNewAccounts(); ?>
<?php //$userAdmin            = Mage::getSingleton('admin/session')->getUser(); ?>
<?php $lastOrder			= $this->getSalesAlert(); ?>
<?php $salesIntegratedAlert	= $this->getSalesIntegratedAlert(); ?>
<?php $lastIntegratedPayment	= $this->getLastIntegratedPayment(); ?>
<?php //$salesBySource	= $this->getSalesBySource(); ?>
<?php //$TotalSalesByDevices = $this->getTotalSalesByDevices(); ?>
<?php //$totalSalesByDeviceOs = $this->getTotalSalesByDeviceOs(); ?>

<div class="intraday-messages-table">
	<div class="intraday-messages <?php echo $lastOrder['class'] ?> ico ico-itens">
		<h2>Captado <strong><?php echo $lastOrder['increment_id'] ?> - <?php echo $lastOrder['sales_time'] ?></strong></h2>
		<?php if ($lastOrder['time_remaining'] > 0):  ?>
			<p>Faltam <?php echo gmdate("H:i:s", $lastOrder['time_remaining']) ?> para ser feito um alerta</p>
		<?php else:  ?>
			<p>Alerta ativo há <?php echo gmdate("H:i:s", $lastOrder['danger_time']); ?></p>
		<?php endif;  ?>
			<span style="width: <?php echo ($lastOrder['time_remaining'] > 0) ? $lastOrder['percent_bar']: '100';?>%"></span>
		<?php if ($lastOrder['time_remaining'] <= 0):  ?>
			<small>Possivel instabilidade detectada</small>
		<?php else:  ?>
			<small>Tempo para gerar alerta (<?php echo gmdate("H:i:s", $lastOrder['time_alert']); ?>)</small>
		<?php endif;  ?>
	</div>
</div>

<div class="intraday-messages-table success">
	<div class="intraday-messages <?php echo $lastIntegratedPayment['class'] ?>  ico ico-card">
		<h2>Faturado <strong><?php echo $lastIntegratedPayment['increment_id'] ?> - <?php echo $lastIntegratedPayment['sales_time'] ?></strong></h2>
		<?php if ($lastIntegratedPayment['time_remaining'] > 0):  ?>
			<p>Faltam <?php echo gmdate("H:i:s", $lastIntegratedPayment['time_remaining']) ?> para ser feito um alerta</p>
		<?php else:  ?>
			<p>Alerta ativo há <?php echo gmdate("H:i:s", $lastIntegratedPayment['danger_time']); ?></p>
		<?php endif;  ?>
			<span style="width: <?php echo ($lastIntegratedPayment['time_remaining'] > 0) ? $lastIntegratedPayment['percent_bar']: '100';?>%"></span>
		<?php if ($lastIntegratedPayment['time_remaining'] <= 0):  ?>
			<small>Possivel instabilidade detectada</small>
		<?php else:  ?>
			<small>Tempo para gerar alerta (<?php echo gmdate("H:i:s", $lastIntegratedPayment['time_alert']); ?>)</small>
		<?php endif;  ?>
	</div>
</div>

<div class="intraday-messages-table danger" style="float: right;">
	<div class="intraday-messages <?php echo $salesIntegratedAlert['class'] ?> ico ico-sale">
		<h2>
            <?php if (array_key_exists('increment_id', $salesIntegratedAlert)):?>
            Integrado
            <strong><?php echo $salesIntegratedAlert['increment_id'] ?> - <?php echo $salesIntegratedAlert['sales_time'] ?></strong>
            <?php else: ?>
                Atenção
                <strong><?php echo $this->__('Nenhuma integração'); ?></strong>
            <?php endif; ?>
        </h2>
		<?php if ($salesIntegratedAlert['time_remaining'] > 0):  ?>
			<p>Faltam <?php echo gmdate('H:i:s', $salesIntegratedAlert['time_remaining']) ?>  para ser feito um alerta</p>
		<?php else:  ?>
			<p>Alerta ativo há <?php echo gmdate("H:i:s", $salesIntegratedAlert['danger_time']); ?></p>
		<?php endif;  ?>
		<span style="width: <?php echo ($salesIntegratedAlert['percent_bar'] > 0) ? $salesIntegratedAlert['percent_bar']: '100';?>%"></span>
		<small>Tempo para gerar alerta (<?php echo gmdate("H:i:s", $salesIntegratedAlert['time_alert']); ?>)</small>
	</div>
</div>

<div class="intraday-header">
	<div class="intraday-logo">
		<img src="/skin/adminhtml/default/default/images/sephora/logo.png" />
	</div>
	<div class="intraday-date">
		<form method="get" action="<?php echo Mage::helper('adminhtml')->getUrl('sqlrpt/index/dashBoard', array('_secure' => true)) ?>">
			<div class="range-line date">
				<input name="report_date" id="sales_order_grid_filter_created_at" value="<?php echo $this->getNowDate() ?>" class="input-text no-changes" type="text">
				<button id="generate_report" title="Gerar" type="submit" class="scalable border-radius">Ok</button>
			</div>
            <script type="text/javascript">
                //<![CDATA[
                Calendar.setup({
                    inputField: "sales_order_grid_filter_created_at",
                    ifFormat: "%d/%m/%Y",
                    showsTime: false,
                    button: "sales_order_grid_filter_created_at",
                    align: "Bl",
                    singleClick : true
                });
                //]]>
            </script>
		</form>
	</div>
</div>

<br />
<div class="dashboard-container">
	<table width="100%" cellspacing="25">
		<tbody>
		<tr>
			<td style="width: 50%;">
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Total Captado</h4></div>
					<fieldset class="a-center bold">
                            <span class="nowrap" style="font-size:18px;">
                                <span class="price"><?php echo Mage::helper('core')->currency($totalCaptured, true, false); ?></span>
                                <span style="font-size:14px; color:#686868;"></span>
                            </span>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Pendente</h4></div>
					<fieldset class="a-center bold">
                            <span class="nowrap" style="font-size:18px;">
                                <span class="price"><?php echo Mage::helper('core')->currency($totalPending, true, false); ?></span>
                                <span style="font-size:14px; color:#686868;"></span>
                            </span>
					</fieldset>
				</div>
			</td>
			<td style="width: 50%;">
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Total Faturado</h4></div>
					<fieldset class="a-center bold">
						<span class="nowrap" style="font-size:18px;">
							<span class="price"><?php echo Mage::helper('core')->currency($totalBilled, true, false); ?></span>
							<span style="font-size:14px; color:#686868;"></span>
						</span>
					</fieldset>
				</div>
				<div class="entry-edit" style="display: inline-block;  width: 49%;">
					<div class="entry-edit-head"><h4>Ticket médio</h4></div>
					<fieldset class="a-center bold">
						<span class="nowrap" style="font-size:18px;"><span class="price"><?php echo Mage::helper('core')->currency($AverageTicket, true, false); ?></span><span style="font-size:14px; color:#686868;"></span></span>
					</fieldset>
				</div>
				<div class="entry-edit" style="display: inline-block;  width: 49%; margin-left: 1.5%;">
					<div class="entry-edit-head"><h4>Pedidos Captados</h4></div>
					<fieldset class="a-center bold">
						<span class="nowrap" style="font-size:18px;"><span class="price"><?php echo number_format($totalQtyCaptured, null, null, '.'); ?></span><span style="font-size:14px; color:#686868;"></span></span>
					</fieldset>
				</div>
			</td>
		</tr>
		</tbody>
	</table>

    <?php return; ?>

	<table width="100%" cellspacing="25">
		<tbody>
		<tr>
			<div class="entry-edit">
				<div class="entry-edit-head"><h4>Compras por Hora | Pedidos</h4></div>
				<fieldset class="a-center bold">
						<span class="nowrap" style="font-size:18px;">
							<div style="width: 100%; height: 400px;" id="salesHour"></div>
						</span>
				</fieldset>
			</div>
			<td style="width: 50%;">

				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Formas de Pagamento</h4></div>
					<fieldset class="a-center bold">
						<span class="nowrap" style="font-size:18px;">
							<div style="width: 100%; height: 400px;" id="salesStatus"></div>
						</span>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Pedidos por Status</h4></div>
					<fieldset class="a-center bold">
						<span class="nowrap" style="font-size:18px;">
							<div style="width: 100%; height: 400px;" id="paymentMethods"></div>
						</span>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Total de Pedidos com Resgate BC</h4></div>
					<fieldset class="a-center bold">
                                <span class="nowrap" style="font-size:18px;">
                                    <div style="width: 100%; height: 400px;" id="SalesIncludingRescue"></div>
                                </span>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Pedidos por Device</h4></div>
					<fieldset class="a-center bold">
                                <span class="nowrap" style="font-size:18px;">
                                    <div style="width: 100%; height: 400px;" id="SalesByDeviceId"></div>
                                </span>
					</fieldset>
				</div>
			</td>
			<td style="width: 50%;">
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Total de Pedidos</h4></div>
					<fieldset class="a-center bold">
						<span class="nowrap" style="font-size:18px;">
							<div style="width: 100%; height: 400px;" id="totalsStatus"></div>
						</span>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Compras por Promoção | TOP 5</h4></div>
					<fieldset class="a-center bold">
						<span class="nowrap" style="font-size:18px;">
							<div style="width: 100%; height: 400px;" id="salesCampaign"></div>
						</span>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Clientes Cadastrados</h4></div>
					<fieldset class="a-center bold">
                                <span class="nowrap" style="font-size:18px;">
                                    <div style="width: 100%; height: 400px;" id="customerNewAccounts"></div>
                                </span>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Pedidos Mobile por OS</h4></div>
					<fieldset class="a-center bold">
                                <span class="nowrap" style="font-size:18px;">
                                    <div style="width: 100%; height: 400px;" id="SalesByDeviceOs"></div>
                                </span>
					</fieldset>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
	<table width="100%" cellspacing="25">
		<tbody><tr>
			<td>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Compras por Departamento</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">
								<thead>
								<tr class="headings">
									<th class=" no-link"><span class="nobr">Departamento</span></th>
									<th class=" a-center no-link last"><span class="nobr">Total</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($salesByDepartment as $data): ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo Mage::helper('sqlreport')->getDepartmentName($data['ax_department']) ?></td>
										<td class="a-center last"><?php echo Mage::helper('core')->currency(($data['total']), true, false); ?></td>
									</tr>
								<?php endforeach; ?>
								<tr title="javascript:;" class="even pointer">
									<td class="a-center" style="color: "><b>Frete</b>: <?php echo Mage::helper('core')->currency($totalExtraCaptured['shipping_amount'], true, false); ?></td>
									<td class="a-center last"><b>Voucher</b>: <?php echo Mage::helper('core')->currency(($totalExtraCaptured['voucher']), true, false); ?></td>
								</tr>
								</tbody>
							</table>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Compras por Promoção</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">
								<colgroup><col>
									<col width="100">
									<col width="100">
								</colgroup><thead>
								<tr class="headings">
									<th class=" no-link"><span class="nobr">Nome</span></th>
									<th class=" a-center no-link"><span class="nobr">Pedidos</span></th>
									<th class=" a-center no-link"><span class="nobr">Total</span></th>
									<th class=" a-center no-link last"><span class="nobr">Sub Total</span></th>
									<th class=" a-center no-link last"><span class="nobr">Desconto</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($salesByCampaigns as $data): ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo $data['name'] ?></td>
										<td class="a-center"><?php echo $data['sales'] ?></td>
										<td class="a-center"><?php echo Mage::helper('core')->currency($data['total'], true, false) ?></td>
										<td class="a-center "><?php echo Mage::helper('core')->currency($data['subtotal'], true, false) ?></td>
										<td class="a-center last" ><?php echo Mage::helper('core')->currency($data['discount_amount'], true, false) ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Compras por Forma de Pagamento</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">
								<colgroup>
									<col>
									<col width="100">
									<col width="100">
								</colgroup>
								<thead>
								<tr class="headings">
									<th class=" no-link"><span class="nobr">Forma de Pagamento</span></th>
									<th class=" a-center no-link"><span class="nobr">Quantidade</span></th>
									<th class=" a-center no-link last"><span class="nobr">Valor Total</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($paymentMethods as $data): ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo $data['method']?></td>
										<td class="a-center "><?php echo $data['total']?></td>
										<td class="a-center last"><?php echo Mage::helper('core')->currency($data['grandtotal'], true, false)?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Compras por Status</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">
								<colgroup><col>
									<col width="100">
									<col width="100">
								</colgroup><thead>
								<tr class="headings">
									<th class=" no-link"><span class="nobr">Status</span></th>
									<th class=" a-center no-link"><span class="nobr">Quantidade</span></th>
									<th class=" a-center no-link last"><span class="nobr">Valor Total</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($salesStatus as $data): ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo $data['status'] ?></td>
										<td class="a-center"><?php echo $data['qty'] ?></td>
										<td class="a-center last"><?php echo Mage::helper('core')->currency($data['total'], true, false) ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Compras por Canal</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">
								<colgroup><col>
									<col width="100">
									<col width="100">
								</colgroup><thead>
								<tr class="headings">
									<th class=" no-link"><span class="nobr">Status</span></th>
									<th class=" a-center no-link"><span class="nobr">Quantidade</span></th>
									<th class=" a-center no-link last"><span class="nobr">Valor Total</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($salesBySource as $data): ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo $data['channel'] ?></td>
										<td class="a-center"><?php echo $data['sales'] ?></td>
										<td class="a-center last"><?php echo Mage::helper('core')->currency($data['total'], true, false) ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Compras por Hora | Pedidos</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">
								<colgroup><col>
									<col width="100">
									<col width="100">
								</colgroup>
								<thead>
								<tr class="headings">
									<th class=" no-link"><span class="nobr">Hora</span></th>
									<th class=" a-center no-link"><span class="nobr">Pedidos</span></th>
									<th class=" a-center no-link"><span class="nobr">Produtos</span></th>
									<th class=" no-link"><span class="nobr">Valor Total</span></th>
									<th class=" no-link last"><span class="nobr">Ticket Médio</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($salesProductByHour as $data): ?>
									<?php $Hour = ($data['hour'] == 24) ? 0 : $data['hour']; ?>
									<?php $lastHour = (($Hour + 1) == 24) ? 0 : $Hour + 1; ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo str_pad($Hour, 2, '0', STR_PAD_LEFT).':00 ~ '. str_pad($lastHour, 2, '0', STR_PAD_LEFT).':00' ?></td>
										<td class=" a-center "><?php echo $data['cont'] ?></td>
										<td class=" a-center "><?php echo (int) $data['produtos'] ?></td>
										<td class="a-right a-right"><?php echo Mage::helper('core')->currency($data['grand_total'], true, false); ?></td>
										<td class="a-right a-right last"><?php echo Mage::helper('core')->currency(($data['grand_total'] / $data['cont']), true, false); ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>
					</fieldset>
				</div>
			</td>
			<td>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Top 20 Marcas (Best Sellers)</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">

								<thead>
								<tr class="headings">
									<th class=" no-link"><span class="nobr">Nome</span></th>
									<th class=" a-center no-link"><span class="nobr">Quantidade</span></th>
									<th class=" a-center no-link last"><span class="nobr">Total</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($this->getSalesbyManufacturer() as $data): ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo $data['name'] ?></td>
										<td class="a-center"><?php echo $data['qty'] ?></td>
										<td class="a-center last"><?php echo Mage::helper('core')->currency($data['total'], true, false) ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Top 20 Produtos (Best Sellers)</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">
								<thead>
								<tr class="headings">
									<th class=" no-link"><span class="nobr">Marca</span></th>
									<th class=" a-center no-link"><span class="nobr">Sku</span></th>
									<th class=" a-left no-link"><span class="nobr">Produto</span></th>
									<th class=" a-center no-link"><span class="nobr">Quantidade</span></th>
									<th class=" a-center no-link last"><span class="nobr">Total</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($this->getBestSellers() as $data): ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo $data['marca'] ?></td>
										<td class="a-center"><?php echo $data['sku'] ?></td>
										<td class="a-left"><?php echo $data['produto'] ?></td>
										<td class="a-center"><?php echo (int) $data['qty'] ?></td>
										<td class="a-center last"><?php echo Mage::helper('core')->currency($data['total'], true, false) ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Top 20 Amostras (Best Sellers)</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">
								<thead>
								<tr class="headings">
									<th class=" no-link"><span class="nobr">Marca</span></th>
									<th class=" a-center no-link"><span class="nobr">Sku</span></th>
									<th class=" a-left no-link"><span class="nobr">Produto</span></th>
									<th class=" a-center no-link last"><span class="nobr">Quantidade</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($sampleBestSellers as $data): ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo $data['marca'] ?></td>
										<td class="a-center"><?php echo $data['sku'] ?></td>
										<td class="a-left"><?php echo $data['produto'] ?></td>
										<td class="a-center last"><?php echo (int) $data['qty'] ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Top 20 Brindes (Best Sellers)</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">
								<thead>
								<tr class="headings">
									<th class=" no-link"><span class="nobr">Marca</span></th>
									<th class=" a-center no-link"><span class="nobr">Sku</span></th>
									<th class=" a-left no-link"><span class="nobr">Produto</span></th>
									<th class=" a-center no-link last"><span class="nobr">Quantidade</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($giftBestSellers as $data): ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo $data['marca'] ?></td>
										<td class="a-center"><?php echo $data['sku'] ?></td>
										<td class="a-left"><?php echo $data['produto'] ?></td>
										<td class="a-center last"><?php echo (int) $data['qty'] ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>
					</fieldset>
				</div>
				<div class="entry-edit">
					<div class="entry-edit-head"><h4>Top 20 Produtos (Best Sellers | Low Stock)</h4></div>
					<fieldset class="np"><div class="grid np">
							<table style="border:0;" id="lastOrdersGrid_table" cellspacing="0">
								<thead>
								<tr class="headings">
									<th class=" a-center no-link"><span class="nobr">Sku</span></th>
									<th class=" a-left no-link"><span class="nobr">Produto</span></th>
									<th class=" a-left no-link"><span class="nobr">Vendidos</span></th>
									<th class=" a-center no-link last"><span class="nobr">Quantidade</span></th>
								</tr>
								</thead>
								<tbody>
								<?php foreach ($this->getBestSellersLowStock() as $data): ?>
									<tr title="javascript:;" class="even pointer">
										<td class="#"><?php echo $data['sku'] ?></td>
										<td class=""><?php echo $data['produto'] ?></td>
										<td class="a-center"><?php echo (int) $data['qty'] ?></td>
										<td class="a-center last"><?php echo (int) $data['available_qty'] ?></td>
									</tr>
								<?php endforeach; ?>
								</tbody>
							</table>
					</fieldset>
				</div>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<!--  PAYMENT METHODS !-->
<script type="text/javascript">

	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Task', 'chart'],
			<?php foreach ($paymentMethods as $data): ?>
			['<?php echo $data['method']?>',     <?php echo $data['total']?>],
			<?php endforeach; ?>
		]);

		var options = {
			title: 'Pagamentos',
			is3D: true,
		};

		var chart = new google.visualization.PieChart(document.getElementById('salesStatus'));
		chart.draw(data, options);
	}
</script>

<!--  PAYMENT METHODS !-->
<script type="text/javascript">

	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Task', 'chart'],
			<?php foreach ($salesStatus as $data): ?>
			['<?php echo $data['status']?>',     <?php echo $data['qty']?>],
			<?php endforeach; ?>
		]);

		var options = {
			title: 'Status',
			is3D: true,
		};

		var chart = new google.visualization.PieChart(document.getElementById('paymentMethods'));
		chart.draw(data, options);
	}
</script>

<!--  PAYMENT METHODS !-->
<script type="text/javascript">

	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Task', 		'chart'],
			['Faturado',	<?php echo $totalBilled?>],
			['Pendente',	<?php echo $totalPending ?>]
		]);

		var options = {
			title: 'Faturamento',
			is3D: true
		};

		var chart = new google.visualization.PieChart(document.getElementById('totalsStatus'));
		chart.draw(data, options);
	}
</script>

<script type="text/javascript">

	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Task', 		'chart'],
			['Pedidos sem Resgate',	<?php echo $totalQtyCaptured - $salesIncludingRescue ?>],
			['Pedidos com Resgate',	<?php echo $salesIncludingRescue ?>]
		]);

		var options = {
			title: 'Pedidos com Resgate BC',
			is3D: true
		};

		var chart = new google.visualization.PieChart(document.getElementById('SalesIncludingRescue'));
		chart.draw(data, options);
	}
</script>


<script type="text/javascript">

	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['device', 		'total'],
			<?php foreach ($TotalSalesByDevices as $TotalSalesByDevice): ?>
			['<?php echo $TotalSalesByDevice['device'] ?>',	<?php echo ($TotalSalesByDevice['total'] > 1) ? $TotalSalesByDevice['total'] : 0; ?>],
			<?php endforeach; ?>
		]);

		var options = {
			title: 'Pedidos Por Device',
			is3D: true
		};

		var chart = new google.visualization.PieChart(document.getElementById('SalesByDeviceId'));
		chart.draw(data, options);
	}
</script>


<script type="text/javascript">

	google.charts.load("current", {packages:["corechart"]});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['device', 		'total'],
			<?php foreach ($totalSalesByDeviceOs as $salesByDeviceOs): ?>
			['<?php echo $salesByDeviceOs['deviceos'] ?>',	<?php echo ($salesByDeviceOs['total'] > 1) ? $salesByDeviceOs['total'] : 0; ?>],
			<?php endforeach; ?>
		]);

		var options = {
			is3D: true
		};

		var chart = new google.visualization.PieChart(document.getElementById('SalesByDeviceOs'));
		chart.draw(data, options);
	}
</script>


<script type="text/javascript">
	google.charts.load("current", {packages:['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			["Element", "Total", { role: "style" } ],
			<?php foreach ($customerNewAccounts as $data): ?>
			['Total', <?php echo $data['total_customer'] ?>, "#3366cc"],
			['Newsletter', <?php echo $data['total_newsletter'] ?>, "#3366cc"],
			['BC',  <?php echo $data['total_bc'] ?>, "#3366cc"],
			['Compras', <?php echo $data['total_buyer'] ?>, "#3366cc"]
			<?php endforeach; ?>
		]);

		var view = new google.visualization.DataView(data);
		view.setColumns([0, 1,
			{ calc: "stringify",
				sourceColumn: 1,
				type: "string",
				role: "annotation" },
			2]);

		var options = {
			bar: {groupWidth: "95%"},
			legend: { position: "none" },
			vAxis: {
				viewWindow: {
					min:0
				}
			}
		};
		var chart = new google.visualization.ColumnChart(document.getElementById("customerNewAccounts"));
		chart.draw(view, options);
	}
</script>



<script type="text/javascript">

	google.charts.load('current', {'packages':['line']});
	google.charts.setOnLoadCallback(drawChart);

	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			['Hora', 'Total Captado', 'Total Faturado'],
			<?php foreach ($salesProductByHour as $data): ?>
			['<?php echo $data['hour']?>',  <?php echo $data['grand_total'] ?>,  <?php echo ($data['invoiced'] > 1) ? $data['invoiced'] : 0; ?>],
			<?php endforeach; ?>
		]);


		var options = {
			legend: { position: 'bottom' }
		};

		var chart = new google.visualization.LineChart(document.getElementById('salesHour'));

		chart.draw(data, options);
	}
</script>


<script type="text/javascript">
	google.charts.load("current", {packages:['corechart']});
	google.charts.setOnLoadCallback(drawChart);
	function drawChart() {
		var data = google.visualization.arrayToDataTable([
			["Element", "Total", { role: "style" } ],
			<?php foreach ($salesByCampaigns as $data): ?>
			["<?php echo $data['name'] ?>", <?php echo $data['sales'] ?>, "#3366cc"],
			<?php endforeach; ?>
		]);

		var view = new google.visualization.DataView(data);
		view.setColumns([0, 1,
			{ calc: "stringify",
				sourceColumn: 1,
				type: "string",
				role: "annotation" },
			2]);

		var options = {
			title: "Compras por Promoção",
			bar: {groupWidth: "95%"},
			legend: { position: "none" },
			vAxis: {
				viewWindow: {
					min:0
				}
			}
		};
		var chart = new google.visualization.ColumnChart(document.getElementById("salesCampaign"));
		chart.draw(view, options);
	}
</script>

<script type="application/javascript">
	Calendar.setup({
		inputField : "sales_order_grid_filter_created_at",
		ifFormat : "%Y-%m-%d",
		button : "sales_order_grid_filter_created_at_trig",
		showsTime: false,
		align : "Bl",
		singleClick : true
	});
</script>


<script type="text/javascript">
	//&lt;![CDATA[
	lastOrdersGridJsObject = new varienGrid('lastOrdersGrid', '#', 'page', 'sort', 'dir', 'filter');
	lastOrdersGridJsObject.useAjax = '';
	lastOrdersGridJsObject.rowClickCallback = openGridRow;
	//]]&gt;
</script>
