<?php

/** @var BSeller_Serpini_Helper_Data  $helper */
$helper     = Mage::helper('bseller_serpini');

	Mage::helper('sqlreport/InstallManager')->checkInstall();
	$setupmanager = Mage::getModel('sqlreport/setup');

	$report = Mage::getModel('sqlreport/report');
	$reportsmg = Mage::helper('sqlreport/ReportManager');
	$reportList = $reportsmg->getReportsList('read');
	$params = $this->getRequest()->getParams();
	$permitmanager = Mage::getModel('sqlreport/permissionrole');
	$notPermission = false;
	if(array_key_exists('id', $params) && $params['id']!=""){
		$report_id = $params['id'];
		if($permitmanager->userHasPermissionViewReport($report_id)){
			$report->loadReport($report_id);
			if($params['filter']!=""){
				$report->setComboValues($params['filter']);
			}else{
				$report->loadDataReport(' LIMIT 20');
			}
		}else{
			$notPermission = true;
		}
		
	}

	$bsellerSerpiniHelper = Mage::helper('bseller_serpini');

	$hasPermissionToExportLargeCSV = Mage::getSingleton('admin/session')->isAllowed('report/bseller_serpini');
?>
<style>

	table.data tbody tr:hover{
	  background:#fcf5dd;  
	  color: #000;
	}
	
	table.data thead th:hover{
	  color: #ea7601;cursor:pointer;
	}
	
	table.data th.sortasc{
		background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);?>adminhtml/default/default/images/grid_sort_asc.gif),url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);?>adminhtml/default/default/images/sort_on_bg.gif);
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
		padding-bottom: 2px;
		background-repeat:no-repeat,no-repeat;
		background-position:right center,0 0;
	}
	
	table.data th.sortdesc{
		background: url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);?>adminhtml/default/default/images/grid_sort_desc.gif),url(<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);?>adminhtml/default/default/images/sort_on_bg.gif);
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
		padding-bottom: 2px;
		background-repeat:no-repeat,no-repeat;
		background-position:right center,0 0;
	}
	
	.link{
		cursor:pointer;
	}
	
	.rowodd{
		background: #f6f6f6;
	}

	#chart {
	  height: <?php echo $setupmanager->getValue("chart_height_default");?>px;
	}
	
</style>

<SCRIPT LANGUAGE="JavaScript"> 
<!-- 
	var reportManager = new ReportManager('<?php echo $this->getUrl('*/*/viewReport', array('_current'=>true));?>');
	var cmText;
	var urlViewReport = "<?php echo $this->getUrl('*/*/viewReport', array('_current'=>true));?>";
	var urlAdmin = "<?php echo $this->getUrl('*/*/admin', array('_current'=>true));?>";
	var urlExport = "<?php echo $this->getUrl('*/*/export', array('_current'=>true));?>";

	 
	Event.observe(window, 'load', init, false); 
//--> 
</SCRIPT>
<div id="bseller-serpini-exported-old" class="bseller-serpini-exported-old" style="display: block">
<?php
if (isset($params['id'])) :

$codeReport = $params['id'];
$zipFile    = $helper->getFileName($params['id']);
$zipFile   .= '.zip';
$dir        = $helper->getDir().$helper->getFilePath();


if (file_exists($dir.$zipFile)) :
    $fileInfo = $helper->fileUpdatedAtInfo($helper->getDir() . $helper->getFilePath() . $zipFile);
?>
    <div class="switcher">
        <div class="content-header">
            <table cellspacing="0">
                <tbody><tr>
                    <td style="width:50%;">
                        <h3 class="icon-head head-report-customer-totals"><?php echo $helper->__('This report was generated before');?></h3>
                    </td>
                </tr>
                </tbody></table>
        </div>
        <span >
            <?php

            $link = Mage::helper("adminhtml")->getUrl("*/downloadReport/index") . '?file=' . $zipFile;

            $return['exportFileName'] = $link;
            $html  = '<p>' . $helper->__('Report') . ': <strong>' . $codeReport . '</strong>: <span class="button"><a href="' . $link . '" target="_blank">'.$helper->__('download here').'</a></span></p>';
            $html .= '<p>' . $helper->__('Created At') . ': <em>' . $fileInfo . '</em></p>';
            $html .= '<p>' . $helper->__('File Size').': <em>' . $helper->humanFileSize($helper->getFileSize($helper->getDir() . $helper->getFilePath() . $zipFile)) . '</em></p>';
            echo $html;
            ?>
        </span>
    </div>
<?php
endif;
endif;
?>
</div>

<div id="bseller-serpini-exported" class="bseller-serpini-exported" style="display: none">
    <div class="switcher">
        <div class="content-header">
            <table cellspacing="0">
                <tbody><tr>
                    <td style="width:50%;">
                        <h3 class="icon-head head-report-customer-totals"><?php echo $helper->__('Report Download Ready')?></h3>
                    </td>
                </tr>
                </tbody></table>
        </div>
        <span id="exported-report" ></span>
    </div>
</div>
	<!-- REPORT LIST -->
<p class="switcher"><label for="store_switcher">Choose Report:</label>
	<select name="codeReport" style="width:50%;" id="general_code">
    	<?php foreach ($reportList as $groupDes=>$reportListGroup){ ?>
    	<optgroup label="<?php echo $groupDes;?>">
    		<?php foreach ($reportListGroup as $code=>$description){ ?>	
			<option value="<?php echo $code; ?>" <?php if($code==$report->getId()){ echo "selected='yes'"; }?>><?php echo $description;?></option>
			<?php }?>
		</optgroup>
		<?php }?>
	</select>
	<button id="butPrintReport" type="button" class="scalable task" onclick="reportManager.loadReport()" style="">
	     <span>Go!</span>
	</button>
    <?php
    if ($hasPermissionToExportLargeCSV) :
    ?>
    <script type="text/javascript">
        function bsellerExportReport() {

            $('bseller-serpini-exported-old').hide();

            var filterParams = '';

            var codeReport = $('general_code').value;
            var filters = $$('#comboList .value input', '#comboList .value select');
            var elements = [];
            for(var i in filters){
                if("checkbox"==filters[i].type || "radio"==filters[i].type){
                    if(filters[i].checked) elements.push(filters[i]);
                }else{
                    if(filters[i].value && filters[i].value.length) elements.push(filters[i]);
                }
            }
//            var validator  = new Validation('filter_form');
//            if (validator.validate()) {
                filterParams = encode_base64(Form.serializeElements(elements))
//            }

            params = {
                codeReport: codeReport,
                filter: filterParams
            };

            new Ajax.Request('<?php echo Mage::helper('adminhtml')->getUrl('adminhtml/exportSerpiniReport/export');?>?isAjax=true', {
                parameters: params,
                onSuccess: function(transport) {
                    try {
                        if (transport.responseText.isJSON()) {
                            var response = transport.responseText.evalJSON();
                            var needUpdate = true;
                            if (response.error) {
                                alert(response.message);
                                needUpdate = false;
                            }
                            if(response.ajaxExpired && response.ajaxRedirect) {
                                setLocation(response.ajaxRedirect);
                                needUpdate = false;
                            }
                            if (needUpdate){
                                $('exported-report').update(response.exportedHTML);

                            }
                        } else {
                            $('exported-report').update(transport.responseText);
                        }
                    }
                    catch (e) {
                        $('exported-report').update(transport.responseText);
                    }
                    $('loading-mask').hide();
                },
                onComplete: function () {
                    $('bseller-serpini-exported').show();
                    $('loading-mask').hide();
                }
            });

        }
    </script>
    <?php
    endif;
    ?>
</p>

	<!-- REPORT TITLE -->

<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-report-customer-totals"><?php echo ($report->isLoaded()?$report->getTitle():"Select report"); ?></h3></td>
            <td class="form-buttons">
            <?php if($report->isLoaded()){?>
            	<button type="button" class="scalable task" onclick="reportManager.doFilter()" style=""><span>Show Report</span></button>
                
				<img class="link" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)?>serpini_sqlreport/customization.png" class="v-middle" title="Edit report" alt="Edit report" onclick="reportManager.openAdminReport('<?php echo $report->getId();?>')" >
            <?php }?>
                 </td>
        </tr>
    </table>
</div>
<!-- SQL's -->
<div class="entry-edit">
	<div class="entry-edit-head collapseable"><a  href="#" class="" id="sql_field-head"  onClick="reportManager.collapse('sql_field');	reportManager.showSQL('sqlReport');">SQL</a></div>
				
	<fieldset class="config collapseable" id="sql_field" style="display:none">
		<button id="butRefParams" type="button" class="scalable task" onclick="reportManager.showSQLRefParams()" style=""><span>Show Params</span></button>
		<button id="butValueParams" style="display:none" type="button" class="scalable task" onclick="reportManager.showSQLValueParams()" style=""><span>Show Values</span></button>
		<textarea style="display:none;" id="sqlReport" name="sqlReport"><?php echo $report->getSqlNoParams();?></textarea>
		<textarea style="display:none;" id="sqlReport_value" name="sqlReport_value"><?php echo $report->getSqlYesParams();?></textarea>
	</fieldset>
	</div>
<?php if($report->hasCombos()){
		foreach ($report->getComboList() as $combo){
			 ?>
<textarea style="display:none;" id="sqlCombo<?php echo $combo->getParameter();?>" name="sqlCombo<?php echo $combo->getParameter();?>"><?php echo $combo->getAtribute("sql");?></textarea>
<textarea style="display:none;" id="sqlCombo<?php echo $combo->getParameter();?>_value" name="sqlCombo<?php echo $combo->getParameter();?>_value"><?php echo $combo->getAtribute("sql");?></textarea>
<?php   	
		}
	  }?>

	<!-- ERROR MESSAGES -->
<?php if($report->isError()){?>
<ul class="messages"><li class="error-msg"><ul><li><?php echo $report->getErrorMsg();?></li></ul></li></ul>

<?php }?>

	<!-- CHART -->
<?php if($report->hasChart() && $report->hasRows()){?>
<div class="entry-edit">
	<div class="entry-edit-head collapseable"><a id="chart_field-head" href="#" class="open" onClick="reportManager.collapse('chart_field')">Chart</a></div>
		<fieldset class="config collapseable" id="chart_field">
			<div id="chart">
			  <svg></svg>
			</div>
		</fieldset>
</div>
	<SCRIPT LANGUAGE="JavaScript"> 
	
	<?php
	echo $report->printDataChart();
	echo $report->printJSChart();
	?>
	</SCRIPT>
<?php }?>

	<!-- FILTERS LIST -->
<?php if($report->hasCombos()){?>
<div class="entry-edit">
	<form id="filter_form">
	<div class="entry-edit-head collapseable"><a id="filter_field-head" href="#" class="open" onClick="reportManager.collapse('filter_field')">Filter</a></div>
	<fieldset class="config collapseable" id="filter_field">
    	<div class="hor-scroll">
			<table cellspacing="0" class="form-list" id="comboList">
			<?php foreach ($report->getComboList() as $combo){ 
					if($combo->getType()!="evaluated"){?>
				<tr>
					<td class="label">
						<label for="<?php echo $combo->getParameter();?>"><?php echo $combo->getTitle();?> <span class="required">*</span></label>
					</td>
					<td class="value">
							<?php echo $combo->printHTML(); ?>
					</td>
				</tr>
			<?php 	}
				 }?>
			</table>
		</div>
	</fieldset>
	</form>
</div>
<?php }?>
    <!-- ACTIONS -->
    <?php if($report->isLoaded()){?>
    <table cellspacing="0" class="actions">
        <tbody>
        	<tr>
				<td class="export a-right">
                    <?php
                    $showOnlyBSellerExportBtn = $bsellerSerpiniHelper->showOnlyHisBtn();
                    if (!$showOnlyBSellerExportBtn) :
                    ?>
            		<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN);?>adminhtml/default/default/images/icon_export.gif" alt="" class="v-middle">&nbsp; Export to: 
            			<select name="exportList" id="exportList" style="width:8em;">
                            <option value="CSV">CSV</option>
                            <option value="XML">Excel XML</option>
                        </select>
            		<button type="button" class="scalable task" onclick="reportManager.doExport()" style=""><span>Export</span></button>
                    <?php
                    endif;
                    if ($hasPermissionToExportLargeCSV) :
                    ?>
                    <button onclick="bsellerExportReport()" >
                        <span><?php echo Mage::helper('bseller_serpini')->__('Export');?></span>
                    </button>
                    <?php
                    endif;
                    ?>
                </td>
            	<td class="filter-actions a-right"></td>
        	</tr>
    	</tbody>
   	</table>
   	<?php }?>
        
	<!-- REPORT DATA -->
<div class="grid">
	<?php if($report->hasRows() && !$notPermission){?>
    <table cellspacing="0" class="data sortable resizable ">
        <?php foreach ($report->getColumnsName() as $_column){ ?>
        <col <?php echo $report->getHtmlProperty($_column) ?>/>
        <?php } ?>
        <thead>
			<tr class="headings">
				<?php foreach ($report->getColumnsName() as $_column){ ?>
				<th ><span class="no-br"><?php echo $report->getHeaderHtml($_column) ?></span></th>
				<?php } ?>
			</tr>
        </thead>
        
        <tbody>
        <?php if ($report->getSize()>0){ 
        		$fila=0;?>
        <?php 	foreach ($report->getResults() as $result){  
        			$fila++;
        			$columna=0;?>
        	<tr <?php echo $report->getLinkResult("TR",0,$result); ?>>
        		<?php foreach ($report->getColumnsName() as $_column){  
        			    $report->addResult2Sum($columna,$result[$_column]);
        				$columna++;?>
        			<td class="<?php echo $report->getCssProperty($result[$_column]);?> "><?php echo $report->getLinkResult("TD",$columna,$result[$_column]); ?></td>
        			
        		<?php } ?>
        	 </tr>
            
        <?php 	}
			  }?>
		</tbody>
		<tfoot>
        	
        	<?php if($report->haveResultSum()):
        			$columna=0;?>
        	<tr class="totals">
        		<?php foreach ($report->getResultSum() as $resultSum):
        				$columna++;
        				if($columna==1 && $resultSum=="s"):  ?>
        		<th>Total of <?php echo $report->getSize();?> Rows</th>
        		  <?php else:?>
        		<th class=" a-right"><?php echo ($resultSum=="s")?"":$resultSum; ?></th>
        		<?php endif;?>
        		<?php endforeach;?>
        	</tr>
        	<?php else:?>
        	<tr class="totals">
        		<th colspan="<?php echo $report->getNumColumns();?>"><?php echo $report->getSize();?> Rows</th>
        	</tr>
        	<?php endif;?>
        </tfoot>
    </table>
    <?php } else { ?>
    <div class="grid">
    	<table cellspacing="0" class="data" style="" >
    		<col width="500"/>
    			<thead>
    			<tr class="headings">
    				<th class=" no-link"><span class="no-br">Mensaje</span></th>
    			</tr>
    			</thead>
        		<tbody>
        		<tr>
                <td class="empty-text a-center" colspan="10">
           <?php 
                if ($notPermission){
                	echo "You don't have permission to view this report";	
                }else if(!$report->isLoaded()){
					echo "No report loaded";
				}else  if(!$report->hasCombos() || ($report->hasCombos() && $report->isComboSeted())) {?>
                 	No records found.
                <?php } else {?>
                	Select combo values.
                <?php }?></td>
            </tr>
                </tbody>
        		</table>
    </div>
    
    <?php }?>
</div>
