<?php if($this->getMessage()): ?>
    <ul class="messages">
        <li class="success-msg">
            <ul>
                <li>
                    <span><?php echo $this->getMessage(); ?></span>
                </li>
            </ul>
        </li>
    </ul>
<?php endif; ?>

