

<main class="container" role="main">
    <h1 class="h1">Heading 1</h1>
    <h2 class="h2">Heading 2</h2>
    <h3 class="h3">Heading 3</h3>
    <h4 class="h4">Heading 4</h4>
    <h5 class="h5">Heading 5</h5>
    <h6 class="h6">Heading 6</h6>

    <br><hr>

    <span class="f-base">Arial <span class="class">(class: f-base)</span></span>
    <br>
    <span class="f-avantGarde">Itc Avant Garde <span class="class">(class: f-avantGarde)</span></span>
    <span class="f-avantGarde-b">Itc Avant Garde Bold <span class="class">(class: f-avantGarde-b)</span></span>
    <br>
    <span class="f-montserrat">Montserrat <span class="class">(class: f-montserrat)</span></span>
    <span class="f-montserrat-b">Montserrat Bold <span class="class">(class: f-montserrat-b)</span></span>
    <br>
    <span class="f-myriad">Myriad <span class="class">(class: f-myriad)</span></span>
    <br>
    <span class="f-sephoraSans">Sephora Sans <span class="class">(class: f-sephoraSans)</span></span>
    <span class="f-sephoraSans-b">Sephora Sans Bold <span class="class">(class: f-sephoraSans-b)</span></span>
    <br>
    <span class="f-sephoraSerif">Sephora Serif <span class="class">(class: f-sephoraSerif)</span></span>
    <span class="f-sephoraSerif-i">Sephora Serif Italic <span class="class">(class: f-sephoraSerif-i)</span></span>
    <span class="f-sephoraSerif-600-i">Sephora Serif 600 Italic <span class="class">(class: f-sephoraSerif-600-i)</span></span>
    <span class="f-sephoraSerif-800-i">Sephora Serif 800 Italic <span class="class">(class: f-sephoraSerif-800-i)</span></span>

    <br><hr>

    <form>
        <label for="text-field">Text Field</label>
        <input id="text-field" type="text">
        <label for="disabled-text-field">Disabled Text Field</label>
        <input id="disabled-text-field" type="text" disabled>
        <label for="text-area">Text Area</label>
        <textarea id="text-area"></textarea>
        <label for="password">Password</label>
        <input id="password" type="password">
        <label for="search">Search</label>
        <input id="search" type="search">
        <label for="file">File Input</label>
        <input id="file" type="file">
        <label for="select">Select</label>

        <div>
            <select id="select" class="cs-select">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>

        <br><hr>

        <fieldset>
            <legend>Fieldset</legend>
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" placeholder="Bill">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" placeholder="Murray">
        </fieldset>

        <br><hr>

        <fieldset>
            <legend>Radio Fieldset</legend>
            <input type="radio" name="radio-buttons" value="radio-1" id="radio-1">
            <label for="radio-1">um</label>

            <input type="radio" name="radio-buttons" value="radio-2" id="radio-2"> 
            <label for="radio-2">Radio 2</label>

            <input type="radio" name="radio-buttons" value="radio-3" id="radio-3"> 
            <label for="radio-3">Radio 3</label>

        </fieldset>
        
        <br>

        <fieldset>
            <legend>Checkbox Fieldset</legend>

            <input type="checkbox" name="checkboxes" value="check-1" id="check-1" checked >
            <label for="check-1">Checkbox 1</label>

            <input type="checkbox" name="checkboxes" value="check-2" id="check-2">
            <label for="check-2">Checkbox 2</label>

            <input type="checkbox" name="checkboxes" value="check-3" id="check-3">
            <label for="check-3">Checkbox 3</label>

        </fieldset>
        <a href="#" class="button disabled">disabled</a>
        <a href="#" class="button one">default</a>
        <a href="#" class="button primary">primary</a>
        <a href="#" class="button success">success</a>
        <a href="#" class="button error">error</a>
        <a href="#" class="button warning">warning</a>
        <a href="#" class="button link">link</a>
        <br><br>
        <div class="border">
            <a href="#" class="button disabled">disabled</a>
            <a href="#" class="button one">default</a>
            <a href="#" class="button primary">primary</a>
            <a href="#" class="button success">success</a>
            <a href="#" class="button error">error</a>
            <a href="#" class="button warning">warning</a>
            <a href="#" class="button link">link um pouco maior</a>
            <br><br>
            <a href="#" class="button small">small</a>
            <a href="#" class="button medium one">medium</a>
            <a href="#" class="button big">big</a>
            <a href="#" class="button large -ico">large</a>
            <a href="#" class="button cart -ico"></a>
        </div>
        <br><br>
        <a href="#" class="button small">small</a>
        <a href="#" class="button medium">medium</a>
        <a href="#" class="button big -ico">big</a>
        <a href="#" class="button large">large</a>
        <a href="#" class="button -ico cart"></a>
        <a href="#" class="button with -ico -r">icone</a>
        <a href="#" class="button with -ico -l">icone</a>

        <a href="#" class="teste-img"></a>
        <a href="#" class="teste-img-2"></a>
        <a href="#" class="teste-img-3"></a>
    </form>

    <br><hr>

    <table>
        <tr>
            <th>Table Header 1</th>
            <th>Table Header 2</th>
            <th>Table Header 3</th>
        </tr>
        <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
        </tr>
        <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
        </tr>
        <tr>
            <td>Division 1</td>
            <td>Division 2</td>
            <td>Division 3</td>
        </tr>
    </table>
</main>