<!--@subject {{var store.getFrontendName()}} - Seu pedido foi preparado para envio @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var shipment.increment_id":"Shipment Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var comment":"Shipment Comment"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="700">
                <tr>
                    <td width="52"></td>
                    <td>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 20px; color: #000000; font-style: NORMAL; font-weight: BOLD;">Olá {{htmlescape var=$order.getCustomerName()}}</font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="28"></td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="700">
                <tr>
                    <td width="52"></td>
                    <td>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 12px; color: #4d4d4d; font-style: NORMAL;">O pedido <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 12px; color: #4d4d4d; font-style: NORMAL; font-weight: BOLD;">{{var order.increment_id}}</font>
                        foi entregue no endereço solicitado.<br>
                        </font>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 12px; color: #4d4d4d; font-style: NORMAL;">Confira abaixo as informações referentes ao pedido:</font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="700">
                <tr>
                    <td height="25"></td>
                </tr>
                <tr>
                    <td><img src="{{media url='wysiwyg/email/step-delivered.jpg'}}" alt="Status" title="Status" border="0" style="display:block;" /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="700">
                <tr><td height="30"></td></tr>
                <tr>
                    <td width="54"></td>
                    <td>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 18px; color: #4d4d4d; font-style: NORMAL;">Pedido n°</font><font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 19px; color: #000000; font-style: NORMAL; font-weight: BOLD;"> {{var order.increment_id}}</font><br>
                    </td>
                </tr>
                <tr><td height="30"></td></tr>
            </table>
        </td>
    </tr>
    <tr class="order-information">
        {{layout handle="sales_email_order_items" order=$order}}
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="595">
                <tr>
                    <td align="left">
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 14px; color: #000000; font-style: NORMAL;font-weight:bold">Endereço de Entrega</font><br><p></p>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 12px; color: #000000; font-style: NORMAL;">{{var order.getShippingAddress().format('html')}}</font>
                    </td>
                    <td align="left">
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 14px; color: #000000; font-style: NORMAL;font-weight:bold">Opção de Entrega</font><br><p></p>
                        <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 12px; color: #000000; font-style: NORMAL;">
                            {{var order.getShippingDescription()}}<br>
                            {{layout handle="sales_email_order_delivery" order=$order}}
                        </font>
                    </td>
                    <td align="right" valign="top">
                        <a href="{{store url="sales/order/view/"}}order_id/{{var order.id}}"><img src="{{media url='wysiwyg/email/btn-view-order.jpg'}}" alt="Acompanhar meu pedido" title="Acompanhar meu pedido" border="0" style="display:block;"/></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="30"></td>
    </tr>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="595">
            <tr>
                <td align="left">
                    <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 14px; color: #000000; font-style: NORMAL;font-weight:bold">Forma de Pagamento</font><br><p></p>
                    <font style="text-decoration: NONE; font-family: Arial, sans-serif; font-size: 12px; color: #000000; font-style: NORMAL;">{{var payment_html}}</font>
                </td>
            </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td height="40"></td>
    </tr>
    <tr>
        <td width="650" height="3" bgcolor="#000000" align="center"></td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td align="center">
            <font style="font-family: Times New Roman, serif; font-size: 20px; color: #000000; font-style: NORMAL; font-weight:bold;">PRAZO DE ENTREGA</font>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td width="650" height="3" bgcolor="#000000" align="center"></td>
    </tr>
    <tr>
        <td height="30"></td>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- O prazo de entrega* varia de acordo com o CEP de destino e começa a ser contado a partir da data de envio da compra.</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- Algumas localidades poderão sofrer alteração no prazo. São elas: AC, AL, AM, AP, BA, CE, MA, MT, PA, PB.</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">* Não entregamos aos sábados, domingos e feriados. O horário de entrega é: segunda a sexta, de 8h às 19h.</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">Eventualmente as entregas poderão ocorrer aos sábados, domingos e feriados e fora do horário estabelecido.</font>
        </td>
    </tr>
    <tr>
        <td height="30"></td>
    </tr>
    <tr>
        <td width="650" height="3" bgcolor="#000000" align="center"></td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td align="center">
            <font style="font-family: Times New Roman, serif; font-size: 20px; color: #000000; font-style: NORMAL; font-weight:bold;">SOBRE A ENTREGA</font>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td width="650" height="3" bgcolor="#000000" align="center"></td>
    </tr>
    <tr>
        <td height="30"></td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- Serão realizadas 3 (três) tentativas de entrega. Em caso de insucesso, a mercadoria retornará ao centro de distribuição da SEPHORA.</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- Estão autorizados a receber mercadoria: recepcionistas, parentes, secretárias, porteiros - desde que sejam maiores de 18 anos e apresentem, no ato da entrega, documento original com foto;</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- A transportadora não está autorizada a abrir as embalagens ou realizar a entrega por meios "alternativos" (cordas, janelas, telhados, etc);</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- Recuse a entrega caso a embalagem não esteja em condições adequadas ou exista sinais de avaria ou violação do lacre. Caso isso ocorra, avise imediatamente a SEPHORA sobre qualquer divergência.</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- Confira todos os itens de seu pedido no ato da entrega. Identifique se estão danificados e, havendo alguma alteração, entre em contato com a central de atendimento.</font>
        </td>
    </tr>
    <tr>
        <td height="30"></td>
    </tr>
    <tr>
        <td width="650" height="3" bgcolor="#000000" align="center"></td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td align="center">
            <font style="font-family: Times New Roman, serif; font-size: 20px; color: #000000; font-style: NORMAL; font-weight:bold;">INFORMAÇÕES IMPORTANTES</font>
        </td>
    </tr>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td width="650" height="3" bgcolor="#000000" align="center"></td>
    </tr>
    <tr>
        <td height="30"></td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- A partir deste momento, não é possível incluir ou excluir itens do pedido, ou alterar os dados pessoais(como endereço de entrega, por exemplo);</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- Você terá 7 (sete) dias corridos, a contar da entrega da compra, para manifestar-se sobre qualquer divergência ou defeito;</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- TROCA: o prazo de substituição do produto pode levar até 30 dias para ocorrer;</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- CANCELAMENTO da compra: será processado após recebimento do(s) produto(s) em nosso centro de distribuição e for constatado que encontram-se em perfeitas condições. O reembolso do valor poderá ser realizado das seguintes formas;</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">1) Cartão de crédito: Estorno solicitado à administradora do cartão (em até 10 dias úteis a partir da confirmação de encaminhamento ao setor responsável, pelo SAC);</font>
        </td>
    </tr>
    <tr>
        <td>
            <font style="font-family: Arial, sans-serif; font-size: 13px; color: #4d4d4d; font-style: NORMAL;">- Para mais detalhes, verifique nossa <a href="http://centralderelacionamento.sephora.com.br/politica-de-troca?utm_source=bseller-transacional&utm_medium=email&utm_campaign=pedido_confirmacao_cartao&utm_content=politica" target="_blank" style="text-decoration:none;font-weight:bold;">política de troca e devolução</a> publicada em nosso site.</font>
        </td>
    </tr>
    <tr>
        <td height="30"></td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
