<!--@subject {{var store.getFrontendName()}} - Seu pedido foi preparado para envio @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerFirstname()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var shipment.increment_id":"Shipment Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var comment":"Shipment Comment",
"var order.getDateEmail('d/m')}}": "Date order",
"var order.getDateEmail('H:i')}}": "Hour order"}
@-->
<!--@styles
@-->
<div style="padding: 5px 15px; font-family: Arial,sans-serif; max-width: 700px; margin: 0 auto">
    <div style="width: 100%; max-width:221px; margin:0 auto; text-align: center"><img style="width: 100%;" src="{{skin url='images/email/logo.png' _area='frontend' _package='sephora' _theme='default'}}" /></div>
    <div style="width: 100%; text-align: left;font-size: 24px; padding: 5px 24px;">Olá <strong style="color: #cf4950">{{htmlescape var=$order.getCustomerFirstname()}},</strong></div>
    <div style="width: 100%; text-align: center"><img src="{{skin url='images/email/step-5.png' _area='frontend' _package='sephora' _theme='default'}}" alt="Status" title="Status" /></div>

    <div style="padding: 0 20px">
        <p>
            Informamos que seu pedido <strong style="color: #cf4950">#{{var order.increment_id}}</strong> realizado no dia {{var order.getDateEmail('d/m')}}, às {{var order.getDateEmail('H:i')}} foi enviado para a transportadora.</strong>
        </p>

        <p style="margin: 0"><strong>Previsão de entrega:</strong></p>
        <p style="margin: 3px 0 20px 0;">{{var order.getShippingDescription()}}*</p>


        <p style="font-size: 14px">Observações:</p>
        
        <ul style="padding-left: 20px; font-size: 14px; line-height: 20px;">
            <li>A data acima é uma estimativa de entrega e pode sofrer alteração, se houver feriados regionais na rota de entrega do seu pedido ou na sua localidade.</li>
            <li>Acompanhe o seu pedido através do site, no link <a style="text-decoration: none; color: #000" href="{{store url='sales/order/view/'}}order_id/{{var order.id}}">MEUS PEDIDOS.</a></li>
        </ul>

        <div>{{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}</div>

        <p><strong>Endereço de Entrega</strong></p>
        <div>{{var order.getShippingAddress().format('html')}}</div>

        <p style="margin-bottom: 5px;"><strong>Forma de Pagamento</strong></p>
        {{var payment_html}}
        <p style="background-color: #bd0711; text-align: center; width: 220px; display: block"><a style="font-size: 14px; color: #fff;padding: 14px 10px; display: block; text-decoration: none;" href="{{store url='sales/order/view/'}}order_id/{{var order.id}}">ACOMPANHAR MEU PEDIDO</a></p>
    </div>
</div>

<div style="font-family: arial; padding: 5px 0; text-align: left; font-size: 13px; line-height: 1.5; margin: 0 auto; max-width: 740px">
    <ul style="list-style: none; padding-left: 0;">
        <li style="background-color: #000; color:#fff; text-indent: 10px; padding: 4px 0; margin-bottom: 10px; font-size: 14px;">PRAZO DE ENTREGA:</li>
        <li>- O prazo de entrega* varia de acordo com o CEP de destino e começa a ser contado a partir da data de aprovação do pedido.</li>
        <li>- Algumas localidades poderão sofrer alteração no prazo. São elas: AC, AL, AM, AP, BA, CE, MA, MT, PA, PB.</li>
        <li>* Não entregamos aos sábados, domingos e feriados. O horário de entrega é: segunda a sexta, de 8h às 19h.</li>
        <li>- Eventualmente as entregas poderão ocorrer aos sábados, domingos e feriados e fora do horário estabelecido.</li>
        <li>- Algumas localidades poderão ter a entrega realizada pelos correios.</li>
    </ul>

    <ul style="list-style: none; padding-left: 0;">
        <li style="background-color: #000; color:#fff; text-indent: 10px; padding: 4px 0; margin-bottom: 10px; font-size: 14px;">SOBRE A ENTREGA:</li>
        <li>- Serão realizadas 3 (três) tentativas de entrega. Em caso de insucesso, a mercadoria retornará ao centro de distribuição da SEPHORA.</li>
        <li>- Estão autorizados a receber mercadoria: recepcionistas, parentes, secretárias, porteiros - desde que sejam maiores de 18 anos e apresentem, no ato da entrega, documento original com foto;</li>
        <li>- A transportadora não está autorizada a abrir as embalagens ou realizar a entrega por meios "alternativos" (cordas, janelas, telhados, etc);</li>
        <li>- Recuse a entrega caso a embalagem não esteja em condições adequadas ou exista sinais de avaria ou violação do lacre. Caso isso ocorra, avise imediatamente a SEPHORA sobre qualquer divergência.</li>
        <li>- Confira todos os itens de seu pedido no ato da entrega. Identifique se estão danificados e, havendo alguma alteração, entre em contato com a Central de Relacionamento com Clientes Sephora.</li>
    </ul>
    <ul style="list-style: none; padding-left: 0;">
        <li style="background-color: #000; color:#fff; text-indent: 10px; padding: 4px 0; margin-bottom: 10px; font-size: 14px;">INFORMAÇÕES IMPORTANTES:</li>
        <li>- A partir deste momento, não é possível incluir ou excluir itens do pedido, ou alterar os dados pessoais(como endereço de entrega, por exemplo); - Você terá 7 (sete) dias corridos, a contar da entrega da compra, para manifestar-se sobre qualquer divergência ou defeito;</li>
        <li>- TROCA: o prazo de substituição do produto pode levar até 30 dias para ocorrer;</li>
        <li>- CANCELAMENTO da compra: será processado após recebimento do(s) produto(s) em nosso centro de distribuição e for constatado que encontram-se em perfeitas condições. O reembolso do valor poderá ser realizado das seguintes formas;</li>
        <li>1) Cartão de crédito: Estorno solicitado à administradora do cartão (em até 10 dias úteis a partir da confirmação de encaminhamento ao setor responsável, pelo SAC);</li>
        <li>- Para mais detalhes, verifique nossa política de troca e devolução publicada em nosso site.</li>
        <li>2) Boleto Bancário: depósito em conta corrente do comprador.</li>
    </ul>
</div>
<div style="background-color: #000; color:#fff; font-family: Arial; padding: 3px 20px; font-size: 13px; margin: 0 auto; max-width: 700px">
    <p style="text-align: center;">Em caso de dúvidas, entre em contato com nossa central de relacionamento:</p>
    <ul style="list-style: none">
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Capital e regiões <br>metropolitanas:</strong>
            <br>3004-7500
        </li>
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Outras regiões:</strong>
            <br>(21) 3004-7500
        </li>
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Horário de atendimento:</strong>
            <br>Seg à Sex
            <br>8h às 18h
        </li>
        <li style="display: inline-block; width: 30%; vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            <strong>Estado do Rio de Janeiro: </strong>
            <br>0800 722 7500
        </li>
        <li style="display: inline-block; width: 30%;vertical-align: top; margin-top: 15px; line-height: 1.5; text-align: left;">
            Ou nos envie uma
            <br>mensagem através
            <br>do FALE CONOSCO
        </li>
    </ul>
</div>