<div class="bc-point-view">
    <?php echo $this->__('+') ?>
    <span class="value"></span>
    <?php echo $this->__('Points on BEAUTY CLUB') ?>
    <span class="btn-tooltip">
        <?php echo $this->__('?') ?>
        <span class="bc-tooltip">
            <p><?php echo $this->__('BEAUTY CLUB is the loyalty program') ?></p>
            <p><?php echo $this->__('of Sephora where your shopping has') ?></p>
            <p><?php echo $this->__('points that can be redeemed for prizes.') ?></p>
            <p class="bc-tooltip-bold"><?php echo $this->__('R$ 1 = 1 Point in the BEAUTY CLUB') ?></p>
        </span>
    </span>
</div>