<?php 
    $helper = Mage::helper('esmart_catalog/product_grouped');
    $subTotalMessageRule = $helper->getSubtotalGreaterThan();
    $messageHelper = Mage::helper('bseller_shippingpolicy');
    $text = $messageHelper->getGeneralStoreConfig('pdp_tooltip');
?>
<?php if (count($subTotalMessageRule)) : ?>
    <?php foreach ($subTotalMessageRule as $item): ?>
        <?php $decodeJson = Zend_Json::decode($item->getConditionRule()); ?>
        <?php if ($decodeJson['subtotal_greater_than'] > 1): ?>
            <?php $subTotalFreeShipping = Mage::helper('core')->currency($decodeJson['subtotal_greater_than'],true,false); ?>
            <div class="free-shipping-message-rules">
                <p><?php echo $this->__('Get') ?> <strong><?php echo $this->__('free shipping') ?></strong> <?php echo $this->__('on') ?></p>
                <p>
                    <?php echo $this->__('orders over') ?>  <?php echo $subTotalFreeShipping ?>
                    <?php if($text): ?>
                        <span class="free-shipping-btn-tooltip">
                            <?php echo $this->__('?') ?>
                            <span class="free-shipping-tooltip hide">
                                <span class="content">
                                    <?php echo $text; ?>
                                </span>
                            </span>
                        </span>            
                    <?php endif; ?> 
                </p>
            </div>
        <?php endif; ?>
        <?php if (isset($decodeJson['subtotal_greater_than']) && $decodeJson['subtotal_greater_than'] <= 1) : ?>
            <div class="free-shipping-message-rules">
                <p><?php echo $this->__('Buy with') ?> <strong><?php echo $this->__('free shipping') ?></strong></p>
            </div>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>
