<?php if ($this->getLowStockActive()) : ?>
    <div class="container-qty-available"></div>
    <p class="loader-qty-stock-container"><img class="loader-qty-stock" src="<?php echo $this->getSkinUrl('images/opc-ajax-loader-black.gif') ?>" style="display: none"/></p>
    <script>
        function ajaxQtyLowStock(productVariantId)
        {
            jQuery.ajax(
                {
                    url: "<?php echo Mage::getUrl('bseller_catalog/index/stockQtyAvailable'); ?>",
                    data: {
                        'productVariantId': productVariantId,
                        'lowStockActive' : '<?php echo $this->getLowStockActive() ?>',
                        'qtyMaxLowStock' : '<?php echo $this->getStockMinQty() ?>'
                    },
                    beforeSend: function () {
                        jQuery('.loader-qty-stock').toggle();
                    },
                    success: function(result){
                        jQuery('.loader-qty-stock').hide('slow');
                        if (result != '') {
                            jQuery('.container-qty-available').html('<p class="low-stock-ajax">Apenas <span>' + result + '</span> em estoque</p>');
                        }
                    }
                });
        }

        jQuery('.grouped-list li input').click(function(){
            jQuery('.container-qty-available').html('');

            if (jQuery('.grouped-list li input:checked').length == 1) {
                var productionVariationId = jQuery('.grouped-list li input:checked').parent().data('productid');
                ajaxQtyLowStock(productionVariationId);
            }
        });

    </script>
<?php endif; ?>