<?php if ($this->getLowStockActive()) : ?>
    <div class="container-qty-available"></div>
    <p class="loader-qty-stock-container" display="none">
        <img class="loader-qty-stock" src="<?php echo $this->getSkinUrl('images/opc-ajax-loader-black.gif') ?>"/>
    </p>
    <script>
        function ajaxQtyLowStock(productId)
        {
            jQuery.ajax(
                {
                    url: "<?php echo Mage::getUrl('bseller_catalog/index/stockQtyAvailable'); ?>",
                    data: {
                        'productVariantId': productId,
                        'lowStockActive' : '<?php echo $this->getLowStockActive() ?>',
                        'qtyMaxLowStock' : '<?php echo $this->getStockMinQty() ?>'
                    },
                    beforeSend: function () {
                        jQuery('.container-qty-available').html('');
                        jQuery('.loader-qty-stock-container').show();
                    },
                    success: function(result){
                        jQuery('.loader-qty-stock-container').hide();
                        if (result != '') {
                            jQuery('.container-qty-available').html('<p class="low-stock-ajax">Apenas <span>' + result + '</span> em estoque</p>');
                        }
                    }
                });
        }
    </script>
<?php endif; ?>