<p id="subscribe-pass-success" style="display: none;"></p>
<p class="loader-subscribe-container" style="display: none"><img class="loader-subscribe" src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" /></p>
<div id="bseller_productalert-subscribe-news">
    <p class="productalert-title"><?php echo $this->__('TELL ME WHEN YOU ARRIVE') ?></p>
    <div class="field name-firstname">
        <div class="input-box">
            <input  type="text" placeholder="Nome" id="subscribe_name" name="name" title="Nome" maxlength="30" class="input-text">
        </div>
    </div>
    <div class="field">
        <div class="input-box">
            <input type="email" placeholder="E-mail" name="subscribe_email" id="subscribe_email" maxlength="60"title="E-mail" class="input-text">
        </div>
    </div>
    <div class="field">
        <div class="input-box">
            <input type="hidden" name="subscribe_productid" id="subscribe_productid">
        </div>
    </div>

    <p id="subscribe-not-pass" style="display: none;"></p>

    <p class="alert-price link-price-alert">
        <a href="javascript:void(0)" id="bseller_productalert-subscribe" class="button"><?php echo $this->__('WARN ME') ?></a>
    </p>
</div>

<script>
    window.BSeller_ProductAlert = new BSeller_ProductAlert();
</script>