@font-face {
    font-family: 'Montserrat';
    src:    url('MontserratRegular.eot');
    src:    url('MontserratRegular.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('MontserratRegular.ttf') format('truetype'),
        url('MontserratRegular.woff') format('woff'),
        url('MontserratRegular.svg#Montserrat') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src:    url('MontserratBold.eot');
    src:    url('MontserratBold.eot?tfqnd3#iefix') format('embedded-opentype'),
        url('MontserratBold.ttf') format('truetype'),
        url('MontserratBold.woff') format('woff'),
        url('MontserratBold.svg#Montserrat') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Arial", Helvetica,sans-serif;
    font-size: 12px;
}

header {
    padding: 20px;
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
}

footer {
    padding: 20px;
    background: #f2f2f2;
}

footer .bseller,
footer .blindado,
footer p {
    display: inline-block;
    width: 8%;
}

footer p {
    padding-left: 20px;
    width: 75%;
    font-weight: bold;
    line-height: 16px;
    font-size: 10px;
}

.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.clear {
    clear: both;
}

.error {
    min-height: 256px;
    font-family: "Montserrat";
    padding: 100px 0 150px 100px;
    background: url("bg.jpg") no-repeat right top;
}

.error p {
    font-size: 25px;
    text-transform: uppercase;
}

.error h1 {
    font-size: 100px;
    text-transform: uppercase;
    font-weight: normal;
    position: relative;
    margin-left: -7px;
}

.error h1 strong {
    font-weight: normal;
    color: #898989;
    padding-left: 8px;
}

.error h1 strong:before {
    content: '';
    height: 120px;
    width: 3px;
    background: #000;
    position: absolute;
    margin-left: -5px;
}

.error h2 {
    float: left;
    width: 24%;
    line-height: 20px;
    font-size: 12px;
    margin: 20px 0;
    font-family: "Arial", Helvetica,sans-serif;
}

.buttons {
    float: left;
    width: 100%;
    margin-top: 0px;
}

.buttons a {
    vertical-align: middle;
    padding: 10px 20px;
    border: 1px solid #000;
    border-bottom: 4px solid #000;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    letter-spacing: 4px;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 10px;
    height: 40px;
    line-height: 36px;
    text-decoration: none;
    cursor: pointer;
    background-color: #000;
    color: #FFF;
}

.buttons a.home {
    background-color: #fff;
    color: #000;
}

