<?php
$helper = Mage::helper('bseller_sephoraemployees');
?>
<h1><?php echo $helper->__('Sephora Employees - Upload');?></h1>
<div id="bseller-sephoraemployees-upload">
<p>Ex:
<div class="switcher">
    CPF;Name;Limit;Percent<br />
    15431811800;Mauro Lopes dos Santos;1000;35
</div>
</p>
<p style="color:red">
<?php
echo $helper->__('This action will replace all data, the history will not be lost');
?>
</p>
<br />
<hr />
<br />
<div id="<?php echo $this->getHtmlId() ?>" class="uploader">
    <div class="buttons">
        <div class="no-display" id="<?php echo $this->getHtmlId() ?>-uploadBlockTemplate"><div id="uploadBlock-{{id}}">
                <form action="<?php echo Mage::getUrl('*/sephora_upload');?>" enctype="multipart/form-data" encoding="multipart/form-data" method="post" target="uploadBlockIframe-{{id}}">
                    <input type="file" name="image"/>
                    <input type="hidden" name="Filename"/>
                    <input type="hidden" name="Upload" value="Submit Query"/>
                </form>
                <iframe name="uploadBlockIframe-{{id}}" style="display:none;"></iframe>
            </div></div>
        <div id="uploadBlocks" style="float:left;margin-right: 0.5em;"></div>
        <?php echo $this->getUploadButtonHtml() ?>
    </div>
    <div class="clear"></div>
    <div class="no-display" id="<?php echo $this->getHtmlId() ?>-template">
        <div id="{{id}}" class="file-row">
            <span class="file-info">{{name}} ({{size}})</span>
            <span class="delete-button"><?php echo $this->getDeleteButtonHtml() ?></span>
            <span class="progress-text"></span>
            <div class="clear"></div>
        </div>
    </div>
    <div class="no-display" id="<?php echo $this->getHtmlId() ?>-template-progress">
        {{percent}}% {{uploaded}} / {{total}}
    </div>
</div>


<div class="maven_html5upload">
    <form id="upload"
          action="<?php echo Mage::getModel('adminhtml/url')->addSessionParam()->getUrl('adminhtml/sephora_upload/upload' ,array('form_key' => Mage::getSingleton('core/session')->getFormKey()));?>"
          method="POST"
          enctype="multipart/form-data"
          data-remove-action="<?php echo Mage::getModel('adminhtml/url')->addSessionParam()->getUrl('adminhtml/sephora_upload/remove' ,array('form_key' => Mage::getSingleton('core/session')->getFormKey()));?>"
    >
        <fieldset>
            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="<?php echo $this->getMaxFileSize(); ?>" />
            <div>
                <label for="fileselect"><?php echo $this->__('Files to upload:'); ?></label>
                <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
                <div id="filedrag"><?php echo $this->__('or drop files here'); ?></div>
            </div>

            <div id="submitbutton">
                <button type="submit"><?php echo $this->__('Upload Files'); ?></button>
            </div>

        </fieldset>

    </form>

</div>
</div>
<div class="maven_html5upload">
<div id="progress"></div>

<div id="maven_messages">
</div>

<div id="bseller-sephoraemployees-upload-success" style="display:none">
    <h2 style="color:green">
    <?php
    echo $helper->__('Done with success! File sent and parsed, now you can check the employees list!');
    ?>
    </h2>
</div>
<script type="text/javascript">
    //<![CDATA[

    var uploader = new JsUploader('<?php echo $this->getHtmlId() ?>', <?php echo $this->getJsonConfig() ?>);
    (function() {
        // call initialization file
        if (window.File && window.FileList && window.FileReader) {
            Init();
        }
    })();
    //]]>
</script>
</div>


