.advantages-bar {
    float: left;
    width: 100%;
    padding: 18px 0;
    border-bottom: 1px solid $c-gray-light;
    text-align: center;

    @include media($medium-resolution) {
        padding: 18px 20px;
    }

    ul {
        @include outer-container;

        li {
            font-family: $f-sephoraSans;
            font-size: 14px;
            font-weight: 600;

            span {
                font-size: 25px;
                font-family: $f-sephoraSerif;
                margin-right: 10px;
                letter-spacing: 1px;
                font-style: italic;
                font-weight: 600;

                @include media($medium-resolution) {
                    font-size: 16px;
                }

            }

            &:nth-child(1) {
                @include span-columns(3);
            }

            &:nth-child(2) {
                @include span-columns(4.5);
                position: relative;

                &:before,
                &:after {
                    @include rotate(15);
                    position: absolute;
                    content:'';
                    width: 1px;
                    height: 35px;
                    background: $c-gray;

                    @include media($medium-resolution) {
                        top: -8px;
                    }

                }

                &:before {
                    left: 0;
                }

                &:after {
                    right: 0;
                }

            }

            &:nth-child(3) {
                @include span-columns(4.5);
            }

        }

    }

}
