.beautyclub-program-list {

    .main-container {
        margin: 30px auto 50px auto;
        position: relative;

        @include media($medium-resolution) {
            padding: 0 20px;
        }

        &:before {
            position: absolute;
            content: '';
            height: 4px;
            width: 80%;
            left: 0;
            right: 0;
            top: -30px;
            margin-left: auto;
            margin-right: auto;
            background: $c-black;
        }

        .page-title {
            font-family: $f-avalon;
            text-transform: uppercase;
            text-align: center;

            h1 {
                font-size: 17px;
                letter-spacing: 4px;

                span {
                    font-family: $base-font-family;
                    font-weight: bold;
                    color: $c-dark-primary;
                    text-transform: lowercase;
                    letter-spacing: 0;
                }

            }

            h2 {
                font-family: $f-avalon;
                font-size: 13px;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 15px;
                letter-spacing: 3px;
                line-height: 30px;

                span {
                    font-style: italic;
                    font-weight: normal;
                    letter-spacing: 1px;
                }

            }

        }

        .products-bcs {
            float: left;
            width: 100%;

            .item {
                @include span-columns(2 of 12);
                @include omega(6n);
                position: relative;
                text-align: center;

                &.disabled {
                    position: relative;

                    &:after {
                        content: '';
                        background: rgba($c-white, 0.8);
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        left: 0;
                    }

                }

                label {
                    border: 1px solid $c-white;
                    padding: 20px;

                    &:before {
                        display: none;
                    }

                }

                .bc-product {

                    &:checked {

                        + label {
                            border: 1px solid $c-gray-dark;
                        }

                    }

                }

                .product-image {
                    display: block;
                    margin-bottom: 5px;
                }

                .product-info {

                    .product-name {
                        font-size: 11px;
                    }

                    .product-manufacturer {
                        font-weight: bold;
                        font-size: 14px;
                    }

                }

                .points {
                    font-weight: bold;
                    color: $c-dark-primary;
                }

            }

        }

        .bottom {
            @include span-columns(12);
            margin-top: 20px;
            text-align: center;

            button {
                margin: 0 auto;
                width: 32%;
                height: 50px;
                line-height: 45px;
                letter-spacing: 2px;
                padding: 0;
                text-align: center;
            }

        }

    }

}
