.breadcrumbs {
    @include span-columns(7);
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px;
    letter-spacing: 1px;

    li {
        @include inline-block(top);
    }

    .separator {
        margin: 0 10px;
    }
}
