.checkout-cart-index {

    .col-main {

        &.loading {
            position: relative;

            &:before {
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                background: $c-white;
                z-index: 1;
                opacity: 0.8;
                top: 0;
                right: 0;
            }

            &:after {
                @include size(100%);
                content: '';
                display: block;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                background: url(../../images/media/load.gif) no-repeat center 40%;
            }

        }

        .col-1,
        .col-2 {
            margin-top: 20px;
        }

        .col-1 {
            @include span-columns(8);

            .cart-promotion {

                .success-msg {
                    margin-bottom: 0;

                    li {
                        font-size: 21px;
                        font-family: $f-avalon;
                        font-weight: normal;
                        padding: 8px;
                        margin-bottom: 0;

                        span {

                            span {
                                font-weight: bold;
                            }

                        }

                    }

                }

            }

            .cart-items-title {
                @include span-columns(12);
                padding-bottom: 5px;
                margin-bottom: 5px;
                border-bottom: 3px solid $c-black;

                li {
                    float: left;
                    font-family: $f-avalon;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 15px;

                    &.product-cart-info {
                        width: 48%;
                    }

                    &.product-cart-price,
                    &.product-cart-subtotal {
                        width: 15%;
                    }

                    &.product-cart-qty {
                        width: 18%;
                    }

                }

            }

            .cart-items-scroll {
                @include span-columns(12);
                padding-bottom: 5px;
                border-bottom: 3px solid $c-black;
                height: 360px;
                display: none;

                &.mCustomScrollbar {
                    display: block;
                }

                &.mCS_no_scrollbar {
                    padding-right: 30px;
                }

            }

            .cart-table {
                float: left;
                margin: 0;

                .cart-price {
                    font-size: 16px;
                    font-weight: bold;
                }

                .installments {
                    font-family: $base-font-family;
                    font-size: 10px;
                    font-weight: normal;
                }

                td {
                    vertical-align: top;
                    padding: 20px 0;

                    &.product-cart-image {
                        width: 8%;
                    }

                    &.product-cart-info {
                        width: 40%;
                    }

                    &.product-cart-price,
                    &.product-cart-subtotal {
                        width: 15%;
                    }

                    &.product-cart-qty {
                        width: 18%;
                        text-align: center;
                    }

                }

                .product-cart-image {

                    img {
                        border: $base-border;
                    }

                }

                .product-cart-info {
                    text-transform: uppercase;
                    font-size: 11px;
                    font-family: $base-font-family;
                    line-height: 20px;
                    padding: 20px 10px;

                    .product-name {
                        font-size: 13px;
                        display: block;
                        font-weight: bold;
                    }

                    .item-msg {

                        &.error {
                            font-family: $base-font-family;
                            color: $c-dark-primary;
                            font-weight: bold;
                        }

                    }

                }

                .product-cart-qty {

                    .product-qty-remove {
                        text-align: center;
                        width: 100px;

                        .label-qty {
                            text-transform: uppercase;
                            font-size: 11px;
                        }

                        .qty {
                            position: relative;

                            .more,
                            .less {
                                @include size(18px);
                                @include border-radius(50%);
                                background: $c-black;
                                color: $c-white;
                                position: absolute;
                                top: 5px;
                                text-align: center;

                                &.disabled {
                                    background: $c-gray;
                                }

                            }

                            .more {
                                right: 0;
                            }

                            .less {
                                left: 0;
                                line-height: 15px;
                            }

                            input {
                                width: 50%;
                                text-align: center;
                                margin: 0 25px;
                                padding: 5px;
                            }

                        }

                        .remove {
                            font-size: 9px;
                            margin-top: 5px;
                            text-transform: uppercase;

                            a {
                                color: $c-gray-dark;
                            }

                        }

                    }

                }

            }

            .select-gift {
                float: left;
                margin-top: 15px;

                tr {

                    th {
                        background: $c-black;
                        color: $c-white;
                        text-transform: uppercase;
                        padding: 10px;
                        font-weight: normal;
                        font-size: 14px;
                    }

                    td {
                        background: $c-gray-light;
                        padding-left: 15px;

                        &.product-gift-select {
                            width: 5%;
                            text-align: center;

                            label {
                                display: inline-block;
                                vertical-align: top;
                            }

                        }

                        &.product-gift-image {
                            width: 12%;

                            img {
                                border: $base-border;
                            }

                        }

                        &.product-gift-info {
                            width: 83%;
                            text-transform: uppercase;

                            p {
                                font-family: $f-avalon;
                                font-size: 13px;
                                font-weight: bold;
                                letter-spacing: 1px;
                            }

                            .product-name {
                                font-family: $base-font-family;
                                font-weight: normal;
                                font-size: 11px;
                                line-height: 26px;
                            }

                        }

                    }

                }

            }

        }

        .col-2 {
            @include span-columns(4);

            .cart-shipping,
            .cart-coupon {
                @include span-columns(12);
                margin-bottom: 20px;

                label {
                    font-family: $f-avalon;
                    font-size: 15px;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;

                    .faq-help {
                        position: relative;
                        top: -2px;
                        left: -5px;
                    }

                }

                .field-wrapper {
                    @include span-columns(12);
                    position: relative;

                    input {
                        @include span-columns(10.8);
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                        padding: 7px 0;
                        font-weight: normal;
                    }

                    .button-wrapper {
                        @include span-columns(1.2);

                        .button {
                            font-size: 12px;
                            letter-spacing: 1px;
                            padding: 0 5px;
                            height: 32px;
                            line-height: 30px;
                        }

                    }

                    .validation-advice {
                        position: absolute;
                        bottom: -26px;
                        font-family: $base-font-family;
                        font-size: 10px;
                        text-transform: uppercase;
                        color: $c-dark-primary;
                        margin-bottom: 2em;
                    }

                }

                .no-postcode {
                    text-align: right;
                    line-height: 5px;

                    a {
                        font-size: 12px;
                        font-style: italic;
                        text-decoration: underline;
                        color: $c-gray-dark;
                    }

                }

                .total-discount {
                    font-family: $base-font-family;
                    font-weight: bold;
                    font-size: 18px;
                    padding-top: 7px;

                    .edit {
                        font-family: $f-avalon;
                        font-size: 13px;
                        font-weight: normal;
                        position: absolute;
                        right: 45px;
                        top: 12px;

                        &:before {
                            @extend .-edit;
                            position: absolute;
                            left: -14px;
                        }

                    }

                    span {

                        &.label-gift {
                            font-weight: normal;
                            color: $c-gray-dark;
                            font-size: 14px;
                            font-style: italic;
                        }

                    }

                }


            }

            .sp-methods {
                @include span-columns(12);

                li {

                    & > div {
                        font-size: 14px;
                        line-height: 18px;
                        margin-bottom: 10px;

                        label {
                            font-weight: normal;
                            padding-left: 25px;
                        }

                    }

                }

            }

            .cart-totals {
                @include span-columns(12);
                margin: 20px 0;

                table {
                    margin: 0;

                    tbody,
                    tfoot {
                        float: right;
                    }

                    tr {
                        float: right;
                        margin-right: 15px;

                        &.discount-label {
                            color: $c-dark-primary;
                        }

                        td {
                            border-bottom: 0;
                            font-weight: normal;
                            text-transform: uppercase;

                            &:first-child {
                                display: block;
                                font-family: $f-avalon;
                                font-size: 14px;
                                letter-spacing: 1px;
                                padding: 0;
                            }

                            &:last-child {
                                font-family: $base-font-family;
                                font-weight: bold;
                                font-size: 16px;
                                padding: 2px 0 0 0;
                            }

                        }

                    }

                    tfoot {

                        tr {

                            &:last-child {
                                margin-right: 0;
                            }

                            td {

                                strong {
                                    font-weight: normal;
                                }

                                &:last-child {

                                    strong {
                                        font-weight: bold;
                                    }

                                }

                            }

                        }

                    }

                }

            }

            .checkout-buttons {

                .button {
                    @extend .-new;

                    &.btn-checkout {
                        @extend .-success;
                        margin-bottom: 20px;
                    }

                }

            }

        }

    }

    .cart-empty {
        margin: 15px 0 60px 0;
        min-height: 410px;
        border-top: 4px solid $c-black;
        border-bottom: 4px solid $c-black;
        text-align: center;

        .page-title {

            h1 {
                font-family: $f-avalon;
                font-weight: bold;
                font-size: 21px;
                text-transform: uppercase;
                line-height: 60px;
            }

        }

        .button-set {
            text-align: center;
            margin: 20px 0;

            .button {
                width: 20%;
                height: 50px;
                line-height: 45px;
                letter-spacing: 2px;
                padding: 0;
                text-align: center;
            }

        }

    }


}