.block-layered-nav {
    margin: 10px 0;
    font-size: 13px;
    text-transform: uppercase;
    font-family: $f-avalon;

    .tm_options_search {
        display: none;
        margin-top: 20px;
        font-size: 12px;
        padding: 10px;
    }

    .block-title {
        background: $c-black;
        color: $c-white;
        font-weight: bold;
        padding: 9px 20px 9px 15px;
        letter-spacing: 1px;
    }

    .block-subtitle {
        margin: 20px 0;
    }

    .block-content {

        .currently {
            margin-bottom: 20px;

            li {
                position: relative;
                padding: 10px 25px 10px 10px;
                margin: 5px 0;
                border: 1px solid $c-black;

                .remove {
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 10px;

                    &:after {
                        font-weight: bold;
                        @extend .-close;
                    }

                }

            }

        }

        dt {
            font-weight: normal;
            line-height: 36px;
            border-bottom: 1px solid $c-gray;
            cursor: pointer;
            position: relative;
            padding-left: 15px;

            &:after {
                @extend .-arrow_bottom;
                position: absolute;
                right: 10px;
                font-size: 16px;
                color: $c-dark-primary;
            }

            &.active {
                font-weight: bold;

                &:after {
                    @extend .-arrow_top;
                }

            }

        }

        dd {
            padding-left: 15px;

            &.force-visible {
                display: block !important;
            }

            &.last {

                .tm_options_search {
                    display: block;
                }

            }

            li {
                padding: 10px 0;

                &.active {
                    border: 1px solid $c-black;
                    width: 80%;
                    padding-left: 10px;
                    position: relative;
                    font-weight: bold;
                    margin: 5px 0;

                    .remove {
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 10px;

                        &:after {
                            font-weight: bold;
                            @extend .-close;
                        }

                    }

                }

            }

        }

    }

}
