.catalog-category-view  {

    .col-main {

        &.loading {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 2;
                background: rgba($c-white, 0.8) url('../../images/opc-ajax-loader.gif') no-repeat center 5%;
            }

        }

    }

    #ajax-loading-layer {
        display: none !important;
    }

    .note-msg {
        @include span-columns(12);
        margin: 20px 0;
        font-size: 12px;
    }

    .top-container {
        float: left;
        width: 100%;

        .widget {
            float: left;
            width: 100%;

            li {

                img {
                    width: 100%;
                }

            }

        }

    }

    .container-title {
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;
        height: 150px;
        padding: 20px 0 20px 20px;
        float: left;
        width: 100%;

        .page-title {
            @include outer-container;

            @include media($medium-resolution) {
                padding: 20px;
            }

        }

        h1 {
            font-family: $f-georgia-italic;
            font-size: 50px;
            font-weight: bold;
            font-style: italic;
            line-height: 2;
        }

        .category-description {
            @include outer-container;
            font-family: $f-sephoraSans;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            color: $c-gray-dark;
            letter-spacing: 2px;
            padding: 20px 0;
        }

        &.no-banner {
            height: 80px;
            padding: 15px 0 20px 0;

            .page-title {

                @include media($medium-resolution) {
                    padding: 20px;
                }

            }

            .category-description {
                padding: 15px 0 0 0;
            }

        }

    }

    .advantages-bar {
        border-bottom: 0;
    }

    .col-main {
        margin-top: 20px;
    }

    .toolbar {
        @include span-columns(5);
        float: right;
        margin: 0;

        .view-mode,
        .sort-by-switcher {
            @extend .hide;
        }

        .sort-by {
            font-size: 10px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: right;

            label, select {
                @include inline-block();
            }

            label {
                margin: -5px 6px 0 0;
            }

            select {
                width: 36%;
                height: 30px;
                font-family: $base-font-family;
                font-weight: normal;
                font-size: 10px;
                text-transform: uppercase;
            }

        }

        .pager {
            display: block;
            text-align: right;
            margin: 20px 0;

            .count-container {
                @extend .hide;
            }

            .pages {
                font-size: 11px;
                font-weight: bold;

                strong {
                    @extend .hide;
                }

                li {
                    @include inline-block();
                    margin: 0 5px;

                    &.current {
                        color: $c-dark-primary;
                    }

                }

            }

        }

    }

    .toolbar-bottom {
        @extend .hide;
    }

    .more-products {
        @include span-columns(12);
        margin-bottom: 50px;
        text-align: center;

        .button {
            font-size: 16px;
            letter-spacing: 2px;
        }

    }

    @import "catalog_layer-filter";

    .flexslider-banners-category {
        display: inline-block;

        .flex-viewport {
            overflow: visible !important;
        }

        .flex-control-nav {
            bottom: 10px;
        }
    }

    #container_banners {
        position: relative;
        display: inline-block;

        .slides {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .flex-direction-nav {
            .flex-prev {
                opacity: 1;
                left: 0;
                top: 50%;
                margin-top: -75px;
            }

            .flex-next {
                opacity: 1;
                right: 0;
                top: 50%;
                margin-top: -75px;
            }
        }
    }
}

@import "catalog_product-list";
