.products-grid {
    float: left;
    width: 100%;

    @include media($medium-resolution) {
        width: initial;
    }

    .item {
        @include span-columns(3 of 12);
        @include omega(4n);
        border: 1px solid $c-white;
        position: relative;
        text-align: center;
        margin-bottom: 50px;
        padding-bottom: 20px;

        @include media($medium-resolution) {
            @include span-columns(4 of 12);
            @include omega(3n);
            clear: none !important;
        }

        &:hover {

            .show-hover,
            .flags-stamp > div {
                display: block;
            }

            .flags-stamp,
            .product-image {
                opacity: .4;          
            }

            .flags-stamp {
                position: relative;
                z-index: 1;                     
            }

        }

        &.out-of-stock {
            border: 1px solid $c-gray;
            position: relative;
            min-height: inherit;

            &:after {
                content: '';
                background: rgba($c-gray-light, 0.4);
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                left: 0;
            }

            .hide-out-of-stock {
                display: none;
            }

            .button {
                z-index: 1;
                margin: 10px 0;
                font-size: 13px;
                color: $c-dark-primary;
                border-bottom: 4px solid $c-gray-dark;
                letter-spacing: 2px;
                width: 190px;
            }

            &:hover {
                
                .show-hover {
                    @extend .no-display;
                }

                .product-image {
                    opacity: initial;
                }

            }

        }

        .show-hover {
            @extend .hide;
            position: absolute;
            top: 200px;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            z-index: 1;
        }

        .flags-stamp {

            .promocao {
                position: absolute;
                top: 0;
                right: 0;
                background: $c-dark-primary;
                color: $c-white;
                font-family: $f-avalon;
                font-size: 17px;
                padding: 5px 8px;
                @include size(55px);
                @include border-radius(50%);

                span{
                  display: inline-block;
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 50%;
                  bottom: 0;
                  line-height: 1;
                  margin-top: -15px;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                }

            }

        }

        .wishlist-button {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .frete-gratis {
            font-size: 11px;
            text-transform: lowercase;
        }

        .product-image {
            display: block;
            margin: 20px 0 10px;
            min-height: 214px;
        }

        .rating-box {
            margin: 0 auto 10px auto;
        }

        .flags {

            .flag-content {
                margin-bottom: 10px;

                &.novidade {

                    .flag-text {
                        background-color: $c-black;
                        color: $c-white;
                        font-weight: normal;
                    }

                }

            }

        }

        .product-infos {
            padding-bottom: 20px;

            .product-manufacturer {
                font-size: 13px;
                font-weight: bold;
                padding: 0 5px;
                line-height: 20px;
            }

            .product-name {
                font-size: 11px;
                font-weight: normal;
                padding: 0 5px;
            }

            .configurable-swatch-list {
                display: block;
                margin: 10px 0;

                li {
                    @include inline-block(top);
                }

            }

            .price-box {
                display: block;
                margin-top: 10px;
                min-height: 32px;

                .price-label {
                    @extend .no-display;
                }

                .old-price {
                    font-size: 12px;
                    color: $c-gray-dark;
                    text-decoration: line-through;
                    display: inline-block;
                    vertical-align: middle;
                }

                .regular-price,
                .special-price {
                    font-size: 18px;
                    font-weight: bold;
                    color: $c-dark-primary;
                    display: inline-block;
                    vertical-align: middle;                    
                }

            }

            .installments {
                font-weight: bold;
                font-size: 11px;
                min-height: 12px;
            }

        }

        .btn-cart {
            width: 92%;
            border: 0;
            font-size: 12px;
            padding: 7px 0;
            letter-spacing: initial;
            line-height: initial;            
        }

    }

}
.products-grid {

    .item {

        .hide-out-of-stock {

            .minimal-price {
                color: #cd0303;
                font-weight: bold;
                font-size: 18px;
            }

            .min-price-label {
                font-size: 14px;
                margin-top: 5px;
                margin-bottom: 2px;
            }
        }
    }
}

