.customer-account-edit {

    .main {
        margin: 15px 0 90px 0;

        .buttons-set {

            .button {
                width: 137px;
                height: 41px;
                line-height: 38px;
                margin-right: 20px;
                font-size: 14px;
            }

        }

        .beauty-club {
            @include span-columns(12);
            margin-top: 16px;

            .box-subtitle {

                h2 {
                    margin-bottom: 0;
                }

                img {
                    width: 125px;
                    padding-top: 5px;
                }

            }

            .not-bc {
                font-size: 15px;
                font-weight: bold;
                position: relative;
                line-height: 25px;
                top: 10px;
                float: left;
                width: 100%;
                margin-bottom: 24px;

                &:after {
                    content: '';
                    position: absolute;
                    right: -40px;
                    bottom: -40px;
                    @include sprite($bg-account-beauty-club);
                }

            }

        }

        .change-password-label {
            margin-top: 28px;
        }

    }

}

