.customer-address-index,
.customer-address-form {

    .page-header,
    .messages {
        position: relative;
        z-index: 2;
    }

    .main {
        position: relative;

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            background: rgba($c-white, 0.9);
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .column-2 {
            position: relative;
            z-index: 1;
        }

        .addresses {
            padding-top: 30px;

            li {
                @include span-columns(12);
                margin: 0 0 30px 0;
                line-height: 20px;
                font-size: 14px;
                position: relative;

                p {
                    font-family: $f-avalon;
                    font-size: 14px;
                    margin-bottom: 5px;

                    b {
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .flag {
                        font-family: $base-font-family;
                        font-size: 8px;
                        text-transform: uppercase;
                        background: $c-black;
                        color: $c-white;
                        padding: 4px 8px;
                        position: relative;
                        top: -5px;
                        left: 10px;
                    }

                }

                address {
                    font-style: normal;
                    width: 70%;
                }

                .actions {

                    a {
                        font-size: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: underline;
                        padding-top: 10px;
                        display: inline-block;
                        margin-right: 5px;
                    }

                }

            }

        }

        .button {
            font-size: 14px;
            height: 42px;
            margin-top: 20px;
        }

        .address-info {

            li {

                &.street-1 {
                    @include span-columns(8);
                }

                &.street-2 {
                    @include span-columns(4);
                    float: right;
                    margin-right: 0;
                }

                &.street-3,
                &.street-4 {
                    @include span-columns(6);
                }

                &.street-4 {
                    margin-right: 0;
                }

                &.billing-default,
                &.shipping-default {
                    @include span-columns(6);
                    margin-top: 15px;

                    label {
                        font-family: $f-avalon;
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                }

                .postcode {
                    @include span-columns(6);

                    input {

                        &:disabled {
                            background: $c-white url('../../images/opc-ajax-loader.gif') no-repeat 105% center;
                            background-size: 20%;
                        }

                    }

                    + .postcode-search {
                        @include span-columns(4);
                        font-size: 12px;
                        text-decoration: underline;
                        color: $c-black;
                        line-height: 40px;
                        padding-left: 10px;
                        margin-top: 17px;
                    }

                }

            }

            .custom-fiels {
                @include span-columns(6);

                em {
                    display: none;
                }

            }

        }

        .buttons-set {
            width: 60%;

            .button {
                width: 46%;
                float: left;
                margin: 0;
                line-height: 38px;

                &:last-child {
                    float: right;
                }

            }

        }

    }

}
