.main-container {
    margin: 30px auto 40px auto;
    position: relative;
    float: left;
    width: 100%;

    @include media($medium-resolution) {
        padding: 0 20px;
    }

    &:before {
        position: absolute;
        content: '';
        height: 4px;
        width: 80%;
        left: 0;
        right: 0;
        top: -30px;
        margin-left: auto;
        margin-right: auto;
        background: $c-black;
    }

    .page-title {
        font-family: $f-avalon;
        text-transform: uppercase;
        text-align: center;

        h1 {
            font-size: 17px;
            letter-spacing: 2px;
        }

    }

    h2 {
        font-family: $f-avalon;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 15px;
        letter-spacing: 4px;
    }

    .col-1,
    .col-2 {
        @include span-columns(6);
        margin-top: 35px;
    }

    .col-1 {
        padding-right: 3%;
        margin-right: 0;
    }

    .col-2 {
        padding-left: 3%;
        border-left: 1px solid $c-gray-dark;
    }

    .password-tools {
        .forgot-password {
            float: left;
            vertical-align: middle;
            line-height: 20px;
        }

        .input-box {
            float: right;
        }
    }

    .buttons-set {

        &.register {
            @include span-columns(12);
        }

        .login {
            @include span-columns(12);
            margin-bottom: 14px;
        }

        .facebook-login,
        .google-login {
            @include span-columns(5);
            margin-right: 0;
            float: right;
            background: #5070a9;
            height: 40px;
            padding: 11px 11px 11px 65px;
            position: relative;

            .-ico {
                position: absolute;
                left: 35px;
                font-size: 22px;
                top: 5px;
                color: $c-white;

                &:before {
                    @extend .-facebook-square;
                }

            }

            a {
                font-weight: bold;
                color: $c-white;
                font-size: 14px;

                @include media($medium-resolution) {
                    font-size: 12px;
                }

            }

        }

        .google-login {
            background: #D64937;
            float: left;

            .-ico {
                top: 7px;
                left: 30px;
                
                &:before {
                    @extend  .-google-plus;
                }

            }

        }

    }

    .input-box-password {
        position: relative;
    }
}
