.box-info,
.box-beautyclub {
    min-height: 150px;
}

.box-info {
    padding: 15px 0;

    .name {
        text-transform: uppercase;
        font-family: $f-avalon;
        font-weight: bold;
        font-size: 18px;
        padding: 5px 0;
    }

    .email {
        font-size: 12px;
    }

    .button {
        @include span-columns(6);
        margin-right: 0;
        float: right;
        padding: 0;
        letter-spacing: 0;

        &.-primary {
            float: left;
        }

    }

}

.box-address {

    .address-list {
        width: 70%;
        padding: 40px 0 60px 0;
        line-height: 20px;

        li {
            margin: 30px 0;
            font-size: 14px;

            h4 {
                font-family: $f-avalon;
                font-weight: normal;
                padding-bottom: 5px;
                text-transform: lowercase;

                b {
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                .flag {
                    font-family: $base-font-family;
                    font-size: 8px;
                    text-transform: uppercase;
                    background: $c-black;
                    color: $c-white;
                    padding: 4px 8px;
                    position: relative;
                    top: -5px;
                    left: 10px;
                }

            }

            address {
                font-style: normal;
            }

        }

    }

}

.box-sales {

    .data-table {
        border-spacing: 0 10px;
        border-collapse: separate;

        thead {

            th {
                text-transform: uppercase;
                font-family: $f-avalon;
                font-weight: bold;
                font-size: 15px;
                border-bottom: 0;
                padding-bottom: 0;
                padding-top: 20px;

                &.number {
                    padding-left: 15px;
                }

            }

        }

        tbody {

            tr {
                border: 10px solid $c-white;

                td {
                    border-top: 1px solid $c-black;
                    border-bottom: 1px solid $c-black;
                    font-family: $f-avalon;
                    font-size: 17px;
                    text-transform: uppercase;
                    font-weight: 600;

                    &.number {
                        border-left: 1px solid $c-black;
                        padding-left: 15px;
                    }

                    &.view {
                        border-right: 1px solid $c-black;
                        padding-right: 15px;
                        text-align: right;
                    }

                }

            }

        }

        .button {
            width: 70px;
        }

    }

}

.box-beautyclub {

    .box-title {
        margin-bottom: 15px;

        img {
            width: 120px;
        }

    }

    .col-1 {
        @include span-columns(7.8);
    }

    .col-2 {
        @include span-columns(4);
        margin-right: 0;
        float: right;

        .button {
            width: 100%;
            height: 43px;
            margin-bottom: 15px;
            line-height: 37px;
            font-size: 12px;
            letter-spacing: 0;
            padding: 0;

            @include media($medium-resolution) {
                font-size: 11px;
            }

        }

    }

    .panel {
        margin: 20px 0;

        .status {
            font-family: $f-avalon;
            font-size: 13px;
            text-transform: uppercase;
        }

        .bar-container {
            width: 100%;
            height: 1.1em;
            position: relative;
            background-color: $c-gray-light;
            margin: 16px 0;

            .bar {
                background: repeating-linear-gradient(-55deg, lighten($c-black, 20%), lighten($c-black, 20%) 10px, $c-black 10px, $c-black 20px);
                height: 100%;
                position: absolute;
                line-height: inherit;
            }

        }

        .vib {
            font-size: 12px;
            text-transform: uppercase;

            strong {
                font-weight: bold;
            }

            span {
                font-weight: bold;
                color: $c-dark-primary;
                letter-spacing: 3px;
            }

        }

    }

    .not-bc {
        font-size: 15px;
        font-weight: bold;
        position: relative;
        line-height: 25px;
        top: 10px;
        float: left;
        width: 100%;

        &:after {
            content: '';
            position: absolute;
            right: -40px;
            bottom: -40px;
            @include sprite($bg-account-beauty-club);
        }

    }

}

.box-wishlist {

    .scroll {
        height: 530px;
        float: left;
        width: 100%;
        padding: 0 0 0 10px;
        margin-top: 20px;
        border-bottom: 1px solid;
        overflow: hidden;

        .my-wishlist {
            margin: 0;

            td {
                vertical-align: top;

                &.image {
                    padding-right: 15px;

                    img {
                        border: $base-border;
                        width: 75px;
                    }

                }

                &.info {
                    text-transform: uppercase;
                    font-size: 10px;
                    font-family: $base-font-family;
                    line-height: 20px;

                    .product-name {
                        font-size: 12px;
                        display: block;
                        font-weight: bold;
                    }

                }

                &.price {

                    .price {
                        font-size: 14px;
                        font-weight: bold;
                    }

                    .installment {
                        font-family: $base-font-family;
                        font-size: 10px;
                    }

                }

                &.buy {
                    text-align: right;

                    .button {
                        font-size: 12px;
                        height: 34px;
                        width: 125px;
                    }

                }

            }

        }

    }

}
