.esmart-mundipagg-instantbuy-index,
.esmart-mundipagg-instantbuy-new,
.esmart-mundipagg-instantbuy-edit {

    .page-header {
        z-index: 2;
    }

    .main {
        position: relative;

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            background: rgba($c-white, 0.9);
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .page-title {
            position: relative;

            .icon-creditcards {
                position: absolute;
                left: 28%;
                top: 8px;
            }

        }

        .column-2 {
            position: relative;
            z-index: 1;
        }

        .cards-list {

            li {
                @include span-columns(12);
                margin: 20px 0;
                padding-left: 10px;
                border-left: 1px solid;
                font-family: $f-avalon;
                font-size: 13px;

                .col-1,
                .col-2 {
                    @include span-columns(6);
                }

                .col-2 {
                    margin-right: 0;
                }

                .cc-number {
                    @include span-columns(12);
                    margin: 0 0 20px 0;

                    .col-1 {
                        @include span-columns(8);
                    }

                    .col-2 {
                        @include span-columns(4);
                        float: right;
                    }

                    strong {
                        font-size: 20px;
                    }

                }

                .cc-owner,
                .cc-due-fate {
                    @include span-columns(12);
                    margin: 0 0 20px 0;

                    strong {
                        font-size: 15px;
                    }

                }

                .actions {
                    @include span-columns(12);
                    margin: 0;

                    a {
                        font-size: 12px;
                        font-weight: bold;
                        text-transform: uppercase;
                        text-decoration: underline;
                        padding-top: 10px;
                        display: inline-block;
                        margin-right: 5px;
                    }

                }

            }

            .button {
                font-size: 14px;
                height: 42px;
                width: 210px;
            }

        }

        .form-list {
            margin-top: 30px;

            li {

                &.brands-cc-number {

                    .field-cc-number {
                        @include span-columns(10);
                    }

                    .field-cc-brands {
                        @include span-columns(2);
                        margin-right: 0;
                        float: right;
                    }

                    .field-cc-type {
                        @include span-columns(12);
                    }

                }

                &.three {

                    label {
                        font-family: $base-font-family;
                        font-weight: normal;
                        font-size: 12px;
                        text-transform: inherit;
                    }

                    .field {
                        @include span-columns(4);

                        select {
                            text-transform: uppercase;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                    }

                }

            }

            .brand-flags {
                text-align: right;

                img {
                    width: 80%;
                    margin-top: 3px;
                }

            }

        }

        .button-form {
            width: 70%;

            .button {
                width: 135px;
                float: left;
                margin: 0;
                line-height: 37px;
                font-size: 14px;
                height: 42px;

                &:last-child {
                    float: right;
                }

            }

        }

    }

}

.esmart-mundipagg-instantbuy-edit {

    .main {

        .column-1 {
            @include span-columns(7);
        }

        .column-2 {
            @include span-columns(5);
            margin-right: 0;
            float: right;
        }

    }

}
