.customer-account-login {
    @import "customer_login";
}

.customer-account-logoutsuccess {

    .page-title {
        padding: 20px 0;

        h1 {
            font-family: $f-sephoraSerif;
            font-size: 36px;
            font-weight: bold;
            font-style: italic;
        }

    }

    .main {
        text-align: center;
        min-height: 350px;

        .count {
            font-family: $f-sephoraSans;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            color: $c-gray-dark;
            letter-spacing: 2px;
        }

    }

}

.customer-account-forgotpassword {

    .main-container {
        margin: 10px auto 40px auto;
        position: relative;
        float: left;
        width: 100%;

        &:before {
            position: absolute;
            content: '';
            height: 4px;
            width: 80%;
            left: 0;
            right: 0;
            top: -30px;
            margin-left: auto;
            margin-right: auto;
            background: $c-black;
        }

        .page-title {
            font-family: $f-avalon;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;

            h1 {
                font-size: 17px;
                letter-spacing: 2px;
            }

        }

        h2 {
            font-weight: normal;
            margin-bottom: 14px;
        }

        .col-center {
            width: 50%;
            margin: 0 auto;
            text-align: center;

            .fieldset {
                @include span-columns(8);
            }

            .buttons-set {
                @include span-columns(4);
                float: right;
                margin: 0;
            }

        }

    }

}

.customer-account-changeforgotten {

    .main-container {
        margin: 30px auto 40px auto;
        position: relative;

        &:before {
            position: absolute;
            content: '';
            height: 4px;
            width: 80%;
            left: 0;
            right: 0;
            top: -30px;
            margin-left: auto;
            margin-right: auto;
            background: $c-black;
        }

        .page-title {
            font-family: $f-avalon;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;

            h1 {
                font-size: 17px;
                letter-spacing: 2px;
            }

        }

        .col-center {
            width: 30%;
            margin: 0 auto;
        }

    }

}
