.sales-order-history,
.sales-order-view {

    .main {
        margin-bottom: 0;

        h2, h3 {
            border-top: 0;
        }

        .title-buttons {
            position: relative;

            .buttons {
                position: absolute;
                right: 0;
                top: 10px;
            }

        }

        .back-link {
            display: none;
        }

        .toolbar-top,
        .toolbar-bottom {
            @include span-columns(4);
            float: right;
            margin: 0;

            .amount,
            .status label {
                display: none;
            }

            .status {
                @include span-columns(6);

                select {
                    text-transform: uppercase;
                }

            }

            .pager {
                @include span-columns(6);
                text-align: right;
            }

            .count-container {

                .limiter {
                    font-family: $base-font-family;
                    font-size: 10px;
                    text-transform: uppercase;

                    label {
                        display: inline-block;
                        text-align: right;
                        padding: 14px 5px 5px 0;
                        text-align: right;
                    }

                    select {
                        display: inline-block;
                        width: 35%;
                        margin: 0;
                        padding-left: 10px;
                        padding-right: 0;

                        @include media($medium-resolution) {
                            width: 40%;
                        }

                    }

                }

            }

            .pages {
                @include span-columns(12);
                text-align: center;

                strong {
                    display: none;
                }

                li {
                    font-family: $f-avalon;
                    font-size: 17px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin: 0 10px;
                    @include inline-block();

                    &.current {
                        color: $c-dark-primary;
                    }

                }

            }

        }

        .toolbar-top {

            .pages {
                display: none;
            }

        }

        .toolbar-bottom {
            position: relative;
            margin: 30px 0 30px 0;
            @include span-columns(12);

            .amount {
                display: none;
            }

            .pager {
                float: right;
                width: 16%;

                .pages {
                    position: absolute;
                    left: 0;
                    top: 10px;

                    .next,
                    .previous {
                        text-indent: -9999999px;
                        color: transparent;
                        height: 50px;
                        width: 20px;
                        overflow: hidden;
                        font-size: 0;
                        display: block;
                    }

                    .next {
                        background: url(../../src/img/icons-sprite/slider-next.png) no-repeat;
                    }

                    .previous {
                        background: url(../../src/img/icons-sprite/slider-prev.png) no-repeat right;
                    }

                }

            }

        }

        .orders {
            @include span-columns(12);

            .title {
                @include span-columns(12);
                margin: 20px 0 10px 0;

                li {
                    @include span-columns(2.05);
                    font-family: $f-avalon;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-weight: bold;
                    border-bottom: 0;
                    padding-bottom: 2px;

                    &.number {
                        padding-left: 15px;
                    }

                }

            }

            .content {
                @include span-columns(12);

                li {
                    @include span-columns(12);
                    border: 1px solid $c-black;
                    margin-bottom: 20px;
                    padding: 15px 0;
                    line-height: 28px;

                    &.skyhub {

                        .sale-item-info {
                            @include span-columns(1.7);

                            &:before {
                                left: -26px;
                            }

                            &.skyhub {
                                @include span-columns(3.5);
                            }

                        }

                    }

                    .sale-item-info {
                        @include span-columns(2);
                        font-family: $f-avalon;
                        font-size: 17px;
                        text-transform: uppercase;
                        font-weight: 600;
                        position: relative;

                        &.view {

                            &:before {
                                content: unset;
                                background: none;
                            }

                        }

                        &:before {
                            content: '';
                            height: 26px;
                            width: 1px;
                            background: $c-gray;
                            position: absolute;
                            left: -48px;
                        }

                        &.number {
                            padding-left: 15px;

                            &:before {
                                display: none;
                            }

                        }

                        &.view {
                            padding-right: 15px;
                            text-align: right;
                            margin-right: 0;

                            .button{
                                line-height: 30px;
                            }

                        }

                    }

                    .sales-info {
                        border: 0;
                        padding: 0;
                        margin-bottom: 0;

                        li {
                            border: 0;
                            margin-bottom: 0;

                            &.container {
                                padding: 0 15px;

                                & > h2 {
                                    @include span-columns(12);
                                    font-family: $base-font-family;
                                    font-size: 14px;
                                    letter-spacing: 1px;
                                    margin-bottom: 5px;
                                }

                            }

                            &:before {
                                display: none;
                            }

                            .order-items {
                                position: relative;

                                .steps {
                                    @include span-columns(11.5);
                                    margin-right: 0;
                                }

                                .tracking {
                                    position: absolute;
                                    top: 35px;
                                    right: 0;
                                }

                                table {
                                    margin: 0;

                                    thead {

                                        th {
                                            border-bottom: 3px solid;
                                        }

                                    }

                                    td {

                                        &.product-cart-info {
                                            width: 30%;

                                            .product-manufacturer {
                                                font-family: $base-font-family;
                                                font-size: 11px;
                                                font-weight: normal;
                                            }

                                        }

                                        &.product-cart-subtotal {
                                            width: 20%;
                                        }

                                    }

                                }

                                h2,
                                .buttons-set {
                                    display: none;
                                }

                                h3 {
                                    border-top: 0;
                                }

                            }

                        }

                    }

                }

            }

        }

        .order-date {
            @include span-columns(12);
            margin: 20px 0;
            font-size: 12px;
            text-transform: uppercase;
        }

        .skyhub {

            img {
                display: inline-block;
                vertical-align: text-top;
                margin-left: 5px;
            }

        }

        .info-content {
            @include span-columns(12);
            padding-bottom: 0;
            border-bottom: 0;

            .info-shipping-address,
            .info-shipping-method,
            .info-payment-method {
                @include span-columns(4);

                .action-title {
                    font-family: $f-avalon;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 5px 0 15px 0;
                    border-top: 4px solid;
                    letter-spacing: 1px;

                    h3 {
                        font-size: 17px;
                    }

                }

                .action-content {
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: normal;
                    text-transform: initial;
                    font-family: $base-font-family;

                    .sub-title {
                        font-weight: bold;
                        font-size: 16px;
                    }

                    .flag {
                        text-transform: uppercase;
                        font-weight: bold;
                        position: relative;
                        padding-left: 45px;
                        margin: 10px 0;

                        img {
                            position: absolute;
                            left: 0;
                        }

                    }

                    .installment {
                        margin-bottom: 10px;

                        b {
                            display: block;
                            font-size: 16px;
                            margin-bottom: -10px;
                        }

                    }

                    .line {
                        font-size: 10px;
                        text-align: center;
                    }

                    .billet-info {
                        @include span-columns(12);

                        .col-1,
                        .col-2 {
                            @include span-columns(12);
                        }

                        .col-1 {
                            font-size: 12px;

                            p {
                                line-height: 20px;
                            }

                        }

                        .button {
                            margin-top: 5px;
                            width: 100%;
                            height: 45px;
                            font-size: 13px;
                            letter-spacing: 2px;
                        }

                    }

                }

            }

            .info-payment-method {
                margin-right: 0;
            }

            .buttons {
                @include span-columns(12);
                margin-top: 20px;
                text-align: center;

                .button {
                    margin-right: 20px;
                }

            }

        }

        .order-items {
            @include span-columns(12);
            margin: 20px 0 0 0;
            position: relative;

            .steps {
                @include span-columns(11.5);
                margin-right: 0;
            }

            .tracking {
                position: absolute;
                top: 65px;
                right: 0;
            }

            .skyhub {
                @include span-columns(12);
                margin-bottom: 20px;
                font-size: 12px;
                text-transform: uppercase;   
                text-align: center;
                font-weight: bold;
                line-height: 14px;

                h3 {
                    display: inline-block;
                    vertical-align: middle;                    
                    font-size: 16px;
                    letter-spacing: 0;
                }

                img {
                    margin-right: 5px;
                }

                p {
                    display: block;
                }

            }

        }

        .totals {
            width: 100%;
            float: left;
            border: 0;
            margin-top: 20px;

            tbody {
                float: right;

                tr {
                    float: left;
                    margin-right: 40px;

                    td {
                        border: 0;
                        font-weight: normal;
                        text-transform: uppercase;

                        &:first-child {
                            display: block;
                            font-family: $f-avalon;
                            font-weight: 600;
                            font-size: 15px;
                            letter-spacing: 1px;
                            padding-top: 3px;
                            padding-bottom: 0;

                            strong {
                                font-weight: 600;
                            }

                        }

                        &:last-child {
                            font-family: $base-font-family;
                            font-weight: bold;
                            font-size: 18px;
                        }

                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
