.sharing-links {
	margin-bottom: $base-margin;
	margin-left: $base-margin;

	li {

		&.head {
			font-size: 12px;
			line-height: 14px;
			display: block;
			color: $c-black;
			width: 100%;
			margin-bottom: ($base-margin / 2);
		}

		a {
			@include transition-duration($base-duration);
			display: block;
			float: left;
			margin: 0 10px 10px 0;
			cursor: pointer;

			&:before {
				font-size: 22px;
			}

		}

		.link-facebook {
            &:before { @extend .-facebook; }
            &:hover { color: #3b5998; }
		}

		.link-twitter {
            &:before { @extend .-twitter; }
            &:hover { color: #4099ff; }
		}

		.link-pinterest {
            &:before { @extend .-pinterest; }
            &:hover { color: #C92228; }
		}

	}

}
