.product-image-zoom {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;

    .flags {

        .promocao {
            position: absolute;
            top: 0;
            left: 0;
            background: $c-dark-primary;
            color: $c-white;
            font-family: $f-avalon;
            font-size: 17px;
            padding: 20px;
            text-align: center;
            @include size(80px);
            @include border-radius(50%);
        }

    }

    .product-image-gallery {

        .gallery-image {
            display: none;

            &.visible {
                display: block;
            }

        }

    }

}

.more-views {

    .product-image-thumbs {

        li {
            @include span-columns(1 of 4);
            position: relative;
            margin-bottom: 4.3%;

            .thumb-link {
                @extend .clearfix;
                @include box-sizing(border-box);
                border: $base-border;
                display: block;
                margin-bottom: 3px;

                &:hover {
                    border-color: $c-black;
                    border-bottom-width: 4px;
                    margin-bottom: 0;
                }

                &.learn-user {
                    .caption {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 38%;
                        display: block;
                        text-align: center;
                        font-size: 11px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: $c-white;
                        font-family: $f-avalon;
                        font-weight: bold;
                    }

                }

                img {
                    width: 100%;
                    height: auto;
                    float: left;
                }

            }

        }

    }

}

.product-image-zoom.product-image-thumbs {
    max-width: 300px;
    margin-left: 30px;

    .swiper-slide {
        a {
            margin-right: 10px;
        }
    }

    >div {
        >img {
            max-width: 80%;
        }
    }

    .swiper-button-prev {
        left: -35px;
    }

    .swiper-button-next {
        right: -25px;
    }

    .link-media-gallery {
        display: table;
        position: relative;
        margin-bottom: 4.3%;
        @extend .clearfix;
        @include box-sizing(border-box);
        border: $base-border;
        margin-bottom: 3px;

        &:hover {
            border-color: $c-black;
            border-bottom-width: 4px;
            margin-bottom: 0;
        }

        &.learn-user {
            .caption {
                position: absolute;
                left: 0;
                right: 0;
                top: 38%;
                display: block;
                text-align: center;
                font-size: 11px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $c-white;
                font-family: $f-avalon;
                font-weight: bold;
            }

        }

        img {
            width: 100%;
            height: auto;
            float: left;
        }

    }



}


.product-image-zoom.product-image-thumbs {

    .see-more-thumb-link {
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 4.3%;
        @extend .clearfix;
        @include box-sizing(border-box);
        border: $base-border;
        margin-bottom: 3px;

        &:hover {
            border-color: $c-black;
            border-bottom-width: 4px;
            margin-bottom: 0;
        }

        &.learn-user {
            .caption {
                position: absolute;
                left: 0;
                right: 0;
                top: 38%;
                display: block;
                text-align: center;
                font-size: 11px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $c-white;
                font-family: $f-avalon;
                font-weight: bold;
            }

        }

        img {
            width: 100%;
            height: auto;
            float: left;
        }

    }

}