.wrap-group {
	margin-bottom: $base-margin;

	.head-text {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: $base-margin;
		display: block;
		padding: 0 20px;
	}

	.grouped-list {
		height: 480px;
		padding: 0 20px;
		overflow: hidden;

		&.scrool {
			border-bottom: solid 1px $c-black;
		}

		.item {
			@include span-columns(1 of 2);
			@include omega(2n);
			position: relative;
			overflow: hidden;
			padding: 0 0 14px 0;
			font-family: $base-font-family;
			color: $c-gray-dark;
			font-size: 10px;
			line-height: 14px;
			text-align: center;

			&:hover {
				label {
					border-color: darken($c-gray, 10);

					.prices,
					.sold-out {
						border-color: darken($c-gray, 10);
					}

				}

			}

			label {
				@include transition-duration($base-duration);
				border: $base-border;
				padding: 0;
				cursor: pointer;

				&:before {
					display: none;
				}
			}

			input[type="checkbox"] {
				&:checked {
					+ label {
						border-color: $c-black;

						&:hover {
							border-color: lighten($c-black, 30);

							&:after {
								border-color: lighten($c-black, 30);
							}

							.prices {
								background-color: lighten($c-black, 30);
							}

						}

						&:after {
							content: " ";
							display: block;
							width: 100%;
							height: 100%;
							background-color: transparent;
							border: solid 2px $c-black;
							position: absolute;
							left: 0;
							top: 0;
							z-index: 0;
						}

						.prices {
							background-color: $c-black;
							color: $c-white;
						}

					}

				}

			}

			&.unavailable {

				&:hover {
					label {
						border: $base-border;

						.sold-out {
							border-color: $base-border-color;
						}

					}

				}

				[type="checkbox"] {
					&:checked {
						+ label {

							border: $base-border;

							&:hover {
								border: $base-border;

								.sold-out {
									border-color: $base-border-color;
								}

							}

						}

					}

				}

			}

			.discount {
				background: $c-dark-primary;
				padding: 17px 0;
				line-height: 0;
				font-family: $f-avalon;
				font-weight: bold;
				font-size: 17px;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: $c-white;
			}

			.img {
				margin: 0 auto;
				width: 100px;
				display: block;
			}

			.reference {
				display: block;
				text-align: center;
				margin: 0 0 3px;
				font-size: 9px;
				text-transform: uppercase;

				&.info {
					font-family: $base-font-family;
					font-size: 17px;
					font-weight: 600;
					line-height: 10px;
					text-transform: initial;
					color: $c-black;
					margin: 15px 0 5px 0;
				}

				&.thumb {
					font-size: 12px;
					padding-bottom: 5px;
					margin: 0;
				}

			}

			.prices {
				@include transition-duration($base-duration);
				font-family: $base-font-family;
				border-top: $base-border;
				padding: 5px 0;
				display: block;
				color: $c-black;

				.price-label {
					display: none;
				}

				.price {
					display: block;
					font-size: 12px;
					line-height: 16px;
					font-weight: bold;
				}

				.old-price {

					.price {
						color: $c-gray-dark;
						font-weight: normal;
						text-decoration: line-through;
						font-size: 11px;
						line-height: 10px;
					}

				}

				.installment {
					display: block;
					font-size: 9px;
					line-height: 10px;
				}

			}

			.sold-out {
				border-top: $base-border;
				padding: 7px 20px;
				background-color: $c-gray-light;
				display: block;
				font-family: $base-font-family;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 12px;
				color: $c-black;
				text-align: center;
			}

		}

	}

}

.container-bundle {
	@include span-columns(12);
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	margin-bottom: 20px;

	.bloco-estatico-banner {
		font-family: Sephora Sans;
		font-size: 13px;
		margin-top: 18px;
		margin-bottom: 25px;
	}

	.containter-product-bundle {
		@include span-columns(12);

		.containter-product-bundle-item {
			@include span-columns(12);
			position: relative;
			height: 160px;

			.qty-holder {
				display: none;
			}

			.title-option {
				background-color: #f1f1f1;
				font-weight: bold;
				padding: 6px 10px;
				float: left;
				width: 100%;

				label {
					display: inline;
				}

				span {
					color: #cd0303;

					&.add-selection, &.remove-selection {
						color: #000;
						text-decoration: underline;
						font-size: 11px;
						float: right;
						cursor: pointer;
						padding: 4px 10px;

                        &:hover {
                            opacity: 0.8;
                        }
					}

					&.icon-checked, &.icon-unchecked {
						color: #000;
						border: 1px solid #a6a6a6;
						display: inline-block;
						width: 14px;
						height: 14px;
						line-height: 1;
						margin-right: 6px;
						margin-top: 3px;
                        cursor: pointer;
					}

				}

			}

			.selection-locked {
				background-color: #fff;
				height: 113px;
				position: absolute;
				width: 389px;
				margin-top: 39px;
				z-index: 1;
				opacity: 0.8;
				margin-left: -2px;
			}

			.item-bundle-selected {
				@include span-columns(12);
				position: absolute;
				top: 40px;
				z-index: 0;
				background-color: #fff;
				height: 110px;
				overflow: hidden;

				&.open {
					height: 300px;
					z-index: 2;

					.item-bundle {

						&:after {
							display: none;
						}

						label {
							border: 1px solid #d7d7d7;
							border-bottom: 0;
						}

						&.none {

							label {
								border-bottom: 0;
							}

						}

						&:last-child {

							label {
								border-bottom: 1px solid #d7d7d7;

								&.selected {
									border-bottom: 3px solid #000;
								}

							}

						}

					}

				}

				.item-bundle {
					@include span-columns(12);
					position: relative;

					&.single {

						label{
							&:after {
								content: "" !important;
							}
						}

					}

					label {
						@include span-columns(12);
						padding: 6px 12px;
						margin-bottom: 0;
						height: 100px;

						&.selected {
							border: 3px solid #000;

							&:after {
								font-family: icomoon;
								content: "\e920";
								color: #d7d7d7;
								font-size: 24px;
								width: 30px;
								height: 30px;
								position: absolute;
								right: 12px;
								top: 40px;
							}
						}

						.image {
							@include span-columns(4);
							text-align: center;

							img {
								margin: 0 auto;
							}

						}

						.name-ref-option {
							@include span-columns(7);
							text-align: center;
							margin-top: 3px;

							.name-option {
								font-size: 12px;
								font-weight: bold;

								.price-notice {
									display: none;
								}

							}

							.ref-option {
								color: #a6a6a6;
								font-size: 10px;
								margin-top: 4px;
							}

						}

						.price-selection {

							.current-price-selection {
								font-size: 15px;
							}

							.old-price-selection {
								font-size: 13px;
								text-decoration: line-through;
								color: #a5a5a5;
								font-weight: normal;
								margin-right: 4px;
							}

							.sepecial-price-selection {
								font-size: 15px;
								margin-left: 5px;
							}
						}

					}

					&.none {

						label {
							border: 1px solid #d7d7d7;
						    text-align: center;
						    font-size: 12px;
						    padding: 42px 12px;		

							&.selected {
								border: 3px solid #000;
							}

						}

					}

				}			

			}

		}

	}

}
