.form-list {

    li {

        &.street-2,
        &.street-3 {
            @include span-columns(5.8);
        }

        &.street-3 {
            float: right;
            margin-right: 0;
        }

        &.fields {

            & > div {
                @include span-columns(5.8);

                &:last-child {
                    float: right;
                }

            }

        }

        .postcode {
            @include span-columns(7.5);

            input {

                &:disabled {
                    background: $c-white url('../../images/opc-ajax-loader.gif') no-repeat 105% center;
                    background-size: 20%;
                }

            }

            + .postcode-search {
                @include span-columns(4);
                font-size: 10px;
                text-decoration: underline;
                font-style: italic;
                color: $c-gray-dark;
                line-height: 40px;
                padding-left: 10px;
            }

        }

    }

}

.address-select {
    @include span-columns(11.6);
    margin: 10px 10px 0 10px;
    height: 240px;
    overflow: hidden;

    li {
        @include span-columns(12);
        margin-bottom: 10px;
        padding: 15px 10px;
        background: rgba($c-gray, 0.2);
        border: $base-border;
        position: relative;

        label {
            font-weight: normal;
            font-size: 12px;
            font-style: italic;
            line-height: 20px;

            .col-1,
            .col-2 {
                @include span-columns(6);
                text-align: left;
            }

            .col-2 {
                text-align: right;
            }

            b {
                font-family: $f-avalon;
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                text-transform: uppercase;
                display: block;
                padding-bottom: 10px;
            }

        }

        .buttons {
            font-family: $f-avalon;
            font-weight: 600;
            position: absolute;
            right: 10px;
            top: 15px;
            font-size: 13px;
            width: auto;

            &:before {
                @extend .-edit;
                position: absolute;
                left: -18px;
                font-size: 14px;
            }

        }

    }

}

.address-new {
    @include span-columns(12);
    font-family: $f-avalon;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-top: 1px solid $c-black;
    padding: 10px 0 10px 10px;
    letter-spacing: 4px;
    padding-top: 20px;
    margin-bottom: 20px;

    @include media($medium-resolution) {
        letter-spacing: 2px;
    }

    &:before {
        @extend .-plus;
        @include size(20px);
        @include border-radius(50%);
        background: $c-black;
        color: $c-white;
        margin-right: 10px;
        font-size: 18px;
        padding: 0 1px;
        margin-top: -4px;
    }

}

.address-content-edit {
    font-size: 14px;
    min-height: 30px;
}

#shipping-new-address-form {
    @include span-columns(12);
}
