.firecheckout-index-index {

    #firecheckout-spinner {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        text-align: center;
        background: rgba($c-white, 0.8) url(../../images/media/load.gif) no-repeat center center;
        text-indent: -99999px;
    }

    .main-container {

        @include media($medium-resolution) {
            padding: 0 20px;
        }

    }

    .col3-fire-set {
        @include span-columns(12);
        margin: 5px 0 40px 0;

        & > div {
            @include span-columns(4);
        }
    }

    .firecheckout-section {
        @include span-columns(12);
        margin-top: 20px;

        .block-title {
            font-family: $f-avalon;
            font-size: 17px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 20px;
            position: relative;
            padding-top: 15px;
            letter-spacing: 3px;

            &:before {
                content: '';
                height: 4px;
                width: 100%;
                background: $c-black;
                position: absolute;
                top: 0;
                left: 0;
            }

            .num,
            span + span + span {
                display: none;
            }

            .block-sub-title {
                font-weight: 600;
                font-size: 14px;
                padding: 5px 0 10px 0;

                @include media($medium-resolution) {
                    font-size: 12px;
                }

            }

        }

        .btn-checkout {
            height: 60px;

            &:disabled {

                + span {
                    display: block !important;
                }

            }

        }

        .please-wait {
            @include span-columns(12);
            margin: 10px 0;
            font-size: 12px;
            position: relative;
            padding: 4px 0 0 26px;

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
            }

        }

        .button-set {
            @include span-columns(12);
            margin: 10px 0;
        }

        fieldset {
            @include span-columns(12);
        }

        @import "firecheckout_customer";
        @import "firecheckout_shipping";
        @import "firecheckout_payment";
        @import "firecheckout_review";
    }

}
