.sp-methods {
    @include span-columns(12);
    margin: 10px 0;

    li {
        display: block;
        margin: 0 0 15px 0;

        label {
            font-family: $base-font-family;
            font-size: 12px;
            font-weight: normal;

            strong,
            .price {
                font-weight: bold;
            }

        }

    }

    &#checkout-msg {
        color: $c-dark-primary;
        font-size: 12px;   
        line-height: 20px;      

        .faq-help {
            width: 15px;
            height: 15px;
            line-height: 16px;
            font-size: 10px;
            vertical-align: text-bottom;
            margin-left: 5px;
            letter-spacing: 1px;
        }
        
    }

}

#shipping_form_delivery_date {
    @include span-columns(12);

    .sub-title {
        font-family: $f-avalon;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }

    .input-box {
        @include span-columns(12);
    }

    .delivery-time {

        label {
            font-family: $base-font-family;
            font-size: 12px;
            font-weight: normal;
            margin-bottom: 10px;
        }

    }

    .worked-days {
        font-size: 12px;
        text-align: right;
    }

    .shipping-term {
        @include span-columns(12);
        margin: 50px 0 10px 0;
        border-bottom: 2px solid $c-gray;
        padding-bottom: 5px;

        span {
            font-weight: bold;
            text-decoration: underline;
        }

    }

}
