#discount-code {

    .input-field-wrapper {
        position: relative;

        input {
            margin-bottom: 0;
            width: 100%;
            padding: 12px;
        }

        .button {
            position: absolute;
            right: 0;
            top: 0;
            height: 42px;
            border: 0;
            line-height: inherit;
            padding: 12px;
            letter-spacing: 1px;
            font-size: 12px;
            color: $c-white;
            background: $c-black;
        }

    }

}

#checkout-payment-method-load {

    dt {
        float: left;
        width: 100%;
        font-family: $f-avalon;
        font-size: 15px;
        text-transform: uppercase;
        margin: 0;
        border-top: 1px solid $c-black;
        border-bottom: 1px solid $c-black;
        padding: 18px 5px;
        position: relative;

        label {
            margin-bottom: 0;
        }

        &:first-child,
        &:nth-child(2) {
            border-bottom: 0;
        }

        &.p_method_mundipagg_boleto,
        &.p_method_mundipagg_creditcard {

            &:after {
                position: absolute;
                right: 10px;
                top: 11px;
                font-size: 30px;
            }

        }

        &.p_method_mundipagg_boleto {

            &:after {
                @extend .-billet;
            }

        }

        &.p_method_mundipagg_creditcard {

            &:after {
                @extend .-credit-cart-2;
            }

        }

        label {
            font-weight: bold;
        }

    }

}

#payment_form_mundipagg_creditcard {
    @include span-columns(12);

    & > li {
        margin: 0;
    }

    #mundipagg_creditcard_new_credit_card_1_1 {
        position: relative;

        & > li {
            @include span-columns(12);

            input {
                width: 100%;

                &.validate-cc-cvn {
                    font-size: 11px;
                    height: 42px;
                }

            }

            &.info-payment {
                font-size: 11px;
                text-transform: uppercase;
            }

            &.card-brand {
                @include span-columns(2);
                float: right;
                margin-right: 0;
                height: 40px;
                overflow: hidden;

                ul {
                    width: 42px;
                    margin: 8px;
                    position: relative;

                    .cc_brands {
                        position: absolute;
                        top: 0;
                        right: 5px;

                        .cc_brand_types {
                            display: none;
                            background-image: url(../../images/mundipagg/cc_types.png);

                            &.active {
                                display: block;
                            }

                        }

                    }

                }

                .validation-advice {
                    position: absolute;
                    left: 0;
                    margin-top: 48px;
                }

            }

            &.card-number {
                @include span-columns(10);

                .validation-advice {
                    margin: 24px 0 0 0;
                    line-height: 14px;
                }

            }

            &.card-expiration {

                .field {

                    &.month {
                        @include span-columns(8);

                        .v-fix {
                            @include span-columns(4 of 8);
                        }

                        input, select {
                            text-transform: uppercase;
                        }

                    }

                    &.verification {
                        @include span-columns(3.5);
                        position: relative;
                        margin-left: 5px;

                        .faq-help {
                            position: absolute;
                            right: -10px;
                            top: 10px;
                        }

                    }

                }

            }

            &.credit-options {
                @include span-columns(6);
                margin-bottom: 0;
                position: relative;

                @include media($medium-resolution) {
                    @include span-columns(7);
                }

                .mundipagg_reload {
                    right: -30px;
                    top: 30px;
                    margin-top: 0;
                }

            }

        }

    }

    .cctypes-select {
        @include span-columns(12);
        margin: 0;

        dt {
            @include span-columns(12);
            border-bottom: $base-border;
            position: relative;
            padding: 20px 0 20px 20px;
            margin: 0;
            border-top: 0;

            label {
                padding-left: 60px;
                margin: 0;
                font-weight: bold;
                text-transform: uppercase;

                img {
                    position: absolute;
                    left: 20px;
                    top: -1px;
                    width: 30px;
                }

            }

        }

        dd {
            @include span-columns(12);
            margin: 0;
            padding: 20px;
            border-bottom: $base-border;
        }

        .validation-advice {
            font-family: $base-font-family;
            font-size: 10px;
            text-transform: uppercase;
            color: $c-dark-primary;
            margin-bottom: 2em;
        }

    }

    .address-new {
        border-top: 0;
        margin: 0;
        padding: 25px 0 25px 30px;
    }

    .select-installment {
        min-height: 50px;

        ul {
            @include span-columns(12);
            border: $base-border;
            background: $c-white;
            position: absolute;
            z-index: 1;

            li {
                padding: 8px 30px 8px 10px;
                display: none;
                margin: 0;
                font-size: 11px;

                &.active {
                    background-color: $c-gray-light;
                }

                &.first {
                    display: block;
                    background: url(../../src/img/icons-sprite/arrow-select.png) no-repeat right center;
                    background-color: $c-white;
                }

                b {
                    display: block;
                    font-size: 12px;
                }

            }

        }

    }

    .parcelamento {
        @include span-columns(6);
        margin: 0;

        .input-box {
            position: relative;
            margin: 5px 0 10px 0;

            .mundipagg_reload {
                margin: 0;
                right: -24px;
                top: 12px;
            }

        }

    }

    .expire {
        float: left;
        clear: both;

        p {
            font-size: 12px;
            padding: 5px 0 2px 0;
        }

        b {
            font-size: 15px;
            font-weight: bold;
        }

    }

}

#payment_form_mundipagg_boleto {

    #mundipagg_boleto {

        .info {
            @include span-columns(12);
            border: 1px solid $c-gray;
            background: $c-gray-lighten;
            padding: 20px 10px;
            margin-bottom: 10px;
            line-height: 20px;
            font-size: 12px;

            li {
                display: list-item;
                list-style-type: disc;
                margin-left: 20px;

                &:last-child {
                    margin-bottom: 0;
                }

            }

        }

    }

}
