.checkout-review {
    @include span-columns(12);
    height: 370px;
    margin: 20px 0;
    overflow: hidden;

    .data-table {
        float: left;

        td {
            vertical-align: top;
            text-transform: uppercase;
            border-bottom: 0;

            .product-image {
                @include span-columns(3);
            }

            .product-info {
                @include span-columns(9);
                font-family: $base-font-family;
                padding: 0 15px;

                .product-name {
                    font-weight: bold;
                    font-size: 12px;
                    display: block;

                    @include media($medium-resolution) {
                        font-size: 10px;
                    }

                }

                .product-manufacturer {
                    font-size: 10px;
                }

                .price {
                    font-weight: bold;
                    font-size: 14px;
                    padding-top: 10px;
                }

            }

            .qty-wrapper {
                text-align: center;
                font-size: 11px;
                padding: 0 15px;

                label {
                    font-weight: normal;
                }

                span {
                    font-family: $f-avalon;
                    font-weight: bold;
                    font-size: 15px;
                }

            }

        }

    }

}

.checkout-totals {
    font-family: $base-font-family;
    font-size: 14px;
    font-weight: bold;

    tr {

        td {
            padding: 13px 0 13px 10px;

            &:last-child {
                text-align: right;
                padding: 13px 20px 13px 0;
            }

        }

        &.qty-total {
            background: $c-gray-light;
            font-size: 12px;

            td {
                padding: 14px 0 14px 10px;
                font-weight: normal;

                &:last-child {
                    font-size: 17px;
                    padding: 14px 20px 14px 0;
                }

            }

        }

    }

    .points {
        display: none;
    }

}

