.flag-content {
    display: inline-block;
    margin-bottom: $base-margin;

    &.novidade {

        .flag-text {
            background-color: transparent;
            color: $c-black;
            font-weight: bold;
        }

    }

    .flag-text {
        @include box-sizing(border-box);
        @include inline-block(top);
        background: $c-black;
        border: $base-border;
        border-color: $c-black;
        color: $c-white;
        font-size: 9px;
        text-transform: uppercase;
        padding: 5px 8px;
        letter-spacing: 1px;
    }
}

#promotional-flags {

    display: none;

    #flags-label {
        color: red;
        font-size: 14px;
        font-weight: bold;
        margin: 14px 0 14px 0;
    }

    #flag-text{
        background-color: $c-dark-primary;
        border: 0;
        font-weight: bold;
        margin-top: 5px;
    }

    #flags-list {
        margin-top: 5px;
    }

    .flag-item {
        padding: 15px 15px 15px 15px;
        border: 1px dashed #cccccc;
        text-align: center;
        list-style: none;
        width: 200px;
        height: 50px;
        margin-top: 14px;
    }
}