.block-subscribe {
    @include outer-container;
    padding: 35px 0 30px 0;

    @include media($medium-resolution) {
        max-width: $screen-md;
        padding: 35px 20px 30px 20px;
    }

    .validation-advice {
        font-size: 10px;
        text-transform: uppercase;
        color: $c-white;
    }

    .box-email,
    .box-name {
        @include span-columns(3.7);

        @include media($medium-resolution) {
            @include span-columns(3.4);
        }

    }

    .box-gender {
        @include span-columns(2.6);

        @include media($medium-resolution) {
            @include span-columns(2.7);
        }

    }

    .actions {
        @include span-columns(2);

        button {
            padding: 0 2.4em;
            height: 50px;
            line-height: 45px;
            @extend .-success;
        }
    }

    .block-title {
        position: relative;
        margin-bottom: 60px;

        p {
            font-family: $f-sephoraSans;
            font-size: 23px;
            color: $c-white;
            text-align: center;
            letter-spacing: 1px;
            background: $c-black;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 48%;

            @include media($medium-resolution) {
                width: 60%;
            }

            span {
                font-family: $f-sephoraSerif;
                font-weight: bold;
                font-style: italic;
            }

        }

        &:before {
            content: '';
            position: absolute;
            height: 1px;
            background: $c-white;
            width: 56%;
            left: 22%;
            bottom: -17px;

            @include media($medium-resolution) {
                width: 69%;
                left: 16%;
            }

        }

    }

    .input-box {

        label {
            color: $c-white;
            font-size: 13px;
            letter-spacing: 2px;
            line-height: 20px;
            height: 25px;
            padding-left: 30px;

            @include media($medium-resolution) {
                font-size: 10px;
            }

            &:after {display: none;}

            &:before{
                border-color: $c-white;
                color: $c-white;
                letter-spacing: normal;
                line-height: 15px;
            }


        }

        input {
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            border: 1px solid $c-white;
            padding: 14px 22px;
            background: $c-black;
            color: $c-white;
            letter-spacing: 5px;

            &:checked {
                + label:before {
                    @extend .-checkmark;
                }
            }
        }

    }

}
