ul {
    text-align: right;

    li {
        @include inline-block(top);

        a {
            font-size: 26px;

            &.facebook {
                &:before { @extend .-facebook; }
                &:hover { color: #3b5998; }
            }

            &.twitter {
                &:before { @extend .-twitter; }
                &:hover { color: #4099ff; }
            }

            &.instagram {
                &:before { @extend .-instagram; }
                &:hover { color: #9b6954; }
            }

            &.youtube {
                &:before { @extend .-youtube; }
                &:hover { color: #c4302b; }
            }

            &.pinterest {
                &:before { @extend .-pinterest; }
                &:hover { color: #C92228; }
            }

        }

    }

}
