.footer-container-onepage {
    background: $c-gray-light;
    float: left;
    width: 100%;

    .footer {
        @include outer-container;
        padding: 25px 0 25px 20px;
        text-align: center;

        .logo,
        .payment {
            @extend .no-display;
        }

        .seals,
        .copyright {
            display: inline-block;
            vertical-align: middle;
        }

        .seals {
            margin-right: 30px;
            padding-top: 5px;
        }

        .copyright {
            font-size: 10px;
            font-weight: bold;
            line-height: 15px;
            text-align: center;
        }

    }

}