.footer-container {
    @include span-columns(12);
    overflow: hidden;
    position: relative;
    padding-top: 20px;

    &:before {
        @include box-shadow($size: 0, $x: 0, $blur: 20px);
        content: '';
        display: block;
        width: 100%;
        height: 10px;
        position: absolute;
        top: 0;
    }

    .newsletter {
        background: $c-black;
        @include span-columns(12);
        @import "footer_newsletter";

        &:after {
            content:'';
            display: block;
            @include box-shadow($blur: 10px, $size: 4px);
        }

    }

    .social-links {
        @include outer-container;
        border-bottom: 1px solid $c-gray;

        @include media($medium-resolution) {
            max-width: $screen-md;
            padding: 0 20px;
        }

        .arrow {
            @include span-columns(0.5);
            position: relative;
            margin: 8px 0 0 0;
            cursor: pointer;
            display: none;

            &:before {
                @extend .-arrow_bottom;
                cursor: pointer;
                font-size: 14px;
                position: absolute;
                left: -5px;
                top: 12px;
            }

            &.active {
                &:before {
                    @include rotate(180);
                }
            }

        }

        .links {
            @include span-columns(9.9);
            @import "footer_links";

            @include media($medium-resolution) {
                @include span-columns(8.5);
            }

        }

        .social {
            @include span-columns(2);
            @import "footer_social";
            margin-top: 10px;

            @include media($medium-resolution) {
                @include span-columns(3);
            }

        }

    }

    .footer {
        @include outer-container;
        margin: 10px auto 30px auto;

        @include media($medium-resolution) {
            max-width: $screen-md;
            padding: 0 20px;
        }

        .copyright {
            @include span-columns(9);
            font-size: 9px;
            color: $c-gray-dark;
            line-height: 18px;
            padding-top: 5px;

            @include media($medium-resolution) {
                @include span-columns(8.5);
            }

        }

        .seals {
            @include span-columns(1.5);
        }

        .enext-bseller {
            @include span-columns(1.5);
            position: relative;

            @include media($medium-resolution) {
                @include span-columns(2);
            }

            a {
                float: left;

                &:last-child {
                    float: right;
                }

            }

        }

    }

}

@import "footer_onepage";
