li {
    @include inline-block(top);
    @include shift(0.7);
    padding: 20px 0 5px 0;

    @include media($medium-resolution) {
        @include shift(0.1);
    }

    &.active {
        @include shift(0.4);

        @include media($medium-resolution) {
            @include shift(0.1);
        }

    }

    &:first-child {
        margin-left: 0;
    }

    dl {
        margin: 0;

        dt {
            font-family: $f-avalon;
            font-weight: bold;
            font-size: 13px;
            text-transform: uppercase;
            margin: 0 0 15px 0;

            @include media($medium-resolution) {
                font-size: 11px;
            }

        }

        dd {
            font-size: 12px;
            margin: 10px 0;

            @include media($medium-resolution) {
                font-size: 11px;
            }

        }

    }

}
