.welcome-msg {
    font-family: $f-avalon;
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 28px;
    position: relative;
    z-index: 1;

    &.logged, &.not-logged {

        &:after {
            @extend .-arrow_bottom;
            position: absolute;
            font-size: 16px;
            top: 5px;
        }

        &.active {

            &:after {
                @extend .-arrow_top;
            }

        }

    }

    &.no-bc {
        padding: 6px 0 6px 25px;
    }

    span {
        font-family: $f-avalon;
        font-weight: bold;
        padding-right: 40px;
    }

}

.esmart-bc {
    position: absolute;
    bottom: 16px;
    font-size: 10px;
    color: $c-gray-dark;
    z-index: 0;

    a {
        color: $c-gray-dark;
    }

    span {
        font-weight: bold;
        color: $c-dark-primary;
    }

}
