.header-cart {
    border-bottom: $base-border;
    box-shadow: none;

    .cart-title {
        @include span-columns(7);
        text-transform: uppercase;
        text-align: center;
        padding-top: 20px;

        h1 {
            font-family: $f-avalon;
            font-size: 19px;
            font-weight: 600;
            letter-spacing: 1px;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            z-index: -1;
        }

    }

}
