a {
    line-height: 60px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include media($medium-resolution) {
        margin-left: 5px;
    }

    &.store {

        &:before {
            @extend .-place;
            font-size: 12px;
            padding-right: 5px;
        }

    }

    &.services {
        margin-left: 0;
    }

}

span {
    line-height: 60px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}
