.page-header-onepage {
    position: relative;
    z-index: 1;
    background: $c-white;
    border-bottom: $base-border;
    font-size: 12px;
    text-transform: uppercase;

    @include media($medium-resolution) {
        padding: 0 20px;
    }

    .page-header-container {
        @include outer-container();
        position: relative;
        height: 60px;

        .logo {
            @include span-columns(2);
            padding: 17px 0;
        }

        .step-container {
            @include span-columns(8);

            .steps {

                p {
                    float: none;
                    @include inline-block();
                }

            }

        }

        .secure {
            @include span-columns(2);
            float: right;
            padding-top: 13px;

            p {

                &:after {
                    @include size(32px);
                    @include border-radius(50%);
                    @extend .-lock;
                    background: $c-black;
                    color: $c-white;
                    padding: 9px 0 0 12px;
                    font-size: 13px;
                    margin-left: 10px;
                }

            }

        }

    }

}
