.input-box {
    position: relative;
    border-bottom: 2px solid $c-black;
    margin-top: 10px;
    padding: 5px 10px;

    input {
        font-family: $base-font-family;
        font-size: 13px;
        font-weight: normal;
        font-style: italic;
        border: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

    .search-button {
        position: absolute;
        top: 8px;
        right: 10px;
        background: none;
        padding: 0;
        border: 0;

        &:before {
            @extend .-search;
            color: $c-black;
            font-size: 20px;
        }

        span {
            display: none;
        }

    }

}
