.skip-cart {
    @include border-radius(50%);
    @include size(40px);
    position: absolute;
    right: 0;
    top: 7px;
    z-index: 2;
    height: 50px;

    .-ico {
        font-size: 30px;

        &:before {
            @extend .-bag;
        }

    }

    &.skip-minicart-hover {

        &.active {

            .-ico {

                &:before {
                    @include animation(bounce 1s);
                }

                @include keyframes(bounce) {

                    0%, 20%, 50%, 80%, 100% {
                        @include transform(translateY(0));
                    }

                    40% {
                        @include transform(translateY(-2px));
                    }

                    60% {
                        @include transform(translateY(-2px));
                    }

                }

            }

        }

        .count {
            background: $c-dark-primary;
        }

    }

    .count {
        @include size(18px);
        @include border-radius(50%);
        position: absolute;
        top: 1px;
        right: 1px;
        background: $c-black;
        color: $c-white;
        font-family: $base-font-family;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        padding-top: 2px;
    }

    &:hover {
        color: $c-black;        
    }

}

.header-minicart {
    position: relative;

    .block-cart {
        @include span-columns(4.5);
        display: none;
        position: absolute;
        z-index: 2;
        top: 60px;
        right: 0;
        background: $c-white;
        padding: 10px;
        border: 1px solid $c-gray-header;

        &:before{
            content: '';
            width: 8px;
            height: 8px;
            border-top: 1px solid $c-gray-header;
            border-left: 1px solid $c-gray-header;
            transform: rotate(45deg);
            background: $c-white;
            position: absolute;
            top: -5px;
            right: 18px;
            display: block;
        }

        @include media($medium-resolution) {
            right: -20px;
            width: 50%;
        }

        #minicart-error-message {
            background: $c-alert-error;
        }

        #minicart-success-message {
            background: $c-alert-success;
        }

        .minicart-message {
            @include span-columns(12);
            text-align: center;
            color: $c-white;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: bold;
            line-height: 30px;

            &.empty {
                margin-bottom: 20px;
                letter-spacing: 2px;
            }

        }

        .minicart-wrapper {
            @include span-columns(12);

            &.loading {

                &:before {
                    content: '';
                    display: block;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background: $c-white;
                    z-index: 1;
                    opacity: 0.8;
                    top: 0;
                    right: 0;
                }

                &:after {
                    @include size(100%);
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 1;
                    left: 35%;
                    top: 35%;
                    background: url(../../images/media/load.gif) no-repeat;
                }

            }

            .cart-promotions {
                @include span-columns(12);
                line-height: 30px;
                text-align: center;
                background: $c-black;
                color: $c-white;
                text-transform: uppercase;

                li {
                    background: none;
                    padding: 0;
                    margin: 0;
                    font-size: 12px;

                    li {
                        background: none;
                        padding: 0;
                        margin: 0;
                        font-size: 12px;
                    }

                }

            }

            .cart-items {
                @include span-columns(12);
                padding: 10px 0 10px 15px;
                height: 300px;
                overflow: hidden;

                .item {
                    @include span-columns(12);
                    border-bottom: 1px solid $c-gray-lighten;
                    padding: 10px 0;

                    .product-image {
                        @include span-columns(3);
                    }

                    .product-name-price {
                        @include span-columns(6);

                        .name {
                            font-family: $base-font-family;
                            font-weight: bold;
                            font-size: 12px;
                            text-transform: uppercase;
                        }

                        .price {
                            font-weight: bold;
                            font-size: 14px;
                            padding-top: 20px;
                        }

                        .item-msg {

                            &.error {
                                font-family: $base-font-family;
                                color: $c-dark-primary;
                                font-weight: bold;
                                font-size: 10px;
                                padding-top: 5px;
                            }

                        }

                    }

                    .product-qty-remove {
                        @include span-columns(3);
                        text-align: center;

                        .label-qty {
                            text-transform: uppercase;
                            font-size: 11px;
                        }

                        .qty {
                            position: relative;

                            .more,
                            .less {
                                @include size(18px);
                                @include border-radius(50%);
                                background: $c-black;
                                color: $c-white;
                                position: absolute;
                                top: 10px;
                                text-align: center;

                                &.disabled {
                                    background: $c-gray;
                                }

                            }

                            .more {
                                right: 0;
                            }

                            .less {
                                left: 0;
                                line-height: 15px;
                            }

                            input {
                                @include span-columns(5.5);
                                text-align: center;
                                margin: 5px 25px;
                                padding: 5px;
                            }

                        }

                        .remove {
                            font-size: 9px;
                            text-transform: uppercase;

                            a {
                                color: $c-gray-dark;
                            }

                        }

                    }

                }

            }

            .cart-qty {
                @include span-columns(12);
                padding: 18px 25px;
                background: $c-gray-lighten;
                font-family: $base-font-family;
                font-size: 12px;
                position: relative;

                span {
                    position: absolute;
                    right: 30px;
                    top: 12px;
                    font-size: 17px;
                }

            }

            .cart-subtotal {
                @include span-columns(12);
                padding: 25px;
                font-family: $base-font-family;
                font-weight: bold;
                font-size: 14px;
                position: relative;

                .subtotal,
                .installment {
                    position: absolute;
                    right: 30px;
                }

                .subtotal {
                    top: 16px;
                    font-size: 17px;
                }

                .installment {
                    top: 35px;
                    font-size: 12px;

                    div {
                        @include inline-block(top);
                    }

                }

            }

            .checkout-button {
                @include span-columns(12);
                @extend .-success;
                line-height: 45px;
                height: 50px;
            }

            .checkout-button-disabled {
                @include span-columns(12);
                cursor: not-allowed;
                line-height: 45px;
                height: 50px;
                background: $c-gray-lighten;
            }

        }

    }

}
