%menu {
	text-transform: uppercase;
	font-size: 13px;
	float: left;

	&:hover {

		& > a {

			&.has-children {
				font-weight: bold;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 20px;
					margin: 0 auto;
					width: 50%;
					height: 2px;
					background: $c-black;
				}

				&:hover {
					color: initial;
				}

			}

		}

	}

	& > a {
		display: block;
		padding: 14px 20px 14px 0;
	}

	&.nav-brands {
		@import "header_navigation_brands";
	}

	&.nav-sale,
	&.nav-gift,
	&.nav-custom {

		& > a {
			color: $c-dark-primary;
		}

	}

	&.nav-beautyclub {
		float: right;
		background: $c-black;
		color: $c-white;
		position: relative;

		& > a {
			color: $c-white;
			padding-left: 30px;
			padding-right: 40px;
			position: relative;
			font-weight: bold;

	    	.arrow {
	    		position: absolute;
			    right: 0;
			    top: 8px;
			    padding: 4px 18px 4px 5px;

	    		&:after {
	    			@extend .-arrow_bottom;
	    			font-size: 16px;
	    		}

	            &.active {

	                &:after {
	                    @extend .-arrow_top;
	                }

	            }

	    	}

		}

		.beautyclub-menu {
		    position: absolute;
		    width: 180px;
		    padding: 5px 0 16px 25px;
		    right: 0;
		    z-index: 1;
	    	background: $c-black;

	    	li {
	    		margin-top: 10px;
	    		font-size: 12px;

	    		& > a {
	    			display: block;
	    			text-decoration: initial;
	    			font-weight: normal;
	    			color: $c-white;

					&:hover {
						color: $c-dark-primary;
					}

	    		}

	    	}

		}

	}

}

%sub-menu {
	@include span-columns(1.7);
	@include omega(7n);
	font-size: 13px;
	margin-bottom: 50px;

	& > a {
		font-weight: bold;
		text-transform: uppercase;
		line-height: 20px;
		padding: 0;
	}

	ul {

		li {
			display: block;
			padding: 10px 0; 	

			& > a {
				font-weight: initial;
				text-transform: initial;
				line-height: initial;

				&.view-more {
					color: $c-dark-primary;
				}

			}

		}

	}

}

%sub-menu-container {
	display: none;
	position: absolute;
	z-index: 3;
	left: 0;
	width: 100%;
	padding: 30px 0;
	background: $c-white;
    @include box-shadow($size: 0, $y: 6px, $color: rgba(0, 0, 0, .2));
}

.nav-primary {
	@include span-columns(12);
	font-family: $f-avalon;

	li {
		
		&.level0 {
			@extend %menu;
		}

		ul {

			&.level0 {
				@extend %sub-menu-container;
			}

			li {

				&.level1 {
					@extend %sub-menu;
				}

			}

		}

        &:hover {

            & > .level0 {
                display: block;
            }

        }		

	}

}