li {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: $f-avalon;
    font-weight: bold;
    padding: 15px 0;
    border-top: 1px solid $c-gray-header;
    border-left: 1px solid $c-gray-header;
    border-right: 1px solid $c-gray-header;
    background: $c-white;
    letter-spacing: 1px;

    &:last-child {
        border-bottom: 1px solid $c-gray-header;
    }

    &.logout {
        background: $c-black;
        color: $c-white;
        font-family: $f-avalon;
        letter-spacing: 1px;
        border: 0;

        a {
            font-weight: bold;
            color: $c-white;
        }

    }

}
