ul.level0 {

	.box-title {
		font-size: 20px;
		border-bottom: 3px solid $c-black;
		padding-bottom: 3px;
        font-family: $f-sephoraSerif;
        font-style: italic;
        font-weight: 400;

		b {
            font-family: $f-sephoraSerif;
            font-style: italic;
            font-weight: 600;
		}

	}

	.brands-exclusive {
		@include span-columns(6);
		margin-right: 0;
		padding-right: 20px;

		ul {
			height: 455px;
			margin-top: 20px;

			li {
				padding: 10px 0;
				margin: 5px 0;
			    float: left;
			    width: 100%;

				a {
				    border: 1px solid $c-white;
				    padding: 10px;
				    text-align: center;
					@include span-columns(4);

				    &:hover {
				    	border-color: $c-dark-primary;
				    }

				}

			}

		}

	}

	.brands {
		@include span-columns(3.3);
		padding-right: 40px;
		position: relative;

		.box-search {
			position: relative;

			.search {
				font-weight: normal;
				font-style: italic;
			    margin: 15px 0 10px 0;
			    padding: 12px 10px;
			    width: 95%;
			    border-color: $c-gray-lighten;
			    font-size: 13px;
			}

		    &:after {
                @extend .-search;
                cursor: pointer;
                font-size: 16px;
                position: absolute;
                right: 25px;
                top: 10px;
		    }

		}

		.scrool {
		    padding-left: 5px;
		    height: 408px;
		    overflow: hidden;
		}

		.brands-aplhas {
			float: left;
			margin-bottom: 30px;
			width: 100%;

			&.active {
				margin-bottom: 0;
				padding-left: 0;

				ul {
					padding-left: 0;
				}

			}

			li {
				display: block;
				padding: 2px 0;
				width: 100%;

				&.alpha {
					font-weight: bold;
					font-size: 17px;
					text-transform: uppercase;
				}

				a {
					font-size: 12px;
					text-transform: initial;
				}

			}

		}

		.brand-default {
			margin-bottom: 10px;
		}

		.alphas {
			position: absolute;
			right: 8px;
			top: 40px;
			text-align: center;

			a {
				display: block;
				font-size: 12px;
				margin: 4px 0;

				&:hover {
					color: $c-black;
				}

				&.active {
					color: $c-dark-primary;
					font-weight: bold;
				}

			}

		}

	}


	.brands-category {
		@include span-columns(2.8);
		margin-right: 0;
		float: right;

		.scrool {
			float: left;
			width: 100%;
	    	margin-top: 25px;
		}

		dl {
			@include span-columns(12);
			margin: 0;

			dt {
				font-family: $f-avalon;
				padding: 0;
				display: block;
				width: 100%;
				margin-top: 0;
				font-size: 13px;
				font-weight: bold;
				padding-bottom: 10px;
				text-transform: uppercase;
				cursor: pointer;
				position: relative;

	            &:after {
	                @extend .-arrow_bottom;
	                position: absolute;
	                right: 0;
	                font-size: 16px;
	                color: $c-dark-primary;
	            }

	            &.active {

	                &:after {
	                    @extend .-arrow_top;
	                }

	            }

			}

			dd {
				margin-bottom: 15px;
	    		max-height: 450px;
	    		overflow: hidden;

				a {
					display: block;
					text-transform: initial;
					font-size: 12px;
					margin: 8px 0;
				}

			}

		}

	}

	ul {

		&.level0 {
			@include outer-container;
			padding: 20px 0;

			ul {
				border-top: 0;
				max-width: initial;
				padding-left: 0;
			}

		}

	}

}
