.page-header {
    position: relative;
    z-index: 3;
    background: $c-white;

    &.fixed {
        @include box-shadow($size: 0, $x: 0);
        position: fixed;
        z-index: 3;
        width: 100%;
        top: 0;
        left: 0;
    }

    @include media($medium-resolution) {
        padding: 0 20px;
    }

	.page-header-container {
		@include outer-container();
		position: relative;
		height: 60px;

        &.active {

            &:before {
                content: '';
                position: fixed;
                background: rgba($c-black, 0.6);
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                z-index: 2;
            }

        }

		.logo {
			@include span-columns(2);
			padding: 17px 0;
		}

		.search {
			@include span-columns(6.2);
			@import "header_search";

            @include media($medium-resolution) {
                @include span-columns(4);
            }
		}

		.top-links {
			@include span-columns(1.5);
            margin-right: 0;
			height: 100%;
            font-family: $f-avalon;
			@import "header_top-links";
		}

        .block-account {
            @include span-columns(2.3);
            float: right;
            position: relative;
            margin-top: 15px;
            margin-right: 0;
            z-index: 1;
            background: $c-white;
            padding: 2px 0 0 0;
            @import "header_block-account";
        }

        .account-links {
            @include span-columns(2);
            display: none;
            position: absolute;
            right: 52px;
            top: 55px;
            margin-right: 0;
            z-index: 1;
            @import "header_account-links";

            &:before {
                content: '';
                width: 8px;
                height: 8px;
                border-top: 1px solid $c-gray-header;
                border-left: 1px solid $c-gray-header;
                transform: rotate(45deg);
                background: $c-white;
                position: absolute;
                top: -4px;
                left: 18px;
                display: block;
                z-index: 1;
            }

        }

	}

	@import "header_minicart";

}

@import "header_navigation";
@import "header_onepage";
@import "header_cart";
