.faq-help {
    @include inline-block();
    @include size(20px);
    @include border-radius(50%);
    background: $c-black;
    color: $c-white;
    font-family: $f-avalon;
    font-size: 13px;
    font-weight: bold;
    margin-left: 8px;
    text-align: center;
    letter-spacing: 0;
    line-height: 19px;
}

.btn-tooltip{
    @extend .faq-help;
    @include size(15px);
    margin-left: 4px;
    line-height: 15px;
    background: $c-gray-darker;
    font-size: 11px;
    margin-top: -2px;
    cursor: pointer;
    &:hover{
        .bc-tooltip {
            visibility: visible;
        }
    }
}

.bc-tooltip {
    background-color: $c-white;
    color: $c-black;
    width: max-content;
    height: auto;
    display: inline-block;
    position: relative;
    top: -120px;
    left: -185px;
    border: 1px solid $c-gray-darker;
    text-align: left;
    padding: 15px;
    font-weight: normal;
    visibility: hidden;

    &:after{
        content: "";
        @include size(15px);
        position: absolute;
        top: 83px;
        margin-left: 168px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent $c-gray-darker $c-gray-darker transparent;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg) ;
        -ms-transform: rotate(45deg);
        background-color: $c-white;
    }
    .bc-tooltip-bold{
        font-weight: bold;
    }

}

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
}

.fancybox-opened {
    z-index: 8030;

    .fancybox-skin {
        background: $c-white;
        border: 1px solid $c-gray;
        font-size: 14px;
        line-height: 20px;
        padding: 40px 15px 15px 15px !important;
    }

}

.fancybox-close {
    position: absolute;
    top: 6px;
    right: 3px;
    font-size: 30px;
    cursor: pointer;
    z-index: 8040;

    &:before {
        @extend .-close;
    }

}

.fancybox-outer,
.fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe {

    .fancybox-inner {
        -webkit-overflow-scrolling: touch;
    }

}

.fancybox-image,
.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

.fancybox-lock {
    overflow: hidden !important;
    width: auto;

    body {
        overflow: hidden !important;
    }

    .fancybox-overlay {
        overflow: auto;
        overflow-y: scroll;
    }

}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: rgba($c-white, 0.9);

    &.fancybox-overlay-fixed {
        position: fixed;
        bottom: 0;
        right: 0;
    }

}

.free-shipping-btn-tooltip {
    @extend .btn-tooltip;
    position: relative;
    
    &:hover {
        
        .free-shipping-tooltip {
            display: block;
        }

    }

}

.free-shipping-tooltip {
    position: absolute;
    bottom: 0;
    right: -26px;
    padding-bottom: 28px;

    .content {
        display: block;
        position: relative;
        padding: 15px;
        background-color: $c-white;
        border: 1px solid $c-gray-darker;
        color: $c-black;
        width: 250px;
        text-align: left;
        font-weight: normal;

        a {
            text-decoration: underline;
        }

        &:after {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            bottom: -8px;   
            right: 26px;                    
            border-width: 1px;
            border-style: solid;
            border-color: transparent $c-gray-darker $c-gray-darker transparent;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg) ;
            -ms-transform: rotate(45deg);
            background-color: $c-white;
        }

    }

    &:hover {
        display: block;
    }

}

.fancybox-full {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;

    .fancybox-skin,
    .fancybox-inner {
        width: 100% !important;
        height: 100% !important;
    }
    
}