.order-items {

    .data-table {

        thead {

            th {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
                border-bottom: 3px solid $c-black;
                padding-top: 20px;
            }

        }

        tr {
            border-bottom: $base-border;
        }

        .product-cart-image {
            width: 10%;

            img {
                border: $base-border;
            }

        }

        .product-cart-info {
            width: 40%;
            text-transform: uppercase;
            font-size: 11px;
            font-family: $base-font-family;
            line-height: 20px;

            .product-name {
                font-size: 13px;
                display: block;
                font-weight: bold;
            }

        }

        .product-cart-price {
            width: 20%;
        }

        .product-cart-qty {
            width: 20%;

            span {
                display: none;
            }

            strong {
                display: block;
                border: $base-border;
                padding: 5px 15px;
                width: 40px;
                font-size: 13px;
                margin-left: 25px;
            }

        }

        .cart-price {
            font-size: 16px;
            font-weight: bold;

            .installments {
                font-family: $base-font-family;
                font-size: 10px;
                font-weight: normal;
            }

        }

        .product-cart-subtotal {
            width: 10%;

            .cart-price {
                font-size: 20px;
            }

            .installments {
                font-size: 14px;
            }

        }

    }

    .totals {
        width: 22%;
        float: right;
        font-family: $f-avalon;
        font-size: 15px;
        text-transform: uppercase;
        border-top: 4px solid;
        margin-top: 30px;

        tr {

            td {
                border-bottom: 0;
                padding: 5px 0;
                letter-spacing: 1px;

                &:nth-child(2){
                    text-align: right;
                }

            }

            &.grand_total {
                font-size: 18px;
            }

        }

    }

}
