.catalog-product-view {

    .price-info-grouped {

        &.no-stock {

            .bc-point-view {
                display: none;
            }

            .free-shipping-message-rules {
                display: none;
            }

        }
        
    }


    #subscribe-pass-success {
        text-align: center;
        padding: 5px 0;
        font-weight: bold;
        color: #fff;
        background-color: #39c682;
        margin: 20px 0;
    }

    .loader-subscribe-container {
        position: absolute;
        width: 270px;
        height: 148px;
        z-index: 9;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);

        .loader-subscribe {
            width: 120px;
        }
    }

    #bseller_productalert-subscribe-news {

        .productalert-title {
            font-size: 12px;
            margin-bottom: 7px;
        }

        #subscribe-not-pass {
            color: #fff;
            text-align: center;
            padding: 2px 0 2px 0;
            font-weight: bold;
            font-size: 15px;
            background-color: #F55465;
            margin: 8px 0;
        }

        p.alert-price.link-price-alert {
            margin-bottom: 10px;

            #bseller_productalert-subscribe {
                width: 100%;
            }
        }

    }

}
