.ratings {

    .rating-links,
    .no-rating {
        display: inline-block;

        a {
            display: inline-block;
            vertical-align: top;
            font-size: 9px;
            line-height: 16px;
            text-transform: uppercase;
            color: darken($c-gray, 20);
        }

    }

    .amount {
        @extend .no-display;
    }

    .average {

        .rating-box {
            margin: 0;
        }

    }

}

.rating-box {
    display: block;
    margin: 0 auto 15px auto;
    background: url(../../src/img/icons-sprite/rating-empty.png) 0 0 repeat-x;
    width: 65px;
    height: $rating-empty-height;

    .rating {
        background: url(../../src/img/icons-sprite/rating.png) 0 0 repeat-x;
        height: $rating-height;
    }

    &.big {
        background: url(../../src/img/icons-sprite/big-rating-empty.png) 0 0 repeat-x;
        height: $big-rating-empty-height;
        width: 90px;

        .rating {
            background: url(../../src/img/icons-sprite/big-rating.png) 0 0 repeat-x;
            height: $big-rating-height;
        }

    }

}

.reviews-rate {
    display: block;
    text-align: center;

    .review-rate {
      display: inline-block;
      margin: 0 20px 10px;

      .rating {
          overflow: hidden;
          display: inline-block;
          font-size: 0;
          position: relative;
      }

      .rating:hover .rating-star:hover,
      .rating:hover .rating-star:hover ~ .rating-star,
      .rating-input:checked ~ .rating-star {
          background: url(../../src/img/icons-sprite/big-rating.png) 0 0 repeat-x;
      }

      .rating-star {
            position: relative;
            float: right;
            display: block;
            width: 18px;
            height: 18px;
            padding: 0;
            background: url(../../src/img/icons-sprite/big-rating-empty.png) 0 0 repeat-x;

            &:after,
            &:before {
                display: none;
            }

        }

    }

}

.ratings-average {

    .rating-box,
    .average {
        @include inline-block();
    }

    .rating-box {
        margin: 30px 0 0 8px;
    }

    .average {
        font-family: $f-avalon;
        font-size: 14px;
        font-weight: normal;
        position: relative;
        top: 13px;
        left: 5px;

        span {
            font-weight: bold;
            font-size: 18px;
            position: relative;
            top: 2px;
        }

    }

}

.ratings-list {
    margin: 8px;

    li {
        border-bottom: 1px solid $c-white;
        padding: 5px 0 20px 0;

        .name,
        .dob,
        .rating-box {
            @include inline-block(middle);
            line-height: 50px;
            margin: 0 5px 0 0;
        }

        .name {
            position: relative;
            top: -2px;
            margin-right: 0;
        }

        .name,
        .dob {
            font-family: $f-avalon;
            font-weight: bold;
            font-size: 19px;
        }

        .dob {
            font-size: 12px;
        }

        .description {
            font-family: $base-font-family;
            font-size: 12px;
            line-height: 20px;
        }

        &:last-child {
            border-bottom: 0;
        }

    }

}

.ratings-buttons {
    @include span-columns(12);
    margin: 20px 0;
    text-align: center;

    .button {
        display: block;
        background: transparent;
        letter-spacing: 0;
        height: inherit;
        line-height: inherit;
        padding: 8px 1.5em;
        @include inline-block();

        &.more-reviews {
            margin-left: 10px;
        }

    }

}

.rating-add {

    .col-1,
    .col-2 {
        @include span-columns(6);

        input,
        textarea {
            font-family: $font-family;
            font-size: 12px;
            font-style: italic;
        }

        input {
            height: 35px;
        }

        .validation-advice {
            font-size: 10px;
            text-transform: uppercase;
            color: $c-dark-primary;
        }

    }

    .col-1 {

        #advice-validate-rating-validate_rating {
            position: relative;
            top: -14px;
            left: 9px;
        }

        .input-box {
            margin: 0 0 20px 8px;
        }

    }

    .col-2 {
        margin-top: 20px;

        .textarea {
            background: $c-white;
            border: $base-border;
            padding: 10px;
            height: 132px;
            position: relative;

            textarea {
                border: 0;
                resize: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            button {
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 12px;
                letter-spacing: 1px;
                padding: 0 2.5em;
            }

            .validation-advice {
                position: absolute;
                left: 0;
                bottom: -25px;
            }

        }

    }

    .reviews-rate {
        text-align: left;
        margin: 20px 0 20px 8px;

        .review-rate {
            margin: 0;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 4px;

            .rating {
                top: 5px;
            }

        }

    }

    .message-review {
        text-align: center;
        width: 680px;
        position: absolute;
        padding: 10px 10px;
        margin: 47px 96px;
        font-family: "Arial",Helvetica,sans-serif;
        font-size: 13px;
        line-height: 3;
    }

    .message-review-error {
        text-align: center;
        width: 100%;
        font-family: "Arial",Helvetica,sans-serif;
        font-size: 13px;
        float: left;
        color: #F55465;
    }

    #validation-rating-review {
        margin-left: 11px;
        margin-top: -12px;
        margin-bottom: 12px;
    }

    #validation-email-review {
        margin-bottom: 6px;
    }

}
