.main-container {
  margin: 10px auto 40px auto;
  position: relative;
  float: left;
  width: 100%;

  @include media($medium-resolution) {
    padding: 0 20px;
  }



  #container-social-connect {
    .socialconnect-info {
      img {
        border: 1px solid $c-black;
        border-radius: 100%;
        padding: 5px;
        height: 80px;
      }
    }

    .page-title {
      font-family: $f-avalon;
      text-transform: uppercase;
      text-align: center;

      h1 {
        font-size: 17px;
        letter-spacing: 2px;
      }

    }

    h2 {
      font-family: $f-avalon;
      font-size: 13px;
      text-transform: uppercase;
      margin-bottom: 15px;
      letter-spacing: 4px;
    }

    .col-1,
    .col-2 {
      @include span-columns(6);
      margin-top: 35px;
    }

    .col-1 {
      padding-right: 3%;
      margin-right: 0;
    }

    .col-2 {
      padding-left: 3%;
      border-left: 1px solid $c-gray-dark;
    }

    .login-forms {
      .col-1,
      .col-2 {
        float: none;
      }
    }

    .password-tools {
      .forgot-password {
        float: left;
        vertical-align: middle;
        line-height: 20px;
      }

      .input-box {
        float: right;
      }
    }

    .buttons-set {

      &.register {
        @include span-columns(12);
      }

      .login {
        @include span-columns(12);
        margin-bottom: 14px;
      }
    }

    .input-box-password {
      position: relative;
    }

    .facebook-login-account-recover{
      font-style: italic;
      font-size: 10px;
      color: #898989;
      text-transform: lowercase;
      text-decoration: underline;
      margin-top: 10px;
    }


    .bseller-socialconnect-login-facebook {

      #overlay-loader-socialconnect {
        position: absolute;
        width: 100%;
        height: 245px;
        background-color: rgba(255,255,255,0.7);
        z-index: 9;
        text-align: center;
        margin-top: 174px;
      }

      .col2-set {
        .col-1 {
          .socialconnect-info {
            display: block;
            width: 600px;
            border: 1px dashed $black;
            padding: 20px;
            margin: 0 auto;
            overflow: hidden;
            .col-1 {
              width: auto;
              margin-right: 15px;
              margin-top: 0;
            }
          }
          span {
            display: block;
            float: left;
            &:nth-child(2) {
              font-size: 20px;
              margin-bottom: 5px;
              margin-top: 9px;
            }
            &:nth-child(3) {
              font-size: 14px;
              a {
                color: $red;
              }
              &:after {
                content: 'Associe sua conta do Facebook à Sephora. Escolha uma das opções abaixo:';
                font-size: 12px;
                display: block;
                margin-top: 4px;
                opacity: 0.6;
              }
            }
          }
          p {
            display: none;
          }
        }
        > .col-1 {
          float: none;
          width: 100%;
        }
      }
      .col-2.login-forms {
        width: 100%;
        float: none;
        padding: 0;
        border: none;
        .col-1.registered-users {
          float: left;
          display: block;
          width: 49.1985203453%;
          margin-top: 35px;
          padding-right: 3%;
        }
        .col-2.new-users {
          border-left: 1px solid $color_monsoon_approx;
          float: left;
          display: block;
          width: 49.1985203453%;
          margin-top: 35px;
        }
      }
    }

    #bseller-socialconnect_error-message {
      color: $red;
      font-size: 12px;
    }

  }

}
