.steps {
    @include span-columns(12);
    margin-right: 0;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 13px;
    line-height: normal;
    font-family: $f-avalon;

    .step-label-active {
        font-weight: bold;
    }

    .step-ribbon-active {
        background: $c-black;
        font-size: 5px;
        padding: 4px 1px 0 0;
        @extend .-checkmark;
    }

    .step-ribbon-big-active {
        font-size: 8px;
        padding: 6px 0;
        top: -23px;
        @include size(24px);
    }

    .step-progress {
        background: $c-gray;
    }

    .step-progress-active {
        background: repeating-linear-gradient(
            -55deg,
            lighten($c-black, 20%),
            lighten($c-black, 20%) 10px,
            $c-black 10px,
            $c-black 20px
        );
    }

    p {
        @include span-columns(2.4);
        @include inline-block(top);
        float: none;
        margin: 0;
        position: relative;
        padding-top: 5px;
        letter-spacing: 1px;

        &:last-child {

            &:after {
                display: none;
            }

        }

        &:before,
        &:after {
            content: '';
            position: absolute;
        }

        &:before {
            @include size(16px);
            @include border-radius(50%);
            left: 45%;
            top: -18px;
            border: 1px solid $c-black;
            z-index: 2;
            background: $c-white;
            color: $c-white;
            text-align: center;
            font-size: 0;
        }

        &:after {
            height: 6px;
            z-index: 1;
            top: -13px;
            left: 50%;
            width: 100%;
            @extend .step-progress;
        }

        &.canceled {

            &:before {
                background-color: $c-dark-primary !important;
                border-color: $c-dark-primary !important;
            }

        }

        .date {
            display: block;
            padding-top: 5px;
        }

    }

    &.active-one {

        p {

            &.one {
                @extend .step-label-active;

                &:before {
                    @extend .step-ribbon-active;
                }

            }

            &.one {

                &:before {
                    @extend .step-ribbon-big-active;
                }

            }

        }

    }

    &.active-two {

        p {

            &.one {

                &:after {
                    @extend .step-progress-active;
                }

            }

            &.one,
            &.two {
                @extend .step-label-active;

                &:before {
                    @extend .step-ribbon-active;
                }

            }

            &.two {

                &:before {
                    @extend .step-ribbon-big-active;
                }

            }

        }

    }

    &.active-three {

        p {

            &.one,
            &.two {

                &:after {
                    @extend .step-progress-active;
                }

            }

            &.one,
            &.two,
            &.three {
                @extend .step-label-active;

                &:before {
                    @extend .step-ribbon-active;
                }

            }

            &.three {

                &:before {
                    @extend .step-ribbon-big-active;
                }

            }

        }

    }

    &.active-four {

        p {

            &.one,
            &.two,
            &.three {

                &:after {
                    @extend .step-progress-active;
                }

            }

            &.one,
            &.two,
            &.three,
            &.four {
                @extend .step-label-active;

                &:before {
                    @extend .step-ribbon-active;
                }

            }

            &.four {

                &:before {
                    @extend .step-ribbon-big-active;
                }

            }

        }

    }

    &.active-five {

        p {

            &.one,
            &.two,
            &.three,
            &.four {

                &:after {
                    @extend .step-progress-active;
                }

            }

            &.one,
            &.two,
            &.three,
            &.four,
            &.five {
                @extend .step-label-active;

                &:before {
                    @extend .step-ribbon-active;
                }

            }

            &.five {

                &:before {
                    @extend .step-ribbon-big-active;
                }

            }

        }

    }

}
