.catalog-product-view {

    .zoomWindowContainer{

        div {
            width: 330px !important;
            border: 1px solid #ccc !important;
            height: 390px !important;
        }

    }

    .zoomWrapper {
        height: 390px !important;

        img#image-main {
            max-width: 380px;
            max-height: 380px;
        }

    }

    .gallery-product-modal {
        text-align: center;

        strong {
            display: block;
            font-size: 18px;        
            padding: 10px 0;
        }

        img {
            max-width: 380px;
        }

        .thumbs-modal {
            position: relative;
            width: 22%;
            margin: 10px auto;

            .swiper-container {
                width: 80%;                
            }

            .swiper-button-next {
                right: 0;
            }

            .swiper-button-prev {
                left: 0;
            }            

            img {
                @include border-radius();
                padding: 2px;
                border: 1px solid;
            }

        }

    }

}