<span class="buscape_ebit_footer_seal">&nbsp;
<?php
$isAcive = Mage::helper('ebit')->isAvailable() && Mage::getStoreConfig('sales/ebit/show_footer_seals');

if ($isAcive) :
    $ebitId     = Mage::getStoreConfig('sales/ebit/ebit_id');
    $sellerName = Mage::getStoreConfig('sales/ebit/store');

    if (!empty($sellerName)
    ) :
    ?>
        <a id="seloEbit" href="http://www.ebit.com.br/#<?php echo $sellerName;?>" target="_blank" onclick="redir(this.href);"></a>
        <script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?<?php echo $ebitId?>" async defer> </script>
    <?php
    endif;
endif;
?>
</span>