<span class="buscape_ebit_banner_success">&nbsp;
<?php
/** @var BSeller_BuscapeEbit_Block_Checkout_Success $this */
$isAcive     = Mage::helper('ebit')->isAvailable() && Mage::getStoreConfig('sales/ebit/show_checkout_success_banner');

if ($isAcive) :

$helper      = Mage::helper('ebit');

$eBitId      = $helper->getEbitId();

$buscapeId   = $helper->getBuscapeId();

/** @var Mage_Sales_Model_Order $order */
$order       = $this->getOrder();

if (!empty($eBitId)
    && !(empty($buscapeId))
    && $order instanceof Mage_Sales_Model_Order
) :

    $lightBox = $helper->useLightBox();
    if ($lightBox) {
        $lightBox = '&lightbox=true';
    } else {
        $lightBox = '';
    }

    $coreDate = Mage::getModel('core/date');

    $email         = $order->getCustomerEmail();
    $gender        = $order->getCustomerGender();
    $gender        = $gender == 1?'M':'F';
    $birthDay      = $coreDate->date('d-m-Y', $order->getCustomerDob());
    $zipCode       = $order->getShippingAddress()->getPostcode();

    $parcels = (int)$order->getPayment()->getAdditionalInformation('installments');
    if ($parcels <= 0) {
        $parcels = 1;
    }

    $deliveryTax   = number_format($order->getShippingAmount(), 2);

    $totalSpent    = number_format($order->getGrandTotal(), 2);


    $value         = '';
    $quantity      = '';
    $productName   = '';
    $sku           = '';
    $eanCode       = '';
    $countProducts = 0;
    /** @var Mage_Sales_Model_Order_Item $orderItem */
    foreach ($order->getAllVisibleItems() as $orderItem) {

        $separator = $countProducts>0?'|':'';

        $value         .= $separator.number_format($orderItem->getData('price'), 2);
        $quantity      .= $separator.(int)$orderItem->getData('qty_ordered');
        $productName   .= $separator.$orderItem->getData('name');
        $sku           .= $separator.$orderItem->getData('sku');

        if ($orderItem->hasData('ean')) {
            $eanCode           .= $separator.$orderItem->getData('ean');
        } else {
            $product = $orderItem->getProduct();
            $eanCode           .= $separator.$product->getData('bar_code');
        }
        $countProducts++;
    }
    $transactionId = $order->getIncrementId();

    $values         = 'email='. $email;
    $values        .= '&gender='.$gender;
    $values        .= '&birthDay='.$birthDay;
    $values        .= '&zipCode='.$zipCode;
    $values        .= '&parcels='.$parcels;
    $values        .= '&deliveryTax='.$deliveryTax;
    $values        .= '&deliveryTime='.$this->getDeliveryTime();
    $values        .= '&totalSpent='.$totalSpent;
    $values        .= '&value='.$value;
    $values        .= '&quantity='.$quantity;
    $values        .= '&productName='.$productName;
    $values        .= '&transactionId='.$transactionId;
    $values        .= '&ean='.$eanCode;
    $values        .= '&sku='.$sku;
    $values        .= '&mktSaleID=0';
    $values        .= '&paymentType='.$this->getPaymentType();
    $values        .= '&buscapeId='.$buscapeId;
    $values        .= '&storeId='.$eBitId;
    $values        .= '&cardFlag='.$this->getCardFlag();
    $values        .= '&invoiceEmissor=12';
    $values        .= '&platform='.$this->getPlatform();

    ?>
    <div class="ebit-checkout-success">
        <param id="ebitParam"
               value="<?php echo $values;?>"
        />
        <a id="bannerEbit"></a>
    </div>
    <script type="text/javascript" id="getSelo" src="https://imgs.ebit.com.br/ebitBR/selo-ebit/js/getSelo.js?<?php echo $eBitId . $lightBox; ?>"></script>

    <?php
    if ($lightBox) :
        ?>
        <script type="text/javascript">
            $('btFechar').observe('click', function(event) {
                $('btFechar').hide();
            });
            $('dark').observe('click', function(event) {
                $('btFechar').hide();
            });
        </script>
        <style>
            #boxLight, #dark {
                position: fixed;
            }
        </style>
        <?php
    endif;
endif;
endif;
?>
</span>