<div class="category-products">
    <ul class="products-grid first last odd">
        <?php foreach ($this->getCollection() as $object) : ?>
            <?php
            $image = Mage::helper('bseller_giftshowcase')->getImageProductBySku($object->getSku());
            ?>
            <li id="add-product-<?php echo $object->getId() ?>" data-productid="<?php echo $object->getProductId() ?>" class="no-display item">
                <a href="<?php echo $object->getData('link') ?>" title="<?php echo $this->quoteEscape($object->getData('title')) ?>" class="product-image">
                    <img id="product-collection-image-<?php echo $object->getId() ?>" src="<?php echo $image ?>" alt="<?php echo $this->quoteEscape($object->getData('title')) ?>">
                </a>
                <div class="product-container">
                    <?php if ($agreements = $object->getData('agreements')) : ?>
                        <div class="flag-agreements">
                            <a href="#agreements-<?php echo $object->getData('entity_id'); ?>" class="modal"><?php echo $this->__('See the Regulation') ?></a>
                            <div class="no-display"><div id="agreements-<?php echo $object->getData('entity_id'); ?>"><?php echo $this->quoteEscape($agreements) ?></div></div>
                        </div>
                    <?php endif ?>
                    <div class="product-infos">
                        <div class="product-manufacturer"><?php echo $this->quoteEscape($object->getData('title')) ?></div>
                        <h2 class="product-name"><?php echo $this->quoteEscape($object->getData('description')) ?></h2>
                    </div>
                </div>
                <div class="show-hover" id="btn-want-<?php echo $object->getProductId() ?>">
                    <button type="button" title="<?php echo $this->__('I Want') ?>" class="button" onclick="setLocation('<?php echo $object->getData('link')?>')">
                        <span>
                            <span><?php echo $this->__('I Want') ?></span>
                        </span>
                    </button>
                </div>
                <span id="btn-out-of-stock-<?php echo $object->getProductId() ?>" title="<?php echo $this->__('No stock') ?>" class="button no-pointer no-display"><span><?php echo $this->__('No stock') ?></span></span>
            </li>
        <?php endforeach ?>
    </ul>
    <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
</div>
<!-- Chaordic BOTTOM -->
<div chaordic="bottom"></div>
<script type="text/javascript">
    GiftCache = new BSeller_GiftCache();
</script>