%button-style {
    padding: 12px;
    width: 92%;
    font-size: 12px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    @include transition(background, 0.2s);
}

%black-style {
    background: $c-black;
    color: $c-white;
    border: 1px solid $c-black;
}

%red-style {
    background: $c-dark-primary;
    border: 1px solid $c-dark-primary;
    font-size: 16px;
}

%white-style {
    background: $c-white;
    color: $c-black;
    border: 1px solid $c-black;
}

%border-style {
    border-bottom: 4px solid;
    padding-bottom: 10px;
    padding-top: 11px;
}

button,
.button {
    @extend %button-style;
    @extend %black-style;

    &.red {
        @extend %red-style;
    }

    &.black {
        @extend %black-style;
    }

    &.border {
        @extend %border-style;
        @extend %white-style;
    }

    &.add {

        &:before {
            content: '+';
            position: absolute;            
            width: 15px;
            height: 15px;
            line-height: 12px;
            font-size: 14px;
            font-weight: normal;
            text-align: center;
            border: 1px solid $c-white;
            margin-left: -25px;
            @include border-radius(50%, 50%, 50%, 50%);
        }

    }

}
