%inputs-style-new {
    font-size: 12px;
    padding: 4px 0 10px 0;
    background: none;
    border: 0;
    border-bottom: 1px solid;
    background: $c-white;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;    
}

%select-style-new {
    border: 1px solid $c-gray-dark;
    padding: 9px 30px 9px 12px;
    background: url(../../src/img/icons-sprite/arrow-select.png) no-repeat right center;    
    @include border-radius();
}

%label-style-new {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    text-transform: uppercase;
}

%controll-style-new {

    & + label {
        font-weight: normal;
        font-size: 12px;
        text-transform: initial;
    }

}

%disabled-style-new {
    opacity: 0.5;

    label,
    & + label {
        opacity: 0.5;
    }

}

%gender-radio {

    label {
        @include span-columns(6);
        margin-top: 10px;
        padding: 40px 0 12px 0;
        text-align: center;
        background: $c-gray-light;

        &:before,
        &:after {
            left: 0;
            right: 0;
            margin: 15px auto;
        }

    }

}

.form-list {

    &.new {

        input, select, textarea {
            @extend %inputs-style-new;

            &[type='checkbox'],
            &[type='radio'] {
                @extend %controll-style-new;
            }

            &:disabled,
            &:read-only {
                @extend %disabled-style-new;
            }            

        }

        select {
            @extend %select-style-new;
        }

        li {
            margin-bottom: 0;

            label, .label {
                @extend %label-style-new;
            }

            .input-box {
                @include span-columns(12);
                margin-bottom: 20px;

                &.gender-radio {
                    @extend %gender-radio;
                }

            }

            .postcode {
                @include span-columns(7);

                & + .postcode-search {
                    @include span-columns(4);
                    float: right;
                    margin-top: 32px;
                    border-bottom: 1px solid;
                }

            }

            &.inputs-required {
                margin: 0 0 20px 0;
            }

            &.disabled {
                @extend %disabled-style-new;
            }      

            &.street-2,
            &.street-3 {
                @include span-columns(6);
            }      

            &.street-3 {
                margin-right: 0;
            }                

        }        

    }

}