%inputs-style {
    border-radius: 0;
    width: 100%;
    padding: 9px 12px;
    border: 1px solid $c-gray-dark;
    color: $c-black;
    font-family: $font;
    font-style: italic;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    @include transition(background, 0.2s);
    @include border-radius(2px, 2px, 2px, 2px);
}

%validation-failed-style {
    border-color: $c-dark-primary;
}

%disabled-style {
    opacity: 0.5;

    & + label {
        opacity: 0.2;
    }

}

%controll-style {
    display: none;

    & + label {
        position: relative;
        padding-left: 25px;
        color: $c-black;
        display: block;
        line-height: 20px;
        text-transform: uppercase;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
        }

    }

    &:checked + label {

        &:before {
            content: '';
            position: absolute;
        }

    }

}

%checkbox-style {

    & + label {

        &:after {
            height: 18px;
            width: 18px;
            border: 1px solid $c-black;
        }

    }

    &:checked + label {

        &:before {
            font-family: 'icomoon';
            content: '\e90c';
            left: 4px;
            font-size: 10px;
        }

    }

}

%radio-style {

    & + label {

        &:after,
        &:before {
            height: 18px;
            width: 18px;
            border: 1px solid $c-black;
            background: $c-white;
            @include border-radius(50%, 50%, 50%, 50%);
        }

    }

    &:checked + label {

        &:before {
            background: $c-black;
            height: 8px;
            width: 8px;
            left: 5px;
            top: 5px;
            z-index: 1;
        }

    }

}

.validation-advice {
    font-size: 10px;
    text-transform: uppercase;
    color: $c-dark-primary;
    padding: 5px 0;
}

input, select, textarea {
    @extend %inputs-style;

    &.validation-failed {
        @extend %validation-failed-style;
    }

    &[type='checkbox'],
    &[type='radio'] {
        @extend %controll-style;

        &:disabled {
            @extend %disabled-style;
        }

    }

    &[type='checkbox'] {
        @extend %checkbox-style;
    }

    &[type='radio'] {
        @extend %radio-style;
    }

}

select {
    padding: 9px 30px 9px 12px;
    background: url(../../src/img/icons-sprite/arrow-select.png) no-repeat right center;
}

.form-list {
    @include span-columns(12);

    li {
        @include span-columns(12);
        margin-right: 0;
        margin-bottom: 10px;

        & > div {
            @include span-columns(12);
        }

        &.fields {

            & > div {
                @include span-columns(6);

                .dob-day,
                .dob-month,
                .dob-year {
                    @include span-columns(4);

                    .validation-advice {
                        display: none;
                    }

                }

                .dob-year {
                    margin-right: 0;
                }

            }

        }

        &.control {
            @include span-columns(12);
            margin-top: 10px;
            margin-right: 0;
            font-size: 10px;
        }

        input {

            &.validation-failed {
                border-color: $c-dark-primary;
            }

        }

        .validation-advice {
            font-size: 10px;
            text-transform: uppercase;
            color: $c-dark-primary;
            line-height: 16px;
        }

        .custom-radio {
            @include span-columns(12);
            margin: 10px 0;
            position: relative;

            .label, label {
                font-size: 11px;
                text-transform: uppercase;
                font-weight: bold;
                display: inline-block;
                vertical-align: middle;
                margin-right: 30px;
            }

            label {
                font-weight: normal;
                text-transform: initial;
            }

        }

        .forgot-password {
            padding: 20px 0 10px 0;
            display: block;
            font-style: italic;
            font-size: 10px;
            color: $c-gray-dark;
            text-transform: lowercase;
            text-decoration: underline;
        }

        &.inputs-required {
            @include span-columns(12);
            font-size: 10px;
            text-transform: uppercase;
            margin: 15px 0;
            text-align: center;
            line-height: 16px;
        }

    }

}