body {
    color: $c-black;
    font-family: $font;
    font-size: 12px;

    &.no-scroll {
        position: fixed;
        overflow: hidden;    
        width: 100%;    
    }

    .overlay {
        position: fixed;
        top: 88px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: scroll;
        background: rgba($c-black, 0.8);
        width: 100%;
        height: 100%;
        z-index: 10;
    }

}

a {
    color: $c-black;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

%gap {
    @include span-columns(12);
    padding: $gap;
}

%back-link {
    position: relative;
    background: 0;
    border: 0;
    text-transform: uppercase;
    font-weight: bold;
    color: $c-black;
    font-size: 10px;
    padding: 10px 0;
    text-decoration: underline;

    &:before {
        font-family: 'icomoon';
        content: '\e909';
        position: absolute;
        margin-left: -16px;
        font-size: 16px;
        top: 8px;
    }

}

.mobile-margin {
    padding: 0 $gap !important;
}

.no-display {
    display: none !important;
}

.hide {
    display: none;
}

.vertical-scroll {
    @include span-columns(11);
    margin-left: $gap;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.line-title {
    @include span-columns(12);
    padding: 15px 0;
    position: relative;
    text-align: center;

    &:before {
        content: '';
        position: absolute;
        background: $c-gray;
        height: 1px;
        width: 100%;
        left: 0;
        top: 50%;
    }

    h1, h2, p, span {
        position: relative;
        padding: 0 10px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        display: inline-block;
        background: $c-white;
        vertical-align: middle;
    }

    span {
        font-size: 16px;
        position: relative;
        padding: 0 0 0 5px;
    }

}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.messages {
    @include span-columns(12);

    li {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 5px auto 5px auto;
        text-align: center;
        line-height: 16px;

        &:first-child {
            margin-top: 0;
        }

        li {
            padding: 5px;

            a {

                &:hover {
                    text-decoration: underline;
                }

            }

        }

        &.success-msg {

            li {
                background: $c-alert-success;
                color: $c-white;

                a {
                    color: $c-white;

                    &:hover {
                        color: $c-white;
                    }

                }

            }

        }

        &.notice-msg {

            li {
                background: $c-alert-warning;
                color: $c-black;

                a {
                    color: $c-black;

                    &:hover {
                        color: $c-black;
                    }

                }

            }

        }

        &.error-msg {

            li {
                background: $c-alert-error;
                color: $c-white;

                a {
                    color: $c-white;

                    &:hover {
                        color: $c-white;
                    }

                }

            }

        }

    }

}

.qty {
    width: 100px;

    .less,
    .more {
        float: left;
        width: 30px;
        height: 28px;
        line-height: 28px;
        background: $c-black;
        color: $c-white;
        text-align: center;
        font-size: 14px;

        &.disabled {
            background: $c-gray;
        }

    }

    input {
        float: left;
        width: 30px;
        margin: 0 2px;
        padding: 12px 0;
        height: 28px;
        text-align: center;
    }

}

div[chaordic]{
    clear: both;
}

.datepicker {
    text-transform: uppercase;
    background: $c-gray-light;
    padding: 15px 30px;
    margin-bottom: 10px;

    .ui-datepicker-header {
        text-align: center;
        position: relative;
        background: $c-white;
        margin: -15px -30px 0 -30px;
        padding-bottom: 10px;

        .ui-datepicker-prev,
        .ui-datepicker-next {
            cursor: pointer;
            position: absolute;
            top: -8px;
            font-size: 28px;
        }

        .ui-datepicker-prev {
            left: 0;

            &:before {
                font-family: 'icomoon';
                @extend .icon-arrow-left;
            }

        }

        .ui-datepicker-next {
            right: -16px;

            &:before {
                font-family: 'icomoon';
                @extend .icon-arrow-right;
            }

        }

        .ui-datepicker-title {
            font-weight: bold;
            font-size: 16px;
        }

    }

    .ui-datepicker-calendar {

        th, td {
            padding: 5px 0;
            border: 0;
            font-weight: 600;
            text-align: center;
        }

        th {
            padding: 10px 0;
        }

        thead {

            tr {

                th {
                    font-size: 16px;
                }

            }

        }

        tbody {

            tr {

                td {
                    font-size: 11px;

                    &.ui-state-disabled,
                    &.ui-datepicker-unselectable {
                        color: $c-gray-dark;
                    }

                    &.ui-datepicker-current-day {
                        background: $c-dark-primary;

                        a {
                            color: $c-white;
                        }

                    }

                }

            }

        }

    }

}

.acordion {

    dt {
        @include span-columns(12);
        padding: 14px 30px 14px $gap;
        font-size: 14px;
        line-height: 18px;
        text-transform: uppercase;
        border-bottom: 1px solid;
        position: relative;

        &:after {
            position: absolute;
            right: $gap;
            content: '+';
            top: 14px;
            font-weight: bold;
        }

        &.active {
            border-bottom: 0;

            &:after {
                content: '-';
            }

        }

    }

    dd {
        @include span-columns(12);
        padding: $gap;
        display: none;

        &.active {
            border-bottom: 1px solid;
        }  
        
    }  

}

.free-shipping-messages {
    @include span-columns(12);

    li {
        margin-bottom: 0;

        &.success-msg {

            li {
                margin-bottom: 0;
            }

        }

    }

    small {
        @include span-columns(12);
        font-size: 10px;
        background: $c-alert-success;
        color: $c-white;
        text-align: center;
        padding-bottom: 10px;
        text-transform: initial;

        a {
            color: $c-white;
            text-decoration: underline;
        }
    
    }
        
}

.banners-top {

    img {
        width: 100%;
    }
    
}